@model ERP_GMEDINA.Models.tbDenominacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Denominaciones</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/Denominacion/Index">Regresar</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Denominación</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.deno_Tipo, new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.DropDownListFor(model => model.deno_Tipo, new List<SelectListItem>
                                    {
                                     new SelectListItem() {Text = "Billete", Value="1"},
                                     new SelectListItem() {Text = "Moneda", Value="2"},
                                    }, "Seleccione Tipo Denominación", new { @class = "form-control" })
                                    <p id="tipodeno" style="color:red">@Html.ValidationMessageFor(model => model.deno_Tipo, "", new { @style = "color:red" })</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" id="moneda">Moneda</label>
                                <div class="col-md-5">
                                    @Html.DropDownList("mnda_Id", null, "Seleccione la Moneda", new { @class = "form-control" })
                                    <p id="monedass" style="color:red">@Html.ValidationMessageFor(model => model.mnda_Id, "", new { @style = "color:red" })</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" id="descr">Descripción</label>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.deno_Descripcion, new { htmlAttributes = new { @maxlength = "50", @autocomplete = "off", @onkeyup = "format(this),pierdeFoco(this)", @style = "text-transform:capitalize;", onkeypress = "return validar(event)", Title = "si escribe decimales porfavor separelos con un '.' " } })
                                    <p id="descriptions" style="color:red">@Html.ValidationMessageFor(model => model.deno_Descripcion, "", new { @style = "color:red" })</p>
                                    <p id="Sugierecambio" style="color:red">@Html.ValidationMessageFor(model => model.deno_Descripcion, "", new { @style = "color:red" })</p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.deno_valor, new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.deno_valor, new { htmlAttributes = new {@Class = "validanumericos", @maxlength = "10", @autocomplete = "off", @onkeyup = "format(this)", onkeypress = "return  filterFloat(event,this);", Title = "Separe los decimales con una '.' " } })
                                    <p id="valoress" style="color:red"> @Html.ValidationMessageFor(model => model.deno_valor, "", new { @style = "color:red" })</p>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" id="guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        onload = function () {
            var ele = document.querySelectorAll('.validanumericos')[0];
            ele.onkeypress = function (e) {
                if (isNaN(this.value + String.fromCharCode(e.charCode)))
                    return false;
            }
            ele.onpaste = function (e) {
                e.preventDefault();
            }
        }


        ////------------------campo valor ---------------------------
        //function validarNumeros(e) {
        //    tecla = (document.all) ? e.keyCode : e.which;
        //    tecla = String.fromCharCode(tecla)
        //    return /^[[0-9.]+]*$/i.test(tecla);

        //}

        $('#deno_valor').on('blur', function () {
            var amount = $('#deno_valor').val().replace(/^\s+|\s+$/g, '');
            if (($('#deno_valor').val() >= 1) && (!amount.match(/^$/))) {
                $('#deno_valor').val(parseInt(amount).toFixed(2));
            }
        });
</script>
    
    <script>
    function pierdeFoco(e) {
        var valor = e.value.replace(/^ */, '');
        e.value = valor;
    }
    </script>
    <script>
        $("#mnda_Id").click(function () {
            var cabo = $('select[name="mnda_Id"] option:selected').text();
            $("#deno_Descripcion").attr('placeholder', 'ejm: 100  ' + cabo);

            var description = $('#deno_Descripcion').val();
            if (description !== "") {
                valido = document.getElementById('Sugierecambio');
                valido.innerText = "Por favor Modifique la descripción";
            }
        });
    </script>

    <script>

        $("#deno_Descripcion").attr('placeholder', 'ejm: 100 Lempiras');
        //, placeholder = "ejm: 100 Lempiras"
        //Posicion focus
        $("#deno_Tipo").focus();
        //Ateriscos
        $('#moneda').append('<span style="color:red"> *</span>');
        $('#descr').append('<span style="color:red"> *</span>');
        var valordenominacion = "";
        $('#deno_valor').val(valordenominacion);
        // campos requerido *
        jQuery('input,select').each(function () {
            var req = jQuery(this).attr('data-val-required');
            if (undefined != req) {
                var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        }); //____________________
    </script>
    <script>
        $('#deno_Tipo').click(function () {
            var tipodeno = $('#deno_Tipo').val();
            if (tipodeno > 0) {
                valido = document.getElementById('tipodeno');
                valido.innerText = "";
                return false;
            }
        });

        $('#mnda_Id').click(function () {
            var monedas = $('#mnda_Id').val();
            if (monedas > 0) {
                valido = document.getElementById('monedass');
                valido.innerText = "";
                return false;
            }
        });

        $('#deno_Descripcion').click(function () {
            var description = $('#deno_Descripcion').val();
            if (description < ! "") {
                valido = document.getElementById('descriptions');
                valido.innerText = "";
                return false;
            }
        });

        $('#deno_Descripcion').click(function () {
            valido = document.getElementById('Sugierecambio');
            valido.innerText = "";
        });

        $('#deno_valor').click(function () {
            var valores = $('#deno_valor').val();
            if (valores < ! "") {
                valido = document.getElementById('valoress');
                valido.innerText = "";
                return false;
            }
        });

        $('#deno_valor').click(function () {
            var str = $('#deno_Descripcion').val();
            var res = str.split(" ", 1);
            $('#deno_valor').val(res);
        });

        $('#guardar').click(function () {
            // var Data = [];
            var tipodeno = $('#deno_Tipo').val();
            var monedas = $('#mnda_Id').val();
            var description = $('#deno_Descripcion').val();
            var valores = $('#deno_valor').val();
            console.log("Tipo deno :" + tipodeno);
            console.log("Moneda :" + monedas);
            console.log("Descripcion :" + description);
            console.log("Valores :" + valores);
            console.log('___________________________');
            if (tipodeno <= 0) {
                valido = document.getElementById('tipodeno');
                valido.innerText = "El Campo Tipo Denominación es Requerido";
                return false;
            }
            else if (monedas <= 0) {
                valido = document.getElementById('monedass');
                valido.innerText = "El Campo Moneda es Requerido";
                return false;
            }
            else if (description == "") {
                valido = document.getElementById('descriptions');
                valido.innerText = "El Campo Descripción es Requerido";
                return false;
            }
            else if (valores == "") {
                valido = document.getElementById('valoress');
                valido.innerText = "El Campo Valor es Requerido";
                return false;
            }
            else if (valores == 0) {
                valido = document.getElementById('valoress');
                valido.innerText = "El valor no  puede ser cero.";
                return false;
            }
            else if (valores <= 0, 00) {
                valido = document.getElementById('valoress');
                valido.innerText = "El valor no  puede ser cero.";
                return false;
            }
            else {
                return true;
            }
        });

        //Letras Mayusculas
        function format(input) {
            $(input).change(function () {
                var str = $(input).val();
                var res = str.toUpperCase();
                $(input).val(res);
            });
            $(input).on("keypress", function () {
                $input = $(this);
                setTimeout(function () {
                    $input.val($input.val().toUpperCase());
                }, 0);
            })
        }//_____________________________-

        //Validación Sólo letras
        function validar(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            tecla = String.fromCharCode(tecla)
            return /^[[A-Za-z0-9 .]+]*$/i.test(tecla);


        }//_______________________________
    </script>

    <script type="text/javascript">
        //validar 2  decimales
        function filterFloat(evt, input) {
            // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
            var key = window.Event ? evt.which : evt.keyCode;
            var chark = String.fromCharCode(key);
            var tempValue = input.value + chark;
            if (key >= 48 && key <= 57) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                if (key == 8 || key == 13 || key == 0) {
                    return true;
                } else if (key == 46) {
                    if (filter(tempValue) === false) {
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }
            }
        }
        function filter(__val__) {
            var preg = /^([0-9]+\.?[0-9]{0,2})$/;
            if (preg.test(__val__) === true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script>
        $(document).keydown(function (e) {
            if ((e.key == 'g' || e.key == 'G') && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                //alert("Ctrl-g pressed");
                $("#guardar").click();
                return false;
            }
            return true;
        });
    </script>

}