@model ERP_GMEDINA.Models.tbInventarioFisico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "" })
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Inventario Fisico</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_FechaInventario, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_FechaInventario)
                                @Html.ValidationMessageFor(model => model.invf_FechaInventario)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.bod_Id, "Bodega", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.bod_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_ResponsableBodega, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_ResponsableBodega)
                                @Html.ValidationMessageFor(model => model.invf_ResponsableBodega)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_Descripcion, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_Descripcion)
                                @Html.ValidationMessageFor(model => model.invf_Descripcion)
                            </div>
                        </div>

                       

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.invf_UsuarioCrea, "invf_UsuarioCrea", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("invf_UsuarioCrea", String.Empty)
                                @Html.ValidationMessageFor(model => model.invf_UsuarioCrea)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_FechaCrea, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_FechaCrea)
                                @Html.ValidationMessageFor(model => model.invf_FechaCrea)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_UsuarioModifica, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_UsuarioModifica)
                                @Html.ValidationMessageFor(model => model.invf_UsuarioModifica)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.invf_FechaModifica, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.invf_FechaModifica)
                                @Html.ValidationMessageFor(model => model.invf_FechaModifica)
                            </div>
                        </div>*@

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content" id="Crear">
                                        @*@Html.Partial("_CreateInstructorCasosExitos", new InstructorCasosExitos())*@
                                        @Html.Partial("_CreateInvFisicoDetalle", new ERP_GMEDINA.Models.tbInventarioFisicoDetalle())
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                    </div>
                }

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
