@model ERP_ZORZAL.Models.tbInventarioFisico

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Details tbInventarioFisico</h5>
                    </div>
                    <div class="ibox-content">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.invf_Descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_Descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_ResponsableBodega)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_ResponsableBodega)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.bod_Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.bod_Id)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_FechaInventario)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_FechaInventario)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_UsuarioCrea)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_UsuarioCrea)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_FechaCrea)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_FechaCrea)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_UsuarioModifica)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_UsuarioModifica)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_FechaModifica)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_FechaModifica)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                            </dd>

                        </dl>


                        @Html.ActionLink("Edit", "Edit", new { id = Model.invf_Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Inventario Fisico</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            <label class="control-label col-md-2">Descripcion</label>
                        </dt>

                        <dd>
                            Inventario Fisico 2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Responsable Bodega</label>
                        </dt>

                        <dd>
                            Antony Fugon
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Bodega</label>
                        </dt>

                        <dd>
                            Bodega #1
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Levantamiento</label>
                        </dt>

                        <dd>
                            28/11/2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Estado</label>
                        </dt>

                        <dd>
                            Activo
                        </dd>

                    </dl>

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_Descripcion)*@
                                Acción
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_UsuarioCrea)*@
                               Usuario
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_FechaCrea)*@
                                Fecha
                            </th>
                            @*<th>
                    @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tsal_FechaModifica)
                </th>*@
                            @*<th></th>*@
                        </tr>

                        @*@foreach (var item in Model) { }*@
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tsal_Descripcion)*@
                                Creado por
                            </td>
                            <td>
                                Antonio Ochoa
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            </td>
                            <td>
                                2018/12/05 
                                @Html.DisplayFor(model => model.invf_FechaCrea)
                            </td>
                            @*<td>
                    @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                    @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                    @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                </td>*@
                        </tr>
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tsal_UsuarioCrea)*@
                                Modificado por
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.invf_FechaModifica)
                            </td>
                            @*<td>
                    @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                    @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                    @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                </td>*@
                        </tr>

                    </table>


                    @Html.ActionLink("Editar", "Editar", new {  }, new { @class = "btn btn-primary" })
                    <div class="form-group">
                        @*<div class="col-md-offset-2 col-md-10">*@
                        @Html.Partial("_IndexInvFisicoDetalle", Model)
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>