@model ERP_GMEDINA.Models.tbInventarioFisico

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalle inventario Fisico</h5>
                    </div>
                    <div class="ibox-content">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.invf_FechaInventario)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_FechaInventario)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.bod_Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbBodega.bod_Nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_ResponsableBodega)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_ResponsableBodega)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.invf_Descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.invf_Descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                            </dd>

                        </dl>

                        @Html.ActionLink("Editar", "Edit", new { id = Model.invf_Id }, new { @class = "btn btn-primary" })


                        @* Index del Inventario Fisico Detalle *@
                        <div class="form-group">
                            @*<div class="col-md-offset-2 col-md-10">*@
                            @Html.Partial("_IndexInvFisicoDetalle", Model.tbInventarioFisicoDetalle)
                            @*</div>*@
                        </div>


                        @* Tabla de los datos de auditoria *@
                        <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Fecha
                                </th>
                            </tr>

                            <tr>
                                <td>
                                    Creado
                                </td>
                                <td>
                                  @ViewBag.UsuarioCrea 
                                </td>
                                <td>

                                    @Html.DisplayFor(model => model.invf_FechaCrea)
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    Modificado
                                </td>
                                <td>
                                    @ViewBag.UsuarioModifica
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.invf_FechaModifica)
                                </td>
                              
                            </tr>

                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




