@model Inspinia_MVC5_SeedProject.Models.tbInventarioFisico

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico</h2>
        <ol class="breadcrumb">
            
        </ol>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbInventarioFisico</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.invf_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_ResponsableBodega)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_ResponsableBodega)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.bod_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.bod_Id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_FechaInventario)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_FechaInventario)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_UsuarioCrea)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_UsuarioCrea)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_FechaCrea)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_FechaCrea)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_UsuarioModifica)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_UsuarioModifica)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.invf_FechaModifica)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.invf_FechaModifica)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
                        </dd>

                    </dl>


                    @Html.ActionLink("Edit", "Edit", new { id = Model.invf_Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Inventario Fisico</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            <label class="control-label col-md-2">Descripcion</label>
                        </dt>

                        <dd>
                            Bodega
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Responsable Bodega</label>
                        </dt>

                        <dd>
                           Antony Fugon
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Bodega Id</label>
                        </dt>

                        <dd>
                           01
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Inventario</label>
                        </dt>

                        <dd>
                           28/11/2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Usuario Crea</label>
                        </dt>

                        <dd>
                           Keilin_R
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Crea</label>
                        </dt>

                        <dd>
                            28/11/2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Usuario Modifica</label>
                        </dt>

                        <dd>
                            BR
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Modifica</label>
                        </dt>

                        <dd>
                            28/11/2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Estado Inventario Fisico</label>
                        </dt>

                        <dd>
                           Activo
                        </dd>

                    </dl>


                    @Html.ActionLink("Editar", "Editar", new { @class = "" })
                    @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "" })

                </div>
            </div>
        </div>
    </div>
</div>