@model IEnumerable<ERP_ZORZAL.Models.tbInventarioFisico>

@{
    ViewBag.Title = "Inventario Fisico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico</h2>
    </div>
</div>


@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbInventarioFisico</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.invf_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_ResponsableBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bod_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_FechaInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invf_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEstadoInventarioFisico.estif_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.invf_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_ResponsableBodega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bod_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_FechaInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invf_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEstadoInventarioFisico.estif_Descripcion)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.invf_Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.invf_Id }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.invf_Id }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>*@



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Inventario Fisico</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Inventario Fisico", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-hover table-bordered" id="DataTable">
                         <thead>
                            <tr>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Responsable de Bodega
                                </th>
                                <th>
                                    Bodega
                                </th>
                                <th>
                                    Fecha de Levantamento
                                </th>
                                <th>
                                    Creado por
                                </th>
                                <th>
                                    Creado el
                                </th>
                                <th>
                                    Modificado por
                                </th>
                                <th>
                                    Modificado el
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Inventario F. 2018
                                </td>
                                <td>
                                    Antony Fugon
                                </td>
                                <td>
                                    Bodega #1
                                </td>
                                <td>
                                    28/11/2018
                                </td>
                                <td>
                                    Anthony Fugon
                                </td>
                                <td>
                                    28/11/2018
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>Activo</td>
                                <td>
                                    @Html.ActionLink("Detalle", "Detalle", new { @class = "" })
                                    @Html.ActionLink("Editar", "Editar", new { @class = "" })
                                </td>
                            </tr>
                            </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#DataTable').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
