@model ERP_ZORZAL.Models.tbEstadoFactura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","EstadoFactura")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Estado Factura</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.esfac_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esfac_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esfac_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esfac_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_UsuarioModifica)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.esfac_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_FechaModifica)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.esfac_Id }, new { @class = "btn btn-primary"})
    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@

                </div>
            </div>
        </div>
    </div>
 </div>













