@model Inspinia_MVC5_SeedProject.Models.tbArqueoCaja

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Nuevo</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Nuevo</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar a Lista", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Arqueo</h5>
                </div>
                <div class="ibox-content">

				@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        @*@Html.ValidationSummary(true)*@

        <div class="form-group">
            @Html.LabelFor(model => model.arcj_Codigo, "Código Arqueo",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Text1" type="text" value="021215" readonly="readonly" class="col-md-10" />
                @*@Html.EditorFor(model => model.arcj_Codigo)
                @Html.ValidationMessageFor(model => model.arcj_Codigo)*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.suc_Codigo,"Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                    <select id="Select1" class="col-md-10">
                        <option>SPS</option>
                        <option>TGU</option>
                        <option>LCB</option>

                    </select>
                    @*@Html.EditorFor(model => model.suc_Codigo)
            @Html.ValidationMessageFor(model => model.suc_Codigo)*@
                
        </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cjs_Codigo,"Caja", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Select1" class="col-md-10">
                    <option>Caja 1</option>
                    <option>Caja 2</option>
                    <option>Caja 3</option>

                </select>
                @*@Html.EditorFor(model => model.cjs_Codigo)
                @Html.ValidationMessageFor(model => model.cjs_Codigo)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arcj_FechaArqueo,"Fecha Arqueo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Text1" type="date" value="2018/11/24" class="col-md-10" />
                @*@Html.EditorFor(model => model.arcj_FechaArqueo)
                @Html.ValidationMessageFor(model => model.arcj_FechaArqueo)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arcj_AperturaCaja,"Monto Apertura",  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Text1" type="text" value="5,000.00" readonly="readonly" class="col-md-10" />
                @*@Html.EditorFor(model => model.arcj_AperturaCaja)
                @Html.ValidationMessageFor(model => model.arcj_AperturaCaja)*@
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VentasDias, "Monto Ventas ",new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="Text1" type="text" value="65,000.00" class="col-md-10" />
                    @*@Html.EditorFor(model => model.VentasDias)
                    @Html.ValidationMessageFor(model => model.VentasDias)*@
                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.arcj_CierreCaja, "Monto Cierre", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Text1" type="text" value="70,000.00" readonly="readonly" class="col-md-10" />
                @*@Html.EditorFor(model => model.arcj_CierreCaja)
                @Html.ValidationMessageFor(model => model.arcj_CierreCaja)*@
            </div>
        </div>

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Registrar", "Index", null, new { @class = "btn btn-primary" })
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
				@Html.ActionLink("Anular", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
@*}*@

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
