@model ERP_ZORZAL.Models.tbArqueoCaja

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create tbArqueoCaja</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.sucur_Codigo, "sucur_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sucur_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.sucur_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cja_Codigo, "cja_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cja_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.cja_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_Fecha)
                @Html.ValidationMessageFor(model => model.aqcja_Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_HoraInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_HoraInicio)
                @Html.ValidationMessageFor(model => model.aqcja_HoraInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_HoraFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_HoraFinal)
                @Html.ValidationMessageFor(model => model.aqcja_HoraFinal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_SaldoInicial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_SaldoInicial)
                @Html.ValidationMessageFor(model => model.aqcja_SaldoInicial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_SaldoFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_SaldoFinal)
                @Html.ValidationMessageFor(model => model.aqcja_SaldoFinal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_MontoEfectivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_MontoEfectivo)
                @Html.ValidationMessageFor(model => model.aqcja_MontoEfectivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_MontoCheque, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_MontoCheque)
                @Html.ValidationMessageFor(model => model.aqcja_MontoCheque)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_Total)
                @Html.ValidationMessageFor(model => model.aqcja_Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_Diferencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_Diferencia)
                @Html.ValidationMessageFor(model => model.aqcja_Diferencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.aqcja_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_FechaCrea)
                @Html.ValidationMessageFor(model => model.aqcja_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.aqcja_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aqcja_FechaModifico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aqcja_FechaModifico)
                @Html.ValidationMessageFor(model => model.aqcja_FechaModifico)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
