@model Inspinia_MVC5_SeedProject.Models.tbArqueoCaja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            @*<li class="active">
                <strong>Details</strong>
            </li>*@
        </ol>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbArqueoCaja</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.cjs_Codigo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cjs_Codigo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.arcj_FechaArqueo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.arcj_FechaArqueo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.arcj_AperturaCaja)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.arcj_AperturaCaja)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.arcj_CierreCaja)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.arcj_CierreCaja)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.suc_Codigo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.suc_Codigo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.VentasDias)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.VentasDias)
                        </dd>

                    </dl>


                    @Html.ActionLink("Edit", "Edit", new { id = Model.arcj_Codigo }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Arqueo Caja</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            Código Caja
                        </dt>
                        <dd>
                            SPS-01
                        </dd>
                        <dt>
                            Fecha Arqueo
                        </dt>

                        <dd>
                            2018-11-24
                        </dd>

                        <dt>
                            Apertura Caja
                        </dt>

                        <dd>
                            10,500.00
                        </dd>
                        <dt>
                            Cierre Caja
                        </dt>

                        <dd>
                            50,450.00
                        </dd>
                        <dt>
                           Monto Ventas
                        </dt>

                        <dd>
                            39,950.00
                        </dd>
                        <dt>
                            Sucursal
                        </dt>

                        <dd>
                            SPS
                        </dd>

                    </dl>
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</div>
