@model ERP_ZORZAL.Models.tbBanco

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Banco</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles de Banco</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ban_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_NombreContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_NombreContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_TelefonoContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_TelefonoContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ban_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ban_FechaModifica)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.ban_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













