@model ERP_GMEDINA.Models.tbBanco

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Auditoria.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Banco</h2>
      
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index", "Banco")">Regresar</a>
        </div>
    </div>

</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Banco</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ban_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ban_Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ban_Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ban_Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ban_NombreContacto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ban_NombreContacto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ban_TelefonoContacto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ban_TelefonoContacto)
                        </dd>
                        </dl>
                          @Html.ActionLink("Editar", "Edit", new { id = Model.ban_Id }, new { @class = "btn btn-primary" })
                     </div>
                            </div>

            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>                         
                        <th>Acción</th>                         
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr> 
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)</td>
                        <td>@Html.DisplayFor(model => model.ban_FechaCrea)</td>
                    </tr>
                    <tr>                         
                        <td>Modificado</td>                         
                        <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                        @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)</td>
                        <td>@Html.DisplayFor(model => model.ban_FechaModifica)</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
 </div>













