@model ERP_GMEDINA.Models.tbDocumentoFiscal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar Documento Fiscal</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Documento Fiscal</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.dfisc_Id)


        @Html.HiddenFor(model => model.dfisc_UsuarioCrea)
        @Html.HiddenFor(model => model.dfisc_FechaCrea)
        @Html.HiddenFor(model => model.dfisc_UsuarioModifica)
        @Html.HiddenFor(model => model.dfisc_FechaModifica)
        @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)


        <div class="form-group">
            @Html.LabelFor(model => model.dfisc_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.dfisc_Id)
                @Html.ValidationMessageFor(model => model.dfisc_Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dfisc_Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.dfisc_Descripcion)
                @Html.ValidationMessageFor(model => model.dfisc_Descripcion)
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>

            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                    </td>
                    <td>@Html.DisplayFor(model => model.dfisc_FechaCrea)</td>
                </tr>
                <tr>
                    <td>Modificado</td>
                    <td>
                        @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                    @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                </td>
                <td>@Html.DisplayFor(model => model.dfisc_FechaModifica)</td>
            </tr>
        </table>
        </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
