@model ERP_GMEDINA.Models.tbPuntoEmisionDetalle
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.dfisc_Id, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("dfisc_Id", null, "Seleccione", new { @class = "form-control" })
                                <div id="validacionDocumentoFiscalCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.dfisc_Id)</p>
                                </div>
                            </div>
                          
                            @Html.LabelFor(model => model.pemid_FechaLimite, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                 @Html.EditorFor(model => model.pemid_FechaLimite, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @autocomplete = "off" } })
                                <div id="validacionFechaLimiteCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_FechaLimite)</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pemid_RangoInicio, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.pemid_RangoInicio, new { htmlAttributes = new { @onkeypress = "return validar(event)" } })
                                <div id="validacionRangoInicioCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_RangoInicio)</p>
                                </div>
                            </div>

                            @Html.LabelFor(model => model.pemid_RangoFinal, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.pemid_RangoFinal, new { htmlAttributes = new { @onkeypress = "return validar(event)" } })
                                <div id="validacionRangoFinalCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_RangoFinal)</p>
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pemid_NumeroActual, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.pemid_NumeroActual, new { htmlAttributes = new { @readonly = "readonly" ,@class="form-control"} })
                                <div id="validacionNumeroActualCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_NumeroActual)</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-sm" type="button" id="AgregarPuntoEmisionDetalle">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<table id="tblPuntoEmisionDetalle" class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>Documento Fiscal</th>
            <th>Rango Inicial</th>
            <th>Rango Final</th>
            <th>Número Actual</th>
            <th>Fecha Límite</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="validationSummary">
    <p style="color:red"></p>
</div>
