@model ERP_GMEDINA.Models.tbPuntoEmisionDetalle

@using (Ajax.BeginForm("UpdatePuntoEmisionDetalle", "PuntoEmision", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "mdlEditNumeracion" }))
{   
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.pemi_Id)
        @Html.HiddenFor(model => model.pemid_Id)     
        @*Auditoria*@
        @Html.HiddenFor(model => model.pemid_UsuarioCrea)
        @Html.HiddenFor(model => model.pemid_FechaCrea)
        @Html.HiddenFor(model => model.pemid_UsuarioModifica)
        @Html.HiddenFor(model => model.pemid_FechaModifica)
        @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)       

        <div class="form-group">
            @Html.LabelFor(model => model.dfisc_Id, "Documento Fiscal", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{string IdDrop = "dfisc_IdEdit";}
                @{ string Vie = "dfisc_IdList";}
                @Html.DropDownList("dfisc_Id", (IEnumerable<SelectListItem>)Context.Items[Vie], "Seleccione", new { @class = "form-control", id = @IdDrop })
                <p style="color:red">@Html.ValidationMessageFor(model => model.dfisc_Id)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemid_RangoInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pemid_RangoInicio)
                <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_RangoInicio)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemid_RangoFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pemid_RangoFinal)
                <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_RangoFinal)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemid_FechaLimite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pemid_FechaLimite, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @autocomplete = "off" } })
                <p style="color:red">@Html.ValidationMessageFor(model => model.pemid_FechaLimite)</p>
            </div>
        </div>

        
        <div class="form-group">
            <hr />
            <div class="col-md-12 text-right">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
   
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
@*<script src="~/Scripts/app/Datepicker.js"></script>*@

