@model IEnumerable<ERP_GMEDINA.Models.tbPuntoEmisionDetalle>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3><b>Listado de Numeración</b></h3>
					<div class="ibox-tools" >
                        <button type="button" class = "btn btn-primary btn-sm"  data-toggle="modal" data-target="#Nuevo">
                            Registrar Numeración
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table table-striped  table-bordered" id="PuntoEmisionDetalle">
                        <thead>
                            <tr>
                                <th hidden>
                                    pemid_Id
                                </th>
                                <th hidden>
                                    pemi_Id
                                </th>
                                <th>
                                   Documento Fiscal
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pemid_RangoInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pemid_RangoFinal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pemid_FechaLimite)
                                </th>
                                <th>Número Actual</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden id="pemid_Id">@Html.DisplayFor(modelItem => item.pemid_Id)</td>
                                    <td hidden id="pemi_Id">@Html.DisplayFor(modelItem => item.pemi_Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbDocumentoFiscal.dfisc_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pemid_RangoInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pemid_RangoFinal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pemid_FechaLimite)
                                    </td>
                                    <td></td>
                                    <td>
                                        <button type="button"  class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#Detalle_@item.pemid_Id">
                                            Detalles
                                        </button>
                                        <button type="button"  class = "btn btn-white btn-xs"   data-toggle="modal" data-target="#Editar_@item.pemid_Id">
                                            Editar
                                        </button>
                                    </td>
                                </tr>

                                <div class="modal fade" id="Editar_@item.pemid_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Numeración</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="mdlEditNumeracion">
                                                 @Html.Partial("_EditNumeracionDetails", new ERP_GMEDINA.Models.tbPuntoEmisionDetalle(){ pemid_Id = item.pemid_Id, pemi_Id = item.pemi_Id, dfisc_Id = item.dfisc_Id, pemid_RangoInicio = item.pemid_RangoInicio, pemid_RangoFinal=item.pemid_RangoFinal, pemid_FechaLimite=item.pemid_FechaLimite,pemid_UsuarioCrea = item.pemid_UsuarioCrea, pemid_FechaCrea = item.pemid_FechaCrea, pemid_UsuarioModifica = item.pemid_UsuarioModifica, pemid_FechaModifica = item.pemid_FechaModifica })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="modal fade" id="Detalle_@item.pemid_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalle Numeración</h5>
                                            <button type = "button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" >
                                            @Html.Partial("_DetailsNumeracion", new ERP_GMEDINA.Models.tbPuntoEmisionDetalle() { pemid_Id = item.pemid_Id, pemi_Id = item.pemi_Id, dfisc_Id = item.dfisc_Id, pemid_RangoInicio = item.pemid_RangoInicio, pemid_RangoFinal = item.pemid_RangoFinal, pemid_FechaLimite = item.pemid_FechaLimite, pemid_UsuarioCrea = item.pemid_UsuarioCrea, pemid_FechaCrea = item.pemid_FechaCrea, pemid_UsuarioModifica = item.pemid_UsuarioModifica, pemid_FechaModifica = item.pemid_FechaModifica })
                                        </div>
                                        <div class="modal-footer">
                                            @Html.ActionLink("Cerrar", "Details", new { id = item.pemi_Id }, new { @class = "btn btn-white" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
   
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $('#PuntoEmisionDetalle').DataTable(
        {
            "searching": true,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sEmptyTable": "No hay registros",
                "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
</script>
<!-- Modal -->
<div class="modal fade" id="Nuevo" tabindex="-1" role="dialog" aria-labelledby="DetalleNumeracion" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registar Numeración</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AjaxCreateNumeracion">
                @Html.Partial("_CreateNumeracionDetails", new ERP_GMEDINA.Models.tbPuntoEmisionDetalle())
            </div>
        </div>
    </div>
</div>

