@model IEnumerable<ERP_ZORZAL.Models.tbPuntoEmisionDetalle>

                <div class="ibox-title">
                    <h5>Listado de Numeración</h5>
                    <div class="ibox-tools">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Nuevo">
                                Nuevo
                            </button>
                        </div>
                </div>
               
<div class="ibox-content">
    <table class="table table table-striped  table-bordered" id="PuntoEmision">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tbPuntoEmision.pemi_NumeroCAI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tbDocumentoFiscal.dfisc_Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pemid_RangoInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pemid_RangoFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pemid_FechaLimite)
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbPuntoEmision.pemi_NumeroCAI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbDocumentoFiscal.dfisc_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pemid_RangoInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pemid_RangoFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pemid_FechaLimite)
                    </td>


                    <td>
                        <button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#Editar_@item.pemid_Id">
                            Editar
                        </button>
                    </td>

                </tr>

            }
        </tbody>
    </table>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/app/PuntoEmision.js"></script>
    @foreach (var item in Model)

    {  <div class="modal fade" id="Editar_@item.pemid_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Numeración</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_EditNumeracion", new ERP_ZORZAL.Models.tbPuntoEmisionDetalle() { pemid_Id = item.pemid_Id, dfisc_Id = item.dfisc_Id, pemid_RangoInicio = item.pemid_RangoInicio, pemid_RangoFinal = item.pemid_RangoFinal, pemid_FechaLimite = item.pemid_FechaLimite, pemid_UsuarioCrea = item.pemid_UsuarioCrea, pemid_FechaCrea = item.pemid_FechaCrea, pemid_UsuarioModifica = item.pemid_UsuarioModifica, pemid_FechaModifica = item.pemid_FechaModifica })
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("Details","PuntoEmision")" class="btn btn-primary ">Guardar</a>
                    <a href="@Url.Action("Index","PuntoEmision")" class="btn btn-white">Cancelar</a>
                </div>
            </div>
        </div>
    </div>}



    <!-- Modal -->
    <div class="modal fade" id="Nuevo" tabindex="-1" role="dialog" aria-labelledby="DetalleNumeracion" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registar Numeración</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateNumeracion", new ERP_ZORZAL.Models.tbPuntoEmisionDetalle())
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("Create","PuntoEmision")" class="btn btn-primary ">Guardar</a>
                    <a href="@Url.Action("Index","PuntoEmision")" class="btn btn-white">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

