@model ERP_GMEDINA.Models.tbPuntoEmision

@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/Auditoria.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles Punto Emisión</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","PuntoEmision")">Regresar</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.pemi_Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">
                  
                        <dl class="dl-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.pemi_Id)
                            @*Auditoria*@
                            @Html.HiddenFor(model => model.pemi_UsuarioCrea)
                            @Html.HiddenFor(model => model.pemi_FechaCrea)
                            @Html.HiddenFor(model => model.pemi_UsuarioModifica)
                            @Html.HiddenFor(model => model.pemi_FechaModifica)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)

                            <dt>
                                @Html.DisplayNameFor(model => model.pemi_Id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pemi_Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.pemi_NumeroCAI)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.pemi_NumeroCAI)
                            </dd>
                        </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Numeración</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Sucursal</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @Html.Partial("_IndexNumeracion", Model.tbPuntoEmisionDetalle)
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    @Html.Partial("_IndexSucursal", Model.tbSucursal)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.pemi_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.pemi_FechaModifica)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
<script>
    $(document).ready(function () {
        $('#PuntoEmisionDetalle').DataTable(
        {
            "searching": true,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sEmptyTable": "No hay registros",
                "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
 
    //CirculosColores
    $(document).ready(function () {
        //Current Date
        var d = new Date();
        $("#PuntoEmisionDetalle tbody tr").each(function () {
            //Id PuntoEmisionDetalle
            var ID = $(this).children("td:eq(0)").text();

            var RangoFinal = $(this).children("td:eq(3)").text();

            var DivisionesRangoFinal = RangoFinal.split("-", 4);
            var UltimoNumero = DivisionesRangoFinal[3]
            var RangoFinalCasteado = parseInt(UltimoNumero)

            var NumeroActual = $(this).children("td:eq(4)").text();

            var NumeroActualCasteado = parseInt(NumeroActual)

            //FechaLimiteEmision
            var FechaLimiteEmsion = $(this).children("td:eq(5)").text();

            var i = new Date(FechaLimiteEmsion);

            if (i <= d) {
                $("#btnModalEditarEdit_" + parseInt(ID)).prop("disabled", true);
                $("#Circulos_" + parseInt(ID)).removeClass().addClass("red");
            }
            else if (NumeroActualCasteado == RangoFinalCasteado) {
                $("#btnModalEditarEdit_" + parseInt(ID)).prop("disabled", true);
                $("#Circulos_" + parseInt(ID)).removeClass().addClass("red");
            }
            else {
                $("#btnModalEditarEdit_" + parseInt(ID)).prop("disabled", false);
                $("#Circulos_" + parseInt(ID)).removeClass().addClass("green");
            }

        });
    });
</script>
