@model IEnumerable<ERP_ZORZAL.Models.tbPuntoEmision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Punto Emisión</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong></strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Punto Emisión</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped" id="DataTable">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.pe_Codigo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.pe_NumeroCAI)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.pe_UsuarioCrea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pe_FechaCrea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pe_UsuarioModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pe_FechaModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tbSucursal.mun_Id)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.pe_Codigo)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.pe_NumeroCAI)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.pe_UsuarioCrea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pe_FechaCrea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pe_UsuarioModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pe_FechaModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbSucursal.mun_Id)
                    </td>*@
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.pe_Codigo }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.pe_Codigo }, new { @class = "btn btn-white btn-sm" })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.pe_Codigo }, new { @class = "btn btn-white btn-sm"})*@
                </td>
            </tr>
        }
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>

 
<script src="~/Scripts/app/DataTable.js"></script>

