@model IEnumerable<ERP_GMEDINA.Models.tbPuntoEmision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Punto Emisión</h2>       
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<div class="ibox-tools">
                        <a href="~/ReportViewer/PuntoEmision.aspx" class = "btn btn-primary">Generar Reporte</a>
						@Html.ActionLink("Registrar Punto Emisión", "Create", null, new { @class = "btn btn-primary" })
					</div>
                </div>
                <div class="ibox-content">

                    <table class="table table table-striped  table-bordered" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.pemi_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pemi_NumeroCAI)
                                </th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pemi_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pemi_NumeroCAI)
                                    </td>
                                   
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.pemi_Id }, new { @class = "btn btn-primary btn-xs" })  
                                        @Html.ActionLink("Editar", "Edit", new { id = item.pemi_Id }, new { @class = "btn btn-white btn-xs" })   
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
