@model Inspinia_MVC5_SeedProject.Models.tbTipoIdentificacion

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles Tipo Identificación</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            <li class="active">
                @*<strong>Details</strong>*@
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @*<h5>Details tbTipoIdentificacion</h5>*@
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tpi_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpi_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpi_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpi_Descripcion)
        </dd>

        <dt>
            Usuario Crea
            @*@Html.DisplayNameFor(model => model.tpi_UsuarioCrea)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpi_UsuarioCrea)
        </dd>

        <dt>
            Fecha Creo
            @*@Html.DisplayNameFor(model => model.tpi_FechaCrea)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpi_FechaCrea)
        </dd>

        <dt>
            Usuario Modifica
            @*@Html.DisplayNameFor(model => model.tpi_UsuarioModifica)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpi_UsuarioModifica)
        </dd>

        <dt>
            Fecha Modifica
            @*@Html.DisplayNameFor(model => model.tpi_FechaModifica)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpi_FechaModifica)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.tpi_Id }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary btn-sm" })

                </div>
            </div>
        </div>
    </div>
 </div>













