@model IEnumerable<ERP_ZORZAL.Models.tbEntradaDetalle>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entrada Detalle</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Entrada Detalle</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Nuevo", "CrearPrueba", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped" id="tbentradadetalle">
                        <thead>
                            <tr>
                                <th>
                                    Codigo Entrada
                                </th>
                                <th>
                                    Codigo Producto
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    1004
                                </td>
                                <td>
                                    12
                                </td>
                                <td>
                                    (Descripcion del Producto)
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "DetallePrueba", new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
@*<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ent_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entd_Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entd_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entd_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entd_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entd_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ent_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entd_Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entd_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entd_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entd_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entd_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.entd_Codigo }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.entd_Codigo }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.entd_Codigo }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>*@

                </div>
            </div>
        </div>
    </div>
 </div>

@section scripts{
     
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
        $('#tbentradadetalle').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"
        },
    });
    });
    </script>
}

