@model IEnumerable<ERP_GMEDINA.Models.tbSalidaDetalle>
@using ERP_GMEDINA.Models

@ViewData["clave"]

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Salida Detalle</h5>
					<div class="ibox-tools">
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.prod_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.prod_Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.prod_Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.prod_Talla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.prod_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodegaDetalle.tbProducto.tbUnidadMedida.uni_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_Cantidad)
        </th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.prod_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.prod_Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.prod_Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.prod_Talla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.prod_Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBodegaDetalle.tbProducto.tbUnidadMedida.uni_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sal_Cantidad)
            </td>
        </tr>
    }
</table>
                </div>
            </div>
        </div>
    </div>
 </div>



