@model IEnumerable<ERP_GMEDINA.Models.tbProducto>
@using ERP_GMEDINA.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text" id="search" placeholder="Buscar Producto" class="form-control" />
                    <table id="Table_BuscarProducto" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Modelo)
                                </th>
                                <th>
                                    Actividades
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                               <tr tr data-id="@item.prod_Codigo" , tr data-content="@item.prod_Descripcion" , tr data-container="@item.prod_Codigo" , tr data-keyboard="@item.prod_Codigo">
                                <td>
                                        @Html.DisplayFor(modelItem => item.prod_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prod_Marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prod_Modelo)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" value="@item.prod_Codigo" id="seleccionar" data-dismiss="modal">Seleccionar</button>
                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>