@model ERP_GMEDINA.Models.tbBox

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var ListadoCajaDetalle = new ERP_GMEDINA.Models.tbBoxDetalle();
    
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Caja</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Caja</h5>
                </div>
                <div class="ibox-content">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.box_Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.box_Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.box_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.box_Descripcion)
                        </dd>
                    </dl>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.box_Codigo }, new { @class = "btn btn-primary" })


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Partial("_DetailsSalidaDetalle", Model.tbBoxDetalle, new ViewDataDictionary
                           { @*"boxd_Id", Model.boxd_Id*@ })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            @*Datos de Auditoria*@ 
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Auditoría</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table table-striped  table-bordered">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.box_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.box_FechaModifica)</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        </div>
    </div>
