@model ERP_GMEDINA.Models.tbBox

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Caja</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Box")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Caja</h5>
                </div>
                <div class="ibox-content">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.box_Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.box_Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.box_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.box_Descripcion)
                        </dd>
                    </dl>

                    @Html.ActionLink("Editar", "Edit", new { id = Model.box_Codigo }, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="title-action">
                                <h5>Producto</h5>
                                <button type="button" class="btn btn-white glyphicon glyphicon-download" data-toggle="collapse" data-target="#CreateProducto"></button>
                            </div>
                        </div>
                        <div class="ibox-content collapse" id="CreateProducto">
                            @Html.Partial("_Producto", new List<ERP_GMEDINA.Models.tbProducto> { new ERP_GMEDINA.Models.tbProducto() })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="title-action">
                                <h5>Datos de Auditoria</h5>
                                <button type="button" class="btn btn-white glyphicon glyphicon-plus" data-toggle="collapse" data-target="#DatosdeAuditoria"></button>
                            </div>
                        </div>
                        <div class="ibox-content collapse" id="DatosdeAuditoria">
                            <div class="ibox-content">
                                <div class="form-group">

                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                @*@Html.DisplayNameFor(model => model.tsal_Descripcion)*@
                                                Acción
                                            </th>
                                            <th>
                                                @*@Html.DisplayNameFor(model => model.tsal_UsuarioCrea)*@
                                                Usuario
                                            </th>
                                            <th>
                                                @*@Html.DisplayNameFor(model => model.tsal_FechaCrea)*@
                                                Fecha
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tsal_FechaModifica)
                                            </th>*@
                                            @*<th></th>*@
                                        </tr>

                                        @*@foreach (var item in Model) { }*@
                                        <tr>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.tsal_Descripcion)*@
                                                Creado por
                                            </td>
                                            <td>

                                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.box_FechaCrea)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                                                @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                                                @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                                            </td>*@
                                        </tr>
                                        <tr>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.tsal_UsuarioCrea)*@
                                                Modificado por
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.box_FechaModifica)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                                                @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                                                @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                                            </td>*@
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>