@model ERP_ZORZAL.Models.tbBox


@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        @*<h2>Index</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>tbCaja</strong>
                </li>
            </ol>*@
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Cajas</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Caja", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-condensed" id="Table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.box_Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.box_Descripcion)
                                </th>
                                <th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        @*@foreach (var item in Model) {}*@
                        <tbody>
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.box_Codigo)*@
                                    0102
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.box_Descripcion)*@
                                    40X40 Fragil
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Details", null, new { @class = "btn btn-primary btn-xs" })
                                    @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-white btn-xs" })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.box_Id }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.box_Id }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.box_Id }, new { @class = "btn btn-white btn-sm" })*@

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable({

                "oLanguage": {
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior",
                    },
                    "sLengthMenu": "Mostrar _MENU_Registros Por Página",
                    "sInfo": "Mostrando _START_ a _END_ Entradas"
                },
            });
        });
    </script>
}