@model ERP_ZORZAL.Models.tbAccesoRol



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Acceso Rol</h5>

                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.rol_Id, "rol_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @*@Html.DropDownList("rol_Id", null, "Seleccione", String.Empty, new { @class = "form-control" } )*@
                @*@Html.DropDownList("rol_Id", (IEnumerable<SelectListItem>)ViewBag.rol_Id, new { @class = "form-control" })*@
                @*@Html.DropDownList("rol_Id", null, "Seleccione", String.Empty)*@
                @*@Html.ValidationMessageFor(model => model.rol_Id)*@
            @*</div>
        </div>*@

        @*<div class="form-group">*@
            @*<label class="control-label col-md-2">Pantalla</label>*@
            @*@Html.LabelFor(model => model.tbObjeto.obj_Pantalla, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("obj_Id", (IEnumerable<SelectListItem>)ViewBag.obj_Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.obj_Id)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.acrol_Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <input type="text" value="N/A" class="form-control"/>
                @Html.ValidationMessageFor(model => model.acrol_Descripcion)
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary" id="bt_add" data-toggle="modal" data-target="#modalregistro">Añadir</button>
            </div>
        </div>

        <div class="col-md-5">
            <label class="col-md-10" style="text-align:center">Objetos No Asignados</label>
            <table class="table table-bordered">
                <tr>
                    <td style="color:white" bgcolor="#1ab394">Pantallas</td>
                    <td bgcolor="#1ab394"></td>
                </tr>
                <tr>
                    <td>Bodega</td>
                    <td><input name="id02" type="checkbox" id="id02" /></td>
                </tr>
            </table>
        </div>

        <div class="col-md-2">
            <div><br /><br /><br></div>
            <div>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="&#9668; Quitar &nbsp;&nbsp;" class="btn btn-primary btn-xs" />
            </div>
            <div>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="bt_add1" type="button" value="Agregar &#9658;" class="btn btn-primary btn-xs" />
            </div>
        </div>

        <div class="col-md-5">
            <label class="col-md-10" style="text-align:center">Objetos Asignados</label>
            <table class="table table-bordered" id="DatosTras">
                <tr>
                    <td style="color:white" bgcolor="#1ab394">Pantallas</td>
                    <td bgcolor="#1ab394"></td>
                </tr>
                <tr>
                    @*<td><input name="id02" type="checkbox" id="id02" /></td>*@
                </tr>
            </table>
        </div>

        <table class="table table-responsive" style="width:100%" id="DataTable">
            <thead>
                <tr>
                    <th>
                        Pantalla
                    </th>
                    <th>
                        Descripción Acceso Rol
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    }

                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('#bt_add').click(function () {
            agregar();
        });
    });
    var cont = 0
    function agregar() {
        cont++
        var fila = '<tr class="selected" id=fila' + cont + '"onclick="seleccionar(this.id);"><td>Bodega</td><td>N/A</td><td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaldetalle">Eliminar</button></td></tr>';
        $('#DataTable').append(fila);
    }
    $(document).ready(function () {
        $('#bt_add1').click(function () {
            agregar1();
        });
    });
    var cont = 0
    function agregar1() {
        cont++
        var fila = '<tr class="selected" id=fila' + cont + '"onclick="seleccionar(this.id);"><td>Bodega</td><td><input name="id02" type="checkbox" id="id02" /></td></tr>';
        $('#DatosTras').append(fila);
    }
</script>