@model ERP_ZORZAL.Models.tbAccesoRol


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Acceso Rol</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.acrol_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.acrol_Id)
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tbObjeto.obj_Pantalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbObjeto.obj_Pantalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acrol_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acrol_Descripcion)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbRol.rol_Descripcion)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.tbRol.rol_Descripcion)
        </dd>

    </dl>



                </div>
            </div>
        </div>
    </div>
 </div>













