@model IEnumerable<ERP_ZORZAL.Models.tbAccesoRol>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Acceso Rol</h5>
					<div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalregistro">Registrar Acceso Rol</button>
					</div>
                </div>
                <div class="ibox-content">

                    <table class="table table-responsive" style="width:100%" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.obj_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbObjeto.obj_Pantalla)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.acrol_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbRol.rol_Descripcion)
                                </th>
                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.obj_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbObjeto.obj_Pantalla)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.acrol_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbRol.rol_Descripcion)
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#Editar">Editar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#DataTable').DataTable({

        "searching": false,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });
    });
</script>

<!-- Editar MODAL -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Editar</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">

                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription">Código Acceso Rol</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtIdAccesoRol" value="1" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripción Acceso Rol</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtDescripcionRol" value="Acceso no restringido a los recursos. Esto incluye crear, configurar y suprimir recursos." />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Pantalla</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option>Bodega</option>

                                </select>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Fecha
                                </th>
                               
                            </tr>

                            <tr>
                                <td>
                                    Creado por
                                </td>
                                <td>
                                    Anthony Fugon

                                </td>
                                <td>
                                    05/12/2018
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    Modificado por
                                </td>
                                <td></td>
                                <td></td>
                                
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cancelar" />
                <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Guardar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>


<!-- INSERT MODAL Registro-->
<div class="modal fade" id="modalregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Registrar Acceso Rol</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription">Código Acceso Rol</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtIdAccesoRol" value="" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripción Acceso Rol</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtDescripcionRol" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Pantalla</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option>--Seleccione Pantalla--</option>
                                    <option>Bodega</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cancelar" />
                <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Guardar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>


<!-- Modal _Detalle -->
<div>
    <div class="modal fade" id="modaldetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Detalle</h4>

                </div>
                <div class="modal-body" id="frmAgregarCasoExito">
                    @Html.Partial("_DetailsAccesoRol", new ERP_ZORZAL.Models.tbAccesoRol())
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Fecha
                                </th>
                               
                            </tr>

                            <tr>
                                <td>
                                    Creado por
                                </td>
                                <td>
                                    Anthony Fugon

                                </td>
                                <td>
                                    05/12/2018
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    Modificado por
                                </td>
                                <td></td>
                                <td></td>
                                
                            </tr>

                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal _Editar -->
<div>
    <div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Detalle</h4>

                </div>
                <div class="modal-body" id="frmAgregarCasoExito">
                    @Html.Partial("_EditAccesoRol", new ERP_ZORZAL.Models.tbAccesoRol())
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Fecha
                                </th>
                               
                            </tr>

                            <tr>
                                <td>
                                    Creado por
                                </td>
                                <td>
                                    Anthony Fugon

                                </td>
                                <td>
                                    05/12/2018
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    Modificado por
                                </td>
                                <td></td>
                                <td></td>
                               
                            </tr>

                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>