@model ERP_GMEDINA.Models.tbRol

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Rol</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Rol</h5>
                </div>
                <div class="ibox-content">

                    

                        <div class="form-horizontal">


                            <div class="form-group">
                                @Html.LabelFor(model => model.rol_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.rol_Id, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.rol_Id)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.rol_Descripcion, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.rol_Descripcion)
                                    <div id="validationDescripcionRol">
                                        <p style="color:red"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.rol_Estado, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @if (Model.rol_Estado == true)
                                    {
                                        @Html.ActionLink("Inactivar", "EstadoRolInactivo", new { id = Model.rol_Id }, new { @class = "btn btn-danger btn-sm" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Activar", "EstadoRolActivo", new { id = Model.rol_Id }, new { @class = "btn btn-primary btn-sm" })
                                    }
                                    @Html.ValidationMessageFor(model => model.rol_Estado)
                                    
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Objetos No Asignados</label>

                                    <table class="table table-responsive" style="width:100%" id="NoAsignados">
                                        <thead>
                                            <tr>
                                                <td id="RegistrosNoAsignados" style="background-color:#1ab394;color:white">Pantallas</td>
                                                <td style="background-color:#1ab394"></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="col-md-2" align="center">
                                    <br /><br /><br>
                                    <div>
                                        <input id="Add" type="button" value="Agregar &#9658;" class="btn btn-primary btn-xs" />
                                    </div>
                                    <div>
                                        <input id="Remove" type="button" value="&#9668; Quitar &nbsp;&nbsp;" class="btn btn-primary btn-xs" />
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Objetos Asignados</label>
                                    <table class="table table-responsive" style="width:100%" id="Asignados">
                                        <thead>
                                            <tr>
                                                <td id="RegistrosAsignados" style="background-color:#1ab394;color:white">Pantallas</td>
                                                <td style="background-color:#1ab394"></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="button" id="btnActualizarRol" class="btn btn-primary">Guardar</button>
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
                        
                    </div>

                </div>
            </div>
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Acción
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Fecha
                            </th>
                        </tr>

                        <tr>
                            <td>
                                Creado por
                            </td>
                            <td>

                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.rol_FechaCrea)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Modificado por
                            </td>
                            <td>
                            @if (Convert.ToString(Model.rol_FechaModifica) == "")
                            {

                            }
                            else
                            {
                            @ViewBag.UsuarioModifica
                            }
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.rol_FechaModifica)
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/RolObjetosEdit.js"></script>