
@model ERP_GMEDINA.Models.tbMunicipio

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="ibox float-e-margins">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.mun_Codigo)
                        @Html.HiddenFor(model => model.dep_Codigo)
                        @Html.HiddenFor(model => model.mun_FechaCrea)
                        @Html.HiddenFor(model => model.mun_UsuarioCrea)

                      
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.dep_Codigo, "dep_Codigo", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("dep_Codigo", String.Empty)
                                    @Html.ValidationMessageFor(model => model.dep_Codigo)
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.mun_Codigo, new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.mun_Codigo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.mun_Codigo)
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.mun_Nombre, new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.mun_Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.mun_Nombre)
                            </div>
                        </div>
                    </div>


                    <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th> Fecha</th>
                            </tr>
                            @*@foreach (var item in Model) { }*@
                            <tr>
                                <td>Creado por  </td>
                                <td>
                                    @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                    @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                                </td>
                                <td>@Html.DisplayFor(model => model.mun_FechaCrea)</td>

                            </tr>
                            <tr>
                                <td>Modificado por</td>
                                <td>
                                    @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                                    @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                                </td>
                                <td>@Html.DisplayFor(model => model.mun_FechaModifica)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 
<script src="~/Scripts/app/CrearActualizarEliminar.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
