@model IEnumerable<ERP_GMEDINA.Models.tbMunicipio>

@using ERP_GMEDINA.Models;
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox-tools">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalregistro">Registrar Municipio</button>
        </div>

                <table class="table table-responsive" style="width:100%" id="DataTable">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.mun_Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.mun_Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tbDepartamento.dep_Nombre)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.mun_Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mun_Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbDepartamento.dep_Nombre)
                                </td>
                                <td>

                                    <button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#Editarmodal_@item.mun_Codigo">Editar</button>
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalEliminar_@item.mun_Codigo">Eliminar</button>


                                    
                                 
                                    <!-- INSERT MODAL Registro-->
                                    <div class="modal fade" id="modalregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Registrar Municipio</label></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-horizontal">
                                                        @Html.Partial("_CreateModalmun", new ERP_GMEDINA.Models.tbMunicipio() { dep_Codigo = item.dep_Codigo })
                                                    </div>
                                                            
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="button" id="btnGuardarModal" onclick="btnGuardarModal(@item.dep_Codigo);">Guardar</button>
                                                    <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cancelar" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Editar MODAL MUNICIPIO-->
                                    <div class="modal fade" id="Editarmodal_@item.mun_Codigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Registrar Municipio</label></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-horizontal">
                                                        @Html.Partial("_EditMunicipio", new ERP_GMEDINA.Models.tbMunicipio() { mun_Codigo = item.mun_Codigo, dep_Codigo = item.dep_Codigo, mun_Nombre= item.mun_Nombre})
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="button" id="btnActualizar" onclick="btnActualizar(@item.mun_Codigo);">Guardar</button>
                                                    <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cancelar" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ELIMINAR MODAL MUNICIPIO-->
                                    <div class="modal fade" id="modalEliminar_@item.mun_Codigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Municipio</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Esta seguro de Eliminar el Registro? 
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="button" id="btnEliminar" onclick="btnEliminar(@item.mun_Codigo);">Si</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            
                        }
                      
                    </tbody>
                </table>

            </div>
        </div>


        
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/letras.js"></script>
<script src="~/Scripts/app/CrearActualizarEliminar.js"></script>
<script>
    $(document).ready(function () {
        $('#DataTable').DataTable({

        "searching": false,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });
    });
</script>

   




<!-- Delete MODAL Registro-->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Eliminar Municipio</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="form-horizontal">
                                    @Html.Partial("_DeleteMunicipio", new ERP_GMEDINA.Models.tbMunicipio())
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Eliminar" onclick="" />
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cancelar" />
            </div>
        </div>
    </div>
</div>


