@model Inspinia_MVC5_SeedProject.Models.tbDepartamento

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear Nuevo</h2>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar al Listado", "Index", null, new { @class = ""})
        </div>
    </div>
</div>



@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create tbDepartamento</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.dep_Codigo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_Codigo)
                @Html.ValidationMessageFor(model => model.dep_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_Nombre)
                @Html.ValidationMessageFor(model => model.dep_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.dep_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_FechaCrea)
                @Html.ValidationMessageFor(model => model.dep_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.dep_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_FechaModifica)
                @Html.ValidationMessageFor(model => model.dep_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Departamento</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                              <label class="control-label col-md-2">Codigo</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line ">
                                </div>
                            </div>

                            <div class="form-group">
                               <label class = "control-label col-md-2" >Nombre</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
