@model ERP_ZORZAL.Models.tbDepartamento

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Departamento</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Departamento</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dep_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_UsuarioCrea)
        </dt>

        <dd>
            Anthony Fugon
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_FechaModifica)
        </dd>

    </dl>
                    

	    @Html.ActionLink("Editar", "Edit", new { id = 5 }, new { @class = "btn btn-primary"})
        @Html.ActionLink("Regresar", "Index")
                    <div class="form-group">
                        @*<div class="col-md-offset-2 col-md-10">*@
                        @Html.Partial("_IndexMunicipio", Model.tbMunicipio)
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>












