@model ERP_GMEDINA.Models.tbDepartamento

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Departamento</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Departamento</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.dep_Codigo, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.dep_Codigo, new { @class = "form-control", @readonly = "readonly"  } )
                                    @Html.ValidationMessageFor(model => model.dep_Codigo )
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dep_Nombre, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.dep_Nombre, new { @class = "textbox single-line", })
                                    @Html.ValidationMessageFor(model => model.dep_Nombre)
                                </div>
                            </div>
                        </div>


                    }

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Municipios</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        @Html.Partial("_IndexMunicipio_Botones", Model.tbMunicipio)
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="button" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Acción
                        </th>
                        <th>
                           Usuario
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Creado por
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.dep_FechaCrea)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modificado por
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.dep_FechaModifica)
                        </td>

                    </tr>

                </table>
            </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
