@model ERP_ZORZAL.Models.tbCuentasBanco

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cuentas Banco</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Banco")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Cuenta Banco</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mnda_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_TipoCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_TipoCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_TotalCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_TotalCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_TotalDebito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_TotalDebito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_FechaApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_FechaApertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_Numero)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.bcta_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_UsuarioCrea)
        </dd>*@
                        <dt>
                            Usuario Creación
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_FechaCrea)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.bcta_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_UsuarioModifica)
        </dd>*@

                        <dt>
                            Usuario Modificación
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bcta_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bcta_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbBanco.ban_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBanco.ban_Nombre)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.bcta_Id }, new { @class = "btn btn-primary"})
    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@

                </div>
            </div>
        </div>
    </div>
 </div>













