@model IEnumerable<ERP_GMEDINA.Models.tbCuentasBanco>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cuentas Bancarias</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Cuentas Bancarias</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Registrar Cuenta Bancaria", "Create", null, new { @class = "btn btn-primary"})
					</div>
                </div>
                <div class="ibox-content">

                    <table class="table table table-striped  table-bordered"  id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbBanco.ban_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bcta_Numero)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mnda_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bcta_TipoCuenta)
                                </th>   
                                <th>
                                    @Html.DisplayNameFor(model => model.bcta_FechaApertura)
                                </th>
                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbBanco.ban_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bcta_Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbMoneda.mnda_Abreviatura)
                                    </td>

                                    @if (item.bcta_TipoCuenta == 1)
                                    {
                                        <td>Ahorro</td>
                                    }
                                    else
                                    {
                                        <td>Cheques</td>
                                    }
                                        <td>
                                        @Html.DisplayFor(modelItem => item.bcta_FechaApertura, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @id = "fechaapertura" } })
                                    </td>
                                    
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.bcta_Id }, new { @class = "btn btn-primary btn-xs" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.bcta_Id }, new { @class = "btn btn-white btn-xs" })
                                       
                                    </td>
                                </tr>

                            }
                        </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
