@model ERP_ZORZAL.Models.tbEstadoMovimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Estado Movimiento</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Estado Movimiento</h5>
                </div>
                <div class="ibox-content">

				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estm_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estm_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estm_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estm_Descripcion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.estm_UsuarioCrea)
        </dt>

        <dd>
            Luis Ochoa
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estm_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estm_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estm_UsuarioModifica)
        </dt>

        <dd>
            Luis Ochoa
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estm_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estm_FechaModifica)
        </dd>*@

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.estm_Id }, new { @class = "btn btn-primary" })
    

                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th> @*@Html.DisplayNameFor(model => model.tsal_Descripcion)*@Acción </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_UsuarioCrea)*@Creado
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_FechaCrea)*@Fecha
                            </th>@*<th>
                    @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)</th><th>
                    @Html.DisplayNameFor(model => model.tsal_FechaModifica) </th>*@
                            @*<th></th>*@
                        </tr>
                        @*@foreach (var item in Model) { }*@
                        <tr>
                            <td> @*@Html.DisplayFor(modelItem => item.tsal_Descripcion)*@Creado por  </td>
                            <td>
                                @*@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)*@
                                Brayan
                            </td>
                            <td>@Html.DisplayFor(model => model.estm_FechaCrea)</td>
                            @*<td>@Html.DisplayFor(modelItem => item.tsal_FechaModifica)</td>
                    <td>@Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})                         @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})                         @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})                     </td>*@
                        </tr>
                        <tr>
                            <td>

                                @*@Html.DisplayFor(modelItem => item.tsal_UsuarioCrea)*@Modificado por
                            </td>
                            <td>@*@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)*@ 
                            Brayan</td>
                            <td> @Html.DisplayFor(model => model.estm_FechaModifica)</td>
                            @*<td> @Html.DisplayFor(modelItem => item.tsal_FechaModifica)</td>
                            *@
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>













