@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbEstadoMovimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Estado Movimiento</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Estado Movimiento</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear nuevo Estado", "CrearPrueba", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

@*<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estm_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estm_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estm_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estm_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estm_FechaModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estm_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estm_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estm_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estm_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estm_FechaModifica)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.estm_Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.estm_Id }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.estm_Id }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>*@
                    <table class="table table-striped" id="datatables">
                        <thead>
                            <tr>
                                <th>
                                   Estado del Movimiento
                                </th>
                                <th>
                                    Usuario Crea
                                </th>
                                <th>
                                    Fecha Crea
                                </th>
                                <th>
                                    Usuario Modifica
                                </th>
                                <th>
                                    Fecha Modifica
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>
                                        Activo
                                    </td>
                                    <td>
                                        Test_2018
                                    </td>
                                    <td>
                                        27/11/2018
                                    </td>
                                    <td>
                                        KB2018
                                    </td>
                                    <td>
                                        28/11/2018
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalle", "DetallePrueba", new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
    $('#datatables').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}

