@model ERP_ZORZAL.Models.tbEntradaDetalle



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingresar Detalle Entrada</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ent_Id, "Código Entrada", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ent_Id",(IEnumerable<SelectListItem>)ViewBag.ent_Id,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ent_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo, "Código Producto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_Codigo", (IEnumerable<SelectListItem>)ViewBag.prod_Codigo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.entd_Cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entd_Cantidad)
                @Html.ValidationMessageFor(model => model.entd_Cantidad)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>*@
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
