@model ERP_GMEDINA.Models.tbEntradaDetalle
@using ERP_GMEDINA.Models


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>Ingresar Detalle Entrada</h5>
                </div>
                <div class="ibox-content">*@
                    <div class="form-horizontal">
                       
                        <div class="form-group">
                        <label class = "control-label col-md-2">Código Barra<span style="color:red">*</span></label>
                            <div class="col-md-4">
                                <input type="text" id="prod_CodigoBarras" placeholder="" class="form-control" name="prod_CodigoBarras" />
                                <div id="validationcodigoproducto">
                                    @Html.ValidationMessageFor(model => model.prod_Codigo)
                                </div>
                            </div>
                            <div class="col-md-0">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarProducto"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.prod_Codigo, "Código Producto", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="text" id="prod_Codigo" placeholder="" class="form-control" readonly />
                                @*<div id="validationcodigoproducto">
                                    @Html.ValidationMessageFor(model => model.prod_Codigo)
                                </div>*@
                            </div>
                            @Html.LabelFor(model => model.tbProducto.prod_Descripcion, "Descripcion", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="text" id="prod_Descripcion" placeholder="" class="form-control" readonly />
                                @Html.ValidationMessageFor(model => model.tbProducto.prod_Descripcion)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tbProducto.pscat_Id, "Subcategoria", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="text" id="pscat_Id" placeholder="" class="form-control" readonly />
                                @Html.ValidationMessageFor(model => model.tbProducto.pscat_Id)
                            </div>
                            @Html.LabelFor(model => model.tbProducto.uni_Id, "Unidad Medida", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="text" id="uni_Id" placeholder="" class="form-control" readonly />
                                @Html.ValidationMessageFor(model => model.tbProducto.uni_Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Cantidad<span style="color:red">*</span></label>
                            @*@Html.LabelFor(model => model.entd_Cantidad,"Cantidad", new { @class = "control-label col-md-2 , required" })*@
                            <div class="col-md-4">
                                <input type="text" id="entd_Cantidad" placeholder="" class="form-control" name="entd_Cantidad" />
                                @*@Html.EditorFor(model => model.entd_Cantidad)*@
                                <div id="validationcantidad">
                                    @Html.ValidationMessageFor(model => model.entd_Cantidad)
                                </div>
                            </div>
                           
                            <div class="form-group col-md-1">
                                <button class="btn btn-primary btn-sm" type="button" id="AgregarDetalleEntrada">Agregar</button>
                            </div>
                        </div>

                        <table id="tbentrada" class="table table-striped table-responsive table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.tbProducto.prod_Codigo)</th>
                                    <th>@Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.tbProducto.prod_CodigoBarras)</th>
                                    <th>Cantidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                @*</div>*@
             </div>
        </div>
   </div>
</div>
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@*PARA AGREGAR NUEVO PRODUCTO*@


<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Buscar Productos</h4>
                @Html.Partial("_BuscarProducto", (List<SDP_Inv_tbProducto_Select_Result>)ViewBag.Producto)
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}