@model ERP_GMEDINA.Models.tbEntrada
    <style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
@using (Ajax.BeginForm("ExportReportGeneral", "Entrada", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "GenerarReporte" }))
{
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.estm_Id, "Estado", new { @class = "control-label col-md-5 , required" })
                <div class="col-md-5">
                    @Html.DropDownList("estm_Id", (IEnumerable<SelectListItem>)ViewBag.estm_Id, "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.bod_Id, new { @class = "control-label col-md-5 , required" })
                <div class="col-md-5">
                    @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, "Seleccionar", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bod_Id)
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.tent_Id, "Tipo de Entarda", new { @class = "control-label col-md-5 , required" })
                <div class="col-md-5">
                    @Html.DropDownList("tent_Id", (IEnumerable<SelectListItem>)ViewBag.tent_Id, "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ent_FechaElaboracion, new { @class = "control-label col-md-5 , required" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ent_FechaElaboracion, new { @class = "form-control", @id = "FechaElaboracionImprimir" })
                    @Html.ValidationMessageFor(model => model.ent_FechaElaboracion)
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" id="btnIMPRIMIR">Generar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script>
    $('FechaElaboracionImprimir').datepicker({
        dateFormat: 'yy-mm-dd',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá']
    }).datepicker("setDate", new Date());

</script>*@
