@model IEnumerable<ERP_GMEDINA.Models.tbEntradaDetalle>
@using ERP_GMEDINA.Models

@{ 
    tbEntradaDetalle Detalles = new tbEntradaDetalle();
   
 }

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Entrada Detalle</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#RegistrarNuevoDetalle">Registrar Detalle</button>
                        @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})*@
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped" id="tbEntradaDetalle">
                        <thead>
                            <tr>
                                <th>
                                    Código Producto
                                </th>
                                <th>
                                    Nombre Producto
                                </th>
                                <th>
                                    Unidad Medidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prod_Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.tbUnidadMedida.uni_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.entd_Cantidad)
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalDetalle_@item.ent_Id">Detalles</button>
                                        <button type="button" class="btn btn-white btn-xs" id="Editarmodal" onclick='EditStudentRecord(@item.entd_Id)'>
                                            Editar
                                        </button>
                                        @*@Html.ActionLink("Editar", "_CrearDetalleEntrada", new { id = item.ent_Id }, new { @class = "btn btn-primary btn-xs" })*@
                                    </td>
                                </tr>
                                
                                @*Modal Detalles*@
                                <div>
                                    <div class="modal fade" id="ModalDetalle_@item.ent_Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">Detalle Detalle Entrada</h4>
                                                </div>

                                                <div class="form-group">
                                                    <div class="modal-body" id="frmAgregarCasoExito">
                                                        @Html.Partial("_DetallesDeEntrada", new ERP_GMEDINA.Models.tbEntradaDetalle() { entd_UsuarioCrea = item.entd_UsuarioCrea,entd_FechaCrea=item.entd_FechaCrea,entd_UsuarioModifica=item.entd_UsuarioModifica,entd_FechaModifica=item.entd_FechaModifica,ent_Id=item.ent_Id, prod_Codigo = item.prod_Codigo, entd_Cantidad = item.entd_Cantidad, })
                                                        <div class="col-md-12 text-center">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@*Modal Editar*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar Sub Categoría</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-horizontal">

                            <input type="hidden" id="ent_Id_Edit" name="ent_Id" />
                            <input type="hidden" id="entd_UsuarioCrea_Edit" name="entd_UsuarioCrea" />

                            <input type="hidden" id="entd_FechaCrea_Edit" name="entd_FechaCrea_Edit" />

                            <div class="form-group">
                                @Html.LabelFor(m => Detalles.entd_Id, "Numero Detalle", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <input type="text" id="entd_Id" name="entd_Id" class="form-control" readonly />
                                    @*@Html.EditorFor(model => Detalles.ent_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                                    @Html.ValidationMessageFor(model => Detalles.entd_Id)
                                </div>
                                @*@Html.LabelFor(model => model.tbProducto.prod_Descripcion, "Descripcion", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" id="prod_Descripcion" placeholder="" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.tbProducto.prod_Descripcion)
            </div>*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => Detalles.prod_Codigo, "Código Producto", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <input type="text" id="coProductoEdit" name="prod_Codigo" class="form-control" readonly />
                                    @*@Html.EditorFor(model => Detalles.prod_Codigo, new { htmlAttributes = new { @class = "form-control", @id = "coProductoEdit" } })*@
                                    @Html.ValidationMessageFor(model => Detalles.prod_Codigo)
                                </div>
                                @*<div class="col-md-4">
                <label class="control-label col-md-2">Código Barra</label>
                <input type="text" id="prod_CodigoBarras" placeholder="" class="form-control"readonly />
                <div id="validationcodigoproducto">
                    @Html.ValidationMessageFor(model => model.prod_Codigo)
                </div>
            </div>*@
                            </div>
                            @*@Html.Partial("_BuscarProducto", (List<tbProducto>)ViewBag.Producto)*@
                            <div class="form-group">
                                @Html.LabelFor(model => Detalles.entd_Cantidad, "Cantidad", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <input type="text" id="cantidadEdit" name="entd_Cantidad" class="form-control" />
                                    @*@Html.EditorFor(model => Detalles.entd_Cantidad, new { htmlAttributes = new { @class = "form-control", @id = "cantidadEdit" } })*@
                                    @Html.ValidationMessageFor(model => Detalles.entd_Cantidad)
                                </div>
                                @*@Html.LabelFor(model => model.tbProducto.uni_Id, "Unidad Medida", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" id="uni_Id" placeholder="" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.tbProducto.uni_Id
            </div>*@
                            </div>
                            @*<div class="form-group">
            @Html.Partial("_ProductoEntradaEditarModal", new ERP_GMEDINA.Models.tbEntradaDetalle())
        </div>*@
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label id="MsjError" class="text-danger"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <hr />
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary" type="button" id="Btnsubmit" tabindex="10"> Guardar </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tbEntradaDetalle').DataTable(
        {
            "searching": true,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
</script>