@model IEnumerable<ERP_GMEDINA.Models.tbEntradaDetalle>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Entrada Detalle</h5>
					<div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarProducto"><span class="glyphicon glyphicon-search"></span></button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregar">Nuevo</button>
					</div>
                </div>
                <div class="ibox-content">

                    <table class="table table-responsive" style="width:100%" id="tbEntradaDetalle">
                        <thead>
                            <tr>
                                <th>
                                    Código Producto
                                </th>
                                <th>
                                    Nombre Producto
                                </th>
                                <th>
                                    Unidad Medida
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.tbUnidadMedida.uni_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.entd_Cantidad)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalEditar">Editar</button>
                                    <button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#ModalDetalle">Detalles</button>
                                </td>
                            </tr>
                            }

                        </tbody>
</table>

                </div>
            </div>
           
        </div>
    </div>
 </div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tbEntradaDetalle').DataTable(
        {
            

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
</script>

 @*Modal Nuevo*@ 
<div>
    <div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Detalle Entrada</h4>
                </div>
                <div class="modal-body" id="frmAgregarCasoExito">
                    @Html.Partial("_CrearDetalleEntrada", new ERP_GMEDINA.Models.tbEntradaDetalle(){entd_Id =5 })
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <a href="@Url.Action("Edit","Entrada")" class="btn btn-primary">Guardar</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Editar*@
<div>
    <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Editar Detalle Entrada</h4>
                </div>
                <div class="modal-body" id="frmAgregarCasoExito">
                    @Html.Partial("_EditarDetalleEntrada", new ERP_GMEDINA.Models.tbEntradaDetalle() { entd_Id = 5 })
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" value="Anular" />
                            <a href="@Url.Action("Edit","Entrada")" class="btn btn-primary">Guardar</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Detalles*@
<div>
    <div class="modal fade" id="ModalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Detalle Detalle Entrada</h4>
                </div>
                <div class="modal-body" id="frmAgregarCasoExito">
                    @Html.Partial("_DetalleDeEntrada", new ERP_GMEDINA.Models.tbEntradaDetalle() { entd_Id = 5 })
                    <div class="form-group">
                        @*<div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="button" id="GuardarCasos">Guardar</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cancelar</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal para anular*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de anular el detalle de esta Entrada?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","Entrada")" class="btn btn-primary">Si</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*PARA AGREGAR NUEVO PRODUCTO*@
<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
            </div>
            <div class="modal-body" id="frmEditarMunicipios">
                @*@Html.Partial("_BuscarProducto", (List<tbProducto>)ViewBag.Producto)*@
            </div>
        </div>
    </div>
</div>