@model ERP_GMEDINA.Models.tbEntrada
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entradas</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index", "Entrada")">Regresar</a>
        </div>
    </div>
</div>

@using (Html.BeginForm("Create", "Entrada", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingresar Entrada</h5>
                </div>
                <div data-print-content>
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <fieldset class="box-border">
                                <legend class="box-border">Datos Generales</legend>
                                <div class="form-group">

                                    @Html.LabelFor(model => model.bod_Id, "Bodega", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, "Seleccione", new { @class = "form-control" })

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.bod_Id)</p>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.ent_NumeroFormato, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <input type="hidden" id="hdf_Formato_Placa" value="0" />
                                        @Html.EditorFor(model => model.ent_NumeroFormato, new { htmlAttributes = new { @onKeyUp = "verificaFormatoPlaca(this.value)" } })
                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_NumeroFormato)</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ent_FechaElaboracion, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ent_FechaElaboracion, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "FechaElaboracion" } })
                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_FechaElaboracion)</p>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.prov_Id, "Nombre Proveedor", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("prov_Id", (IEnumerable<SelectListItem>)ViewBag.prov_Id, "Seleccione", new { @class = "form-control" })

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.prov_Id)</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.tent_Id, "Tipo Entrada", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("tent_Id", (IEnumerable<SelectListItem>)ViewBag.tent_Id, "Seleccione", new { @class = "form-control" })

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.tent_Id)</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-horizontal" name="compra" id="compra" style="display:none">
                            <fieldset class="box-border">
                                <legend class="box-border">Compra</legend>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_Id)

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.fact_Id)</p>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.ent_FacturaCompra, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ent_FacturaCompra)

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_FacturaCompra)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ent_FechaCompra, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ent_FechaCompra, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "FechaCompra" } })

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_FechaCompra)</p>
                                        </div>
                                    </div>

                                    @*@Html.LabelFor(model => model.tbProveedor.prov_Nombre, "Proveedor", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("prov_Id", (IEnumerable<SelectListItem>)ViewBag.prov_Id, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.prov_Id)
                                </div>*@
                                </div>

                            </fieldset>
                        </div>

                        <div class="form-horizontal" id="traslado" style="display:none">
                            <fieldset class="box-border">
                                <legend class="box-border">Traslado</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ent_BodegaDestino, "Bodega Destino", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("ent_BodegaDestino", (IEnumerable<SelectListItem>)ViewBag.bod_Id, new { @class = "form-control" })

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_BodegaDestino)</p>
                                        </div>
                                    </div>
                                    @*@Html.LabelFor(model => model.tbBodega.bod_Nombre, "Bodega Responsable", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("bod_Nombre", (IEnumerable<SelectListItem>)ViewBag.bod_Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.tbBodega.bod_Nombre)
                                </div>*@

                                </div>
                            </fieldset>
                        </div>

                        <div class="form-horizontal" id="Devolucion" style="display:none">
                            <fieldset class="box-border">
                                <legend class="box-border">Devolucion</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ent_RazonDevolucion, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ent_RazonDevolucion)

                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.ent_RazonDevolucion)</p>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_Id)
                                        <div class="col-md-10">
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.fact_Id)</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>


                        @* Llama la vista de detalle *@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <div class="title-action">
                                            <div class="box-border">
                                                <h5>Detalle Entrada</h5>
                                                <button type="button" class="btn btn-white glyphicon glyphicon-download" data-toggle="collapse" data-target="#Crear"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content collapse" id="Crear">
                                        @*@Html.Partial("_CreateInstructorCasosExitos", new InstructorCasosExitos())*@
                                        @Html.Partial("_CrearDetalleEntrada", new tbEntradaDetalle())
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*botones*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <button id="btnImprimir" onclick="btnImprimir" class="btn btn-primary" type="button" data-print>Imprimir</button>

                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                @*<input type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modalanular" value="Anular" />*@
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
}
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/MostrarCamposEntradajs.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/EntradaDetalle.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
jQuery('input,select').each(function() {
    var req = jQuery(this).attr('data-val-required');
     var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
     var text = label.text();
     if (text.length > 0) {
      label.append('<span style="color:red"> *</span>');
    }
});
</script>
<script>


    //para el texbos codigo formato
    function validBoard(board, formato) {
        var sizeBoard = 8;

        if (board.length > sizeBoard) {
            board = board.substr(0, sizeBoard);
        } else {
            //verifica se é fomato novo
            if (formato == 1) {
                for (i = 0; i < board.length; i++) {
                    //verifica se é a posição do -
                    if (i == 3) {
                        var digitado = board.substr(3, board.length)
                        board = board.substr(0, 3) + '-' + digitado;
                    }
                        //senao é alfanumérico
                    else if (validaAlfanumerico(board.charAt(i)) == false) {
                        board = board.substr(0, i) + board.substr(i + 1, board.length - 1);
                    }
                }
            }
                //senao é formato antigo
            else {
                for (i = 0; i < board.length; i++) {
                    //verifica se é a posição do -
                    if (i == 3 && board.charAt(3) != '-') {
                        var digitado = board.substr(3, board.length);
                        if (validaNumero(board.charAt(i)) == false) {
                            board = board.substr(0, 3) + '-';
                        } else {
                            board = board.substr(0, 3) + '-' + digitado;
                        }
                    }
                        //senao é letras e numeros
                    else {
                        if (i < 3) {
                            if (validaLetra(board.charAt(i)) == false) {
                                board = board.substr(0, i);
                            }
                        }
                        else if (i > 3 && validaNumero(board.charAt(i)) == false) {
                            //alert('entrou aqui');
                            board = board.substr(0, i) + board.substr(i + 1, board.length - 1);
                        }
                    }
                }
            }
        }

        //var regex = /^(?=(?:.*[0-9]){3})(?=(?:.*[A-Z]){4})[A-Z0-9]{7}$/;
        //var result = regex.test(board);
        document.getElementById('ent_NumeroFormato').value = board.toUpperCase();
    }

    function validaAlfanumerico(char) {
        return /^[a-zA-Z0-9]*$/.test(char);
    }

    function validaLetra(char) {
        return /^[a-zA-Z]*$/.test(char);
    }

    function validaNumero(char) {
        return /^[0-9]*$/.test(char);
    }

    function verificaFormatoPlaca(board) {
        //alert(document.getElementById('ctl00$cph_Form$hdf_Formato_Placa').value);
        var formato = document.getElementById('hdf_Formato_Placa').value;
        validBoard(board, formato);
    }
</script>
