@model ERP_ZORZAL.Models.tbEntrada
@using ERP_ZORZAL.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entradas</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Entrada")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingresar Entrada</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ent_NumeroFormato, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_NumeroFormato)
                @Html.ValidationMessageFor(model => model.ent_NumeroFormato)
            </div>
        
            @Html.LabelFor(model => model.ent_FechaElaboracion, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_FechaElaboracion)
                @Html.ValidationMessageFor(model => model.ent_FechaElaboracion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bod_Id, "Nombre Bodega", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bod_Id)
            </div>
        
            @Html.LabelFor(model => model.estm_Id, "Estado", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("estm_Id", (IEnumerable<SelectListItem>)ViewBag.estm_Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estm_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prov_Id, "Nombre Proveedor", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("prov_Id", (IEnumerable<SelectListItem>)ViewBag.prov_Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prov_Id)
            </div>
        
            @Html.LabelFor(model => model.ent_FacturaCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_FacturaCompra)
                @Html.ValidationMessageFor(model => model.ent_FacturaCompra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ent_FechaCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_FechaCompra)
                @Html.ValidationMessageFor(model => model.ent_FechaCompra)
            </div>
        
            @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.fact_Id)
                @Html.ValidationMessageFor(model => model.fact_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ent_RazonDevolucion, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_RazonDevolucion)
                @Html.ValidationMessageFor(model => model.ent_RazonDevolucion)
            </div>
        
            @Html.LabelFor(model => model.ent_BodegaDestino, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ent_BodegaDestino)
                @Html.ValidationMessageFor(model => model.ent_BodegaDestino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tent_Id, "Tipo Entrada", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("tent_Id", (IEnumerable<SelectListItem>)ViewBag.tent_Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tent_Id)
            </div>
        </div>

        
        @* Llama la vista  *@
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="title-action">
                            <h5>Detalle Entrada</h5>
                        </div>
                    </div>
                    <div class="ibox-content" id="Crear">
                        @*@Html.Partial("_CreateInstructorCasosExitos", new InstructorCasosExitos())*@
                        @Html.Partial("_CrearDetalleEntrada", new tbEntradaDetalle())
                    </div>
                </div>
            </div>
        </div>
        @* Llama la vista  *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
