@model ERP_GMEDINA.Models.tbEntrada

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entradas</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Entrada")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>

</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Entrada</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ent_NumeroFormato)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_NumeroFormato)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ent_FechaElaboracion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_FechaElaboracion)
                        </dd>
                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbProveedor.prov_Nombre)*@
                            Nombre Proveedor
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbProveedor.prov_Nombre)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbTipoEntrada.tent_Descripcion)*@
                            Tipo Entrada
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbTipoEntrada.tent_Descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ent_FacturaCompra)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_FacturaCompra)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ent_FechaCompra)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_FechaCompra)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fact_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fact_Id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ent_RazonDevolucion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_RazonDevolucion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ent_BodegaDestino)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ent_BodegaDestino)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbBodega.bod_ResponsableBodega)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)
                        </dd>


                    </dl>


                    <div class="form-group">
                        @*<div class="col-md-offset-2 col-md-10">*@
                        @Html.Partial("_IndexDetalle", Model.tbEntradaDetalle)
                        @*</div>*@
                    </div>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ent_Id }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@
                </div>

                <table class="table table-striped" style="width:100%" id="">
                    <tr>
                        <th>Acciones</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCrea</td>
                        <td>@Html.DisplayFor(model => model.ent_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModfica </td>
                        <td>@Html.DisplayFor(model => model.ent_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>













