@model ERP_ZORZAL.Models.tbEntrada

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbEntrada</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ent_NumeroFormato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_NumeroFormato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_FechaElaboracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_FechaElaboracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_FacturaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_FacturaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_RazonDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_RazonDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_BodegaDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_BodegaDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ent_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ent_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBodega.bod_ResponsableBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbProveedor.prov_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProveedor.prov_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbTipoEntrada.tent_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoEntrada.tent_Descripcion)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.ent_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













