@model ERP_GMEDINA.Models.tbEntrada
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ent_Id)
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entradas</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Edit</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Entrada")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Entrada</h5>
                </div>
                <div class="ibox-content">



                    <div class="form-horizontal">


                        <div class="form-horizontal">
                            <div class="form-group">

                                @Html.LabelFor(model => model.ent_Id,"Codigó Entrada", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ent_Id)
                                </div>
                                @Html.LabelFor(model => model.bod_Id, "Encargado Bodega", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.bod_Id)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ent_NumeroFormato, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_NumeroFormato, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ent_NumeroFormato)
                                </div>

                                @Html.LabelFor(model => model.ent_FechaElaboracion, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_FechaElaboracion, new { htmlAttributes = new { @class = "form-control", @id = "FechaElaboracion" } })
                                    @Html.ValidationMessageFor(model => model.ent_FechaElaboracion)
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.tent_Id, "Tipo Entrada", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("tent_Id", (IEnumerable<SelectListItem>)ViewBag.tent_Id, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.tent_Id)
                                </div>
                                @Html.LabelFor(model => model.estm_Id, "Estado", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("estm_Id", (IEnumerable<SelectListItem>)ViewBag.estm_Id, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.estm_Id)
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" name="compra" id="CamposCompra" style="display:none">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ent_FacturaCompra, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_FacturaCompra, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ent_FacturaCompra)
                                </div>

                                @Html.LabelFor(model => model.ent_FechaCompra, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_FechaCompra, new { htmlAttributes = new { @class = "form-control", @id = "FechaCompra" } })
                                    @Html.ValidationMessageFor(model => model.ent_FechaCompra)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.fact_Id)
                                </div>

                                @Html.LabelFor(model => model.tbProveedor.prov_Nombre, "Proveedor", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("prov_Id", (IEnumerable<SelectListItem>)ViewBag.prov_Id, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.prov_Id)
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" name="compra" id="CamposDevoluciones" style="display:none">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ent_RazonDevolucion, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ent_RazonDevolucion)
                                    @Html.ValidationMessageFor(model => model.ent_RazonDevolucion)
                                </div>
                                @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.fact_Id)
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" name="compra" id="CamposTraslado" style="display:none">
                            <div class="form-group">
                                @Html.LabelFor(model => model.bod_Id, "Bodega Destino", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.bod_Id)
                                </div>
                            </div>
                        </div>
                        @*Botoness*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                <input type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModal" value="Anular" />
                            </div>
                        </div>
                        @*llama la vista pasrcial de entrada detalle*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <div class="title-action">
                                            <div class="box-border">
                                                <h5> Listado Entrada Detalle</h5>
                                                <button type="button" class="btn btn-white glyphicon glyphicon-download" data-toggle="collapse" data-target="#Crear"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content collapse" id="Crear">
                                        @*@Html.Partial("_CreateInstructorCasosExitos", new InstructorCasosExitos())*@
                                        @Html.Partial("_IndexEditar", Model.tbEntradaDetalle)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <br />
                        @*datos de auditoriaa*@
                        <div class="ibox-content">
                            <fieldset class="box-border">
                                <legend class="box-border">Datos Auditoria</legend>
                                <table class="table table-striped" style="width:100%" id="">
                                    <tr>
                                        <th>Acciones</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                    </tr>
                                    <tr>
                                        <td>Creado</td>
                                        <td>@ViewBag.UsuarioCrea</td>
                                        <td>@Html.DisplayFor(model => model.ent_FechaCrea)</td>
                                    </tr>
                                    <tr>
                                        <td>Modificado</td>
                                        <td>@ViewBag.UsuarioModfica</td>
                                        <td>@Html.DisplayFor(model => model.ent_FechaModifica)</td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@**********************************************************************************MODALES*****************************************************************************@
@*modal para anular*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de anular esta Entrada?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","Entrada")" class="btn btn-primary">Si</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/MostrarCamposEditar.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>

