@model ERP_GMEDINA.Models.tbCuponDescuento

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cupón Descuento</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Cupón Descuento</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cdto_ID)
        @*Auditoria*@
        @Html.HiddenFor(model => model.cdto_UsuarioCrea)
        @Html.HiddenFor(model => model.cdto_FechaCrea)
        @Html.HiddenFor(model => model.cdto_UsuarioModifica)
        @Html.HiddenFor(model => model.cdto_FechaModifica)
        @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
        @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Id, "Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="suc_Id" name="suc_Id" class="form-control" readonly>
                    <option value="1">San Pedro Sula</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.cdto_ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cdto_PorcentajeDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_PorcentajeDescuento, new { htmlAttributes =new { @type="number"} })
                @Html.ValidationMessageFor(model => model.cdto_PorcentajeDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_MontoDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_MontoDescuento, new { htmlAttributes = new { @type = "number" } })
                @Html.ValidationMessageFor(model => model.cdto_MontoDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_MaximoMontoDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_MaximoMontoDescuento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type="number"} })
                @Html.ValidationMessageFor(model => model.cdto_MaximoMontoDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_Anulado, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="cdto_Anulado" class="form-control">
                    <option>Seleccionar</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
                @*@Html.EditorFor(model => model.cdto_Anulado)*@
                @Html.ValidationMessageFor(model => model.cdto_Anulado)
            </div>
            @*<div class="col-md-4">
                @Html.EditorFor(model => model.cdto_Anulado)
                @Html.ValidationMessageFor(model => model.cdto_Anulado)
            </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_Redimido, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_Redimido, new { htmlAttributes = new { @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_Redimido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_FechaEmision, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_FechaEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_FechaVencimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaRedencion, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_FechaRedencion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_FechaRedencion)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.cdto_UsuarioCrea, "cdto_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("cdto_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.cdto_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cdto_FechaCrea)
                @Html.ValidationMessageFor(model => model.cdto_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_UsuarioModifica, "cdto_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cdto_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.cdto_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cdto_FechaModifica)
                @Html.ValidationMessageFor(model => model.cdto_FechaModifica)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>
}


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                    </td>
                    <td>@Html.DisplayFor(model => model.cdto_FechaCrea)</td>
                </tr>
                <tr>
                    <td>Modificado</td>
                    <td>
                        @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                    @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                </td>
                <td>@Html.DisplayFor(model => model.cdto_FechaModifica)</td>
            </tr>
        </table>
        </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $('#cdto_PorcentajeDescuento').click(function () {
        $('#cdto_MontoDescuento').val('')
        $('#cdto_MaximoMontoDescuento').val('1000.00')
    });
</script>

<script type="text/javascript">
    $('#cdto_MontoDescuento').click(function () {
        $('#cdto_PorcentajeDescuento').val('0')
        $('#cdto_MaximoMontoDescuento').val('0.00')
    });
</script>
<script>
    //$(document).ready(function () {
        $('#cdto_PorcentajeDescuento').change(function () {
            //if (e.keyCode == 13) {
                var descuento = $('#cdto_PorcentajeDescuento').val();
                var valormax = $('#cdto_MaximoMontoDescuento').val();
                var resultado = valormax -(((descuento) / 100) * valormax);

                $('#cdto_MontoDescuento').val(resultado);
            //}
        });
    //});
</script>
}
