@model ERP_ZORZAL.Models.tbCuponDescuento

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cupón Descuento</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Cupón Descuento</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cdto_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Id, "Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" value="San Pedro Sula" readonly class="form-control" />
                @*@Html.DropDownList("suc_Id", String.Empty)*@
                @Html.ValidationMessageFor(model => model.suc_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Id, "Código Cupón Descuento", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" value="2" readonly class="form-control" />
                @*@Html.DropDownList("suc_Id", String.Empty)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_PorcentajeDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_PorcentajeDescuento)
                @Html.ValidationMessageFor(model => model.cdto_PorcentajeDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_MontoDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_MontoDescuento)
                @Html.ValidationMessageFor(model => model.cdto_MontoDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_MaximoMontoDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_MaximoMontoDescuento)
                @Html.ValidationMessageFor(model => model.cdto_MaximoMontoDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_Anulado, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="cdto_Anulado" class="form-control">
                    <option>Seleccionar</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
                @*@Html.EditorFor(model => model.cdto_Anulado)*@
                @Html.ValidationMessageFor(model => model.cdto_Anulado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_Redimido, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_Redimido)
                @Html.ValidationMessageFor(model => model.cdto_Redimido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_FechaEmision, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_FechaEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cdto_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cdto_FechaVencimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.cdto_FechaVencimiento)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>
}


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.cdto_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.cdto_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>
