@model Inspinia_MVC5_SeedProject.Models.tbTiposEntrada

@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Ingresar nuevo registro.</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Ingresar nuevo registro.</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar a lista", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingresar Tipos de entrada.</h5>
                </div>
                <div class="ibox-content">
    
    <div class="form-horizontal">

        <div class="form-group">
            <label class = "control-label col-md-2">Descripcion</label>
            @*@Html.Label("Descripcion", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input class="form-control" value="" />
                @*@Html.Editorfor(model => model.tpde_Descripcion)
                @Html.ValidationMessageFor(model => model.tpde_Descripcion)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Aceptar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>


                </div>
            </div>
        </div>
    </div>
 </div>

 

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
