@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbPedidoDetalle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Detalles de Pedido</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista Pedido Detalle</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ped_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ped_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_CantidadEntregada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdet_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ped_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ped_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_CantidadEntregada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdet_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
        </td>
        <td>
			@*@Html.ActionLink("Details", "Details", new { id=item.pdet_Id }, new { @class = "btn btn-primary btn-sm"})*@
            @Html.ActionLink("Edit", "Edit", new { id=item.pdet_Id }, new { @class = "btn btn-white btn-sm"})
            @*@Html.ActionLink("Delete", "Delete", new { id=item.pdet_Id }, new { @class = "btn btn-white btn-sm"})*@
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



