@model ERP_ZORZAL.Models.tbSolicitudCredito

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbSolicitudCredito</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cred_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Id, "clte_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clte_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.clte_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.escre_Id, "escre_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("escre_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.escre_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaSolicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaSolicitud)
                @Html.ValidationMessageFor(model => model.cred_FechaSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaAprobacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaAprobacion)
                @Html.ValidationMessageFor(model => model.cred_FechaAprobacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_MontoSolicitado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_MontoSolicitado)
                @Html.ValidationMessageFor(model => model.cred_MontoSolicitado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_MontoAprobado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_MontoAprobado)
                @Html.ValidationMessageFor(model => model.cred_MontoAprobado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_DiasSolicitado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_DiasSolicitado)
                @Html.ValidationMessageFor(model => model.cred_DiasSolicitado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_DiasAprobado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_DiasAprobado)
                @Html.ValidationMessageFor(model => model.cred_DiasAprobado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.cred_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaCrea)
                @Html.ValidationMessageFor(model => model.cred_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_UsuarioModicacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_UsuarioModicacion)
                @Html.ValidationMessageFor(model => model.cred_UsuarioModicacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaModifica)
                @Html.ValidationMessageFor(model => model.cred_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
