@model IEnumerable<ERP_GMEDINA.Models.tbSolicitudCredito>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud Credito</h2>

    </div>
    <div class="title-action">
        <a href="@Url.Action("Index","SolicitudCredito")">Regresar</a>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Solicitud Credito</h5>

                </div>
                <div class="ibox-content">

                    <table id="DataTable1" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbCliente.clte_Nombres)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.tbCliente.clte_Identificacion)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.cred_MontoSolicitado)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.cred_DiasSolicitado)
                                </th>

                                
                                <th>
                                    @Html.DisplayNameFor(model => model.tbEstadoSolicitudCredito.escre_Descripcion)
                                </th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.escre_Id == 1)
                                     {
                                    <tr>

                                        @{ if (Convert.ToInt32(item.tbCliente.clte_EsPersonaNatural) == 1)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbCliente.clte_Nombres)
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbCliente.clte_NombreComercial)
                                                </td>
                                            }
                                        }

                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbCliente.clte_Identificacion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cred_FechaSolicitud)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.cred_MontoSolicitado)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.cred_DiasSolicitado)
                                        </td>


                                        <td class="danger">
                                            @Html.DisplayFor(modelItem => item.tbEstadoSolicitudCredito.escre_Descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Detalle", "Details", new { id = item.cred_Id }, new { @class = "btn btn-primary btn-xs" })
                                            @Html.ActionLink("Autorizar Crédito", "Edit", new { id = item.cred_Id }, new { @class = "btn btn-white btn-xs" })
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>