@model IEnumerable<ERP_GMEDINA.Models.tbSolicitudCredito>
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "SC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Crédito</h2>

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Solicitud de Crédito</h5>
					<div class="ibox-tools">
                        @Html.ActionLink("Solicitudes por autorizar", "IndexSolicitud", null, new { @class = "btn btn-primary btn-xs" })
						@Html.ActionLink("Registrar Solicitud Crédito", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table id="DataTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
            </th>
            <th>
                Identificación Cliente
                @*@Html.DisplayNameFor(model => model.tbCliente.clte_RTN_Identidad_Pasaporte)*@
            </th>
            <th>
                Nombre Cliente
                @*@Html.DisplayNameFor(model => model.tbCliente.clte_RTN_Identidad_Pasaporte)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cred_FechaAprobacion)
            </th>

          
            <th>
                @Html.DisplayNameFor(model => model.cred_MontoSolicitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cred_MontoAprobado)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.cred_DiasSolicitado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.cred_DiasAprobado)
            </th>

            <th>
                Estado 
                @*@Html.DisplayNameFor(model => model.tbEstadoSolicitudCredito.escre_Descripcion)*@
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cred_FechaSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbCliente.clte_Identificacion)
                </td>
                @{ if (Convert.ToInt32(item.tbCliente.clte_EsPersonaNatural) == 1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.tbCliente.clte_Nombres)
                            @Html.DisplayFor(modelItem => item.tbCliente.clte_Apellidos)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.tbCliente.clte_NombreComercial)
                        </td>
                    }
                }

                @*@{ if (Convert.ToString(item.cred_FechaAprobacion) == "")
                    {
                        <td>
                           nulo
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.cred_FechaAprobacion)
                        </td>
                    }
                }*@

               
                <td>
                    @Html.DisplayFor(modelItem => item.cred_FechaAprobacion)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.cred_MontoSolicitado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cred_MontoAprobado)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.cred_DiasSolicitado)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.cred_DiasAprobado)
                </td>
     
             
                <td>
                    @Html.DisplayFor(modelItem => item.tbEstadoSolicitudCredito.escre_Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.cred_Id }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.cred_Id }, new { @class = "btn btn-white btn-xs" })
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#AprobarSolicitud_@item.cred_Id">Aprobar</button>
                </td>
            </tr>
            <div>
                <div class="modal fade" id="AprobarSolicitud_@item.cred_Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Aprobar Solicitud de Crédito</h4>
                            </div>
                            <div class="modal-body" id="frmEditarMunicipios">
                                @*@Html.Partial("_ListAprobacion", (List<tbSolicitudCredito>)ViewBag.Aprobacion)*@
                                @Html.Partial("_AprobarSolicitudCredito", new ERP_GMEDINA.Models.tbSolicitudCredito()
                           { cred_Id = item.cred_Id,
                           escre_Id= item.escre_Id,
                               cred_DiasAprobado = item.cred_DiasAprobado,
                               cred_DiasSolicitado = item.cred_DiasSolicitado,
                               cred_MontoAprobado= item.cred_MontoAprobado,
                               cred_MontoSolicitado= item.cred_MontoSolicitado,
                               cred_FechaAprobacion= item.cred_FechaAprobacion,
                               cred_FechaModifica= item.cred_FechaModifica,
                               cred_UsuarioModifica= item.cred_UsuarioModifica
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    }
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
