@model ERP_ZORZAL.Models.tbTipoSalida


@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipos de Salida</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","TiposSalida")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>

</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Tipos de Salida</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tsal_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_UsuarioCrea)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbTipoSalida.)*@
                            MariaFernanda
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_FechaCrea)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tsal_FechaCrea)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tsal_UsuarioModifica)*@
                            Maria Fernanda
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_FechaModifica)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tsal_FechaModifica)
                        </dd>

                    </dl>


                    @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Regresar al Listado", "Index2", null, new { @class = "btn btn-white" })*@

                </div>
            </div>
        </div>
    </div>
</div>













