@model ERP_ZORZAL.Models.tbTipoSalida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipo Salida</h2>
        
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","TipoSalida")">Regresar</a>
           
        </div>
    </div>

</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles de Tipo Salida</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tsal_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tsal_Id)
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tsal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tsal_Descripcion)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.tsal_Id }, new { @class = "btn btn-primary"})
   
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <tr>
                        <th>
                         
                            Acción
                        </th>
                        <th>
                           
                            Creado
                        </th>
                        <th>
                          
                            Fecha
                        </th>
                        
                    </tr>

                   
                    <tr>
                        <td>
                           
                            Creado por
                        </td>
                        <td>

                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tsal_FechaCrea)
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                           
                            Modificado por
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tsal_FechaModifica)
                        </td>
                       
                    </tr>

                </table>


            </div>
        </div>
    </div>
 </div>


          











