@model Inspinia_MVC5_SeedProject.Models.C_tbPersonasNaturales

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Registrar Clientes</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    @*</div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>*@
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>Create C_tbPersonasNaturales</h5>
                </div>*@
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="ibox-title">
            <h5>Personas Naturales</h5>
            @*<div class="ibox-tools">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
            </div>*@
        </div>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.clte_RTN, "Identidad:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control">
                @*@Html.DropDownList("clte_RTN", String.Empty)*@
                @Html.ValidationMessageFor(model => model.clte_RTN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Nombre,"Nombre:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control">
                @*@Html.EditorFor(model => model.clte_Nombre)*@
                @Html.ValidationMessageFor(model => model.clte_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Apellido,"Apellido:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control">
                @*@Html.EditorFor(model => model.clte_Apellido)*@
                @Html.ValidationMessageFor(model => model.clte_Apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Direccion,"Dirección:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control">
                @*@Html.EditorFor(model => model.clte_Direccion)*@
                @Html.ValidationMessageFor(model => model.clte_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Direccion, "Fecha:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control">
                @*@Html.EditorFor(model => model.clte_Direccion)*@
                @Html.ValidationMessageFor(model => model.clte_Direccion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="checkbox" name="Exoneración" value="true" checked />@Html.LabelFor(model => model.clte_Direccion, "Exoneración", new { @class = "control-label col-md-2" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
				@*@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})*@
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Personas Naturales</h5>
                    @*<div class="ibox-tools">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>*@
                </div>
                <div class="ibox-content">
                    <input type="search">
                    <button class="btn btn">Buscar</button>

                    <table class="table table-striped">
                        <tr>
                            <th>
                                Identidad
                                @*@Html.DisplayNameFor(model => model.clte_Apellido)*@
                            </th>
                            <th>
                                Nombre
                                @*@Html.DisplayNameFor(model => model.tbClientes.clte_RTN)*@
                            </th>
                            <th>
                                Teléfono
                                @*@Html.DisplayNameFor(model => model.tbClientes.clte_RTN)*@
                            </th>
                            <th>
                                Exoneración
                                @*@Html.DisplayNameFor(model => model.tbClientes.clte_RTN)*@
                            </th>
                            <th>
                                Acción
                                @*@Html.DisplayNameFor(model => model.tbClientes.clte_RTN)*@
                            </th>
                        </tr>

                        @*@foreach (var item in Model)
                        {*@
                            <tr>
                                <td>
                                    0501-1994-03093
                                    @*@Html.DisplayFor(modelItem => item.clte_Apellido)*@
                                </td>
                                <td>
                                    Claudia Espinal
                                    @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                                </td>
                                <td>
                                   3274-8956
                                    @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                                </td>
                                <td>
                                    <input type="checkbox" value="true" checked />
                                    @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs">Editar</button>
                                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-white btn-sm" })*@
                                </td>
                            </tr>
                        @*}*@
                        <tr>
                            <td>
                                0801-1999-74589
                                @*@Html.DisplayFor(modelItem => item.clte_Apellido)*@
                            </td>
                            <td>
                                Luis Ramirez
                                @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                            </td>
                            <td>
                                9984-0102
                                @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                            </td>
                            <td>
                                <input type="checkbox" value="true" checked />
                                @*@Html.DisplayFor(modelItem => item.tbClientes.clte_RTN)*@
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs">Editar</button>
                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-white btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-white btn-sm" })*@
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
