@model Inspinia_MVC5_SeedProject.Models.tbFacturas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbFacturas</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clte_Rtn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clte_Rtn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpago_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpago_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fpago_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fpago_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scs_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scs_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcam_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcam_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbDetallesFactura.prod_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDetallesFactura.prod_Codigo)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.fact_Codigo }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













