@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbFacturas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Facturas</h2>
        @*<h2>Index</h2>*@
        <ol class="breadcrumb">
            <li class="active">          
                @*<strong>tbFacturas</strong>*@
</li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <strong><h3 align=right >Usuario: Eddy Figueroa</h3><strong>
                            @*<h5>List of tbFacturas</h5>*@
                            <div class="ibox-tools">
                                @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})*@
                            </div>
                </div>
                <div class="ibox-content">


    <h3>Sucursal: &nbsp; &nbsp;San Pedro Sula </h3> &nbsp; <h3>Fecha: 30/12/19</h3>
        <br />
                <label>Código Factura</label> <input type="text" value="001-002-01-00001523"/>
                    &nbsp;
                    &nbsp;
                <label>Móneda</label> <select name="M">
                <option>Lempiras</option>
                <option>Dolar</option>
                <option>Euros</option>
                <option>Libras</option>
                
                <select />
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <label>RTN Cliente</label>
    <input type="text" value="05031997002517" />
    &nbsp;
    &nbsp;
    &nbsp;
    <label>Tipo Pago</label>&nbsp;
    <select name="TP">  <option>Cóntado</option> <option>Crédito</option> </select>
    <br />
    <br />
    <label>Forma Pago</label>&nbsp;
    <select name="FM">
        <option>Tarjeta de Crédito</option>
        <option>Efectivo</option>
        <option>Cupon de Descuento</option>
        <option value="tbEstados/Index.cshtml">Cheques</option>
        <option>Transferencia Bancaria</option>
        <select />
        &nbsp;
        &nbsp;
        &nbsp;
        <label>Nombre Cliente</label>
        <input type="text" value="Martín Carrasco" />
        &nbsp;
        &nbsp;
        &nbsp;
        <label>Codigo Tasa Cambio</label>
        <input type="text" value="0120"/>
        <br />
        <br />


        <label>Exoneración</label>&nbsp;&nbsp;
        <a  class="btn btn-primary btn-xs"  href="/tbExoneraciones/index">Verificar Exoneracion</a>
        <br />
        <br />
        <br />
        <br />
<table class="table table-striped">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Total
                </th>
                <th>
                    Acción
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.clte_Rtn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tpago_Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fpago_Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.scs_Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tcam_Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fact_Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbDetallesFactura.prod_Codigo)
                    </th>*@
                <th></th>
            </tr>

            @*@foreach (var item in Model) {*@
            <tr>

                <td>
                    001
                </td>
                <td>
                    Camisa
                </td>
                <td>
                    25
                </td>
                <td>
                    235.00Lps
                </td>
                <td>
                    1,125Lps
                </td>


                @*<td>
                        @Html.DisplayFor(modelItem => item.clte_Rtn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tpago_Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fpago_Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.scs_Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario_Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tcam_Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fact_Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbDetallesFactura.prod_Codigo)
                    </td>*@
                <td>
                    <button class="btn btn-primary btn-xs">Detalles</button>
                    @*@Html.ActionLink("Details", "Details", new { id=item.fact_Codigo }, new { @class = "btn btn-primary btn-sm"})
                        @Html.ActionLink("Edit", "Edit", new { id=item.fact_Codigo }, new { @class = "btn btn-white btn-sm"})
                        @Html.ActionLink("Delete", "Delete", new { id=item.fact_Codigo }, new { @class = "btn btn-white btn-sm"})*@
                </td>
            </tr>
            @*}*@

        </table>
        <br />
        <br />

        <label>SubTotal:</label>
        <input type="text" value="938Lps"/>
        &nbsp;
        &nbsp;
        <label>Recibido:</label>
        <input type="text" />
        &nbsp;
        &nbsp;
        <label>ISV:</label>
        <input type="text" />
        &nbsp;
        &nbsp;
        <label>Cambio:</label>
        <input type="text" value="75c"/>
        <br />
        <br />
        <label>Total:</label>
        <input type="text" value="1175Lps" />
        <br />
        <br />
        <br />

        <FORM>

            <center>
                <input class="btn btn-primary btn-xl" name="dcsdc" type="button"
                       onclick='alert("Imprimiendo Factura.."); location.href = "/tbFacturas/Create"' value="Imprimir Factura" />
            </center>

        </FORM>

</div>
            </div>
        </div>
    </div>
 </div>









