@model ERP_GMEDINA.Models.tbDevolucionDetalle

                @*<div class="ibox-title">
                    <h5>_CreateDevolucionDetalle tbDevolucionDetalle</h5>
                </div>*@
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo,"Codigo Producto", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.prod_Codigo)
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
           
            @Html.LabelFor(model => model.devd_CantidadProducto, "Cantidad", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.devd_CantidadProducto, "1")
                @Html.ValidationMessageFor(model => model.devd_CantidadProducto)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.devd_Descripcion, "Descripción", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
               @Html.EditorFor(model => model.devd_Descripcion)
                @Html.ValidationMessageFor(model => model.devd_Descripcion)
            </div>
            <label class="control-label col-md-2">Valor Unitario</label>
            <div class="col-md-3">
                <input type="text" value="" class="form-control " />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.devd_Descripcion, "Observaciones", new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.devd_Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.devd_Descripcion)
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary"><span >Añadir</span></button>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Create", null, new { @class = "btn btn-white" })
            </div>
        </div>*@
    </div>
}
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID Producto</th>
                                <th>Descripción Producto</th>
                                <th>Cantidad</th>
                                <th>Valor Unit.</th>
                                <th>Descuento</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-md-12 text-right">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        @Html.ActionLink("Cancelar", "Edit", null, new { @class = "btn btn-white" })
                    </div>
                </div>
        

