@model IEnumerable<ERP_GMEDINA.Models.tbDevolucionDetalle>
@using ERP_GMEDINA.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table  id="DetalleDevolucion" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.devd_CantidadProducto)
                                </th>
                                <th>
                                    Monto
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.devd_Descripcion)
                                </th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-Monto="@item.devd_Monto">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.devd_CantidadProducto)
                                    </td>
                                    <td id="Monto">
                                        @Html.DisplayFor(modelItem => item.devd_Monto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.devd_Descripcion)
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {
        $('#DetalleDevolucion').DataTable(
        {
            "searching": false,
            "lengthChange": false,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sEmptyTable": "No hay registros",
                "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                "sSearch": "Buscar",
                "sInfo": "Mostrando _START_ a _END_ Entradas",

            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        $(document).on("ready", "#DetalleDevolucion tbody tr td", function () {
            console.log('Si entra')
        })

        Monto = $(this).closest('tr').data('monto');
        console.log('Monto', Monto)
        $("#Dev_Monto").val(Monto);
        GetMonto()
    });
    var contador = 0;
    function GetMonto() {

    }


</script>