@model ERP_ZORZAL.Models.tbDevolucion
@using ERP_ZORZAL.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Devolución de Producto</h2>
        @*
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Lista", "Index")
        </li>
        <li class="active">
            <strong>Editar</strong>
        </li>
    </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Devolucion</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.dev_Id)

                         
                            <div class="form-group">
                                @Html.LabelFor(model => model.tbCaja.tbSucursal.suc_Descripcion, "Sucursal",  new { @class = "control-label col-md-2"})
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.tbCaja.tbSucursal.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbCaja.tbSucursal.suc_Descripcion)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tbCaja.cja_Descripcion, "Caja", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbCaja.cja_Descripcion)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tbFactura.fact_Codigo, "Codigo Factura", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                   @Html.EditorFor(model => model.tbFactura.fact_Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbFactura.fact_Codigo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.tbFactura.clte_RTN_Identidad_Pasaporte, "Codigo Cliente", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.tbFactura.clte_RTN_Identidad_Pasaporte, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbFactura.clte_RTN_Identidad_Pasaporte)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tbFactura.clte_Nombres, "Cliente", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.tbFactura.clte_Nombres, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbFactura.clte_Nombres)
                                </div>
                            </div>

                          
                            <div class="form-group">
                                @Html.LabelFor(model => model.dev_Fecha, new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.dev_Fecha,"{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "fechafactura" } })
                                    @Html.ValidationMessageFor(model => model.dev_Fecha)
                                </div>
                            </div>
                          
                            @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>*@
                        </div>

                    }
                    
                    <div class="ibox-content">

                        <script type="text/javascript">
                            function NotaCredito()
                            {
                                var bResponse = confirm('¿Esta seguro que desea crear una nota de Credito?. Recuerde que no podra volver hacerlo, esta acción es irreversible');

                                if (bResponse === true) {
                                    console.log("lnkLogout_Confirm clciked.");
                                    Detalle.disabled = true;
                                    var url = '@Url.Action("Create", "NotaCredito")';
                                    window.location.href = url;
                                }
                                return bResponse;
                            }

                        </script>
                        <div class="form-group">
                           
                            <div class="col-md-offset-9 col-md-11">
                                <button onclick=" NotaCredito()" class="btn btn-primary btn-xs">Emitir Nota de Credito</button>
                                <button id="Detalle" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalAgregarDetalle"><span>Añadir</span></button>
                            </div>
                        </div>
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Descripción Producto</th>
                                        <th>Cantidad</th>
                                        <th>Valor Unit.</th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-xs" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white btn-xs" })
                                </div>
                            </div>
                        </div>  
                  
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAgregarDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
            </div>
            <div class="modal-body" id="frmEditarMunicipios">
                @Html.Partial("_CreateDevolucionDetalle1", new tbDevolucionDetalle())
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
@*@Html.Partial("_IndexDetalleDevolucion", Model.tbDevolucionDetalle)*@