@model ERP_ZORZAL.Models.tbDevolucion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar Devolución</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Devolución</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.dev_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.fact_Codigo, "fact_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fact_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.fact_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dev_Fecha)
                @Html.ValidationMessageFor(model => model.dev_Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_id)
                @Html.ValidationMessageFor(model => model.clte_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dev_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.dev_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dev_FechaCrea)
                @Html.ValidationMessageFor(model => model.dev_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dev_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.dev_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dev_FechaModifica)
                @Html.ValidationMessageFor(model => model.dev_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
