@model IEnumerable<ERP_GMEDINA.Models.tbDevolucion>
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Devolución</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong></strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Devolución</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Devolución", "Create", null, new { @class = "btn btn-primary btn-ms" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table table-striped  table-bordered" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    Sucursal
                                </th>
                                <th>
                                    Caja
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fact_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbFactura.clte_Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dev_Fecha)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-Estado="@item.dev_Estado">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbCaja.tbSucursal.suc_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbCaja.cja_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbFactura.fact_Codigo)
                                    </td>

                                    @{ if (item.tbFactura.tbCliente.clte_EsPersonaNatural == true)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbFactura.clte_Nombres)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbFactura.tbCliente.clte_NombreComercial)
                                            </td>
                                        }
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dev_Fecha)
                                        @{
                                            string EstadoIndex = "txtEstado";}
                                        @Html.HiddenFor(modelItem => item.dev_Estado, new { id = EstadoIndex })
                                    </td>



                                    @{
                                        string Editar = "btnEditar";}
                                    @{
                                        if (item.dev_Estado == true)
                                        {
                                            <td>
                                                @Html.ActionLink("Detalle", "Details", new { id = item.dev_Id }, new { @class = "btn btn-primary btn-xs" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Detalle", "Details", new { id = item.dev_Id }, new { @class = "btn btn-primary btn-xs" })

                                                @Html.ActionLink("Editar", "Edit", new { id = item.dev_Id }, new { @class = "btn btn-primary btn-xs", id = Editar })
                                            </td>
                                        }
                                    }
                                    @*@Html.ActionLink("Eliminar", "Delete", new { id=item.dev_Id }, new { @class = "btn btn-white btn-sm"})*@

                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
<script src="~/Scripts/app/AnularDevolucion.js"></script>

