<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="~/Content/img/Logo_GM.png" width="170px" height="130px" />
                            </span>
                    </a>
            <li>
                <a href="#"><i class="fa fa-shopping-bag fa-fw"></i><span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Clientes</span> </a>
                                         
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Factura")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Facturas</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "tbCredito")"><i class="fa fa-credit-card fa-fw"></i> <span class="nav-label">Crédito</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Pago")"><i class="fa fa-money fa-fw"></i> <span class="nav-label">Pagos</span> </a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Sucursals")"><i class="fa fa-map fa-fw"></i> <span class="nav-label">Sucursal</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "tbArqueoCajas")"><i class="fa fa-archive fa-fw"></i> <span class="nav-label">Arqueo de caja</span> </a>
                    </li>

         

              

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "tbDocumentoFiscals")"><i class="fa fa-line-chart fa-fw"></i> <span class="nav-label">Documentos Fiscales</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "PuntoEmision")"><i class="fa fa-google-wallet fa-fw"></i> <span class="nav-label">Punto Emisión</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Banco")"><i class="fa fa-cc-visa fa-fw"></i> <span class="nav-label">Banco</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "CuentasBanco")"><i class="fa fa-shopping-cart fa-fw"></i> <span class="nav-label">Cuentas Banco</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Devolucion")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Devolución</span> </a>
                    </li>
               
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "NotaCredito")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Nota Crédito</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "tbCajas")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Caja</span> </a>
                    </li>


                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Moneda")"><i class="fa fa-map fa-fw"></i> <span class="nav-label">Moneda</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Pedido")"><i class="fa fa-archive fa-fw"></i> <span class="nav-label">Pedido</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "PedidoDetalle")"><i class="fa fa-money fa-fw"></i> <span class="nav-label">Pedido Detalle</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "EstadoSolicitudCredito")"><i class="fa fa-file-text fa-fw"></i> <span class="nav-label">Estado Solicitud Crédito</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "solicitudcredito")"><i class="fa fa-line-chart fa-fw"></i> <span class="nav-label">Solicitud Crédito</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "ActividadEconomica")"><i class="fa fa-google-wallet fa-fw"></i> <span class="nav-label">Actividades Econónicas</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "TipoIdentificacion")"><i class="fa fa-cc-visa fa-fw"></i> <span class="nav-label">Tipo Identificación</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "ListadoPrecioDetalle")"><i class="fa fa-shopping-cart fa-fw"></i> <span class="nav-label">Listado Precio Detalle</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "listaprecio")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Listado Precio</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "ActividadEconomica")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Actividad Económica</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "NotaCredito")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Nota Crédito</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "tbCajas")"><i class="fa fa-window-restore fa-fw"></i> <span class="nav-label">Caja</span> </a>
                    </li>
                </ul>
            </li>
            <div class="logo-element">
                GM
            </div>
        </ul>
    </div>
</nav>




