@using ERP_GMEDINA.Models
@{
    GeneralFunctions Login = new GeneralFunctions();
}
 
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo-element">
            GM
        </div>
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                Tiendas García Medina
                            </span>
                            </span>
                    </a>
                    </div>
                </li>
            <li>
                <a href="#"><i class="fa fa-shopping-bag fa-fw"></i><span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    @if (Login.GetUserRols("Cliente/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Cliente")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Clientes</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Factura/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Factura")"><i class="fa fa-wpforms"></i> <span class="nav-label">Facturas</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("DocumentoFiscal/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "DocumentoFiscal")"><i class="fa fa-book"></i> <span class="nav-label">Documento Fiscal</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("SolicitudEfectivo/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "SolicitudEfectivo")"><i class="fa fa-credit-card-alt"></i> <span class="nav-label">Solicitud Efectivo</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("MovimientoCaja/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "MovimientoCaja")"><i class="fa fa-money"></i> <span class="nav-label">Arqueo Caja</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("MovimientoCaja/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("IndexApertura", "MovimientoCaja")"><i class="fa fa-money"></i> <span class="nav-label">Aperturar Caja</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("DenominacionArqueo/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "DenominacionArqueo")"><i class="fa fa-money"></i> <span class="nav-label">Denominacion Arqueo</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Exoneracion/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Exoneracion")"><i class="fa fa-user-plus"></i> <span class="nav-label">Exoneración</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Devolucion/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Devolucion")"><i class="fa fa-arrow-circle-left"></i> <span class="nav-label">Devolución</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Pago/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Pago")"><i class="fa fa-money"></i> <span class="nav-label">Pago</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("CuponDescuento/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "CuponDescuento")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Cupón Descuento</span></a>
                        </li>
                    }
                    @if (Login.GetUserRols("SolicitudCredito/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "SolicitudCredito")"><i class="fa fa-calendar-check-o"></i> <span class="nav-label">Solicitud Créditos</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("EstadoSolicitudCredito/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "EstadoSolicitudCredito")"><i class="fa fa-clipboard"></i> <span class="nav-label">Estado Solicitud Credito</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("NotaCredito/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "NotaCredito")"><i class="fa fa-file-text-o"></i> <span class="nav-label">Nota Crédito</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("TipoIdentificacion/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "TipoIdentificacion")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Tipo Identificacion</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Pedido/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Pedido")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Pedidos</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("ListaPrecios/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "ListaPrecios")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Lista Precios</span> </a>
                        </li>
                    }
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    @if (Login.GetUserRols("Banco/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Banco")"><i class="fa fa-university fa-fw"></i> <span class="nav-label">Bancos</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Denominacion/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Denominacion")"><i class="fa fa-map"></i><span class="nav-label">Denominación</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("TipoPago/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "TipoPago")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Tipos de Pago</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("ActividadEconomica/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "ActividadEconomica")"><i class="fa fa-university fa-fw"></i> <span class="nav-label">Actividad Ecónomica</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Moneda/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Moneda")"><i class="fa fa-money"></i> <span class="nav-label">Moneda</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("CuentaBanco/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "CuentaBanco")"><i class="fa fa-bandcamp"></i> <span class="nav-label">Cuentas Bancarias</span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("EstadoFactura/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "EstadoFactura")"><i class="fa fa-clipboard"></i> <span class="nav-label">Estado Factura</span> </a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                   @if (Login.GetUserRols("Sucursal/Index"))
                   {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Sucursal")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Sucursal</span> </a>
                        </li>
                   }
                   @if (Login.GetUserRols("Caja/Index"))
                   {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Caja")"><i class="fa fa-columns"></i> <span class="nav-label">Caja</span> </a>
                        </li>
                   }
                   @if (Login.GetUserRols("PuntoEmision/Index"))
                   {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "PuntoEmision")"><i class="fa fa-bookmark"></i> <span class="nav-label">Punto Emisión</span> </a>
                        </li>
                   }
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Seguridad</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    @if (Login.GetUserRols("Usuario/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-users fa-fw"></i>Usuario <span class="nav-label"></span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("AccesoRol/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "AccesoRol")"><i class="fa fa-ticket fa-fw"></i> Acceso Rol<span class="nav-label"></span> </a>
                        </li>
                    }
                    @if (Login.GetUserRols("Roles/Index"))
                    {
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Roles")"><i class="fa fa-ticket fa-fw"></i>Roles<span class="nav-label"></span> </a>
                        </li>
                    }
                </ul>
            </li>

        </ul>
    </div>
</nav>




