<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Tiendas García Medina</strong>
                            </span> <span class="text-muted text-xs block">Menú Desplazable <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Clientes</a></li>
                        <li><a href="#">Facturas</a></li>
                        <li><a href="#">Créditos</a></li>
                    </ul>
                    </div>
                <div class="logo-element">
                    GM
                </div>
            </li>



            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbDepartamentos")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Departamentos</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbTiposPagoes")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Cajas</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbMonedas")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Monedas</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbTiposDocumentos")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Tipo Documento</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbTasasCambios")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Tasa De Cambio</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbLineasPagoes")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Lineas De Pago</span> </a>
            </li>

            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "tbTiposPagoes")"><i class="fa fa-book fa-fw"></i> <span class="nav-label">Tipos De Pago</span> </a>
            </li>


          
        </ul>
    </div>
</nav>