@using ERP_GMEDINA.Models
@{
    Helpers Login = new Helpers();
    int Sesiones = 0;


    List<tbUsuario> User = Login.getUserInformation();

    foreach (tbUsuario Usuario in User)
    {

        Sesiones = Usuario.usu_SesionesValidas;
    }
}  

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo-element">
            GM
        </div>
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                Tiendas García Medina
                            </span>
                        </span>
                    </a>
                </div>
            </li>
            @if (Sesiones > 1)
            {
                <li>
                    <a href="#"><i class="fa fa-tag"></i><span class="nav-label">Inventario</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Bodega/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Bodega")"><i class="fa fa-home fa-fw"></i>Bodegas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Entrada/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Entrada")"><i class="fa fa-folder-open-o fa-fw"></i>Entradas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Salida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Salida")"><i class="fa fa-folder-open-o fa-fw"></i>Salidas<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("ConsultarExistenciaProductos/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "ConsultarExistenciaProductos")"><i class="fa fa-search"></i>Consultar Existencias <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Box/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Box")"><i class="fa fa-cube fa-fw"></i> Caja <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("InventarioFisico/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "InventarioFisico")"><i class="fa fa-file fa-fw"></i>Inventario Fisico<span class="nav-label"></span> </a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Producto/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Producto")"><i class="fa fa-cube fa-fw"></i>Producto <span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("ProductoCategoria/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "ProductoCategoria")"><i class="fa fa-cubes fa-fw"></i>Producto Categoría<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("UnidadMedida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "UnidadMedida")"><i class="fa fa-balance-scale"></i><span class="nav-label">Unidades de Medida</span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Departamento/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Departamento")"><i class="fa fa-map fa-fw"></i><span class="nav-label">División Política</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("TipoEntrada/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoEntrada")"><i class="fa fa-bookmark-o fa-fw"></i>Tipo Entrada<span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("TipoSalida/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoSalida")"><i class="fa fa-bookmark-o fa-fw"></i><span class="nav-label">Tipos Salidas</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("TipoDevolucion/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "TipoDevolucion")"><i class="fa fa-recycle fa-fw"></i><span class="nav-label">Tipo Devolucion</span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("EstadoMovimiento/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "EstadoMovimiento")"><i class="fa fa-bar-chart-o fa-fw"></i>Estado Movimiento<span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("EstadoInventarioFisico/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "EstadoInventarioFisico")"><i class="fa fa-bar-chart-o fa-fw"></i>Estado Inventario Fisico<span class="nav-label"></span> </a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Empleado/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Empleado")"><i class="fa fa-user"></i>Empleado <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Proveedor/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Proveedor")"><i class="fa fa-truck fa-fw"></i>Proveedor <span class="nav-label"></span> </a>
                            </li>
                        }
                        @if (Login.GetUserAccesoRol("Parametro/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Parametro")"><i class="fa fa-desktop fa-fw"></i><span class="nav-label">Parametro</span> </a>
                            </li>
                        }

                    </ul>
                </li>


                <li>
                    <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Seguridad</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (Login.GetUserAccesoRol("Usuario/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-users fa-fw"></i>Usuario <span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Rol/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Rol")"><i class="fa fa-ticket fa-fw"></i>Roles<span class="nav-label"></span> </a>
                            </li>
                        }

                        @if (Login.GetUserAccesoRol("Objeto/Index"))
                        {
                            <li class="@Html.IsSelected(action: "Index")">
                                <a href="@Url.Action("Index", "Objeto")"><i class="fa fa-desktop fa-fw"></i><span class="nav-label">Objeto</span> </a>
                            </li>
                        }
                    </ul>

                </li>
            }
        </ul>
    </div>
</nav>





