<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo-element">
            GM
        </div>
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                Tiendas García Medina
                            </span>
                            </span>
                    </a>
                    </div>
                </li>
            <li>
                <a href="#"><i class="fa fa-shopping-bag fa-fw"></i><span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Clientes</span> </a>
                                         
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Factura")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Facturas</span> </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-tag"></i><span class="nav-label">Inventario</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "")"><i class="fa fa-users fa-fw"></i> <span class="nav-label"></span> </a>
                     </li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa-folder-open"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Banco")"><i class="fa fa-cc-visa fa-fw"></i> <span class="nav-label">Banco</span> </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "PuntoEmision")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Punto Emision</span> </a>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "CuentasBanco")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Cuentas Banco</span> </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Seguridad</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "")"><i class="fa fa-users fa-fw"></i> <span class="nav-label"></span> </a>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label"></span> </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>




