<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="logo-element">
            GM
        </div>
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                Tiendas García Medina
                            </span>
                            </span>
                    </a>
                    </div>
                </li>
            <li>
                <a href="#"><i class="fa fa-shopping-bag fa-fw"></i><span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Clientes</span> </a>
                                         
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Factura")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Facturas</span> </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-tag"></i><span class="nav-label">Inventario</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Entrada")"><i class="fa fa-users fa-fw"></i>Entradas<span class="nav-label"></span> </a>
                     </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index_Salida", "Salida")"><i class="fa fa-users fa-fw"></i>Salidas<span class="nav-label"></span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index_Bodega", "Bodega")"><i class="fa fa-users fa-fw"></i>Bodegas<span class="nav-label"></span> </a>
                    </li>
                    @*<li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Cajas")"><i class="fa fa-users fa-fw"></i>Cajas<span class="nav-label"></span> </a>
                    </li>*@
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "EstadoMovimiento")"><i class="fa fa-users fa-fw"></i>Estado Movimiento<span class="nav-label"></span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "InventarioFisico")"><i class="fa fa-users fa-fw"></i>Inventario Fisico<span class="nav-label"></span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Producto")"><i class="fa fa-users fa-fw"></i>Producto <span class="nav-label"></span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Proveedor")"><i class="fa fa-users fa-fw"></i>Proveedor <span class="nav-label"></span> </a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">Catálagos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Banco")"><i class="fa fa-university fa-fw"></i> <span class="nav-label">Bancos</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Departamento")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Departamento</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Municipio")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Municipio</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("index_Tent", "TiposEntrada")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Tipos Entrada</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "TiposSalida")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Tipos Salidas</span> </a>
                    </li>
                    @*<li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Index")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Unidades De Medida</span> </a>
                    </li>*@
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Objeto")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Objeto</span> </a>
                    </li>
                    @*<li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Index")"><i class="fa fa-cc-visa fa-fw"></i><span class="nav-label">Estado Inventario Fisico</span> </a>
                    </li>*@
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "PuntoEmision")"><i class="fa fa-users fa-fw"></i> <span class="nav-label">Punto Emision</span> </a>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "CuentasBanco")"><i class="fa fa-ticket fa-fw"></i> <span class="nav-label">Cuentas Banco</span> </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-lock"></i><span class="nav-label">Seguridad</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Usuario")"><i class="fa fa-users fa-fw"></i>Usuario <span class="nav-label"></span> </a>

                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "AccesoRol")"><i class="fa fa-ticket fa-fw"></i> Acceso Rol<span class="nav-label"></span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "Roles")"><i class="fa fa-ticket fa-fw"></i>Roles<span class="nav-label"></span> </a>
                    </li>
                    @*<li class="@Html.IsSelected(action: "Index")">
                        <a href="@Url.Action("Index", "RolesUsuario")"><i class="fa fa-ticket fa-fw"></i>Roles Usuario<span class="nav-label"></span> </a>
                    </li>*@
                </ul>
            </li>

        </ul>
    </div>
</nav>




