@model IEnumerable<ERP_GMEDINA.Models.tbDenominacion>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbDenominacion</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deno_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deno_Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deno_valor)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.tbMoneda.mnda_Abreviatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deno_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deno_Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deno_valor)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.tbMoneda.mnda_Abreviatura)
        </td>
       
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



