@model ERP_GMEDINA.Models.tbSolicitudEfectivo



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>_CreateSolicitudEfectivoDetalle tbSolicitudEfectivo</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.mocja_Id, "mocja_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mocja_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.mocja_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_EsApertura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solef_EsApertura)
                @Html.ValidationMessageFor(model => model.solef_EsApertura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_FechaEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solef_FechaEntrega)
                @Html.ValidationMessageFor(model => model.solef_FechaEntrega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_UsuarioEntrega, "solef_UsuarioEntrega", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("solef_UsuarioEntrega", String.Empty)
                @Html.ValidationMessageFor(model => model.solef_UsuarioEntrega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mnda_Id, "mnda_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mnda_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.mnda_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_EsAnulada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solef_EsAnulada)
                @Html.ValidationMessageFor(model => model.solef_EsAnulada)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_UsuarioCrea, "solef_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("solef_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.solef_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solef_FechaCrea)
                @Html.ValidationMessageFor(model => model.solef_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_UsuarioModifica, "solef_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("solef_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.solef_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solef_FechaModifica)
                @Html.ValidationMessageFor(model => model.solef_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
