@model ERP_GMEDINA.Models.tbSolicitudEfectivo
@using ERP_GMEDINA.Models

@{
    var sucursal = new ERP_GMEDINA.Models.tbSucursal();
}

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Efectivo</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Solicitud Efectivo</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "SolicitudEfectivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)



                            <div class="form-group">
                                @Html.LabelFor(model => sucursal.suc_Descripcion, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { htmlAttributes = new { @Value = "San Pedro Sula", @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
                                </div>

                                @Html.LabelFor(model => model.tbMovimientoCaja.cja_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, new { htmlAttributes = new { @Value = "Caja 1", @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tbMovimientoCaja.mocja_Id, "Id Apertura", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.mocja_Id, new { htmlAttributes = new { @Value = "6", @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.mocja_Id, "", new { style = "Color:red" })
                                </div>
                                @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, "Moneda", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">

                                    <select id="mnda_Id" name="mnda_Id" class="form-control select2 select2-hidden-accessible"
                                            style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option value="0">Seleccione la Moneda</option>
                                    </select>
                                    <p id="mone" style="color:red"> @Html.ValidationMessageFor(model => model.mnda_Id)</p>
                                    @*<div class="validationMonedaCreate">
                                            @Html.ValidationMessageFor(model => model.mnda_Id, "", new { style = "Color:red" })
                                        </div>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Total Solicitud</label>
                                <div class="col-md-4">
                                    <input id="total" class="form-control" readonly />
                                </div>
                            </div>
                       




                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Partial("_ListaDenominaciones", (List<tbDenominacion>)ViewBag.Denominacion)
                                </div>                               
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-10">
                                    <input type="submit" value="Guardar" id="guardar" class="btn btn-primary" />
                                    @*<input type="button" value="prueba"  class="btn btn-primary" />*@

                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>

@*<script src="~/Scripts/app/SolicitudEfectipoDetalless.js"></script>*@
@*<script src="~/Scripts/app/SolicitudEfectivoDetalles.js"></script>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).on("keyup", "#example1 tbody tr td input#cantidad", function () {
            var row = $(this).closest("tr");
            var Cantidad = $(this).val();
            var ValorDenominacion = $(this).parents("tr").find("td")[6].innerHTML;
            var montosoli = parseFloat(Cantidad * ValorDenominacion);
            var suma = 0;
            var data = [];

            MontoInicial = 0;
         
            $(this).parents("tr").find("td")[3].innerHTML = montosoli;
            if (montosoli != 0) {
                MontoInicial += montosoli;

               //Calculo Total

                $("td.sumTotal").each(function () {
                    data.push(parseFloat($(this).text()));
                });
                var suma = data.reduce(function (a, b) { return a + b; }, 0);


                $("#total").val(suma);

                console.log(data);
                console.log(suma);
            //---------------------------------------------



            }
            else {
                MontoInicial = 0;
                $("#example1 tbody tr  td label#MontoSolicitado").each(function (index) {              
                    Monto = $(this).children("td:eq(3)").html();
                    if (Monto != '') {
                        Monto = parseFloat(Monto);
                        MontoInicial += Monto;
                    }
                })
            }
            


        });

    </script>


<script>
     // campos requerido *
    jQuery('input,select').each(function () {
        var req = jQuery(this).attr('data-val-required');
        if (undefined != req) {
            var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
            var text = label.text();
            if (text.length > 0) {
                label.append('<span style="color:red"> *</span>');
            }
        }
    });

    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/SolicitudEfectivo/GetModena',
                datatype: 'JSON',
                data: {},
                success: function (data) {
                    $('#mnda_Id').empty();
                    $('#mnda_Id').append("<option value='0'>Seleccione la Moneda</option>");
                    $.each(data, function (i, item) {
                        $('#mnda_Id').append("<option value='" + item.mnda_Id + "'>" + item.Text + "</option>");
                    });
                },
                error: function (data) { alert(data.responseText); }
            });

            $("#mnda_Id").change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/SolicitudEfectivo/GetDenominacion',
                    datatype: 'JSON',
                    data: { 'moneda': $(this).val() },
                    success: function (data) {
                        $('#example1 tbody').empty();
                        $.each(data, function (i, item) {
                            var rows = "<tr data-id=" + item.deno_Id + ">" +
                                       "<td hidden>" + item.deno_Id + "</td>" +
                                       "<td>" + item.deno_Descripcion + "</td>" +
                                        "<td>" + '<input type="text" id="cantidad" name="name" onKeyPress="return soloNumeros(event)" onKeyUp="pierdeFoco(this)" autocomplete="off" class="form-control" ize="3">' + "</td>" +
                                        "<td class='sumTotal'>" + 0 + "</td>" +
                                         "<td>" +  0 +   "</td>" +
                                        "<td >" + 0+ "</td>" +
                                       "<td hidden>" + item.deno_valor + "</td>" +

                                       "</tr>";
                            $('#example1 tbody').append(rows);
                        });                     
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });
        });
    </script>

<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode;
        return ((key >= 48 && key <= 57) || (key == 8))
    }

    function pierdeFoco(e) {
        var valor = e.value.replace(/^0*/, '');
        e.value = valor;

       
       
    }

</script>

    
   


<script>
    $('#guardar').click(function () {
               
         

                var idmovimiento 
            
                var Detail = [];
               
                var monedas = $('#mnda_Id').val();

                if (monedas <= 0) {
                    valido = document.getElementById('mone');
                    valido.innerText = "El Campo Moneda es Requierido";
                    return false;
                }
                else if (monedas > 0) {
                   
                
                    $('#example1 > tbody  > tr').each(function () {
                        idItem = $(this).data('id');
                        var soledCantidadSolicitada = $(this).find("td:eq(2)").find("input").val();
                        if (soledCantidadSolicitada != '' && soledCantidadSolicitada != 0) {
                            console.log('idItem', idItem);
                            console.log('soledCantidadSolicitada', soledCantidadSolicitada);
                            var item = {
                                deno_Id: idItem,
                                soled_CantidadSolicitada: parseInt(soledCantidadSolicitada),
                            }
                            Detail.push(item);
                        }
                    });
                    console.log(Detail);
                    $.ajax({
                        url: "/SolicitudEfectivo/InsertDetalleSolicitudDetalle",
                        method: 'POST',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ procesoData: Detail }),
                    })
                    .done(function (data) {
                        if (data == 'Error') {
                            alert('No Enviado');

                        }
                        else {
                            
                            console.log(procesoData);
                            console.log(cantisoli);
                        }

                    });
                }
        });
</script>
   




}




