@model ERP_GMEDINA.Models.tbSolicitudEfectivo
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #montosSolicitado {
        font-family: Tahoma, Verdana, Arial;
        font-size: 11px;
        color: #707070;
        background-color: #FFFFFF;
        border-width: 0;
    }

    #montoEntregado {
        font-family: Tahoma, Verdana, Arial;
        font-size: 11px;
        color: #707070;
        background-color: #FFFFFF;
        border-width: 0;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud Efectivo</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Solicitud Efectivo</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.solef_Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.solef_Id)

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
                        </dd>
                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)*@
                            Caja
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)
                        </dd>
                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbMovimientoCaja.mocja_Id)*@
                            Id Apertura
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbMovimientoCaja.mocja_Id)
                        </dd>


                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbMoneda.mnda_Nombre)*@
                            Moneda
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbMoneda.mnda_Nombre)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.solef_FechaCrea)*@
                            Fecha de Solicitud
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.solef_FechaCrea)
                        </dd>


                        <dt>
                            Monto Solictud
                        </dt>
                        <dd>
                            <input type="text" class="input" id="montosSolicitado" readonly size="50">
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.solef_FechaEntrega)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.solef_FechaEntrega)
                        </dd>
                        <dt>
                            Monto Entregado
                        </dt>

                        <dd>
                            <input type="text" class="input" id="montoEntregado" readonly size="50">
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.solef_EsApertura)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.solef_EsApertura)
                        </dd>





                        @*<dt>
                            @Html.DisplayNameFor(model => model.solef_EsAnulada)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.solef_EsAnulada)
                        </dd>*@





                    </dl>

                    @if (Model.solef_FechaEntrega == null)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.solef_Id }, new { @class = "btn btn-primary" })
                    }
                    else
                    {

                    }



                    @Html.Partial("_DetailsSolicitudEfectivoDetalle", Model.tbSolicitudEfectivoDetalle)


                    @*@Html.Partial("_IndexDetails", (List<UDP_Vent_SolicituEfectivo_Detalles_Select>)ViewBag.detalles)*@



                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaModifica)</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var MontoSolicitado = 0;
        $("#mitabla tbody tr:nth-child(-n+20)").each(function () {
            MontoSolicitado += parseFloat($(this).children("td:eq(3)").html());
        });

        $("#montosSolicitado").val(MontoSolicitado);

        //alert("Mi suma es: " + MontoSolicitado.toFixed(2));



        var MontoEntregado = 0;
        $("#mitabla tbody tr:nth-child(-n+5)").each(function () {
            MontoEntregado += parseFloat($(this).children("td:eq(5)").html());
        });

        $("#montoEntregado").val(MontoEntregado);

    </script>


    @* -----------------Ocultar Boton si el valor es mayor a 0------------ *@
    <script>
        function Cantidad() {
            if ($('#montoEntregado').val() == 0) {
                document.getElementById("mnda_Id").disabled = false;
            }
        };

    </script>








}










