@model ERP_GMEDINA.Models.tbSolicitudEfectivo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Efectivo</h2>        
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Modificar Solicitud de Efectivo</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.solef_Id)


        <div class="form-group">
            @Html.LabelFor(model => model.solef_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.solef_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.solef_Id)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
            </div>

            @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, "Caja", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)
            </div>
        </div>  
       

        <div class="form-group">
            @Html.LabelFor(model => model.mnda_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("mnda_Id", @*String.Empty*@null, "Seleccione la Moneda", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mnda_Id, "", new { style = "Color:red" })
            </div>
            @Html.LabelFor(model => model.mocja_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @*@Html.DropDownList("mocja_Id",*@ @*String.Empty*@@*null, "Seleccione la Moneda", new { @class = "form-control" })*@
                @Html.EditorFor(model => model.mocja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                  @Html.ValidationMessageFor(model => model.mocja_Id, "", new { style = "Color:red" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.solef_EsApertura, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @*@Html.EditorFor(model => model.solef_EsApertura)*@
                @Html.DisplayFor(model => model.solef_EsApertura)
                @Html.ValidationMessageFor(model => model.solef_EsApertura)
            </div>
        </div>

        @**Importante campos Preguntar*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.solef_FechaEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.solef_FechaEntrega)
                @Html.ValidationMessageFor(model => model.solef_FechaEntrega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_UsuarioEntrega, "solef_UsuarioEntrega", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("solef_UsuarioEntrega", @*String.Empty*@        @*null, "Seleccione la Moneda", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.solef_UsuarioEntrega)
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.solef_EsAnulada, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.solef_EsAnulada)
                @Html.ValidationMessageFor(model => model.solef_EsAnulada)
            </div>
        </div> *@

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>           
        </div>
    </div>
   
                    <div class="ibox-content">
                        @Html.Partial("_IndexEditSolicitudEfectivoDetalle", Model.tbSolicitudEfectivoDetalle)
                    </div>

                }


                </div>
            </div>


        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
