@model ERP_GMEDINA.Models.tbSolicitudEfectivo
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Efectivo</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Modificar Solicitud de Efectivo</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.solef_Id)
                            @Html.Hidden("RedirectTo", Url.Action("Index", "SolicitudEfectivo"));



                            @**Auditoria*@
                            @Html.HiddenFor(model => model.solef_UsuarioCrea)
                            @Html.HiddenFor(model => model.solef_FechaCrea)
                            @Html.HiddenFor(model => model.solef_UsuarioModifica)
                            @Html.HiddenFor(model => model.solef_FechaModifica)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                            @Html.HiddenFor(model => model.tbUsuario2.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario2.usu_Apellidos)






                            <div class="form-group">
                                @Html.LabelFor(model => model.solef_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.solef_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.solef_Id)
                                </div>
                                @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
                                </div>

                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, "Caja", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)
                                </div>
                                @Html.LabelFor(model => model.mocja_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @*@Html.DropDownList("mocja_Id",*@ @*String.Empty*@@*null, "Seleccione la Moneda", new { @class = "form-control" })*@
                                    @Html.EditorFor(model => model.mocja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.mocja_Id, "", new { style = "Color:red" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.mnda_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("mnda_Id", @*String.Empty*@null, "Seleccione la Moneda", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.mnda_Id, "", new { style = "Color:red" })
                                </div>

                                @Html.LabelFor(model => model.solef_FechaEntrega, "Fecha de Entrega", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.solef_FechaEntrega, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.solef_FechaEntrega, "", new { style = "Color:red" })
                                </div>

                            </div>


                            @*<div class="form-group">
                                @Html.LabelFor(model => model.solef_EsApertura, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">*@
                            @*@Html.EditorFor(model => model.solef_EsApertura)*@
                            @*@Html.DisplayFor(model => model.solef_EsApertura)
                                        @Html.ValidationMessageFor(model => model.solef_EsApertura)
                                    </div>
                                </div>*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.solef_EsAnulada, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @*@Html.EditorFor(model => model.solef_EsApertura)*@
                                    @*@Html.CheckBoxFor(model => model.solef_EsAnulada)*@
                                    @Html.CheckBoxFor(model => model.solef_EsAnulada, new { onclick = "return false" })
                                    @Html.ValidationMessageFor(model => model.solef_EsAnulada)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Total Solicitud</label>
                                <div class="col-md-3">
                                    <input id="total"  class="form-control" readonly />
                                </div>
                            </div>

                           




                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })

                                                <button id="bottonAnular" name="bottonAnular" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Anular">
                                                    Anular
                                                </button>
                                                <div class="col-md-offset-10">
                                                    <button id="AñadirDenominacion" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarDetalle"><span>Agregar Denominación</span></button>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_IndexEditSolicitudEfectivoDetalle", Model.tbSolicitudEfectivoDetalle)
                                    </div>



                    }


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaModifica)</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


@*------------------------Modal Agreagar Detalle-------------------- *@
<div>
    <div class="modal fade" id="ModalAgregarDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
                </div>
                <div class="modal-body" id="frmEditarMunicipios">
                    @Html.Partial("_CreateSolicitudEfectivoDetalle", new tbSolicitudEfectivoDetalle())
                </div>
            </div>
        </div>
    </div>
</div>


@* -------------------Modal Anular---------------- *@
<div class="modal fade" id="Anular" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Solicitud Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de anular esta Solcitud de Efectivo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AnularSolictud();" data-dismiss="modal">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/SolicitudEfectivoEsAnulada.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script>
        var MontoSolicitado = 0;
        $("#mitabla tbody tr:nth-child(-n+4)").each(function () {
            MontoSolicitado += parseFloat($(this).children("td:eq(4)").html());
        });

        $("#total").val(MontoSolicitado);

</script>



<script>
    $(document).ready(function () {
        if ($('#solef_FechaEntrega').val() == '') {

            $("#solef_FechaEntrega").val('0000/00/00');
        }

    });


    </script>


    <script>
        $(document).ready(function () {

            if (jQuery("#solef_EsAnulada").is(":checked")) {
                $('#bottonAnular').hide();
                $('#AñadirDenominacion').hide();
               
                

            }            

            else {
                $('#bottonAnular').show();
                $('#AñadirDenominacion').show();
            }
        });

        

    </script>

    <script>
        if ($('#mitabla >tbody >tr').length == 0) {
            // $('#mnda_Id').hide().disabled = false;
          // $('#mnda_Id').attr("readOnly", "False");
             document.getElementById("mnda_Id").disabled = false
            // $('#mnda_Id').attr("readOnly", "readOnly");
           // alert("Puede!!");
        }
        else {
            $('#mnda_Id').attr("disabled", "disabled");
            // alert('no puede');
        }
    </script>

    @*<script>
        $(document).ready(function () {
            $("#soled_CantidadSolicitada")[0].maxLength = 7;
            $("#ValorDeno")[0].maxLength = 12;
        })

        $(function () {
            $("#soled_CantidadSolicitada").keyup(function (e) {
                var Cantidad = $("#soled_CantidadSolicitada").val(),
                    valores = $("#ValorDeno").val(),
                    result = "";
                if (Cantidad.length && valores.length > 0) {
                    result += Cantidad * valores;
                }
                $("#MontoSolicitado").val(result);
            });
        });
</script>*@





}
