@model ERP_GMEDINA.Models.tbSolicitudEfectivo
@using ERP_GMEDINA.Models

@{
    var test = new ERP_GMEDINA.Models.tbDenominacion();
}
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Efectivo</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Modificar Solicitud de Efectivo</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.solef_Id)
                            @Html.Hidden("RedirectTo", Url.Action("Index", "SolicitudEfectivo"))



                            @**Auditoria*@
                            @Html.HiddenFor(model => model.solef_UsuarioCrea)
                            @Html.HiddenFor(model => model.solef_FechaCrea)
                            @Html.HiddenFor(model => model.solef_UsuarioModifica)
                            @Html.HiddenFor(model => model.solef_FechaModifica)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                            @Html.HiddenFor(model => model.tbUsuario2.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario2.usu_Apellidos)


                            <div class="form-group">
                                @Html.LabelFor(model => model.solef_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.solef_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.solef_Id)
                                </div>
                                @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.tbSucursal.suc_Descripcion)
                                </div>

                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, "Caja", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbMovimientoCaja.tbCaja.cja_Descripcion)
                                </div>
                                @Html.LabelFor(model => model.mocja_Id, "Id Apertura", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @*@Html.DropDownList("mocja_Id",*@ @*String.Empty*@@*null, "Seleccione la Moneda", new { @class = "form-control" })*@
                                    @Html.EditorFor(model => model.mocja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.mocja_Id, "", new { style = "Color:red" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.mnda_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("mnda_Id", null, "Seleccione la Moneda", new { @class = "form-control" })

                                    @*<select id="mnda_Id" name="mnda_Id" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            <option value="0">Seleccione la Moneda</option>
                                        </select>*@

                                    @Html.ValidationMessageFor(model => model.mnda_Id, "", new { style = "Color:red" })
                                </div>

                                @Html.LabelFor(model => model.solef_FechaEntrega, "Fecha de Entrega", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.solef_FechaEntrega, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.solef_FechaEntrega, "", new { style = "Color:red" })
                                </div>

                            </div>


                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.solef_EsApertura, new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.CheckBoxFor(model => model.solef_EsApertura, new { onclick = "return false" })
                                        @Html.DisplayFor(model => model.solef_EsApertura)
                                        @Html.ValidationMessageFor(model => model.solef_EsApertura)
                                    </div>
                                </div>*@
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.solef_EsAnulada, new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.solef_EsApertura)
                                        @Html.CheckBoxFor(model => model.solef_EsAnulada)
                                        @Html.CheckBoxFor(model => model.solef_EsAnulada, new { onclick = "return false" })
                                        @Html.ValidationMessageFor(model => model.solef_EsAnulada)
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-2">Total Solicitud</label>
                                <div class="col-md-3">
                                    <input id="total" class="form-control" readonly />
                                </div>
                            </div>





                            @*<div class="form-group">
                                    <div class="col-md-12">
                                        @Html.Partial("_EditarDetalle", Model.tbSolicitudEfectivoDetalle)
                                    </div>
                                </div>*@


                            @*@Html.Partial("_IndexEditSolicitudEfectivoDetalle", Model.tbSolicitudEfectivoDetalle)*@
                            <br />
                            <div class="table table-responsive">
                                <table class="table table-bordered" id="example2">

                                    <thead>

                                        <tr>

                                            <th class="hidden">
                                                Id Solicitud Detalle
                                            </th>
                                            <th>
                                                Denominación
                                            </th>
                                            <th>
                                                Cantidad Solicitada
                                            </th>
                                            <th>
                                                Monto Solicitado
                                            </th>
                                            <th>
                                                Cantidad Entregada
                                            </th>
                                            <th>
                                                Monto Entregado
                                            </th>
                                            <th class="hidden">
                                                Id Denominación
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <h4 style="color:dodgerblue">Solicitar Denominación</h4>

                            <div class="table table-responsive">
                                <table class="table table-bordered" id="example1">

                                    <thead>

                                        <tr>

                                            <th>
                                                Denominación
                                            </th>
                                            <th>
                                                Cantidad Solicitada
                                            </th>
                                            <th>
                                                Monto Solicitado
                                            </th>
                                            <th>
                                                Cantidad Entregada
                                            </th>
                                            <th>
                                                Monto Entregado
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>

                            </div>




                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-10">
                                    <input type="submit" value="Guardar" id="guardaencabezado" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })

                                    <button id="bottonAnular" name="bottonAnular" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Anular">
                                        Anular
                                    </button>
                                    @*<div class="col-md-offset-10">
                                            <button id="AñadirDenominacion" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarDetalle" data-backdrop="static" data-keyboard="false"><span>Agregar Denominación</span></button>
                                        </div>*@
                                </div>
                            </div>
                        </div>


                    }


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario2.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.solef_FechaModifica)</td>
                    </tr>
                </table>
            </div>



        </div>
    </div>
</div>


@*------------------------Modal Agreagar Detalle-------------------- *@
@*<div>
        <div class="modal fade" id="ModalAgregarDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Agregar Denominación</h4>
                    </div>
                    <div class="modal-body" id="frmEditarMunicipios">
                        <div>

                            @Html.Partial("_AddDetalle", Model.tbMoneda.tbDenominacion)
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@


@* -------------------Modal Anular---------------- *@
<div class="modal fade" id="Anular" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Solicitud Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de anular esta Solcitud de Efectivo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AnularSolictud();" data-dismiss="modal">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/SolicitudEfectivoEsAnulada.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @* validación Readonly *@




    <script>
        var MontoSolicitado = 0;
        $("#mitabla tbody tr:nth-child(-n+20)").each(function () {
            MontoSolicitado += parseFloat($(this).children("td:eq(4)").html());
        });

        $("#total").val(MontoSolicitado);

    </script>



    <script>
        $(document).ready(function () {
            if ($('#solef_FechaEntrega').val() == '') {

                $("#solef_FechaEntrega").val();
            }

        });

    </script>


    <script>
        $(document).ready(function () {

            if (jQuery("#solef_EsAnulada").is(":checked")) {
                $('#bottonAnular').hide();
                $('#AñadirDenominacion').hide();
            }
            else if (jQuery("#solef_EsApertura").is(":checked")) {
                $('#bottonAnular').hide();
                $('#AñadirDenominacion').hide();
            }
            else {
                $('#bottonAnular').show();
                $('#AñadirDenominacion').show();
            }
        });

    </script>

    <script>
        if ($('#example2 >tbody >tr').length == 0) {

            // $('#mnda_Id').hide().disabled = false;
            // $('#mnda_Id').attr("readOnly", "False");

            // document.getElementById("mnda_Id").disabled = true;
            // $('#mnda_Id').attr("readOnly", "readOnly");
            // alert("Puede!!");
        }
        else {
            // $('#mnda_Id').attr("disabled", "disabled");
            //document.getElementById("mnda_Id").disabled = false;

            // document.getElementById("guardaencabezado").disabled = true

            // alert('no puede');
        }
    </script>

    @* ________________________Remplazar Ceros por espacio y bloquiar letras_________________________________________ *@
    <script>
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode;
            return ((key >= 48 && key <= 57) || (key == 8))
        }

        function pierdeFoco(e) {
            var valor = e.value.replace(/^0*/, '');
            e.value = valor;
        }
    </script>


    @* ___________________________Tabla de Add Detalle_______________________________________________ *@

    <script>

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/SolicitudEfectivo/GetModena',
                datatype: 'JSON',
                data: {},
                success: function (data) {

                    $.each(data, function (i, item) {
                        $('#mnda_Id').append("<option value='" + item.mnda_Id + "'>" + item.Text + "</option>");
                    });
                },
                error: function (data) { alert(data.responseText); }
            });

        });
    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            GetDenominacion()
        });


        function GetDenominacion() {
            //  $("#mnda_Id").change(function ()

            var DENOID = $("#solef_Id").val();
            var idSolicitud = $("#solef_Id").val();

            $.ajax({
                type: 'GET',
                url: '/SolicitudEfectivo/GetAddDenominacion',
                datatype: 'JSON',
                data: { 'DENOID': DENOID },
                success: function (data) {
                    $('#example1 tbody').empty();
                    $.each(data, function (i, item) {
                        var rows = "<tr data-id=" + item.denoId + ">" +
                                   "<td hidden>" + item.denoId + "</td>" +
                                   "<td>" + item.DenoDescripcion + "</td>" +
                                    "<td>" + '<input type="text" id="cantidad" name="name" onKeyPress="return soloNumeros(event)" onKeyUp="pierdeFoco(this)" autocomplete="off" class="form-control" ize="3">' + "</td>" +
                                    "<td>" + 0 + "</td>" +
                                     "<td>" + 0 + "</td>" +
                                    "<td >" + 0 + "</td>" +
                                   "<td hidden>" + item.valor + "</td>" +
                                   "<td hidden>" + idSolicitud + "</td>" +

                                   "</tr>";
                        $('#example1 tbody').append(rows);
                    });
                },
                error: function (data) { alert(data.responseText); }
            });
        };


    </script>
    @* ________________________________________Calculos_____________________________________ *@
    <script>
        $(document).on("keyup", "#example1 tbody tr td input#cantidad", function () {
            var row = $(this).closest("tr");
            var Cantidad = $(this).val();
            var ValorDenominacion = $(this).parents("tr").find("td")[6].innerHTML;
            var montosoli = parseFloat(Cantidad * ValorDenominacion);
            MontoInicial = 0;

            $(this).parents("tr").find("td")[3].innerHTML = montosoli;
            if (montosoli != 0) {
                MontoInicial += montosoli;
            }
            else {
                MontoInicial = 0;
                $("#example1 tbody tr  td label#MontoSolicitado").each(function (index) {
                    Monto = $(this).children("td:eq(3)").html();
                    if (Monto != '') {
                        Monto = parseFloat(Monto);
                        MontoInicial += Monto;
                    }
                })
            }
        });
    </script>
    @* ___________________________________________Guardar mas Detalle Denominación________________________________ *@

    <script>
        $('#guardaencabezado').click(function () {

            var idmovimiento
            var Detail = [];
            var monedas = $('#mnda_Id').val();

            if (monedas <= 0) {
                valido = document.getElementById('mone');
                valido.innerText = "El Campo Moneda es Requierido";
                return false;
            }
            else if (monedas > 0) {


                $('#example1 > tbody  > tr').each(function () {
                    idItem = $(this).data('id');
                    var soledCantidadSolicitada = $(this).find("td:eq(2)").find("input").val();

                    var idSolicitud = ($(this).children("td:eq(7)").html());

                    if (soledCantidadSolicitada != '' && soledCantidadSolicitada != 0) {
                        console.log('idItem', idItem);
                        console.log('soledCantidadSolicitada', soledCantidadSolicitada);
                        var item = {
                            deno_Id: idItem,
                            soled_CantidadSolicitada: parseInt(soledCantidadSolicitada),
                            solef_Id: parseInt(idSolicitud),
                        }
                        Detail.push(item);
                    }
                });
                console.log(Detail);
                $.ajax({
                    url: "/SolicitudEfectivo/AddDetalle",
                    method: 'POST',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ procesoData: Detail }),
                })
                .done(function (data) {
                    if (data == 'Error') {
                        alert('No Enviado');

                    }
                    else {
                        //location.reload();
                        //document.getElementById("mnda_Id").disabled = false;

                        //Ocultar el dropdawlist pendiente
                        window.location.href = "/SolicitudEfectivo/Index";

                        //  alert('Realizando Solicitud');
                        console.log(procesoData);
                        console.log(cantisoli);
                    }

                });
            }
        });


    </script>
    @* ______________________Cerrar Modal______________________________________ *@

    @*<script type="text/javascript">
            $(document).on('click', '#Cancelar', function () {

                $('#ModalAgregarDetalle').modal('hide');
            });

        </script>*@

    <script type="text/javascript">

        $(document).ready(function () {
            GetDenominacions()
        });


        function GetDenominacions() {

            var Solictud = $("#solef_Id").val();

            $.ajax({
                type: 'GET',
                url: '/SolicitudEfectivo/GetDtalle',
                datatype: 'JSON',
                data: { 'Solictud': Solictud },
                success: function (data) {
                    $('#example2 tbody').empty();
                    $.each(data, function (i, item) {
                        var rows = "<tr data-id=" + item.soled_Id + ">" +

                            "<td hidden>" + item.soled_Id + "</td>" +
                            "<td>" + item.deno_Descripcion + "</td>" +
                            '<td><input type="text" id="csolicitada" min="1" onKeyPress="return soloNumeros(event)" onKeyUp="pierdeFoco(this)" autocomplete="off" class="form-control" ize="3"  value="' + item.soled_CantidadSolicitada + '"  /></td>' +
                            "<td>" + item.MontoSolicitado + "</td>" +
                            "<td>" + item.soled_CantidadEntregada + "</td>" +
                            "<td>" + item.MontoEntregado + "</td>" +
                            "<td hidden>" + item.deno_Id + "</td>" +


                           // '<td>' + item.soled_FechaCrea + '</td>' +
                              "</tr>";
                        $('#example2 tbody').append(rows);
                    });
                },
                error: function (data) { alert(data.responseText); }
            });
        };

    </script>



    @* '''''''''''''''Actualizar''''''''''''''''''' *@
    @*<script>
        $(document).on("change", "#example2 tbody tr td input#csolicitada", function () {
            //var IdSolicitud = $(this).parents("tr").find("td")[0].innerHTML;
            //console.log("IdSolicitud: ", IdSolicitud);

            var IdSolicitudDetalle = $(this).parents("tr").find("td")[0].innerHTML;
            console.log("IdSolicitudDetalle:", IdSolicitudDetalle);

            var denoID = $(this).parents("tr").find("td")[6].innerHTML;
            console.log('denoID: ', denoID);

            var CantidadSolicitada = $(this).parents('tr').find('td', [1]).html();
            console.log("CantidadSolicitada:", CantidadSolicitada);
            //$(this).parents("tr").find("td")[3].innerHTML;

            var CantidadEntregada = $(this).parents("tr").find("td")[4].innerHTML;

            console.log('CantidadEntregada: ', CantidadEntregada);

            var Monto = $(this).parents("tr").find("td")[4].innerHTML;
            console.log('Monto Entregado:', Monto);



            //var UsuarioCrea = $(this).parents("tr").find("td")[8].innerHTML;
            //console.log('UsuarioCrea: ', UsuarioCrea);

            //var FechaCrea = $(this).parents("tr").find("td")[9].innerHTML;
            //console.log('FechaCrea: ', FechaCrea);

            console.log('----------------------------');

            var SolicitudEfectivoDetalle = GetEntregaEfectivoDetalle();

            $.ajax({
                url: "/SolicitudEfectivo/SaveEditSolicitudEfectivoDetalleCantidad",
                method: "POST",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ tbSolicitudEfectivoDetalle: SolicitudEfectivoDetalle }),
                success: function (data) {
                }
            })
            .done(function (data) {
                if (data == 'El registro se guardó exitosamente') {
                    swal("El registro se editó exitosamente!", "", "success");
                }
                else {
                    swal("El registro  no se editó!", "", "error");
                }
            });

            function GetEntregaEfectivoDetalle() {
                var EntregaEfectivoDetalle = {
                    soled_Id: IdSolicitudDetalle,

                    soled_CantidadSolicitada: CantidadSolicitada,
                    soled_CantidadEntregada: CantidadEntregada,
                    soled_MontoEntregado: Monto,
                    deno_Id: denoID,

                }
                return EntregaEfectivoDetalle
            };

        });


    </script>*@






}
