@model ERP_ZORZAL.Models.tbSolicitudEfectivo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar Solicitud Efectivo</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})*@
            <a href="/SolicitudEfectivo/Index">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Solicitud Efectivo</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.solef_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.solef_Id, "Número", new { @class = "control-label col-md-2" })
            <div class="col-md-2">

                @Html.EditorFor(model => model.solef_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.solef_Id)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.cja_Id, "Caja", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
              
                @Html.EditorFor(model => model.tbCaja.cja_Descripcion , new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbCaja.cja_Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mnda_Id, "Moneda", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
               
                @Html.EditorFor(model => model.tbMoneda.mnda_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbMoneda.mnda_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_MontoSolicitud,"Monto Solicitado", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.solef_MontoSolicitud , new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.solef_MontoSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_MontoSolicitud, "Monto Entregado", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input class = "control-label col-md-2 form-control" readonly="readonly"/>              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solef_FechaCrea, "Fecha de Solicitud", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.solef_FechaCrea, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.solef_FechaCrea)
            </div>
        </div>



        <br />

        <div class="table-responsive ">
            <table class="table">
                <thead>
                    <tr>
                        <th>Denominación</th>
                        <th> Cantidad Solicitada</th>
                        <th> Monto Solicitado</th>
                        <th>Cantdad Entregada</th>
                        <th>Monto Entregado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>100</th>
                        <td>1</td>
                        <td>100</td>
                        <td>  </td>
                        <td>  </td>
                        <td><button id="detalle" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalAgregarSolicitudEfectivoDetalle">Editar</button></td>
                    </tr>
                    <tr>
                        <th>50</th>
                        <td>2</td>
                        <td>100</td>
                        <td>   </td>
                        <td>  </td>
                        <td><button id="detalle" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalAgregarSolicitudEfectivoDetalle">Editar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>


       
               

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Guardar" class="btn btn-primary" />*@
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.solef_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.solef_UsuarioCrea)</td>
                        <td>@Html.DisplayFor(model => model.solef_FechaModifica)</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




<div>
    <div class="modal fade" id="ModalAgregarSolicitudEfectivoDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> Solicitud Efectivo Detalle</h4>
                </div>
                <div class="modal-body" id="frmPedidoDetalle">
                    @Html.Partial("_EditarDetalleSolicitudEfectivoDetalle", new ERP_ZORZAL.Models.tbSolicitudEfectivoDetalle())
                   
                </div>
            </div>
        </div>
    </div>
</div>