@model IEnumerable<ERP_GMEDINA.Models.UDP_Vent_SolicituEfectivo_Select>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Solicitudes de Efectivo</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Solicitud Efectivo", "Create", null, new { @class = "btn btn-primary btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table table-responsive">
                        <table class="table table-striped" id="SolicitudEfectivo">
                            <thead>
                                <tr>
                                    <th>                                       
                                        ID Solicitud
                                    </th>
                                    <th>
                                        Fecha Solicitud
                                    </th>
                                    <th>
                                        Sucursal
                                    </th>
                                    <th>
                                        Caja
                                    </th>
                                    <th>
                                        Moneda
                                    </th>
                                    <th>
                                        Monto Solicitado
                                    </th>
                                    <th>
                                        Monto Entregado
                                    </th>

                                    <th class="hide">
                                        Apertura
                                    </th>
                                    <th class="hide">
                                        Cajero
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdSolicitud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaSolicitud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sucursal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Caja)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Moneda)
                                        </td>
                                        <th class="hide">
                                            @Html.DisplayFor(modelItem => item.usuariocrea)
                                        </th>  
                                        @{ if (Convert.ToString(item.MontoSolicitado) == "")
                                            {
                                                <td>
                                                    0.00
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MontoSolicitado)
                                                </td>
                                            }
                                        }
                                        @{ if (Convert.ToString(item.MontoEntregado) == "")
                                            {
                                                <td>
                                                    0.00
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MontoEntregado)
                                                </td>
                                            }
                                        }
                                        <td class="hidden">
                                            @Html.DisplayFor(modelItem => item.Apertura)
                                        </td>
                                        @{
                                            string Editar = "btnEditar";}
                                        @{
                                            if (item.Apertura == true)
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Imprimir", "ExportReport", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs", target = "_blank" })                                                   
                                                </td>
                                            }
                                            else if (Convert.ToString(item.MontoSolicitado) == "")
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdSolicitud }, new { @class = "btn btn-white btn-xs", id = Editar })
                                                </td>
                                            }
                                            else if (item.MontoEntregado == 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdSolicitud }, new { @class = "btn btn-white btn-xs", id = Editar })
                                                    @Html.ActionLink("Entregar Efectivo", "EditEntregaEfectivo", new { id = item.IdSolicitud }, new { @class = "btn btn-danger btn-xs" })
                                                </td>
                                            }

                                            else if (item.MontoEntregado > 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Imprimir", "ExportReport", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs", target = "_blank" })
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdSolicitud }, new { @class = "btn btn-white btn-xs", id = Editar })
                                                    @Html.ActionLink("Entregar Efectivo", "EditEntregaEfectivo", new { id = item.IdSolicitud }, new { @class = "btn btn-danger btn-xs" })
                                                    @Html.ActionLink("Imprimir", "ExportReport", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs", target = "_blank" })
                                                </td>
                                            }
                                        }
                                    </tr>
                                   }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/SolicitudEfectivo.js"></script>

