@model IEnumerable<ERP_GMEDINA.Models.UDP_Vent_SolicituEfectivo_Select>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Solicitus de Eectivo</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Registrar Solicitud Efectivo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">
                    <div class="table table-responsive">
                        <table class="table table-striped" id="SolicitudEfectivo">
                            <thead>
                                <tr>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.IdSolicitud)*@
                                        ID Solicitud
                                    </th>
                                    <th>
                                        Fecha Solicitud
                                    </th>
                                    <th>
                                        Sucursal
                                    </th>
                                    <th>
                                        Caja
                                    </th>
                                    <th>
                                        Moneda
                                    </th>
                                    <th>
                                        Monto Solicitado
                                    </th>
                                    <th>
                                        Monto Entregado
                                    </th>

                                    <th class="hide">
                                        Apertura
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdSolicitud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaSolicitud)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sucursal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Caja)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Moneda)
                                        </td>
                                        @{ if (Convert.ToString(item.MontoSolicitado) == "")
                                            {
                                                <td>
                                                    0.00
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MontoSolicitado)
                                                </td>
                                            }
                                        }
                                        @{ if (Convert.ToString(item.MontoEntregado) == "")
                                            {
                                                <td>
                                                    0.00
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MontoEntregado)
                                                </td>
                                            }
                                        }

                                        

                                        <td class="hidden">
                                            @Html.DisplayFor(modelItem => item.Apertura)
                                        </td>

                                        @{
                                            string Editar = "btnEditar";}
                                        @{
                                            if (item.Apertura == true)
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                    @Html.ActionLink("Entregar Efectivo", "EditEntregaEfectivo", new { id = item.IdSolicitud }, new { @class = "btn btn-danger btn-xs" })
                                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalImprimir">
                                                        Imprimir
                                                    </button>
                                                </td>
                                            }

                                            else if (item.MontoEntregado > 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                   
                                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalImprimir">
                                                        Imprimir
                                                    </button>
                                                </td>


                                            }


                                            else
                                            {
                                                <td>
                                                    @Html.ActionLink("Detalle", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                                                            @Html.ActionLink("Editar", "Edit", new { id = item.IdSolicitud }, new { @class = "btn btn-white btn-xs", id = Editar })
                                                            @Html.ActionLink("Entregar Efectivo", "EditEntregaEfectivo", new { id = item.IdSolicitud }, new { @class = "btn btn-danger btn-xs" })
                                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalImprimir">
                                                        Imprimir
                                                    </button>
                                                </td>
                                            }


                                        }

                                    </tr>
                                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/SolicitudEfectivo.js"></script>

<div class="modal fade" id="ModalImprimir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imprimir Solicitud Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea Imprimir Esta Solicitud de Efectivo?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","SolicitudEfectivo")" class="btn btn-primary">Si</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
