@model IEnumerable<ERP_GMEDINA.Models.UDP_Vent_SolicituEfectivo_Select>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Efectivo</h2>        
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Solicitud Efectivo</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Registrar Solicitud Efectivo", "Create", null, new { @class = "btn btn-primary"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped" id="SolicitudEfectivo">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoSolicitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEntregado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caja)
                </td>
                @{ if (Convert.ToString(item.Moneda) == null)
                    {
                        <td>
                          **
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Moneda)
                        </td>
                    }
                }

                @{ if (Convert.ToString(item.Moneda) == null)
                    {
                        <td>
                            0.00
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoSolicitado)
                        </td>
                    }
                }

                @{ if (Convert.ToString(item.Moneda) == null)
                    {
                        <td>
                            0.00
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoEntregado)
                        </td>
                    }
                }
                
                
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdSolicitud }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdSolicitud }, new { @class = "btn btn-white btn-xs" })
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-white btn-sm"})*@
                </td>
            </tr>
        }
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script src="~/Scripts/app/SolicitudEfectivo.js"></script>