@model ERP_ZORZAL.Models.tbProveedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Proveedor</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>

    </div>

</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Proveedor</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.prov_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.prov_Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prov_NombreContacto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_NombreContacto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prov_Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_Direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prov_Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prov_Telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prov_Telefono)
                        </dd>

                        @*<dt>
            @Html.DisplayNameFor(model => model.prov_UsuarioCrea)
        </dt>

        <dd>
            Jonathan Vallejo
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prov_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prov_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prov_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prov_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prov_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prov_FechaModifica)
        </dd>*@

                    </dl>


                    @Html.ActionLink("Editar", "Edit", new { id = Model.prov_Id }, new { @class = "btn btn-primary" })


                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th> @*@Html.DisplayNameFor(model => model.tsal_Descripcion)*@Acción </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_UsuarioCrea)*@Creado
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tsal_FechaCrea)*@Fecha
                            </th>@*<th>
                                @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)</th><th>
                                @Html.DisplayNameFor(model => model.tsal_FechaModifica) </th>*@
                            @*<th></th>*@
                        </tr>
                        @*@foreach (var item in Model) { }*@
                        <tr>
                            <td> @*@Html.DisplayFor(modelItem => item.tsal_Descripcion)*@Creado por  </td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            </td>
                            <td>@Html.DisplayFor(model => model.prov_FechaCrea)</td>
                            @*<td>@Html.DisplayFor(modelItem => item.tsal_FechaModifica)</td>
                                <td>@Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})                         @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})                         @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})                     </td>*@
                        </tr>
                        <tr>
                            <td>

                                @*@Html.DisplayFor(modelItem => item.tsal_UsuarioCrea)*@Modificado por
                            </td>
                            <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres) </td>
                            <td> @Html.DisplayFor(model => model.prov_FechaModifica)</td>
                            @*<td> @Html.DisplayFor(modelItem => item.tsal_FechaModifica)</td>
                            *@
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




