@model Inspinia_MVC5_SeedProject.Models.tbProveedor

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Proveedor</h2>
       
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "" })
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Proveedor</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre Contacto</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Direccion</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Telefono</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line ">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                            }


                       
                    </div>
                </div>
            </div>
        </div>
    </div>

  @section Scripts {
       @Scripts.Render("~/bundles/jqueryval")
   }
