@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbTiposEntrada>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tipos De Entradas</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nueva Entrada", "Crear", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped" id="tbTiposEntrada">
    <thead>
        <tr>
            <th>
               Entrada Id
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
               1
            </td>
            <td>
               Entrada Por Devolucion
            </td>
            <td>
                @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Entrada Por Traslado
            </td>
            <td>
                @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Entrada Por Compra
            </td>
            <td>
               @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
            </td>
        </tr>
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>


@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbTiposEntrada').DataTable({

            "searching": true,
            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_Registros Por Página",
                "sInfo": "Mostrando _START_ a _END_ Entradas"
            },
        });
        });
    </script>
}

