@model ERP_GMEDINA.Models.tbEmpleado
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validation-error {
        color: red;
        font-size: small;
    }
    .required:after {
         content: "*";
         font-weight: bold;
         color: red; }
    .MayusText {
        text-transform:uppercase;
    }
</style>


@*Font Awesome*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Empleados</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>


@using (Html.BeginForm("Create", "Empleado", FormMethod.Post, new { encenctype = "multipart/form-data" }))
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Registrar Empleado</h5>
                    </div>
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">

                                @Html.LabelFor(model => model.emp_Nombres, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_Nombres, new { htmlAttributes = new { @class= "MayusText", @onkeypress = "return soloLetras(event)" } })
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.emp_Nombres)
                                    </p>
                                </div>

                                @Html.LabelFor(model => model.emp_Apellidos, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_Apellidos, new { htmlAttributes = new { @class = "MayusText", @onkeypress = "return soloLetras(event)" } })
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.emp_Apellidos)
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.emp_Sexo, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    <select class="form-control" id="emp_Sexo" name="emp_Sexo">
                                        <option value="">Seleccione Sexo</option>
                                        <option value="H">Hombre</option>
                                        <option value="M">Mujer</option>
                                    </select>
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.emp_Sexo)</p>
                                </div>

                                @Html.LabelFor(model => model.emp_FechaNacimiento, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_FechaNacimiento, "{0:yyyy-mm-dd }", new { HtmlAttribute = new { @id = "emp_FechaNacimiento" } })
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.emp_FechaNacimiento)</p>
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.tbTipoIdentificacion.tpi_Id, "Tipo Identificación", new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.DropDownList("tpi_Id", (IEnumerable<SelectListItem>)ViewBag.TipoIList, "Seleccione", new { @class = "form-control" })
                                    <p style="color:red"> @Html.ValidationMessageFor(model => model.tbTipoIdentificacion.tpi_Id)</p>
                                </div>


                                @Html.LabelFor(model => model.emp_Identificacion, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.emp_Identificacion,  new { @class = "form-control", onblur = "limpiaIdentificacion()", id = "emp_Identificacion", MaxLength = 14 })
                                    <div id="ValidacionIdentificacion">
                                        <p style="color:red"> @Html.ValidationMessageFor(model => model.emp_Identificacion)</p>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.emp_Telefono, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.emp_Telefono, new { @class = "form-control", @placeholder="(area) 9999-9999", maxlength = 10 })
                                    <div id="ValidacionTelefono" style="color:red">
                                         @Html.ValidationMessageFor(model => model.emp_Telefono)
                                    </div>
                                    
                                </div>

                                @Html.LabelFor(model => model.emp_Correoelectronico, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.emp_Correoelectronico, new { @class = "form-control", maxlength = 50 })
                                    <p style="color:red"> @Html.ValidationMessageFor(model => model.emp_Correoelectronico)</p>
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.emp_TipoSangre, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_TipoSangre, new { htmlAttributes = new { @class = "MayusText", @onkeypress = "return TipoSangre(event)", onblur = "limpiaTipoSangre()", id = "emp_TipoSangre",MaxLength =2 } })
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.emp_TipoSangre)
                                    </p>
                                </div>

                                @Html.LabelFor(model => model.emp_Puesto, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_Puesto, new { htmlAttributes = new { @class = "MayusText", @onkeypress = "return soloLetras(event)" ,  MaxLength = 50 } })
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.emp_Puesto)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.emp_FechaIngreso, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_FechaIngreso, "{0:yyyy-mm-dd}", new { HtmlAttribute = new { @id = "emp_FechaIngreso", @readonly = "readonly" } })
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.emp_FechaIngreso)</p>
                                </div>

                                @Html.LabelFor(model => model.emp_Direccion, new { @class = "control-label col-md-2 , required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.emp_Direccion, new { htmlAttributes = new { @onkeypress = "return Direccion(event)", MaxLength = 250 } })
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.emp_Direccion)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="btnguardar" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/app/DatepickerEmpleado.js"></script>

}

