@model ERP_GMEDINA.Models.tbEmpleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Auditoria.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Empleados</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Empleado</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Nombres)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Nombres)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Apellidos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Apellidos)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Sexo)
                        </dt>

                        <dd>
                            @if (Model.emp_Sexo == "M")
                            {
                                @Html.DisplayName("Mujer")
                            }
                            else
                            {
                                @Html.DisplayName("Hombre")
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_FechaNacimiento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_FechaNacimiento)
                        </dd>
                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbTipoIdentificacion.tpi_Descripcion)*@
                            Tipo Identificación
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbTipoIdentificacion.tpi_Descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Identificacion)

                        </dt>

                        
                        <dd>
                            @Html.DisplayFor(model => model.emp_Identificacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Correoelectronico)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Correoelectronico)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_TipoSangre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_TipoSangre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Puesto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Puesto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_FechaIngreso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_FechaIngreso)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.emp_Observaciones)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.emp_Observaciones)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.emp_Estado)*@
                            Estado
                        </dt>
                        <dd>
                            @if (Model.emp_Estado == true)
                            {
                                <p> Activo</p>
                            }
                            else
                            {
                                <p>Inactivo</p>
                            }
                        </dd>


                    </dl>


                    @Html.ActionLink("Editar", "Edit", new { id = Model.emp_Id }, new { @class = "btn btn-primary" })

                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)</td>
                        <td>@Html.DisplayFor(model => model.emp_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td> @Html.DisplayFor(model => model.tbUsuario.usu_Nombres) 
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)</td>
                        <td>@Html.DisplayFor(model => model.emp_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>













