@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbProductos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Productos</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Productos</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

@*<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_PrecioCompraVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categ_prod_IDCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCateg_prod_IDSubCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estad_prod_Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prod_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_PrecioCompraVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categ_prod_IDCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCateg_prod_IDSubCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estad_prod_Codigo)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.prod_Codigo }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.prod_Codigo }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>*@

                    <table class="table table-striped" id="datatables">
                        <thead>
                            <tr>
                                <th>
                                    Codigo Producto
                                </th>
                                <th>
                                    Descripcion Producto
                                </th>
                                <th>
                                    Fecha Creacion Producto
                                </th>
                                <th>
                                    Precio Compra/Venta
                                </th>
                                <th>
                                    Marca
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    SubCategoria
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Camisa
                                </td>
                                <td>
                                    24/11/2018
                                </td>
                                <td>
                                    50/100
                                </td>
                                <td>
                                    Polo
                                </td>
                                <td>
                                    Ropa
                                </td>
                                <td>
                                    Camisa
                                </td>
                                <td>
                                    D
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
        $('#datatables').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}

