@model Inspinia_MVC5_SeedProject.Models.tbSubcategoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-primary" })
            @*<a href="~/Views/tbSalidas/Index.cshtml" class = "btn btn-primary">Volver al listado</a>*@
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Salida</h5>
                </div>
                <div class="ibox-content">

                    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.SubCateg_IDSubCategoria, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubCateg_IDSubCategoria)
                        @Html.ValidationMessageFor(model => model.SubCateg_IDSubCategoria)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubCateg_IDCategoria, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubCateg_IDCategoria)
                        @Html.ValidationMessageFor(model => model.SubCateg_IDCategoria)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubCateg_Descripcion, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubCateg_Descripcion)
                        @Html.ValidationMessageFor(model => model.SubCateg_Descripcion)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                    </div>
                </div>
            </div>
        }*@

              
                    <div class="form-horizontal">


                        <div class="col-md-2">
                            Fecha de Salida
                            <br />
                            <input type="datetime" />
                            <br /><br />
                            Bodega
                            <br />
                            <select>
                                <option value="1">Bodega 1</option>
                                <option value="2">Bodega 2</option>
                                <option value="3">Bodega 3</option>
                                <option value="3">Bodega 4</option>
                            </select>
                            <br /><br />
                            Inventario
                            <br />
                            <select>
                                <option value="1">Inventario 1</option>
                                <option value="2">Inventario 2</option>
                                <option value="3">Inventario 3</option>
                                <option value="3">Inventario 4</option>
                            </select>
                            <br /><br />
                            Transporte
                            <br />
                            <select>
                                <option value="1">Propio</option>
                                <option value="2">Empresa de Tercero</option>
                            </select>
                            <br /><br />
                            Tipo de Salida
                            <br />
                            <select>
                                <option value="1">Venta</option>
                                <option value="2">Translado</option>
                            </select>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                                <input class="btn btn-white" value="Cancelar" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
