@model ERP_ZORZAL.Models.tbTipoPago

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Registrar </h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","TipoPago")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Tipo de Pago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tpa_Descripcion)
                @Html.ValidationMessageFor(model => model.tpa_Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Emisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tpa_Emisor)
                @Html.ValidationMessageFor(model => model.tpa_Emisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Cuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tpa_Cuenta)
                @Html.ValidationMessageFor(model => model.tpa_Cuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tpa_FechaVencimiento)
                @Html.ValidationMessageFor(model => model.tpa_FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Titular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tpa_Titular)
                @Html.ValidationMessageFor(model => model.tpa_Titular)
            </div>
        </div>

        @*<div class="form-group">
            @html.labelfor(model => model.tpa_usuariocrea, "tpa_usuariocrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.dropdownlist("tpa_usuariocrea", string.empty)
                @html.validationmessagefor(model => model.tpa_usuariocrea)
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.tpa_fechacrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.editorfor(model => model.tpa_fechacrea)
                @html.validationmessagefor(model => model.tpa_fechacrea)
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.tpa_usuariomodifica, "tpa_usuariomodifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.dropdownlist("tpa_usuariomodifica", string.empty)
                @html.validationmessagefor(model => model.tpa_usuariomodifica)
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.tpa_fechamodifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.editorfor(model => model.tpa_fechamodifica)
                @html.validationmessagefor(model => model.tpa_fechamodifica)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Tipo de Pago" class="btn btn-primary" />
				@Html.ActionLink("Anular", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/app/Datepicker.js"></script>