@model Inspinia_MVC5_SeedProject.Models.tbTipoPago

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalle</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Detalle</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Tipo Pago</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tpa_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpa_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpa_Emisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpa_Emisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpa_Cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpa_Cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpa_FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpa_FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpa_Titular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpa_Titular)

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.tpa_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













