@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbTipoPago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipo Pago</h2>
        <ol class="breadcrumb">
            @*<li class="active">
                <strong>tbTipoPago</strong>
            </li>*@
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Tipo Pago</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tpa_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpa_Emisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpa_Cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpa_FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tpa_Titular)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tpa_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpa_Emisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpa_Cuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpa_FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tpa_Titular)
        </td>
      
        <td>
			@Html.ActionLink("Detalle", "Details", new { id=item.tpa_Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Editar", "Edit", new { id=item.tpa_Id }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Eliminar", "Delete", new { id=item.tpa_Id }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



