@model ERP_GMEDINA.Models.tbDevolucionDetalle
@using ERP_GMEDINA.Models

@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">*@
        @*<div class="col-lg-12">
            <div class="ibox float-e-margins">*@
                @*<div class="ibox-title">
                    <h5>_DetalleProductoDevolucion tbDevolucionDetalle</h5>
                </div>*@
                @*<div class="ibox-content">*@


				    <dl class="dl-horizontal">
                       
              @Html.HiddenFor(model => model.dev_Id)

                        <br /><dt>
             @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProducto.prod_Descripcion)
        </dd>
                       
                        <br /><dt>
            @Html.DisplayNameFor(model => model.devd_CantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_CantidadProducto)
        </dd>

                        <br /><dt>
            @Html.DisplayNameFor(model => model.devd_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_Descripcion)
        </dd>

     
    </dl>


	    @*@Html.ActionLink("Edit", "Edit", new { id = Model.devd_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@

                @*</div>
            </div>*@
        @*</div>*@
    @*</div>
 </div>*@













