@model Inspinia_MVC5_SeedProject.Models.tbExoneraciones

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            <li class="active">
                <strong>Editar Exoneración</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbExoneraciones</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ex_Codigo)

        <div class="form-group">
            @Html.LabelFor(model => model.clte_RTN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_RTN)
                @Html.ValidationMessageFor(model => model.clte_RTN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ex_FechaEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ex_FechaEmision)
                @Html.ValidationMessageFor(model => model.ex_FechaEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ex_FechaInicial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ex_FechaInicial)
                @Html.ValidationMessageFor(model => model.ex_FechaInicial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ex_FechaFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ex_FechaFinal)
                @Html.ValidationMessageFor(model => model.ex_FechaFinal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ex_Imagen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ex_Imagen)
                @Html.ValidationMessageFor(model => model.ex_Imagen)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
