@model ERP_ZORZAL.Models.tbSucursal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Sucursal</h2>
      
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Sucursal</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Id, "Codigo Sucursal",new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Id)
                @Html.ValidationMessageFor(model => model.suc_Id)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.ID_BEN, "Beneficiario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_BEN, new SelectList(Model.CPidbeneficiarioList, "ID_BEN", "NOMBRE"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_BEN, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.mun_Codigo, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => Model.mun_Codigo, new SelectList(Model.sMunicipio, "mun_Codigo", "mun_Nombre"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mun_Codigo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.tbMunicipio.mun_Nombre, " Municipio", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("mun_Codigo", null, "Seleccione Municipio", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tbMunicipio.mun_Nombre)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.bod_Id, "Bodega", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => Model.bod_Id, new SelectList(Model.sMunicipio, "mun_Codigo", "mun_Nombre"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bod_Id, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.tbBodega.bod_Nombre, "Codigo Bodega", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("bod_Id", null, "Seleccione Bodega", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tbBodega.bod_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemi_Id, "Punto Emision", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("pemi_Id", null, "Seleccione Punto Emision", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pemi_Id)
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Correo)
                @Html.ValidationMessageFor(model => model.suc_Correo)
            </div>
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Direccion)
                @Html.ValidationMessageFor(model => model.suc_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Telefono)
                @Html.ValidationMessageFor(model => model.suc_Telefono)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Sucursal" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
