@model ERP_ZORZAL.Models.tbSucursal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Sucursal</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Detalle</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Sucursal</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.suc_Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.suc_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.suc_Descripcion)
                        </dd>
                        <br /><dt>
                            @Html.DisplayNameFor(model => model.tbPuntoEmision.pemi_NumeroCAI)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbPuntoEmision.pemi_NumeroCAI)
                        </dd>

                        <br /> <dt>
            @Html.DisplayNameFor(model => model.suc_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suc_Correo)
        </dd>

                        <br /><dt>
            @Html.DisplayNameFor(model => model.suc_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suc_Direccion)
        </dd>

                        <br />
                        <dt>
                            Municipio
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbMunicipio.mun_Nombre)
                        </dd>
                        <br /><dt>
            @Html.DisplayNameFor(model => model.suc_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suc_Telefono)
        </dd>

    </dl>
	    @Html.ActionLink("Aceptar", "Index", new { id = Model.suc_Id }, new { @class = "btn btn-primary"})
  

                    <div class="form-group">
                        <table id="Auditoria" class="table table-striped">
                            <tr>
                                <th></th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Creado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.suc_FechaCrea)</td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.suc_FechaModifica)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>













