@model ERP_ZORZAL.Models.tbSucursal

@using ERP_ZORZAL.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Sucursal</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Actualizar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Actualizar Sucursal</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.suc_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Descripcion, "Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.suc_Descripcion)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tbMunicipio.mun_Codigo, "Municipio", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
               @Html.EditorFor(model => model.tbMunicipio.mun_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbMunicipio.mun_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tbBodega.bod_Id, "Bodega", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbBodega.bod_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbBodega.bod_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemi_Id, "Punto Emision", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbPuntoEmision.pemi_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pemi_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Correo)
                @Html.ValidationMessageFor(model => model.suc_Correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Direccion)
                @Html.ValidationMessageFor(model => model.suc_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Telefono)
                @Html.ValidationMessageFor(model => model.suc_Telefono)
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                    <div class="form-group">
                        <table id="Auditoria" class="table table-striped">
                            <tr>
                                <th></th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Creado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.suc_UsuarioCrea)</td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.suc_FechaModifica)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


