@model ERP_GMEDINA.Models.tbSucursal

@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Auditoria.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Sucursal</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Actualizar Sucursal</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.suc_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Descripcion, "Sucursal", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.suc_Descripcion)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tbMunicipio.mun_Nombre, " Municipio", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("mun_Codigo", null, new { @class = "form-control" })
                @*@Html.DropDownList("mun_Codigo", (IEnumerable<SelectListItem>)ViewBag.mun_Codigo, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.tbMunicipio.mun_Nombre)
            </div>
        </div>

         @*<div class="form-group">
            @Html.LabelFor(model => model.tbMunicipio.mun_Codigo, "Municipio", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
               @Html.EditorFor(model => model.tbMunicipio.mun_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbMunicipio.mun_Nombre)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.tbBodega.bod_Id, "Bodega", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbBodega.bod_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbBodega.bod_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemi_Id, "Punto Emision", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbPuntoEmision.pemi_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pemi_Id)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.tbBodega.bod_Nombre, "Codigo Bodega", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("bod_Id", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tbBodega.bod_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pemi_Id, "Punto Emision", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("pemi_Id", null, "Seleccione Punto Emision", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pemi_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Correo)
                @Html.ValidationMessageFor(model => model.suc_Correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Direccion)
                @Html.ValidationMessageFor(model => model.suc_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.suc_Telefono)
                @Html.ValidationMessageFor(model => model.suc_Telefono)
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>
}


                    <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Creado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</td>
                                <td>@Html.DisplayFor(model => model.suc_FechaCrea)</td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</td>
                                <td>@Html.DisplayFor(model => model.suc_FechaModifica)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


