@model ERP_GMEDINA.Models.tbListadoPrecioDetalle
@using ERP_GMEDINA.Models


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Lista Precio Detalle </h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Precio Mayorista
            @*@Html.DisplayNameFor(model => model.lispd_PrecioMayorista)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_PrecioMayorista)
        </dd>

        <dt>
            Precio Minorista
            @*@Html.DisplayNameFor(model => model.lispd_PrecioMinorista)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_PrecioMinorista)
        </dd>

        <dt>
            Fecha Inicio Vigencia
            @*@Html.DisplayNameFor(model => model.lispd_FechaInicioVigencia)*@
        </dt>

        <dd>
          
            @Html.DisplayFor(model => model.lispd_FechaInicioVigencia)
        </dd>

        <dt>
            Fecha Final Vigencia
            @*@Html.DisplayNameFor(model => model.lispd_FechaFinalVigencia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_FechaFinalVigencia)
        </dd>

        <dt>
            Descuento Caja 
            @*@Html.DisplayNameFor(model => model.lispd_DescCaja)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_DescCaja)
        </dd>

        <dt>
            Descuento Gerente
            @*@Html.DisplayNameFor(model => model.lispd_DescGerente)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_DescGerente)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.lispd_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_FechaCrea)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.lispd_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lispd_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProducto.prod_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbListaPrecio.listp_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbListaPrecio.listp_Nombre)
        </dd>

    </dl>


                </div>
            </div>
        </div>
    </div>
 </div>













