@model ERP_GMEDINA.Models.tbListadoPrecioDetalle

@using (Ajax.BeginForm("UpdateListaPrecioDetalle", "ListaPrecios", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EditarListadoPrecioDetalle" }))
{

    <div class="form-horizontal">
        
        <div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo, "Producto", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.prod_Codigo)
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.lispd_PrecioMayorista, "Precio Mayorista", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.lispd_PrecioMayorista)
                    <p style="color:red">@Html.ValidationMessageFor(model => model.lispd_PrecioMayorista)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lispd_PrecioMinorista, "Precio Minorista", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.lispd_PrecioMinorista)
                    <p style="color:red"> @Html.ValidationMessageFor(model => model.lispd_PrecioMinorista)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lispd_DescCaja, "Descuento Caja", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.lispd_DescCaja)
                    <p style="color:red"> @Html.ValidationMessageFor(model => model.lispd_DescCaja)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lispd_DescGerente, "Descuento Gerente", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.lispd_DescGerente)
                    <p style="color:red">@Html.ValidationMessageFor(model => model.lispd_DescGerente)</p>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
        }

<script src="~/Scripts/app/Datepicker.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





