@model IEnumerable<ERP_GMEDINA.Models.tbListadoPrecioDetalle>
@using ERP_GMEDINA.Models

@{     tbListadoPrecioDetalle ListDetalle = new tbListadoPrecioDetalle(); }
<div class="wrapper">


    <div class="row">
     

        <table class="table table-striped table-bordered table-hover" id="DataTable">
            <thead>
                <tr>

                    <th>
                        Código Producto

                    </th>

                    <th>
                        Descripción Producto

                    </th>
                    <th>
                        Precio Mayorista
                    </th>

                    <th>
                        Precio Minorista
                    </th>

                    <th>
                        Descuento Caja
                    </th>
                    <th>
                        Descuento Gerente
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.prod_Codigo)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.lispd_PrecioMayorista)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.lispd_PrecioMinorista)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.lispd_DescCaja)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.lispd_DescGerente)
                        </td>


                        <td>
                            @if (item.tbListaPrecio.listp_Id != 4)
                            {

                                <button type="button" class="btn btn-white btn-xs" onclick="EditListadoPrecioDetalle('@item.lispd_Id')">Editar</button>

                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal">
                                    Editar
                                </button>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>

<div class="modal fade" id="EditPedidoDetalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Editar Lista Precio Detalle</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(model => ListDetalle.lispd_Id)

                        <div class="form-horizontal">

                            <label id="MsjError">
                            </label>


                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="hidden" id="lispd_Id_lisd" name="lispd_Id" class="form-control" readonly="readonly" />
                                    @Html.ValidationMessageFor(m => ListDetalle.lispd_Id)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => ListDetalle.prod_Codigo, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="prod_Codigo_lisd" name="prod_Codigo" class="form-control" readonly="readonly" />
                                    @Html.ValidationMessageFor(m => ListDetalle.prod_Codigo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => ListDetalle.lispd_PrecioMayorista, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="lispd_PrecioMayorista_lisd" name="lispd_PrecioMayorista" class="form-control" onkeypress='return solonum(event)' />
                                    <p style="color:red" id="lispd_PrecioMayorista_lisd">@Html.ValidationMessageFor(m => ListDetalle.lispd_PrecioMayorista)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => ListDetalle.lispd_PrecioMinorista, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="lispd_PrecioMinorista_lisd" name="lispd_PrecioMinorista" class="form-control" onkeypress='return solonum(event)' />
                                    <p style="color:red" id="validacionPreciosMM">@Html.ValidationMessageFor(m => ListDetalle.lispd_PrecioMinorista)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => ListDetalle.lispd_DescCaja, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="lispd_DescCaja_lisd" name="lispd_DescCaja" class="form-control" onkeypress='return solonum(event)' />
                                    @Html.ValidationMessageFor(m => ListDetalle.lispd_DescCaja)
                                    <p style="color:red" id="smsCantidad" > @Html.ValidationMessageFor(model => ListDetalle.lispd_DescCaja)</p>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => ListDetalle.lispd_DescGerente, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="lispd_DescGerente_lisd" name="lispd_DescGerente" class="form-control" onkeypress='return solonum(event)' />
                                    @Html.ValidationMessageFor(m => ListDetalle.lispd_DescGerente)
                                    <p style="color:red" id="desccaja" >@Html.ValidationMessageFor(model => ListDetalle.lispd_DescGerente)</p>
                                </div>
                            </div>

                            <input type="hidden" id="lispd_UsuarioCrea_lisd" name="lispd_UsuarioCrea" />
                            <input type="hidden" id="lispd_FechaCrea_lisd" name="lispd_FechaCrea" />
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary" type="button" id="BtnsubmitMunicipio" tabindex="10"> Guardar </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                </div>
                            </div>

                    </fieldset>
                </form>
            </div>
        </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="ModalAgregarDetalle" tabindex="-1" role="dialog" aria-labelledby="DetalleNumeracion" aria-hidden="true"  style="overflow: auto" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Añadir Lista Precio Detalle</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AjaxCreatePedidoDetalle">
                @Html.Partial("_CreateListaPrecioDetalleEdit", new ERP_GMEDINA.Models.tbListadoPrecioDetalle())
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#lispd_DescGerente_lisd').val('0.00')
            $('#lispd_DescCaja_lisd').val('0.00')
        })



        $(document).ready(function () {


            //VALIDAR SOLO LETRAS
            $('#lispd_PrecioMayorista_lisd').on('input', function (e) {
                if (!/^[0-9.a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });
            $('#lispd_PrecioMayorista_lisd').on('input', function (e) {
                if (!/^[0-9.a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });


        });
        $(document).ready(function () {


            //VALIDAR SOLO LETRAS
            $('#lispd_PrecioMinorista_lisd').on('input', function (e) {
                if (!/^[0-9. a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });
            $('#lispd_PrecioMinorista_lisd').on('input', function (e) {
                if (!/^[0-9. a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });


        });
        $(document).ready(function () {


            //VALIDAR SOLO LETRAS
            $('#lispd_DescCaja_lisd').on('input', function (e) {
                if (!/^[0-9 .a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });
            $('#lispd_DescCaja_lisd').on('input', function (e) {
                if (!/^[0-9. a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });


        });
        $(document).ready(function () {
            //VALIDAR SOLO LETRAS
            $('#lispd_DescGerente_lisd').on('input', function (e) {
                if (!/^[0-9. a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });
            $('#lispd_DescGerente_lisd').on('input', function (e) {
                if (!/^[0-9. a-z-áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-z-áéíóúüñ]+/ig, "");
                }
            });
        });


        $("#lispd_DescGerente_lisd").blur(function () {
            valido = document.getElementById('desccaja');
            var DescuentoGerente = $('#lispd_DescGerente_lisd').val();
            var DescuentoCaja = $('#lispd_DescCaja_lisd').val();
            if (parseFloat(DescuentoGerente) < parseFloat(DescuentoCaja)) {
                valido.innerText = "Descuento Gerente debe ser mayor a Descuento Caja";
                $('#lispd_DescGerente_lisd').val("");
                $('#lispd_DescGerente_lisd').focus();
            }
            else if (parseFloat(DescuentoGerente) < 0 || parseFloat(DescuentoGerente) > 100) {
                valido = document.getElementById('desccaja');
                valido.innerText = "El valor debe estar entre 0 a 100";
                DescuentoGerente.val("");
                DescuentoGerente.focus();
            }
            else {

                valido1.innerText = "";
            }
        });

</script>

<script>
    $("#lispd_PrecioMinorista_lisd").blur(function () {
        valido = document.getElementById('validacionPreciosMM');


        var PrecioMinorista = $('#lispd_PrecioMinorista_lisd').val();
        var PrecioMayorista = $('#lispd_PrecioMayorista_lisd').val();



        if (parseFloat(PrecioMinorista) < parseFloat(PrecioMayorista)) {

            valido.innerText = "El precio minorista debe ser mayor a precio mayorista.";
            $('#lispd_PrecioMinorista_lisd').val("");
            $('#lispd_PrecioMinorista_lisd').focus();

        }
        else {

            valido.innerText = "";
        }
    });
    $("#lispd_DescCaja_lisd").blur(function () {
        valido = document.getElementById('smsCantidad');

        var DescuentoCaja = $('#lispd_DescCaja_lisd').val();



        if (parseFloat(DescuentoCaja) < 0 || parseFloat(DescuentoCaja)> 100) {          
            valido.innerText = "El valor debe estar entre 0 a 100";
            $('#lispd_DescCaja_lisd').val("");
            $('#lispd_DescCaja_lisd').focus();
        }
        else {
            valido.innerText = "";
        }

    });

    $("#lispd_DescGerente_lisd").blur(function () {

        valido1 = document.getElementById('desccaja');

        var DescuentoGerente = $('#lispd_DescGerente_lisd').val();

        if (parseFloat(DescuentoGerente) < 0 || parseFloat(DescuentoGerente) > 100) {
    
            valido1.innerText = "El valor debe estar entre 0 a 100";
            $('#lispd_DescGerente_lisd').val("");
            $('#lispd_DescGerente_lisd').focus();
        }
        else {
            //console.log("else")
            valido1.innerText = "";
        }
    });

    //---------------------------------Ctrl + G (GuardarRegistro)------------------------------
    $(document).keydown(function (e) {
        if ((e.key == 'g' || e.key == 'G') && (e.ctrlKey || e.metaKey)) {
            e.preventDefault();
            $("form").submit();
            return false;
        }
        return true;
    });
    function solonum(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        tecla = String.fromCharCode(tecla)
        return /^[0-9]+$/.test(tecla);
    }
</script>

<script src="~/Scripts/app/DataTable.js"></script>


















