@model IEnumerable<ERP_GMEDINA.Models.tbListadoPrecioDetalle>


<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <table id="" class="table table table-striped table-bordered">
                    <thead>
                        <tr>
                          
                            <th>
                                 Código Producto                                
                                @*@Html.DisplayNameFor(model => model.lispd_PrecioMayorista)*@
                            </th>

                            <th>
                                Descripción Producto                                
                               @*@Html.DisplayNameFor(model => model.lispd_PrecioMayorista)*@
                            </th>
                            <th>
                                Precio Mayorista 
                                @*@Html.DisplayNameFor(model => model.lispd_PrecioMayorista)*@                   
                            </th>

                            <th>
                                Precio Minorista
                                @*@Html.DisplayNameFor(model => model.lispd_PrecioMinorista)*@
                            </th>

                            <th>
                                Descuento Caja
                                @*@Html.DisplayNameFor(model => model.lispd_DescCaja)*@
                            </th>

                            <th>
                                Descuento Gerente
                                @*@Html.DisplayNameFor(model => model.lispd_DescGerente)*@
                            </th>


                           
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                            
                                <td>
                                    @Html.DisplayFor(modelItem => item.prod_Codigo)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.lispd_PrecioMayorista)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.lispd_PrecioMinorista)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.lispd_DescCaja)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.lispd_DescGerente)
                                </td>

                              
                                <td>
                                    @if (item.tbListaPrecio.listp_Id != 4)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Editar_@item.lispd_Id">
                                            Editar
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal">
                                            Editar
                                        </button>
                                    }
                                </td>

                            </tr>
                            <!-- Modal -->
                                <div class="modal fade" id="Editar_@item.lispd_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Lista Precio Detalle</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div id="EditarListadoPrecioDetalle" class="modal-body">
                                                @Html.Partial("_EditListaPrecioDetalle", new ERP_GMEDINA.Models.tbListadoPrecioDetalle() { lispd_Id = item.lispd_Id, listp_Id = item.listp_Id, prod_Codigo = item.prod_Codigo, lispd_PrecioMayorista = item.lispd_PrecioMayorista, lispd_PrecioMinorista = item.lispd_PrecioMinorista, lispd_DescCaja = item.lispd_DescCaja, lispd_DescGerente = item.lispd_DescGerente, lispd_UsuarioCrea = item.lispd_UsuarioCrea, lispd_FechaCrea = item.lispd_FechaCrea, lispd_UsuarioModifica = item.lispd_UsuarioModifica, lispd_FechaModifica = item.lispd_FechaModifica })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>
















