@model ERP_GMEDINA.Models.tbListadoPrecioDetalle



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Precio Detalle</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.listp_Id, "listp_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("listp_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.listp_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo, "prod_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_PrecioMayorista, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_PrecioMayorista)
                @Html.ValidationMessageFor(model => model.lispd_PrecioMayorista)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_PrecioMinorista, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_PrecioMinorista)
                @Html.ValidationMessageFor(model => model.lispd_PrecioMinorista)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_FechaInicioVigencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_FechaInicioVigencia)
                @Html.ValidationMessageFor(model => model.lispd_FechaInicioVigencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_FechaFinalVigencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_FechaFinalVigencia)
                @Html.ValidationMessageFor(model => model.lispd_FechaFinalVigencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_DescCaja, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_DescCaja)
                @Html.ValidationMessageFor(model => model.lispd_DescCaja)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_DescGerente, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_DescGerente)
                @Html.ValidationMessageFor(model => model.lispd_DescGerente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_UsuarioCrea, "lispd_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lispd_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.lispd_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_FechaCrea)
                @Html.ValidationMessageFor(model => model.lispd_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_UsuarioModifica, "lispd_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lispd_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.lispd_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lispd_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lispd_FechaModifica)
                @Html.ValidationMessageFor(model => model.lispd_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
