@model ERP_GMEDINA.Models.tbListaPrecio
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .AsteriscoRojo:after {
        content: "*";
        color: red;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista Precio</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","ListaPrecios")">Regresar</a>
            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear Listado Precio</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "ListaPrecios", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label class="control-label col-md-2 AsteriscoRojo">Nombre Lista</label>
                            @*@Html.LabelFor(model => model.listp_EsActivo, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.listp_Nombre)
                                @Html.ValidationMessageFor(model => model.listp_Nombre)
                            </div>

                            <br /><br /><br />

                            <br /><br />

                            <div class="form-group">
                                <label class="control-label col-md-2 AsteriscoRojo">Fecha Inicio Vigencia</label>
                                @*@Html.LabelFor(model => model.listp_FechaInicioVigencia, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.listp_FechaInicioVigencia, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "FIV", } })
                                   @Html.ValidationMessageFor(model => model.listp_FechaInicioVigencia)
</div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <label class="control-label col-md-2 AsteriscoRojo">Fecha Final Vigencia</label>
                                @*@Html.LabelFor(model => model.listp_FechaFinalVigencia, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.listp_FechaFinalVigencia, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "FFV" } })
                                    @Html.ValidationMessageFor(model => model.listp_FechaFinalVigencia)
</div>
                            </div>

                            <br /><br />
                            <div class="form-group">
                                <label class="control-label col-md-2 AsteriscoRojo">Prioridad</label>
                               @* @Html.LabelFor(model => model.listp_Prioridad, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.listp_Prioridad, new { htmlAttributes = new { @maxlength = "1", @onkeypress = "return validar(event)" } })
                                    <p id="nprioridad" style="color:red">@Html.ValidationMessageFor(model => model.listp_Prioridad)
                                </div>
                            </div>




                            <br /><br />
                        </div>
                            @Html.Partial("_CreateListaPrecioDetalle", new tbListadoPrecioDetalle())

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <div class="col-md-12 text-center">
                                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                    }


                </div>
            </div>
        </div>
    </div>
</div>
<div id="validationSummary">
    <p style="color:red"></p>
</div>
<script type="text/javascript">
jQuery('input,select').each(function() {
    var req = jQuery(this).attr('data-val-required');
     var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
     var text = label.text();
     if (text.length > 0) {
      label.append('<span style="color:red"> </span>');
    }
});




$("#listp_Prioridad").blur(function () {

    valido = document.getElementById('nprioridad');
    var Prioridad = $('#listp_Prioridad').val();





    if (parseFloat(Prioridad) < 1 || parseFloat(Prioridad) > 3) {

        valido.innerText = "El valor debe estar entre 1 a 3";
        $('#listp_Prioridad').val("");
        $('#listp_Prioridad').focus();
    }
    else {
        //console.log("else")
        valido.innerText = "";
       
    }





});



//---------------------------------Ctrl + G (GuardarRegistro)------------------------------
$(document).keydown(function (e) {
    if ((e.key == 'g' || e.key == 'G') && (e.ctrlKey || e.metaKey)) {
        e.preventDefault();
        $("form").submit();
        return false;
    }
    return true;
});

</script>

<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/ProductoListaPrecios.js"></script>
@*<script src="~/Scripts/app/ProductoFactura.js"></script>*@
<script src="~/Scripts/app/ListaPrecioDetalle.js"></script>
<script>
    function validar(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        tecla = String.fromCharCode(tecla)
        return /^[0-9\-]+$/.test(tecla);
    }
</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }*@


@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}


