@model ERP_GMEDINA.Models.tbListaPrecio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
        margin-left: 5%;
         
        
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        
    }

    tr:nth-child(even) {
        /*background-color: #dddddd;*/
    }
</style>*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista Precio</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Lista Precio</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
                       <br\>  </br\>
        <dt>
            @Html.DisplayNameFor(model => model.listp_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listp_Nombre)
        </dd>
                       
                      
        <dt>

            @Html.DisplayNameFor(model => model.listp_EsActivo)
        </dt>
                     
        <dd>@Html.CheckBox("listp_EsActivo", true,new { @disabled = "disabled" })
            @*@Html.DisplayFor(model => model.listp_EsActivo)*@
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.listp_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listp_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listp_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listp_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbListadoPrecioDetalle.prod_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbListadoPrecioDetalle.prod_Codigo)
        </dd>*@

    </dl>

                  


	    @Html.ActionLink("Editar", "Edit", new { id = Model.listp_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})

                  
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.listp_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.listp_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>













