@model ERP_GMEDINA.Models.tbListaPrecio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbListaPrecio</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.listp_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.listp_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_Nombre)
                @Html.ValidationMessageFor(model => model.listp_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_EsActivo)
                @Html.ValidationMessageFor(model => model.listp_EsActivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_UsuarioCrea, "listp_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("listp_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.listp_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_FechaCrea)
                @Html.ValidationMessageFor(model => model.listp_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_UsuarioModifica, "listp_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("listp_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.listp_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_FechaModifica)
                @Html.ValidationMessageFor(model => model.listp_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_FechaInicioVigencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_FechaInicioVigencia)
                @Html.ValidationMessageFor(model => model.listp_FechaInicioVigencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.listp_FechaFinalVigencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.listp_FechaFinalVigencia)
                @Html.ValidationMessageFor(model => model.listp_FechaFinalVigencia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
