@model Inspinia_MVC5_SeedProject.Models.tbPago

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Nuevo Pago</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Nuevo Pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nuevo Pago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Id)
                @Html.ValidationMessageFor(model => model.pago_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fact_Codigo,"Codigo Factura", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fact_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.fact_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Id, "Codigo Tipo Pago", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tpa_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.tpa_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Totalpagos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Totalpagos)
                @Html.ValidationMessageFor(model => model.pago_Totalpagos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Totalcambio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Totalcambio)
                @Html.ValidationMessageFor(model => model.pago_Totalcambio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Emisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Emisor)
                @Html.ValidationMessageFor(model => model.pago_Emisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Cuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Cuenta)
                @Html.ValidationMessageFor(model => model.pago_Cuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaVencimiento)
                @Html.ValidationMessageFor(model => model.pago_FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Titular_, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Titular_)
                @Html.ValidationMessageFor(model => model.pago_Titular_)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
