@model ERP_GMEDINA.Models.tbPago
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pago</h2>
        
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Pago")">Regresar</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Pago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm("Create", "Pago", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.pago_Id," ", new { htmlAttributes = new { @disabled = "disabled",@class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_FechaElaboracion, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.pago_FechaElaboracion, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "FechaPago", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.pago_FechaElaboracion)
                </div>
            </div>
        </div>


         <div class="form-group">
            <div class="col-md-4">
                @Html.HiddenFor(model => model.tbFactura.clte_Id)
                @Html.ValidationMessageFor(model => model.tbFactura.clte_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tbFactura.clte_Identificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.tbFactura.clte_Identificacion)
               @Html.ValidationMessageFor(model => model.tbFactura.clte_Identificacion)
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAgregarCliente"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tbFactura.clte_Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbFactura.clte_Nombres, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbFactura.clte_Nombres)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("fact_Id", null, "Seleccionar Factura", new { @class = "form-control", @id = "fact_Id" })
                @*@Html.DropDownListFor(model=>model.fact_Id, new SelectList(" "), "Seleccionar Factura", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.fact_Id, "", new { style = "Color:red" })
            </div>
        </div>


        

        @*<div class="form-group">
            @Html.LabelFor(model => model.tbFactura.fact_Codigo,  new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.tbFactura.fact_Codigo, new { htmlAttributes = new { @type = "number", @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbFactura.fact_Codigo)
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAgregarFactura"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>*@
     

        
        


       
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.pago_SaldoAnterior, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_SaldoAnterior, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_SaldoAnterior)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_TotalPago, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_TotalPago, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_TotalPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Id, "Tipo de Pago", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("tpa_Id", null, "Seleccionar Tipo de Pago", new { @class = "form-control",  @id = "TipoPago" })
                @*@Html.DropDownList("tpa_id", new SelectList(Model.TPList, "ID_TP", "DESCRIPCION_TP"), "Seleccionar Tipo Pago", new { @class = "form-control", @id = "TipoPago" })*@
                @Html.ValidationMessageFor(model => model.tpa_Id)
            </div>
        </div>

        <div id="Efectivo" name="Efectivo">
            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalPago, "Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalPago)
                    @Html.ValidationMessageFor(model => model.pago_TotalPago)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalPago, "Monto Efectivo", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalPago)
                    @Html.ValidationMessageFor(model => model.pago_TotalPago)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, "Cambio Sugerido", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <textarea id="TextArea1" rows="2" cols="40"></textarea>
                </div>
            </div>
        </div>

        <div id="TCD" name="TCD">

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio,"Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio)
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_Emisor, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Emisor)
                    @Html.ValidationMessageFor(model => model.pago_Emisor)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_FechaVencimiento, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_FechaVencimiento)
                    @Html.ValidationMessageFor(model => model.pago_FechaVencimiento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_Titular, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Titular)
                    @Html.ValidationMessageFor(model => model.pago_Titular)
                </div>
            </div>
        </div>

       

        @*<div class="form-group">
            @Html.LabelFor(model => model.bcta_Id, "bcta_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bcta_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.bcta_Id)
            </div>
        </div>
        *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Cliente</h4>
                </div>
                <div class="modal-body" id="frmEditarMunicipios">
                    @Html.Partial("_IndexCliente", (List<tbCliente>)ViewBag.Cliente)
                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/TipoPago.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/ClientePago.js"></script>
<script src="~/Scripts/app/FacturaDevolucion.js"></script>

 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script>
        $(document).ready(function () {
            $("#tbFactura_clte_Id").change(function () {
                var valor = 0;
                $.get("/Pago/GetFacturaList", { tbFactura_clte_Id: $("#tbFactura_clte_Id").val() }, function (data) {
                    $("#fact_Id").empty("");
                    $('#fact_Id').append("<option value='0'>Seleccionar factura</option>");
                    $('#idinput').val(valor);
                    $.each(data, function (index, row) {
                        $("#fact_Id").append("<option value='" + row.fact_Id + "'>" + row.fact_Codigo + "</option>")
                        //$('#deno_Id').val('Please Select');
                    });
                });

            })
        });
</script>

     @* Monto *@

<script>
    $('#fact_Id').change(function () {
        var url = "/Pago/BuscarFacturaId?fId=" + $('#fact_Id option:selected').val();
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function (result) {
                    var lider;
                    if (result != null && result.length > 0) {
                        monto = JSON.parse(result);
                    }
                    if (monto != null) {
                        $('#pago_TotalPago').val(pago_TotalPago);//Monto
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("No se Apodido cargar el valor 'Porfavor Contacte al Administrador' ");
                }
            });
        });
</script>

<script>
        $(document).ready(function () {
            $('#fact_Id').change(function () {
                $('#pago_TotalPago').val($('#fact_Id option:selected').val());
            })
        });
</script>

<script>
        $(document).ready(function () {
            $("#PagoTotalCambio")[0].maxLength = 7;
            $("#pago_TotalPago")[0].maxLength = 12;
        })

        $(function () {
            $("#PagoTotalCambio,#idinput").keyup(function (e) {
                var Cantidad = $("#soled_CantidadSolicitada").val(),
                    valores = $("#ValorDeno").val(),
                    result = "";
                if (Cantidad.length && valores.length > 0) {
                    result += Cantidad * valores;
                }
                $("#MontoSolicitado").val(result);
            });
        });
</script>
}
