@model ERP_ZORZAL.Models.tbPago

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pago</h2>
        
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Pago")">Regresar</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Pago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fact_Id, "Factura", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.fact_Id, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.fact_Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaElaboracion, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_FechaElaboracion, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "FechaPago" } })
                @Html.ValidationMessageFor(model => model.pago_FechaElaboracion)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pago_SaldoAnterior, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_SaldoAnterior, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_SaldoAnterior)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_TotalPago, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_TotalPago, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_TotalPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Id, "Tipo de Pago", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("tpa_Id", null, "Seleccione Tipo de Pago", new { @class = "form-control",  @id = "TipoPago" })
                @*@Html.DropDownList("tpa_id", new SelectList(Model.TPList, "ID_TP", "DESCRIPCION_TP"), "Seleccionar Tipo Pago", new { @class = "form-control", @id = "TipoPago" })*@
                @Html.ValidationMessageFor(model => model.tpa_Id)
            </div>
        </div>

        <div id="Efectivo" name="Efectivo">
            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalPago,"Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalPago)
                    @Html.ValidationMessageFor(model => model.pago_TotalPago)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio,  new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>
        </div>

        <div id="TCD" name="TCD">

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio,"Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio)
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_Emisor, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Emisor)
                    @Html.ValidationMessageFor(model => model.pago_Emisor)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_FechaVencimiento, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_FechaVencimiento)
                    @Html.ValidationMessageFor(model => model.pago_FechaVencimiento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_Titular_, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Titular_)
                    @Html.ValidationMessageFor(model => model.pago_Titular_)
                </div>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.bcta_Id, "bcta_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bcta_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.bcta_Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pago_UsuarioCrea, "pago_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pago_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.pago_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaCrea)
                @Html.ValidationMessageFor(model => model.pago_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_UsuarioModifica, "pago_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pago_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.pago_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaModifica)
                @Html.ValidationMessageFor(model => model.pago_FechaModifica)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Pago" class="btn btn-primary" />
				@Html.ActionLink("Salir", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/TipoPago.js"></script>