@model ERP_GMEDINA.Models.tbPago
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pago</h2>
      
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "" })
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Pago</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.pago_FechaElaboracion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pago_FechaElaboracion)
                        </dd>
                        <dt>
                            Factura
                            @*@Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)*@
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.tbFactura.fact_Codigo)
                        </dd>
                        <dt>
                            Cliente
                            @*@Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)*@
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.tbFactura.clte_Nombres)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.tbFactura.tbCliente.clte_Identificacion)
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.tbFactura.tbCliente.clte_Identificacion)
                        </dd>

                        <dt>
                            Tipo Pago
                            
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbTipoPago.tpa_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pago_SaldoAnterior)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pago_SaldoAnterior)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pago_TotalPago)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pago_TotalPago)
                        </dd>
                        <di id="dEfectivo" name="dEfectivo">
                            <dt>
                                @Html.DisplayNameFor(model => model.pago_TotalCambio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_TotalCambio)
                            </dd>

                        </di>
                        <div id="dTCD" name="dTCD">
                            <dt>
                                @Html.DisplayNameFor(model => model.pago_Emisor)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_Emisor)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pago_FechaVencimiento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_FechaVencimiento)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pago_Titular)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_Titular)
                            </dd>

                        </div>
                        <div id="dCheque" name="dCheque">
                            <dt>
                                @Html.DisplayNameFor(model => model.pago_Emisor)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_Emisor)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pago_Titular)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pago_Titular)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.tbCuentasBanco.bcta_Numero)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbCuentasBanco.bcta_Numero)
                            </dd>

                        </div>

                        @Html.HiddenFor(model => model.tbTipoPago.tpa_Id)


                    </dl>
                    @if (Model.pago_EstaAnulado == false)
                    {

                    @Html.ActionLink("Editar", "Edit", new { id = Model.pago_Id }, new { @class = "btn btn-primary" })
                        <button id="bottonImprimir" name="bottonImprimir" type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#Imprimir">
                            Imprimir 
                        </button>
                    }
                    else
                    {
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta Anulado">
                            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Editar</button>
                        </span>

                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Imprimir, esta Anulado">
                            <button id="bottonImprimir" class="btn btn-info btn-primary" style="pointer-events: none;" type="button" disabled>Imprimir</button>
                        </span>
                    }
                    <br />
                </div>
            </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</td>
                            <td>@Html.DisplayFor(model => model.pago_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</td>
                            <td>@Html.DisplayFor(model => model.pago_FechaModifica)</td>
                        </tr>
                    </table>
                </div>
           
        </div>
    </div>
 </div>
@* -------------------Modal Imprimir---------------- *@
<div class="modal fade" id="Imprimir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imprimir Comprobante Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Deseas Imprimir el Comprobante de Pago?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @*onclick="Anular();"*@ data-dismiss="modal">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
<script >
    $(document).ready(function () {

        $('#dEfectivo').hide();
        $('#dTCD').hide();
        $('#dCheque').hide();

        if ($("#tbTipoPago_tpa_Id").val() == 1) {

            $('#dEfectivo').show();
            $('#dTCD').hide();
            $('#dCheque').hide();
        }
        else if ($("#tbTipoPago_tpa_Id").val() == 2) {
            $('#dEfectivo').hide();
            $('#dTCD').show();
            $('#dCheque').hide();

        }
        else {
            $('#dEfectivo').hide();
            $('#dTCD').hide();
            $('#dCheque').show();
        }

    });
</script>







