@model ERP_GMEDINA.Models.tbPago

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pago</h2>
        
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = ""})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Pago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.pago_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.pago_Id, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_FechaElaboracion, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.pago_FechaElaboracion, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "FechaPago" } })
                    @Html.ValidationMessageFor(model => model.pago_FechaElaboracion)
                </div>
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.tbFactura.fact_Codigo, "Factura", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.tbFactura.fact_Codigo, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbFactura.fact_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tbFactura.clte_Identificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.tbFactura.clte_Identificacion, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.tbFactura.clte_Identificacion)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.tbFactura.clte_Nombres, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.tbFactura.clte_Nombres, String.Empty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.tbFactura.clte_Nombres)
                </div>
            </div>
        </div>
       
       
        <div class="form-group">
            @Html.LabelFor(model => model.pago_SaldoAnterior, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_SaldoAnterior, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_SaldoAnterior)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pago_TotalPago, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.pago_TotalPago, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.pago_TotalPago)
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Id, "Tipo Pago", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("tpa_Id", null, "Seleccionar Tipo Pgo" , new { @class = "form-control", @id="TipoPago" })
                @Html.ValidationMessageFor(model => model.tpa_Id)
            </div>
        </div>

        <div id="Efectivo" name="Efectivo">
            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalPago, "Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalPago)
                    @Html.ValidationMessageFor(model => model.pago_TotalPago)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalPago, "Monto Efectivo", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalPago)
                    @Html.ValidationMessageFor(model => model.pago_TotalPago)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, "Cambio Sugerido", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <textarea id="TextArea1" rows="4" cols="50"></textarea>
                </div>
            </div>
        </div>

        <div id="TCD" name="TCD">

            <div class="form-group">
                @Html.LabelFor(model => model.pago_TotalCambio, "Monto a Pagar", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_TotalCambio)
                    @Html.ValidationMessageFor(model => model.pago_TotalCambio)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pago_Emisor, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Emisor)
                    @Html.ValidationMessageFor(model => model.pago_Emisor)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_FechaVencimiento, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_FechaVencimiento)
                    @Html.ValidationMessageFor(model => model.pago_FechaVencimiento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pago_Titular, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.pago_Titular)
                    @Html.ValidationMessageFor(model => model.pago_Titular)
                </div>
            </div>
        </div>

      

      

      

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
      
        </div>
    </div>
}


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.pago_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.pago_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/TipoPago.js"></script>