@model ERP_ZORZAL.Models.tbPago

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbPago</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.pago_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.fact_Id, "fact_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fact_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.fact_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tpa_Id, "tpa_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tpa_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.tpa_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaElaboracion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaElaboracion)
                @Html.ValidationMessageFor(model => model.pago_FechaElaboracion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_SaldoAnterior, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_SaldoAnterior)
                @Html.ValidationMessageFor(model => model.pago_SaldoAnterior)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_TotalPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_TotalPago)
                @Html.ValidationMessageFor(model => model.pago_TotalPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_TotalCambio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_TotalCambio)
                @Html.ValidationMessageFor(model => model.pago_TotalCambio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Emisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Emisor)
                @Html.ValidationMessageFor(model => model.pago_Emisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bcta_Id, "bcta_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bcta_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.bcta_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaVencimiento)
                @Html.ValidationMessageFor(model => model.pago_FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_Titular_, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_Titular_)
                @Html.ValidationMessageFor(model => model.pago_Titular_)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_UsuarioCrea, "pago_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pago_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.pago_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaCrea)
                @Html.ValidationMessageFor(model => model.pago_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_UsuarioModifica, "pago_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pago_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.pago_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pago_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pago_FechaModifica)
                @Html.ValidationMessageFor(model => model.pago_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
      
        </div>
    </div>
}


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.pago_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)</td>
                        <td>@Html.DisplayFor(model => model.pago_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>


