@model ERP_GMEDINA.Models.tbObjeto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .validation-summary-errors {
        color: red;
        font-size: small;
    }
     #obj_Pantalla {
        text-transform: uppercase;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Objeto</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Objeto</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.obj_Id)
                            @*Auditoria*@
                            @Html.HiddenFor(model => model.obj_UsuarioCrea)
                            @Html.HiddenFor(model => model.obj_FechaCrea)
                            @Html.HiddenFor(model => model.obj_UsuarioModifica)
                            @Html.HiddenFor(model => model.obj_FechaModifica)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)

                            @*Esto lo agregó Mágdaly Zúniga*@
                            @*Extras usuario crea*@
                            @Html.HiddenFor(model => model.tbUsuario.usu_NombreUsuario)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Password)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Correo)
                            @Html.HiddenFor(model => model.tbUsuario.usu_EsActivo)
                            @Html.HiddenFor(model => model.tbUsuario.usu_EsAdministrador)

                            @*Extras usuario crea*@
                            @Html.HiddenFor(model => model.tbUsuario1.usu_NombreUsuario)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Password)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Correo)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_EsActivo)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_EsAdministrador)

                            <div class="form-group">
                                @Html.LabelFor(model => model.obj_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.obj_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <p style="color:red"> @Html.ValidationMessageFor(model => model.obj_Id)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.obj_Pantalla, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.obj_Pantalla, new { htmlAttributes = new { @onkeypress = "return soloLetras(event)", @maxlength = "50", @autocomplete = "off" } })
                                    <p style="color:red">  @Html.ValidationMessageFor(model => model.obj_Pantalla)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Referencia<span style="color:red"></span></label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.obj_Referencia, new { htmlAttributes = new { @onkeypress = "return soloLetras(event)", @maxlength = "50", @autocomplete = "off" } })
                                    <p style="color:red">  @Html.ValidationMessageFor(model => model.obj_Referencia)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.obj_Estado, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @if (Model.obj_Estado == true)
                                    {
                                        <p> Activo</p>
                                    }
                                    else
                                    {
                                        <p>Inactivo</p>
                                    }
                                </div>
                                <div class="col-md-4">

                                    <p style="color:red">  @Html.ValidationMessageFor(model => model.obj_Estado)</p>
                                </div>

                            </div>

                            <div class="form-group ">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @* Boton de activar/inactivar *@
                                    @{if (Model.obj_Estado == true)
                                        {
                                            <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEstado" value="Inactivar" />
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Activar", "Estadoactivar", new { id = Model.obj_Id }, new { @class = "btn btn-primary" })
                                        }


                                    }
                                   
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })

                                  
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>

                            @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)

                        </td>
                        <td>@Html.DisplayFor(model => model.obj_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)

                          
                        </td>
                        <td>  @Html.DisplayFor(model => model.obj_FechaModifica) </td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="modal fade" id="ModalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inactivar Objeto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que quiere Inactivar esta Pantalla?
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Sí", "EstadoInactivar", new { id = Model.obj_Id }, new { @class = "btn btn-danger" })
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>



<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/app/Objeto.js"></script>
<script>

    $("#obj_Pantalla").change(function () {
        var str = $("#obj_Pantalla").val();
        var res = str.toUpperCase();
        $("#obj_Pantalla").val(res);
    });
</script>