@model Inspinia_MVC5_SeedProject.Models.tbCredito

@{
    ViewBag.Title = "CreateSolicitud2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Solicitud de Crédito</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nueva Solicitud</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label class="control-label col-md-9">Buscar</label>
                                <div class="col-md-3">
                                    <input type="search" class="form-control input-sm " placeholder="" aria-controls="ListaCliente">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Identidad</label>
                                @*@Html.LabelFor(model => model.cred_Codigo, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.cred_Codigo)
                                        @Html.ValidationMessageFor(model => model.cred_Codigo)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="0501199812172">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre</label>
                                @*@Html.LabelFor(model => model.clte_RTNCliente, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.clte_RTNCliente)
                                        @Html.ValidationMessageFor(model => model.clte_RTNCliente)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="Luis">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Apellido</label>
                                @*@Html.LabelFor(model => model.lnpago_Codigo, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.lnpago_Codigo)
                                        @Html.ValidationMessageFor(model => model.lnpago_Codigo)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="Barahona">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Fecha de Solicitud</label>
                                @*@Html.LabelFor(model => model.edo_Codigo, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.edo_Codigo)
                                        @Html.ValidationMessageFor(model => model.edo_Codigo)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="10/11/2018">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Teléfono</label>
                                @*@Html.LabelFor(model => model.cred_FechaSolicitud, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.cred_FechaSolicitud)
                                        @Html.ValidationMessageFor(model => model.cred_FechaSolicitud)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="31546227">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Monto de Solicitud</label>
                                @*@Html.LabelFor(model => model.cred_FechaAprobacion, new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.cred_FechaAprobacion)
                                        @Html.ValidationMessageFor(model => model.cred_FechaAprobacion)*@
                                    <input class="text-box single-line" id="clte_RTNCliente" name="clte_RTNCliente" type="text" value="6000">
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.cred_MontoSolicitud, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.cred_MontoSolicitud)
                                        @Html.ValidationMessageFor(model => model.cred_MontoSolicitud)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.cred_MontoCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.cred_MontoCredito)
                                        @Html.ValidationMessageFor(model => model.cred_MontoCredito)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.cred_LimiteCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.cred_LimiteCredito)
                                        @Html.ValidationMessageFor(model => model.cred_LimiteCredito)
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                                    @Html.ActionLink("Enviar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary btn-xs" })

                                    @Html.ActionLink("Cancel", "ListadoGerenteCredito", null, new { @class = "btn btn-white btn-xs" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
