@model Inspinia_MVC5_SeedProject.Models.tbCredito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalle de Clientes</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbCredito</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clte_RTNCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clte_RTNCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lnpago_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lnpago_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edo_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edo_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_FechaSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_FechaAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_FechaAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_MontoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_MontoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_MontoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_MontoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_LimiteCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_LimiteCredito)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.cred_Codigo }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>*@

<div class="wrapper wrapper-content animated fadeInRight">
       <div class="row">
           <div class="col-lg-12">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       <h5>Details tbCredito</h5>
                   </div>
                   <div class="ibox-content">


                       <dl class="dl-horizontal">
           <dt>
               @Html.DisplayNameFor(model => model.clte_RTNCliente)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.clte_RTNCliente)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.lnpago_Codigo)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.lnpago_Codigo)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.edo_Codigo)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.edo_Codigo)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_FechaSolicitud)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_FechaAprobacion)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_FechaAprobacion)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_MontoSolicitud)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_MontoSolicitud)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_MontoCredito)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_MontoCredito)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_LimiteCredito)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_LimiteCredito)
           </dd>

       </dl>


                       <input type="button" value="Editar" class="btn btn-primary btn-xs" />
                       @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })

                   </div>
               </div>
           </div>
       </div>
    </div>

















