@model Inspinia_MVC5_SeedProject.Models.tbCredito

@{
    ViewBag.Title = "Details1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalle de Clientes</h2>
        <ol class="breadcrumb">
            @*<li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>*@
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })*@
        </div>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
       <div class="row">
           <div class="col-lg-12">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       <h5>Details tbCredito</h5>
                   </div>
                   <div class="ibox-content">


                       <dl class="dl-horizontal">
           <dt>
               @Html.DisplayNameFor(model => model.clte_RTNCliente)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.clte_RTNCliente)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.lnpago_Codigo)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.lnpago_Codigo)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.edo_Codigo)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.edo_Codigo)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_FechaSolicitud)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_FechaAprobacion)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_FechaAprobacion)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_MontoSolicitud)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_MontoSolicitud)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_MontoCredito)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_MontoCredito)
           </dd>

           <dt>
               @Html.DisplayNameFor(model => model.cred_LimiteCredito)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.cred_LimiteCredito)
           </dd>

       </dl>


           @Html.ActionLink("Edit", "Edit", new { id = Model.cred_Codigo }, new { @class = "btn btn-primary"})
       @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                   </div>
               </div>
           </div>
       </div>
    </div>*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles de cliente</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            Identidad
                        </dt>
                        <dd>
                            0501199812172
                        </dd>
                        <dt>
                            Nombre
                        </dt>

                        <dd>
                            Luis
                        </dd>

                        <dt>
                            Apellido
                        </dt>

                        <dd>
                            Barahona
                        </dd>
                        <dt>
                            Teléfono
                        </dt>

                        <dd>
                            31546227
                        </dd>

                        <dt>
                            Dirección
                        </dt>

                        <dd>
                            Colonia Villa Olímpica
                        </dd>
                        <dt>
                            Monto de solicitud
                        </dt>

                        <dd>
                            6,000
                        </dd>

                        <dt>
                            Fecha de solicitud
                        </dt>

                        <dd>
                            10/11/2018
                        </dd>
                        <dt>
                            Línea de pago
                        </dt>

                        <dd>
                            12-24 meses
                        </dd>

                        <dt>
                            Fecha de aprobación
                        </dt>

                        <dd>
                            15/11/2018
                        </dd>
                        <dt>
                            Monto aprobado
                        </dt>

                        <dd>
                            6,000
                        </dd>

                        <dt>
                            Estado
                        </dt>

                        <dd>
                            Aprobado
                        </dd>
                        <dt>
                            Cuota a pagar
                        </dt>

                        <dd>
                            365
                        </dd>

                        <dt>
                            Nombre aval
                        </dt>

                        <dd>
                            Brayan Interiano
                        </dd>
                        <dt>
                            Télefono
                        </dt>

                        <dd>
                            97856245
                        </dd>

                        <dt>
                            Dirección
                        </dt>

                        <dd>
                            Lopez Arellano
                        </dd>
                        <dt>
                            Lugar de trabajo
                        </dt>

                        <dd>
                            AHM
                        </dd>

                        <dt>
                            Cargo
                        </dt>

                        <dd>
                            Desarrollador
                        </dd>
                        <dt>
                            Direccion de trabajo
                        </dt>

                        <dd>
                            Armenta
                        </dd>

                    </dl>
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary btn-xs" })

                </div>
            </div>
        </div>
    </div>
</div>

