@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbCredito>

@{
    ViewBag.Title = "ListadoGerenteCredito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crédito</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de cliente con crédito</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Solicitar Crédito", "CreateSolicitud2", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table id="ListaCliente" class="table table-striped table-bordered table-hover">
                        @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.clte_RTNCliente)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.lnpago_Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.edo_Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cred_FechaSolicitud)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cred_FechaAprobacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cred_MontoSolicitud)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cred_MontoCredito)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cred_LimiteCredito)
                                    </th>
                                    <th></th>
                                </tr>

                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clte_RTNCliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lnpago_Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.edo_Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cred_FechaSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cred_FechaAprobacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cred_MontoSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cred_MontoCredito)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cred_LimiteCredito)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id=item.cred_Codigo }, new { @class = "btn btn-primary btn-sm"})
                                        @Html.ActionLink("Edit", "Edit", new { id=item.cred_Codigo }, new { @class = "btn btn-white btn-sm"})
                                        @Html.ActionLink("Delete", "Delete", new { id=item.cred_Codigo }, new { @class = "btn btn-white btn-sm"})
                                    </td>
                                </tr>
                            }*@
                        <thead>
                            <tr>
                                <th>
                                    RTN
                                </th>
                                <th>
                                    Nombre del Cliente
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Monto
                                </th>
                                <th>
                                    Línea de Crédito
                                </th>
                                <th>Acción</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    0501199812172
                                </td>
                                <td>
                                    Luis Barahona
                                </td>
                                <td>
                                    31546227
                                </td>
                                <td>
                                    6,0000
                                </td>
                                <td>
                                    12-24 meses
                                </td>
                                <td>
                                    @Html.ActionLink("Detalle", "Details2", null, new { @class = "btn btn-primary btn-xs" })
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal">
                                      Aprobar
                                    </button>
                                    @*@Html.ActionLink("Anular", "ListadoGerenteCredito", null, new { @class = "btn btn-primary btn-xs" })*@
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal1">Anular</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    04081999012062
                                </td>
                                <td>
                                    La Curacao
                                </td>
                                <td>
                                    25572856
                                </td>
                                <td>
                                    10,000
                                </td>
                                <td>
                                    12-24 meses
                                </td>
                                <td>
                                    @Html.ActionLink("Detalle", "Details2", null, new { @class = "btn btn-primary btn-xs" })
                                    @*@Html.ActionLink("Aprobar", "", null, new { @class = "btn btn-primary btn-xs" })*@
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal">
                                        Aprobar
                                    </button>
                                    @*@Html.ActionLink("Anular", "ListadoGerenteCredito", null, new { @class = "btn btn-primary btn-xs" })*@
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal1">Anular</button>
                                </td>
                            </tr>
                        </tbody>


                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Aprobación de Crédito</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Línea de crédito</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" maxlength="2" value="12-24 meses">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Estado</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Aprobado">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Fecha de solicitud</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="10/11/2018">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Fecha de aprobación</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="15/11/2018">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Monto aprobado</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="6,0000">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Cuota a pagar</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="365">
                    </div>
                    <h4  id="exampleModalLabel">Datos de Aval</h4>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Nombre</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Brayan">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Apellido</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Interiano">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Teléfono</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="97856245">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Dirreción</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Lopez Arrellano">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Lugar de trabajo</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="AHM">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Cargo</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Desarrollador">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Dirección de trabajo</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" value="Armenta">
                    </div>
                </form>

               
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                @*<button type="button" class="btn btn-primary">Guardar</button>*@
                @Html.ActionLink("Guardar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Cancelar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Crédito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Motivo por anulación:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Anular</button>*@
                @Html.ActionLink("Guardar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Cancelar", "ListadoGerenteCredito", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>