@model ERP_GMEDINA.Models.tbFacturaDetalle
@using ERP_GMEDINA.Models
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.factd_UsuarioCrea)
                        @Html.HiddenFor(model => model.factd_FechaCrea)
                        @Html.HiddenFor(model => model.factd_UsuarioModifica)
                        @Html.HiddenFor(model => model.factd_FechaModifica)
                        @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                        @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                        @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
                        @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)                        
                        <div class="form-group">
                            <label class="col-md-1 required">Codigo Barra</label>
                            <div class="col-md-3">
                                <input id="prod_CodigoBarras" type="text" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAgregarProducto"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                            @Html.LabelFor(model => model.tbProducto.prod_Descripcion, new { @class = "control-label col-md-1" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.tbProducto.prod_Descripcion, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @readonly = "readonly", } })
                                <div id="validationDescripcionProductoCreate">
                                    @Html.ValidationMessageFor(model => model.tbProducto.prod_Descripcion)
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-sm" type="button" id="AgregarDetalleFactura">Añadir</button>
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.prod_Codigo, new { @class = "control-label required col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.prod_Codigo, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                                <div id="validationCodigoProductoCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.prod_Codigo)</p>
                                </div>
                            </div>

                            @Html.LabelFor(model => model.factd_PorcentajeDescuento, new { @class = "col-md-1 col-md-offset-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.factd_PorcentajeDescuento, new { htmlAttributes = new { @class = "form-control", @Value = "", onKeyPress = "return soloNumeros(event)", @autocomplete = "off", @readonly = "readonly" } })
                                <p style="color:red">@Html.ValidationMessageFor(model => model.factd_PorcentajeDescuento)</p>
                            </div>
                            @Html.LabelFor(model => model.factd_MontoDescuento, new { @class = "col-md-1" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.factd_MontoDescuento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = "", @onkeyup = "format(this)", @autocomplete = "off" } })
                                <div id="validationMontoDescuentoCreate">
                                    @Html.ValidationMessageFor(model => model.factd_MontoDescuento)
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary btn-sm" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AutorizarDescuentoDetalle">Descuento</button>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.factd_Cantidad, new { @class = "control-label required col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.factd_Cantidad, new { htmlAttributes = new { @Value = "", onKeyPress = "return soloNumeros(event)", onKeyUp = "pierdeFoco(this)", @autocomplete = "off" } })
                                <div id="validationCantidadProductoCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.factd_Cantidad)</p>
                                </div>
                            </div>
                            @Html.LabelFor(model => model.factd_Impuesto, "% Impuesto", new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.factd_Impuesto, new { htmlAttributes = new { @Value = "", @autocomplete = "off", @class = "form-control", @readonly = "readonly" } })
                                <div id="validationImpuestoProductoCreate">
                                    @Html.ValidationMessageFor(model => model.factd_Impuesto)
                                </div>
                            </div>
                            <label class="control-label col-md-1">Impuesto</label>
                            <div class="col-md-2">
                                <input id="Impuesto" type="text" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.factd_PrecioUnitario, new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.factd_PrecioUnitario, new { htmlAttributes = new { @class = "form-control", @Value = "", @autocomplete = "off", @readonly = "readonly" } })
                                <div id="validationPrecioUnitarioCreate">
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.factd_PrecioUnitario)</p>
                                </div>
                            </div>
                            <label class="control-label col-md-2">Subtotal</label>
                            <div class="col-md-2">
                                <input id="SubtotalProducto" type="text" class="form-control" readonly />
                            </div>
                            <label class="control-label col-md-1">Total</label>
                            <div class="col-md-2">
                                <input id="TotalProducto" type="text" value="" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="tblDetalleFactura" class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción Producto</th>
            <th>Cantidad</th>
            <th>Valor Unit</th>
            <th>% Impuesto</th>
            <th>Descuento</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Descuento</td>
            <td><p id="TotalDescuento" style="text-align:right"></p></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Sub-Total</td>
            <td><p id="Subtotal" style="text-align:right"></p></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>ISV</td>
            <td><p id="isv" style="text-align:right"></p></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total a Pagar</td>
            <td><p id="total" style="text-align:right"></p></td>
            <th></th>
        </tr>

</table>
<div id="validationSummary">
    <p style="color:red"></p>
</div>
<div>
    <div class="modal fade" id="AutorizarDescuentoDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseAutorizarDetalle">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Código Autorizado</h4>
                </div>
                <div class="modal-body" id="frmAutorizarDescuento">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form method="post">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contraseña</label>
                                    <div class="col-md-6">
                                        <input id="passdetalle" name="pass" class="form-control" autocomplete="on">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Porcentaje de Descuento</label>
                                    <div class="col-md-6">
                                        <input id="PorcentajeDescuentoAuditoria" type="text" class="form-control" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
                </div>
                <div class="modal-body" id="frmListaProducto">
                    @Html.Partial("_IndexProducto", (List<tbProducto>)ViewBag.Producto)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="FacturaDetalleEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseAutorizarDetalle">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Editar Producto</h4>
                </div>
                <div class="modal-body" id="frmAutorizarDescuento">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form id="form">                               
                                <fieldset id="SubmitForm">                                                               
                                    <div class="form-group">
                                       <input id="factdd" name="factd_Id" type="hidden" class="form-control" hidden />                                                                            
                                        <label class="control-label col-md-1">Producto</label>
                                        <div class="col-md-4">
                                            <input id="IDProducto" name="prod_Codigo" type="text" class="form-control" readonly />
                                        </div>
                                        <label class="control-label col-md-2">Descripción</label>
                                        <div class="col-md-5">
                                            <input id="DescProducto" name="DescProducto" type="text" class="form-control" readonly/>
                                        </div>                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">Cantidad</label>
                                        <div class="col-md-4">
                                            <input id="CantidadEdit" name="factd_Cantidad" type="text" class="form-control"/>
                                        </div>
                                        <label class="control-label col-md-2">Precio</label>
                                        <div class="col-md-4">
                                            <input id="PrecioUnitarioEdit" name="factd_PrecioUnitario" type="text" class="form-control" readonly />
                                        </div>                                                                              
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">Impuesto</label>
                                        <div class="col-md-3">
                                            <input id="ImpuestoEdit" name="factd_Impuesto" type="text" class="form-control" readonly />
                                        </div>
                                        <label class="control-label col-md-3">Monto Descuento</label>
                                        <div class="col-md-4">
                                            <input id="MontoDescuentoEdit" name="factd_MontoDescuento" type="text" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">Subtotal</label>
                                        <div class="col-md-3">
                                            <input id="SubtotalEdit" type="text" class="form-control" readonly />
                                        </div>
                                        <label class="control-label col-md-3">Total</label>
                                        <div class="col-md-4">
                                            <input id="TotalEdit" type="text" value="" class="form-control" readonly />
                                        </div>
                                        <input id="UsuCrea" name="factd_UsuarioCrea" type="hidden"  class="form-control" hidden />
                                        <input id="FechaCrea" name="factd_FechaCrea" type="hidden"  class="form-control" hidden />  
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-5 col-md-10">
                                            <a href="#" class="btn btn-primary btn-sm" id="EditFacturaDetalle">Guardar</a>
                                            <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/app/CalculoFactura.js"></script>

<script>
    $(function () {
        $("#CantidadEdit").keyup(function (e) {

            var Cantidad = document.getElementById("CantidadEdit").value;
            var Precio = document.getElementById("PrecioUnitarioEdit").value;
            var Descuento = document.getElementById("MontoDescuentoEdit").value;
            var Impuesto = document.getElementById("ImpuestoEdit").value;
            var PorcentajeImpuesto = (Impuesto / 100);
            var ImpuestoTotal = (Cantidad * Precio) * PorcentajeImpuesto;
            result = "";
            result1 = "";
            if (Cantidad && Precio > 0) {
                result += Cantidad * Precio;
                result1 += ((Cantidad * Precio) + ImpuestoTotal - Descuento)
            }
            $("#SubtotalEdit").val(result);
            $("#TotalEdit").val(result1);

        });

    });
</script>

