@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbDetalleFactura>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbDetalleFactura</h5>
					@*<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>*@
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_CantidadProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfact_FechaModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prod_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_CantidadProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_Impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfact_FechaModifica)
        </td>
        <td>
			@*@Html.ActionLink("Editar", "_EditarDetalleFactura", new { id=item.fact_Codigo }, new { @class = "btn btn-primary btn-sm"})*@
            @*@Html.ActionLink("Editar", "Edit", new { id=item.fact_Codigo }, new { @class = "btn btn-white btn-sm"})*@
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal">
                Editar
            </button>
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>

<!-- Modal -->
<!-- Editar municipio -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Municipio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_EditarDetalleFactura")
            </div>
            @*<div class="modal-footer">
                @Html.ActionLink("Guardar", "EditD", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>*@
        </div>
    </div>
</div>



