@model IEnumerable<ERP_GMEDINA.Models.tbFacturaDetalle>
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <table id="" class="table table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.prod_Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_MontoDescuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_PorcentajeDescuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_Impuesto)
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prod_Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_MontoDescuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_PorcentajeDescuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_Impuesto)
                                </td>
                                <td>
                                @if (item.tbFactura.esfac_Id != 4 )
                                {
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Editar_@item.factd_Id">
                                        Editar
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal">
                                        Editar
                                    </button>
                                }                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="Editar_@item.factd_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Factura Detalle</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="EditarFacturaDetalle" class="modal-body">
                                            @Html.Partial("_EditFacturaDetalle", new ERP_GMEDINA.Models.tbFacturaDetalle() { fact_Id = item.fact_Id, factd_Id = item.factd_Id, prod_Codigo = item.prod_Codigo, factd_Cantidad = item.factd_Cantidad, factd_MontoDescuento = item.factd_MontoDescuento, factd_PorcentajeDescuento = item.factd_PorcentajeDescuento, factd_Impuesto = item.factd_Impuesto, factd_PrecioUnitario = item.factd_PrecioUnitario, factd_UsuarioCrea = item.factd_UsuarioCrea, factd_FechaCrea = item.factd_FechaCrea, factd_UsuarioModifica = item.factd_UsuarioModifica, factd_FechaModifica = item.factd_FechaModifica })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>
<script src="~/Scripts/app/AnularFactura.js"></script>







