@model IEnumerable<ERP_ZORZAL.Models.tbFacturaHistorica>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table id="DataTableModal" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.facth_Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbEstadoFactura.esfac_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.facth_Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbEstadoFactura.esfac_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbFactura.fact_Codigo)
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>

