@model IEnumerable<ERP_GMEDINA.Models.tbFacturaDetalle>
@using ERP_GMEDINA.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table id="" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.factd_Cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.factd_MontoDescuento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.factd_PorcentajeDescuento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.factd_Impuesto)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.factd_Cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.factd_MontoDescuento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.factd_PorcentajeDescuento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.factd_Impuesto)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTableBusquedaGenerica.js"></script>
