@model IEnumerable<ERP_GMEDINA.Models.tbFacturaDetalle>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbFacturaDetalle</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_MontoDescuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_PorcentajeDescuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_Impuesto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_UsuarioCrea)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_FechaCrea)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_UsuarioModifica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.factd_FechaModifica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_MontoDescuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_PorcentajeDescuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_Impuesto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_UsuarioCrea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_FechaCrea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_UsuarioModifica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.factd_FechaModifica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbFactura.fact_Codigo)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.factd_Id }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.factd_Id }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.factd_Id }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
