@model ERP_GMEDINA.Models.tbFactura
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .modal-lg {
        max-width: 100% !important;
    }

    .required:after {
        content: "*";
        color: red;
        padding-left: 5px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Factura</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Factura")">Regresar</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger text-center text-uppercase" id="alertaCaja" style="display:none;">...Por favor realizar una apertura de caja...</div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Factura</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "Factura", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("RedirectTo", Url.Action("Index", "Factura"))
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input id="clte_Id" name="clte_Id" type="hidden" class="form-control" value="@ViewBag.Iden" />
                            <input id="ped_Id" name="ped_Id" type="hidden" class="form-control" />
                            <input id="fact_Id" name="fact_Id" type="hidden" class="form-control" value="@ViewBag.fact_Id" />
                            <input id="usu_Id" name="usu_Id" type="hidden" class="form-control" value="@ViewBag.usu_Id" />
                            <div class="form-group">
                                @Html.LabelFor(model => model.suc_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    <input class="form-control" readonly value="@ViewBag.suc_Descripcion" />
                                    <input class="form-control" readonly value="@ViewBag.suc_Id" id="suc_Id" name="suc_Id" type="hidden" />
                                    <span class="validation-error">  @Html.ValidationMessageFor(model => model.suc_Id)</span>
                                </div>
                                @Html.LabelFor(model => model.cja_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    <input class="form-control" readonly value="@ViewBag.cja_Descripcion" />
                                    <input class="form-control" readonly value="@ViewBag.cja_Id" id="cja_Id" name="cja_Id" type="hidden" />
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.cja_Id)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.pemi_NumeroCAI, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    <input class="form-control" readonly value="@ViewBag.pemi_NumeroCAI" id="pemi_NumeroCAI" name="pemi_NumeroCAI" />
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.pemi_NumeroCAI)</span>
                                </div>
                                @Html.LabelFor(model => model.fact_Fecha, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Fecha, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "fechafactura" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Fecha)</span>
                                </div>
                            </div>

                            <div id="DatosCliente" name="DatosCliente" class="form-group">
                                @Html.LabelFor(model => model.clte_Identificacion, new { @class = "control-label col-md-2", id = "label_identificacion" })
                                <div class="col-md-3">
                                    <input name="clte_Identificacion" id="cliente_Identificacionxx" type="text" class="form-control" value="@ViewBag.Identificacion" readonly />
                                    <span class="validation-error" id="err_cliente">@Html.ValidationMessageFor(model => model.clte_Identificacion)</span>
                                </div>
                                <div class="col-md-1" style="width: 12.499999995%; padding:0">
                                    <div id="ocultar">
                                        <button id="btnAgregarCliente" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarCliente"><span class="glyphicon glyphicon-search"></span></button>
                                        <a id="CrearCliente" class="btn btn-primary btn-sm" href="@Url.Action("_CreateCliente", "Factura")">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.clte_Nombres, new { @class = "control-label col-md-2", style = "width: 12.499999995%" })
                                <div class="col-md-4">
                                    <input name="clte_Nombres" id="cliente_Nombresxx" type="text" class="form-control" value="@ViewBag.Nombres" readonly />
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.clte_Nombres)</span>
                                </div>
                            </div>

                            <div class="form-group" id="Alcredito" name="Completo">
                                <div class="form-horizontal">
                                    @Html.LabelFor(model => model.fact_AlCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(model => model.fact_AlCredito)
                                        <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_AlCredito)</span>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    @Html.LabelFor(model => model.fact_DiasCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_DiasCredito, new { htmlAttributes = new { onKeyPress = "return soloNumeros(event)", onKeyUp = "pierdeFoco(this)", @autocomplete = "off" } })
                                        <span id="DiasError" class="validation-error">@Html.ValidationMessageFor(model => model.fact_DiasCredito)</span>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <div id="divfact_AutorizarDescuento">
                                    <label class="control-label col-md-2">Autorizar Descuento</label>
                                    <div class="col-md-4">
                                        <input id="fact_AutorizarDescuento" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AutorizarDescuentoModal" />
                                    </div>
                                </div>
                                <div class="form-horizontal" name="Cred2" id="Cred2">
                                    @Html.LabelFor(model => model.fact_PorcentajeDescuento, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_PorcentajeDescuento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                                    </div>
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_PorcentajeDescuento)</span>
                                </div>
                            </div>*@

                            <div class="form-group">
                                @*<div id="TerceraEdad" name="TerceraEdad">
                                    <label class="control-label col-md-2">Descuento Tercera Edad</label>
                                    <div class="col-md-4">
                                        <input id="MostrarTerceraEdad" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DescTerceraEdad" />
                                    </div>
                                </div>*@

                                @Html.LabelFor(model => model.fact_Vendedor, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fact_Vendedor, new { htmlAttributes = new { @autocomplete = "off", @onkeyup = "format(this)", @onkeypress = "return soloLetras(event)" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Vendedor)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <input type="button" value="Descuento Tercera Edad" class="btn btn-primary btn-sm" id="guardar" />
                                    <input type="button" value="Descuento General" class="btn btn-primary btn-sm" id="guardar" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Partial("_CreateFacturaDetalle", new tbFacturaDetalle())
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm" id="guardar" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white btn-sm" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Cliente</h4>
                </div>
                <div class="modal-body" id="frmAgregarCliente">
                    @Html.Partial("_IndexCliente", (List<tbCliente>)ViewBag.Cliente)
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="AutorizarDescuentoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseAutorizar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Porcentaje de Descuento</h4>
                </div>
                <div class="modal-body" id="frmAutorizarDescuento">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Usuario</label>
                                    <div class="col-md-6">
                                        <input id="Username" type="text" name="Username" class="form-control" autocomplete="off" , onkeypress="return correo(event)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contraseña</label>
                                    <div class="col-md-6">
                                        <input id="txtPassword" name="txtPassword" class="form-control" type="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Porcentaje de Descuento</label>
                                    <div class="col-md-6">
                                        <input id="PorcentajeDescuento" type="text" class="form-control" onKeyPress="return soloNumeros(event)" , onKeyUp="pierdeFoco(this)" autocomplete="off" />
                                    </div>
                                </div>
                                <div><p id="mensajerror" style="color:red"></p></div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="Autorizar" onclick="ValidarAutorizacion()">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck3()">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="DescTerceraEdad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="uncheck2()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Registrar Tercera Edad</h4>
                </div>
                <div class="modal-body" id="frmTerceraEdad">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_IdentidadTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_IdentidadTE, new { htmlAttributes = new { @autocomplete = "off", onKeyPress = "return soloNumeros(event)" } })
                                        <div id="validationfact_IdentidadTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_IdentidadTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_NombresTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_NombresTE, new { htmlAttributes = new { @autocomplete = "off", @onkeyup = "format(this)", @style = "text-transform:capitalize;", @onkeypress = "return soloLetras(event)" } })
                                        <div id="validationNombreTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_NombresTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_FechaNacimientoTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_FechaNacimientoTE, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "", @id = "fact_FechaNacimientoTE" } })
                                        <div id="validationFechaNacimientoTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_FechaNacimientoTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="AgregarTerceraEdad">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck2()">Cancelar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal Producto*@
<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
            </div>
            <div class="modal-body" id="frmListaProducto">
                @Html.Partial("_IndexProducto", (List<tbProducto>)ViewBag.Producto)
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/Factura.js"></script>
@*<script src="~/Scripts/app/FacturaDetalle.js"></script>
<script src="~/Scripts/app/ValidarPedido.js"></script>
<script src="~/Scripts/app/FacturaPedido.js"></script>
<script src="~/Scripts/app/CaracteresEspeciales.js"></script>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


