@model ERP_ZORZAL.Models.tbFactura
@using ERP_ZORZAL.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validation-error {
        color: red;
        font-size: small;
    }
</style>

@*Font Awesome*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Factura</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Factura")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Factura</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
@Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.suc_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.suc_Id)*@
                @Html.EditorFor(model => model.suc_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                <span class="validation-error">  @Html.ValidationMessageFor(model => model.suc_Id)</span>
            </div>
            @Html.LabelFor(model => model.cja_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.cja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @*@Html.DropDownList("cja_Id", null, new { @class = "form-control" })*@
                <span class="validation-error">  @Html.ValidationMessageFor(model => model.cja_Id)</span>
            </div>
           
        </div>

        <div class="form-group">
            
            @Html.LabelFor(model => model.pemi_NumeroCAI, new { @class = "control-label col-md-2", })
            <div class="col-md-4">
                @Html.EditorFor(model => model.pemi_NumeroCAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                <span class="validation-error">  @Html.ValidationMessageFor(model => model.pemi_NumeroCAI)</span>
            </div>
            @Html.LabelFor(model => model.fact_Vendedor, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.fact_Vendedor)
                <span class="validation-error">  @Html.ValidationMessageFor(model => model.fact_Vendedor)</span>
            </div>
        </div>

        <div class="form-group">
               @Html.LabelFor(model => model.fact_Codigo, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.fact_Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span class="validation-error">  @Html.ValidationMessageFor(model => model.fact_Codigo)</span>
                </div>
                @Html.LabelFor(model => model.fact_AlCredito, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.fact_AlCredito)
                    <span class="validation-error"> @Html.ValidationMessageFor(model => model.fact_AlCredito)</span>
                </div>
       </div>

       <div class="form-group">
           @*@Html.LabelFor(model => model.clte_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.clte_Id)
                <span class="validation-error"> @Html.ValidationMessageFor(model => model.clte_Id)</span>
            </div>*@
           @Html.LabelFor(model => model.fact_Fecha, new { @class = "control-label col-md-2" })
           <div class="col-md-4">
               @Html.EditorFor(model => model.fact_Fecha, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @id = "fechafactura" } })
               <span class="validation-error"> @Html.ValidationMessageFor(model => model.fact_Fecha)</span>
           </div>
           <div class="form-horizontal" name="Credito" id="Credito">
               @Html.LabelFor(model => model.fact_DiasCredito, new { @class = "control-label col-md-2" })
               <div class="col-md-4">
                   @Html.EditorFor(model => model.fact_DiasCredito)
                   <span class="validation-error">  @Html.ValidationMessageFor(model => model.fact_DiasCredito)</span>
               </div>
           </div>
           </div>

           <div class="form-group">
                @Html.LabelFor(model => model.clte_RTN_Identidad_Pasaporte, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.clte_RTN_Identidad_Pasaporte)
                    <span class="validation-error"> @Html.ValidationMessageFor(model => model.clte_RTN_Identidad_Pasaporte)</span>
               </div>
               <div class="form-horizontal" name="Credito1" id="Credito1">
                   @Html.LabelFor(model => model.fact_PorcentajeDescuento, new { @class = "control-label col-md-2" })
                   <div class="col-md-4">
                       @Html.EditorFor(model => model.fact_PorcentajeDescuento)
                       <span class="validation-error"> @Html.ValidationMessageFor(model => model.fact_PorcentajeDescuento)</span>
                   </div>
               </div>
                @*@Html.LabelFor(model => model.clte_Nombres, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.clte_Nombres)
                <span class="validation-error">  @Html.ValidationMessageFor(model => model.clte_Nombres)</span>
                </div>*@

                @*@Html.LabelFor(model => model.fact_AutorizarDescuento, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.fact_AutorizarDescuento)
                <span class="validation-error"> @Html.ValidationMessageFor(model => model.fact_AutorizarDescuento)</span>
                </div>*@

            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.esfac_Id, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.esfac_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @*@Html.DropDownList("esfac_Id", null, new { @class = "form-control" })*@
                    <span class="validation-error"> @Html.ValidationMessageFor(model => model.esfac_Id)</span>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.fact_UsuarioCrea, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.fact_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.fact_UsuarioCrea)
                </div>

                @Html.LabelFor(model => model.fact__FechaCrea, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.fact__FechaCrea)
                @Html.ValidationMessageFor(model => model.fact__FechaCrea)
                </div>
                </div>

                <div class="form-group">
                @Html.LabelFor(model => model.fact__UsuarioModifica, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.fact__UsuarioModifica)
                @Html.ValidationMessageFor(model => model.fact__UsuarioModifica)
                </div>

                @Html.LabelFor(model => model.fact_FechaModifica, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                @Html.EditorFor(model => model.fact_FechaModifica)
                @Html.ValidationMessageFor(model => model.fact_FechaModifica)*@
            @*</div>
            </div>*@

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-xs" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white btn-xs" })
                </div>
            </div>*@

            @*<div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#">Imprimir</button>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalAgregarDetalleFactura">Agregar Producto</button>
                </div>
            </div>*@

            


        </div>

}
        <div class="form-group">
            <div class="col-md-12">
                @Html.Partial("_CreateFacturaDetalle", new tbFacturaDetalle())
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Cantidad</th>
                        <th>Descripción Producto</th>
                        <th>Descuento</th>
                        <th>Valor Unit.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr class="gradeX">
                        <td></td>
                        <td>
                        </td>
                        <td></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                    </tr>*@
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Sub-Total</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>ISV %</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total a Pagar</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>  
        </div>
                                 
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/Credito.js"></script>