@model ERP_GMEDINA.Models.tbFactura
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .modal-lg {
        max-width: 100% !important;
    }

    .required:after {
        content: "*";
        color: red;
        padding-left: 5px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Factura</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Factura")">Regresar</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Factura</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "Factura", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("RedirectTo", Url.Action("Index", "Factura"))
                        <div class="form-horizontal">
                            @*@Html.ValidationSummary(true)*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.suc_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    <input class = "form-control" readonly value="@ViewBag.suc_Descripcion"  />
                                    @Html.EditorFor(model => model.suc_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type="hidden" } })
                                    <span class="validation-error">  @Html.ValidationMessageFor(model => model.suc_Id)</span>
                                </div>
                                @Html.LabelFor(model => model.cja_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    <input class="form-control" readonly value="Caja 1" />
                                    @Html.EditorFor(model => model.cja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type="hidden" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.cja_Id)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.pemi_NumeroCAI, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.pemi_NumeroCAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.pemi_NumeroCAI)</span>
                                </div>
                                @Html.LabelFor(model => model.fact_Codigo, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Codigo)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fact_Fecha, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Fecha, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "fechafactura" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Fecha)</span>
                                </div>
                                <label class="control-label col-md-2">Consumidor Final</label>
                                <div class="col-md-4">
                                    <input id="consumidorFinal" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" />
                               </div>
                            </div>

                            <div id="DatosCliente" name="DatosCliente" class="form-group">
                                @Html.LabelFor(model => model.clte_Identificacion, new { @class = "control-label col-md-2", id = "label_identificacion" })
                                <div class="col-md-3">
                                    <input name="clte_Identificacion" id="cliente_Identificacionxx" type="text" class="form-control" value="@ViewBag.Identificacion" readonly />
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.clte_Identificacion)</span>
                                </div>
                                <div class="col-md-1" style="width: 12.499999995%; padding:0">
                                    <div id="ocultar">
                                        <button id="btnAgregarCliente" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarCliente"><span class="glyphicon glyphicon-search"></span></button>
                                        <a id="CrearCliente" class="btn btn-primary btn-sm" href="@Url.Action("_CreateCliente", "Factura")">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                                @Html.LabelFor(model => model.clte_Nombres, new { @class = "control-label col-md-2", style = "width: 12.499999995%" })
                                <div class="col-md-4">
                                    <input name="clte_Nombres" id="cliente_Nombresxx" type="text" class="form-control" value="@ViewBag.Nombres" readonly />
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.clte_Nombres)</span>
                                </div>
                            </div>

                            <div class="form-group" id="Completo" name="Completo">
                                <div id="Alcredito" name="Alcredito">
                                    @Html.LabelFor(model => model.fact_AlCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_AlCredito)
                                        <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_AlCredito)</span>
                                    </div>
                                </div>
                                <div id="TerceraEdad" name="TerceraEdad">
                                    <label class="control-label col-md-2">Descuento Tercera Edad</label>
                                    <div class="col-md-4">
                                        <input id="MostrarTerceraEdad" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DescTerceraEdad" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-horizontal" name="Cred1" id="Cred1">
                                    @Html.LabelFor(model => model.fact_DiasCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_DiasCredito)
                                        <span id="DiasError" class="validation-error">@Html.ValidationMessageFor(model => model.fact_DiasCredito)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Autorizar Descuento</label>
                                <div class="col-md-4">
                                    <input id="fact_AutorizarDescuento" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AutorizarDescuentoModal" />
                                </div>
                                <div class="form-horizontal" name="Cred2" id="Cred2">
                                    @Html.LabelFor(model => model.fact_PorcentajeDescuento, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_PorcentajeDescuento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                                    </div>
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_PorcentajeDescuento)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.esfac_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("esfac_Id", null, new { @class = "form-control", @readonly = "readonly" })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.esfac_Id)</span>
                                </div>
                                @Html.LabelFor(model => model.fact_Vendedor, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Vendedor)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Vendedor)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Total</label>
                                <div class="col-md-4">
                                    <input id="TotalProductoEncabezado" type="text" value="" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <input id="clte_Id" name="clte_Id" type="hidden" class="form-control" value="@ViewBag.Iden" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Partial("_CreateFacturaDetalle", new tbFacturaDetalle())
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white btn-sm" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Cliente</h4>
                </div>
                <div class="modal-body" id="frmAgregarCliente">
                    @Html.Partial("_IndexCliente", (List<tbCliente>)ViewBag.Cliente)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="AutorizarDescuentoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseAutorizar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Porcentaje de Descuento</h4>
                </div>
                <div class="modal-body" id="frmAutorizarDescuento">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Usuario</label>
                                    <div class="col-md-6">
                                        <input id="Username" type="text" name="Username" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contraseña</label>
                                    <div class="col-md-6">
                                        <input name="txtPassword" class="form-control" type="text" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Porcentaje de Descuento</label>
                                    <div class="col-md-6">
                                        <input id="PorcentajeDescuento" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="Autorizar">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck3()">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="DescTerceraEdad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="uncheck2()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Registrar Tercera Edad</h4>
                </div>
                <div class="modal-body" id="frmTerceraEdad">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_IdentidadTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_IdentidadTE, new { htmlAttributes = new { @autocomplete = "off", onKeyPress = "return soloNumeros(event)" } })
                                        <div id="validationfact_IdentidadTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_IdentidadTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_NombresTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_NombresTE, new { htmlAttributes = new { @autocomplete = "off", @onkeyup = "format(this)", @style="text-transform:capitalize;" } })
                                        <div id="validationNombreTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_NombresTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_FechaNacimientoTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_FechaNacimientoTE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "", @id = "fact_FechaNacimientoTE" } })
                                        <div id="validationFechaNacimientoTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_FechaNacimientoTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="AgregarTerceraEdad">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck2()">Cancelar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="ConsuFinal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Datos Consumidor Final</h4>
                </div>
                <div class="modal-body" id="frmConsumidor">
                    <div class="ibox-content">
                         @Html.Partial("_CreateConsumidorFinal", new DatosConsumidorFinal())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/FacturaDetalle.js"></script>
<script src="~/Scripts/app/ProductoFactura.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/Credito.js"></script>
<script src="~/Scripts/app/ClienteFactura.js"></script>
<script src="~/Scripts/app/Factura.js"></script>
<script src="~/Scripts/app/Cantidad.js"></script>
<script src="~/Scripts/app/AutorizarDescuento.js"></script>
<script src="~/Scripts/app/CalculoFactura.js"></script>
<script src="~/Scripts/app/GetNumeroFact.js"></script>
<script src="~/Scripts/app/ValidarPedido.js"></script>
<script>
    document.getElementById("esfac_Id").disabled = true;
    function myFunction() {
        var checkBox = document.getElementById("MostrarTerceraEdad");
        if (checkBox.checked == true) {
            $('#DescTerceraEdad').modal('show');
        }
    }
    function uncheck2() {
        document.getElementById("MostrarTerceraEdad").checked = false;
    }
    function myFunction() {
        var checkBox = document.getElementById("fact_AutorizarDescuento");
        if (checkBox.checked == true) {
            $('#AutorizarDescuentoModal').modal('show');
        }
    }
    $('#CloseAutorizar').click(function () {
        document.getElementById("fact_AutorizarDescuento").checked = false;
        $('#Cred2').hide();
        $('#fact_PorcentajeDescuento').val(0);
    });

    function uncheck3() {
        document.getElementById("fact_AutorizarDescuento").checked = false;
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/Empleados.js"></script>

}

<script>


    $("#prod_CodigoBarras").on("keypress keyup blur", function (event) {
        var Value = $(this).val();
        if (Value == '') {
            $('#prod_Codigo').val('');
            $('#tbProducto_prod_Descripcion').val('');
            $('#factd_Impuesto').val(0.00);
            $('#factd_PrecioUnitario').val(0.00);
            $('#factd_Cantidad').val(''),
            $("#factd_PrecioUnitario").val(0.00),
            $("#SubtotalProducto").val(0.00),
            $("#TotalProducto").val(0.00)
            $("#Impuesto").val('')
        }
    });

    var contador = 0;
    $(document).keypress(function (e) {
        console.log('Hola', e.target.id);
        var IDInput = e.target.id;
        if (e.which == 13) {
            if (IDInput == 'prod_CodigoBarras') {
                ///
                $(function () {
                    var IDSucursal = $('#suc_Id').val();
                    var CodBarra = $('#prod_CodigoBarras').val();
                    var IDCliente = $('#clte_Id').val();
                    $.ajax({
                        type: 'POST',
                        url: '/Factura/BuscarCodigoBarras',
                        data: JSON.stringify({ IDSucursal: IDSucursal, CodBarra: CodBarra, IDCliente: IDCliente }),
                        contentType: 'application/json;',
                        dataType: 'json',
                    }).done(function (data) {
                        if (data.length > 0) {
                            $.each(data, function (key, val) {
                                if (val.EXISTE) {
                                    console.log('each')
                                    data_producto = val.CODIGOPRODUCTO;
                                    data_descripcion = val.DESCRIPCIONPRODUCTO;
                                    data_impuesto = val.IMPUESTOPRODUCTO;
                                    data_precio = val.PRECIOUNITARIO;
                                    $('#prod_Codigo').val(data_producto);
                                    $('#tbProducto_prod_Descripcion').val(data_descripcion);
                                    $('#factd_Impuesto').val(data_impuesto);
                                    $('#factd_PrecioUnitario').val(data_precio);
                                    $('#factd_Cantidad').val(1);
                                    $.ajax({
                                        url: "/Factura/IncrementarProducto",
                                        method: "POST",
                                        dataType: 'json',
                                        contentType: "application/json; charset=utf-8",
                                        data: JSON.stringify({ data_producto: data_producto }),
                                    })
                                    .done(function (datos) {
                                        console.log(datos)
                                        //if (datos.length > 0) {
                                            if (datos== data_producto) {
                                                //doSearch(data_producto)
                                                jsBuscar(data_producto)
                                                //buscar()
                                            }
                                            else {
                                                var Cantidad = 1,
                                                        Precio = $("#factd_PrecioUnitario").val(),
                                                        Impuesto = $("#factd_Impuesto").val(),
                                                    result = "";
                                                result1 = "";
                                                if (Cantidad && Precio > 0) {
                                                    result += Cantidad * Precio;
                                                }

                                                $("#SubtotalProducto").val(result);
                                                Subtotal = $("#SubtotalProducto").val(),
                                                PorcentajeImpuesto = ((parseFloat(Impuesto) / 100) * Subtotal);
                                                result1 += PorcentajeImpuesto;
                                                console.log(result1)
                                                $("#Impuesto").val(result1);
                                                var Descuento = $("#factd_PorcentajeDescuento").val();
                                                var Subtotal = $("#SubtotalProducto").val();
                                                var impuesto = $("#factd_Impuesto").val();
                                                if (Descuento == '') {
                                                    Descuento = 0
                                                }
                                                var PorcentajeDescuento = (parseFloat(Descuento) / 100);
                                                var PorcentajeImpuesto = (parseFloat(impuesto) / 100);
                                                var DescuentoTotal = (parseFloat(Subtotal) * parseFloat(PorcentajeDescuento));
                                                var impuestotal = (Subtotal * PorcentajeImpuesto);
                                                result = "";

                                                if (PorcentajeDescuento && Cantidad == '') {
                                                    result += (parseFloat(Subtotal) + parseFloat(impuestotal));
                                                }
                                                else if (DescuentoTotal && Cantidad == 0) {
                                                    result += (parseFloat(Subtotal) + parseFloat(impuestotal));
                                                }
                                                else {
                                                    result += (parseFloat(Subtotal) - parseFloat(DescuentoTotal) + parseFloat(impuestotal));
                                                }
                                                if (Descuento == '') {
                                                    $("#factd_PorcentajeDescuento").val(0);
                                                }
                                                if (Cantidad == '') {
                                                    $("#factd_MontoDescuento").val('');
                                                }
                                                else {
                                                    $("#factd_MontoDescuento").val(DescuentoTotal);
                                                }
                                                if (Descuento && Cantidad == '') {
                                                    $("#TotalProducto").val('');
                                                }
                                                else {
                                                    $("#TotalProducto").val(result);
                                                    var CodigoProducto = $('#prod_Codigo').val();
                                                    var PorcentajeDescuento = $('#factd_PorcentajeDescuento').val();
                                                    var MontoDescuento = $('#factd_MontoDescuento').val();
                                                    var DescripcionProducto = $('#tbProducto_prod_Descripcion').val();
                                                    var CantidadProducto = $('#factd_Cantidad').val();
                                                    var Subtotal = $('#SubtotalProducto').val();
                                                    var PrecioUnitario = $('#factd_PrecioUnitario').val();
                                                    var Impuesto = $('#factd_Impuesto').val();
                                                    var Total = $('#TotalProducto').val();
                                                    //Prueba
                                                    contador = contador + 1;
                                                    copiar = "<tr data-id=" + contador + ">";
                                                    copiar += "<td id = 'prod_CodigoCreate'>" + data_producto + "</td>";
                                                    copiar += "<td id = 'tbProducto_prod_DescripcionCreate'>" + data_descripcion + "</td>";
                                                    copiar += "<td id = 'factd_CantidadCreate' align='right'>" + 1 + "</td>";
                                                    copiar += "<td id = 'Precio_UnitarioCreate' align='right'>" + data_precio + "</td>";
                                                    copiar += "<td id = 'ImpuestoCreate' align='right'>" + data_impuesto + "</td>";
                                                    copiar += "<td id = 'factd_MontoDescuentoCreate' align='right'>" + DescuentoTotal + "</td>";
                                                    copiar += "<td id = 'TotalProductoCreate' align='right'>" + result + "</td>";
                                                    copiar += "<td>" + '<button id="removeFacturaDetalle" class="btn btn-danger btn-xs eliminar" type="button">-</button>' + "</td>";
                                                    copiar += "</tr>";
                                                    $('#tblDetalleFactura').append(copiar);
                                                    //Descuento
                                                    var Descuento = $('#factd_MontoDescuento').val();
                                                    var TotalDescuento = parseFloat(document.getElementById("TotalDescuento").innerHTML);

                                                    if (document.getElementById("TotalDescuento").innerHTML == '') {
                                                        totalProducto = $('#factd_MontoDescuento').val();
                                                        document.getElementById("TotalDescuento").innerHTML = parseFloat(totalProducto);
                                                    }
                                                    else {
                                                        document.getElementById("TotalDescuento").innerHTML = parseFloat(TotalDescuento) + parseFloat(Descuento);
                                                    }

                                                    //Subtotal
                                                    var totalProducto = $('#SubtotalProducto').val();
                                                    var subtotal = parseFloat(document.getElementById("Subtotal").innerHTML);

                                                    if (document.getElementById("Subtotal").innerHTML == '') {
                                                        totalProducto = $('#SubtotalProducto').val();
                                                        document.getElementById("Subtotal").innerHTML = parseFloat(totalProducto);
                                                    }
                                                    else {
                                                        document.getElementById("Subtotal").innerHTML = parseFloat(subtotal) + parseFloat(totalProducto);
                                                    }
                                                    ///Impuesto
                                                    var Cantidad = CantidadProducto
                                                    var Precio = PrecioUnitario
                                                    var impuesto = parseFloat(document.getElementById("factd_Impuesto").value.replace(',', '.'));
                                                    var impuestotal = parseFloat(document.getElementById("isv").innerHTML);
                                                    var porcentaje = parseFloat(impuesto / 100);
                                                    var impuestos = (Cantidad * Precio) * porcentaje;

                                                    if (document.getElementById("isv").innerHTML == '') {
                                                        impuesto = document.getElementById("factd_Impuesto").value;
                                                        document.getElementById("isv").innerHTML = parseFloat(impuestos);
                                                    }
                                                    else {
                                                        document.getElementById("isv").innerHTML = parseFloat(impuestotal) + parseFloat(impuestos);
                                                    }

                                                    //Grantotal
                                                    if (document.getElementById("total").innerHTML == '') {
                                                        var TotalEncabezado = document.getElementById("total").innerHTML = parseFloat(totalProducto) + parseFloat(impuestos) - parseFloat(Descuento);
                                                        $("#TotalProductoEncabezado").val(TotalEncabezado);
                                                    }
                                                    else {
                                                        var TotalEncabezado = document.getElementById("total").innerHTML = parseFloat(subtotal) + parseFloat(totalProducto) + parseFloat(impuestotal) + parseFloat(impuestos) - parseFloat(TotalDescuento) - parseFloat(Descuento);
                                                        $("#TotalProductoEncabezado").val(TotalEncabezado);
                                                    }


                                                    var FacturaDetalle = GetFacturaDetalle();
                                                    $.ajax({
                                                        url: "/Factura/SaveFacturaDetalle",
                                                        method: "POST",
                                                        dataType: 'json',
                                                        contentType: "application/json; charset=utf-8",
                                                        data: JSON.stringify({ FacturaDetalleC: FacturaDetalle }),
                                                    })
                                                    .done(function (data) {
                                                        $('#ErrorCodigoProductoCreate').text('');
                                                        $('#ErrorMontoDescuentoCreate').text('');
                                                        $('#ErrorCantidadCreate').text('');
                                                        $('#ErrorImpuestoCreate').text('');
                                                        ////Input
                                                        //$('#prod_Codigo').val('');
                                                        //$('#factd_MontoDescuento').val('');
                                                        //$('#Impuesto').val('');
                                                        //$('#tbProducto_prod_Descripcion').val('');
                                                        //$('#factd_Cantidad').val('');
                                                        //$('#SubtotalProducto').val('');
                                                        //$('#factd_PrecioUnitario').val('');
                                                        //$('#factd_Impuesto').val('');
                                                        //$('#TotalProducto').val('');
                                                    });
                                                    //Fin Prueba



                                                }

                                                if ($("#factd_Cantidad").val(), $("#factd_PrecioUnitario").val() == '') {
                                                    $("#factd_MontoDescuento").val('');
                                                    $("#TotalProducto").val('');
                                                }
                                            }
                                        //}
                                        //else {

                                        //}






                                    })


                                    function doSearch(data_producto) {
                                        var tableReg = document.getElementById('tblDetalleFactura');
                                        var searchText = data_producto
                                        var cellsOfRow = "";
                                        var found = false;
                                        var compareWith = "";

                                        // Recorremos todas las filas con contenido de la tabla
                                        for (var i = 1; i < tableReg.rows.length; i++) {
                                            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                                            found = false;
                                            // Recorremos todas las celdas
                                            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                                                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                                                // Buscamos el texto en el contenido de la celda
                                                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                                                    //found = true;
                                                    var Cantidad = parseInt($('#factd_Cantidad').val());

                                                    var Cantidad1 = parseInt(document.getElementById("factd_CantidadCreate").innerHTML)

                                                    var Total = parseInt(document.getElementById("TotalProductoCreate").innerHTML);
                                                    var PrecioU = parseInt(document.getElementById("Precio_UnitarioCreate").innerHTML);
                                                    var Porcentaje = parseInt(document.getElementById("ImpuestoCreate").innerHTML) / 100;
                                                    var dato = Cantidad + Cantidad1
                                                    var dato1 = ((Cantidad * PrecioU) + Total) + ((Cantidad * PrecioU) * Porcentaje)
                                                    $("#tblDetalleFactura").children().children()[i].children[2].innerHTML = dato;
                                                    $("#tblDetalleFactura").children().children()[i].children[6].innerHTML = dato1;
                                                    Cantidad1 = 0;

                                                }
                                            }
                                        }
                                    }

                                    //función que realiza la busqueda
                                    function jsBuscar(data_producto) {

                                        //obtenemos el valor insertado a buscar
                                        buscar = data_producto

                                        //utilizamos esta variable solo de ayuda y mostrar que se encontro
                                        encontradoResultado = false;

                                        //realizamos el recorrido solo por las celdas que contienen el código, que es la primera
                                        $("#tblDetalleFactura tr").find('td:eq(0)').each(function () {

                                            //obtenemos el codigo de la celda
                                            codigo = $(this).html();

                                            //comparamos para ver si el código es igual a la busqueda
                                            if (codigo == buscar) {

                                                //aqui ya que tenemos el td que contiene el codigo utilizaremos parent para obtener el tr.
                                                trDelResultado = $(this).parent();

                                                //ya que tenemos el tr seleccionado ahora podemos navegar a las otras celdas con find
                                                nombre = trDelResultado.find("td:eq(1)").html();
                                                edad = trDelResultado.find("td:eq(2)").html();

                                                //mostramos el resultado en el div

                                                //alert("Lo encontre")

                                                encontradoResultado = true;
                                                var Cantidad = parseInt($('#factd_Cantidad').val());

                                                var Cantidad1 = parseInt(document.getElementById("factd_CantidadCreate").innerHTML)

                                                //var Cantidad1 = parseInt($(this).find('td:eq(2)').html())
                                                console.log(Cantidad1)

                                                //Id: $(this).find('td:eq(1) input').val(),

                                                //Address: $(this).find('td:eq(3) input').val(),
                                                //Contact: $(this).find('td:eq(4) input').val()



                                                var Total = parseInt(document.getElementById("TotalProductoCreate").innerHTML);
                                                var PrecioU = parseInt(document.getElementById("Precio_UnitarioCreate").innerHTML);
                                                var Porcentaje = parseInt(document.getElementById("ImpuestoCreate").innerHTML) / 100;
                                                var dato = Cantidad + Cantidad1
                                                document.getElementById("TotalProductoCreate").innerHTML = ((Cantidad * PrecioU) + Total) + ((Cantidad * PrecioU) * Porcentaje)
                                                trDelResultado.find("td:eq(2)").html(dato);
                                                //document.getElementById("factd_CantidadCreate").innerHTML = Cantidad + Cantidad1
                                                //document.getElementById("TotalProductoCreate").innerHTML = ((Cantidad * PrecioU) + Total) + ((Cantidad * PrecioU) * Porcentaje)
                                                //$("#tblDetalleFactura").children().children()[trDelResultado].children[2].innerHTML = dato;
                                                //$("#tblDetalleFactura").children().children()[trDelResultado].children[6].innerHTML = dato1;

                                                Cantidad = 0;
                                                Cantidad1 = 0;
                                                dato = 0;
                                                dato1 = 0;
                                            }

                                        })

                                        //si no se encontro resultado mostramos que no existe.
                                        if (!encontradoResultado)
                                            alert("No lo encontre")
                                    }

                                    function buscar() {
                                        $('table.tblDetalleFactura tr').each(function () {

                                            Id = $(this).find('td:eq(1) input').val(),
                                            Name = $(this).find('td:eq(2) input').val(),
                                            Address = $(this).find('td:eq(3) input').val(),
                                            Contact = $(this).find('td:eq(4) input').val()

                                            console.log(Id)
                                            console.log(Name)
                                            console.log(Address)
                                            console.log(Contact)

                                        });
                                    }



                                }
                                else {
                                    alert("Este producto no esta en existencia.")
                                    $("#prod_CodigoBarras").val('')
                                }

                            })

                            $('#AgregarDetalleFactura').keypress(function () {
                                console.log('boton');
                                var CodigoProducto = $('#prod_Codigo').val();
                                var PorcentajeDescuento = $('#factd_PorcentajeDescuento').val();
                                var MontoDescuento = $('#factd_MontoDescuento').val();
                                var DescripcionProducto = $('#tbProducto_prod_Descripcion').val();
                                var CantidadProducto = $('#factd_Cantidad').val();
                                var Subtotal = $('#SubtotalProducto').val();
                                var PrecioUnitario = $('#factd_PrecioUnitario').val();
                                var Impuesto = $('#factd_Impuesto').val();
                                var Total = $('#TotalProducto').val();

                                if (CodigoProducto == '') {
                                    $('#ErrorCodigoProductoCreate').text('');
                                    $('#ErrorMontoDescuentoCreate').text('');
                                    $('#ErrorCantidadCreate').text('');
                                    $('#ErrorImpuestoCreate').text('');
                                    $('#validationCodigoProductoCreate').after('<ul id="ErrorCodigoProductoCreate" class="validation-summary-errors text-danger">Campo Código Producto requerido</ul>');
                                }
                                else if (MontoDescuento == '') {
                                    $('#ErrorCodigoProductoCreate').text('');
                                    $('#ErrorMontoDescuentoCreate').text('');
                                    $('#ErrorCantidadCreate').text('');
                                    $('#ErrorImpuestoCreate').text('');
                                    $('#validationMontoDescuentoCreate').after('<ul id="ErrorMontoDescuentoCreate" class="validation-summary-errors text-danger">Campo Monto Descuento requerido</ul>');
                                }
                                else if (CantidadProducto == '') {
                                    $('#ErrorCodigoProductoCreate').text('');
                                    $('#ErrorMontoDescuentoCreate').text('');
                                    $('#ErrorCantidadCreate').text('');
                                    $('#ErrorImpuestoCreate').text('');
                                    $('#validationCantidadProductoCreate').after('<ul id="ErrorCantidadCreate" class="validation-summary-errors text-danger">Campo Cantidad requerido</ul>');
                                }
                                else if (Impuesto == '') {
                                    $('#ErrorCodigoProductoCreate').text('');
                                    $('#ErrorMontoDescuentoCreate').text('');
                                    $('#ErrorCantidadCreate').text('');
                                    $('#ErrorImpuestoCreate').text('');
                                    $('#validationImpuestoProductoCreate').after('<ul id="ErrorImpuestoCreate" class="validation-summary-errors text-danger">Campo Impuesto requerido</ul>');
                                }
                                else {
                                    contador = contador + 1;
                                    copiar = "<tr data-id=" + contador + ">";
                                    copiar += "<td id = 'prod_CodigoCreate'>" + CodigoProducto + "</td>";
                                    copiar += "<td id = 'tbProducto_prod_DescripcionCreate'>" + DescripcionProducto + "</td>";
                                    copiar += "<td id = 'factd_CantidadCreate' align='right'>" + CantidadProducto + "</td>";
                                    copiar += "<td id = 'Precio_UnitarioCreate' align='right'>" + PrecioUnitario + "</td>";
                                    copiar += "<td id = 'ImpuestoCreate' align='right'>" + Impuesto + "</td>";
                                    copiar += "<td id = 'factd_MontoDescuentoCreate' align='right'>" + MontoDescuento + "</td>";
                                    copiar += "<td id = 'TotalProductoCreate' align='right'>" + Total + "</td>";
                                    copiar += "<td>" + '<button id="removeFacturaDetalle" class="btn btn-danger btn-xs eliminar" type="button">-</button>' + "</td>";
                                    copiar += "</tr>";
                                    $('#tblDetalleFactura').append(copiar);
                                    //Descuento
                                    var Descuento = $('#factd_MontoDescuento').val();
                                    var TotalDescuento = parseFloat(document.getElementById("TotalDescuento").innerHTML);

                                    if (document.getElementById("TotalDescuento").innerHTML == '') {
                                        totalProducto = $('#factd_MontoDescuento').val();
                                        document.getElementById("TotalDescuento").innerHTML = parseFloat(totalProducto);
                                    }
                                    else {
                                        document.getElementById("TotalDescuento").innerHTML = parseFloat(TotalDescuento) + parseFloat(Descuento);
                                    }

                                    //Subtotal
                                    var totalProducto = $('#TotalProducto').val();
                                    var subtotal = parseFloat(document.getElementById("Subtotal").innerHTML);

                                    if (document.getElementById("Subtotal").innerHTML == '') {
                                        totalProducto = $('#TotalProducto').val();
                                        document.getElementById("Subtotal").innerHTML = parseFloat(totalProducto);
                                    }
                                    else {
                                        document.getElementById("Subtotal").innerHTML = parseFloat(subtotal) + parseFloat(totalProducto);
                                    }
                                    //Impuesto
                                    var totalProducto = document.getElementById("TotalProducto").value;
                                    var impuesto = parseFloat(document.getElementById("factd_Impuesto").value.replace(',', '.'));
                                    var impuestotal = parseFloat(document.getElementById("isv").innerHTML);
                                    var porcentaje = parseFloat(impuesto / 100);
                                    var impuestos = (totalProducto * porcentaje);

                                    if (document.getElementById("isv").innerHTML == '') {
                                        impuesto = document.getElementById("factd_Impuesto").value;
                                        document.getElementById("isv").innerHTML = parseFloat(impuestos);
                                    }
                                    else {
                                        document.getElementById("isv").innerHTML = parseFloat(impuestotal) + parseFloat(impuestos);
                                    }

                                    //Grantotal
                                    if (document.getElementById("total").innerHTML == '') {
                                        var TotalEncabezado = document.getElementById("total").innerHTML = parseFloat(totalProducto) + parseFloat(impuestos);
                                        $("#TotalProductoEncabezado").val(TotalEncabezado);
                                    }
                                    else {
                                        var TotalEncabezado = document.getElementById("total").innerHTML = parseFloat(subtotal) + parseFloat(totalProducto) + parseFloat(impuestotal) + parseFloat(impuestos);
                                        $("#TotalProductoEncabezado").val(TotalEncabezado);
                                    }


                                    var FacturaDetalle = GetFacturaDetalle();
                                    $.ajax({
                                        url: "/Factura/SaveFacturaDetalle",
                                        method: "POST",
                                        dataType: 'json',
                                        contentType: "application/json; charset=utf-8",
                                        data: JSON.stringify({ FacturaDetalleC: FacturaDetalle }),
                                    })
                                    .done(function (data) {
                                        $('#ErrorCodigoProductoCreate').text('');
                                        $('#ErrorMontoDescuentoCreate').text('');
                                        $('#ErrorCantidadCreate').text('');
                                        $('#ErrorImpuestoCreate').text('');
                                        //Input
                                        $('#prod_Codigo').val('');
                                        $('#factd_MontoDescuento').val('');
                                        $('#Impuesto').val('');
                                        $('#tbProducto_prod_Descripcion').val('');
                                        $('#factd_Cantidad').val('');
                                        $('#SubtotalProducto').val('');
                                        $('#factd_PrecioUnitario').val('');
                                        $('#factd_Impuesto').val('');
                                        $('#TotalProducto').val('');
                                    });
                                }
                            });
                            function GetFacturaDetalle() {

                                var FacturaDetalle = {
                                    prod_Codigo: $('#prod_Codigo').val(),
                                    factd_PorcentajeDescuento: $('#factd_PorcentajeDescuento').val(),
                                    factd_MontoDescuento: $('#factd_MontoDescuento').val(),
                                    tbProducto_prod_Descripcion: $('#tbProducto_prod_Descripcion').val(),
                                    factd_Cantidad: $('#factd_Cantidad').val(),
                                    SubtotalProducto: $('#SubtotalProducto').val(),
                                    factd_PrecioUnitario: $('#factd_PrecioUnitario').val(),
                                    factd_Impuesto: $('#factd_Impuesto').val(),
                                    TotalProducto: $('#TotalProducto').val(),
                                    factd_Id: contador
                                };
                                return FacturaDetalle
                            }
                        }

                    });

                    return false;
                });

                return false;
            }
            else
                return false;
        }
    });
</script>
