@model ERP_GMEDINA.Models.tbFactura
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }
    .modal-lg { 
    max-width: 100% !important; 
} 

.required:after {
    content: "*";
    color: red;
    padding-left:5px;
}

</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Factura</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Factura")">Regresar</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Factura</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "Factura", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @*@Html.ValidationSummary(true)*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.suc_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.suc_Id)
                                    <span class="validation-error">  @Html.ValidationMessageFor(model => model.suc_Id)</span>
                                </div>
                                @Html.LabelFor(model => model.cja_Id, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.cja_Id)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.cja_Id)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.pemi_NumeroCAI, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.pemi_NumeroCAI)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.pemi_NumeroCAI)</span>
                                </div>
                                @Html.LabelFor(model => model.fact_Codigo, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Codigo)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Codigo)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fact_Fecha, new { @class = "control-label required col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Fecha, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "fechafactura" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Fecha)</span>
                                </div>
                                <label class="control-label col-md-2">Consumidor Final</label>
                                <div class="col-md-4">
                                    <input id="consumidorFinal" type="checkbox" class="check-box" />
                                </div>
                            </div>

                            <div id="DatosCliente" name="DatosCliente" class="form-group">
                                @Html.LabelFor(model => model.clte_Identificacion, new { @class = "control-label col-md-2", id = "label_identificacion" })
                                <div class="col-md-3">
                                    @*<input name="clte_Identificacion" type="text" class="form-control" value="@ViewBag.Identificacion" />*@
                                   @Html.EditorFor(model => model.clte_Identificacion, new { htmlAttributes = new { @autocomplete = "off" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.clte_Identificacion)</span>
                                </div>
                                <div class="col-md-1" style="width: 12.499999995%; padding:0">
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarCliente"><span class="glyphicon glyphicon-search"></span></button>
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("_CreateCliente", "Factura")">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                                @Html.LabelFor(model => model.clte_Nombres, new { @class = "control-label col-md-2", style = "width: 12.499999995%" })
                                <div class="col-md-4">
                                    @*<input name="clte_Identificacion" type="text" class="form-control" value="@ViewBag.Nombres" readonly />*@
                                    @Html.EditorFor(model => model.clte_Nombres, new { htmlAttributes = new { @autocomplete = "off", @readonly = "readonly", @Value = "ViewBag.Identificacion" } })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.clte_Nombres)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fact_AlCredito, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_AlCredito)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_AlCredito)</span>
                                </div>
                                <div id="TerceraEdad" name="TerceraEdad">
                                    <label class="control-label col-md-2">Descuento Tercera Edad</label>
                                    <div class="col-md-4">
                                        <input id="MostrarTerceraEdad" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DescTerceraEdad" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-horizontal" name="Cred1" id="Cred1">
                                    @Html.LabelFor(model => model.fact_DiasCredito, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_DiasCredito)
                                        <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_DiasCredito)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Autorizar Descuento</label>
                                <div class="col-md-4">
                                    <input id="fact_AutorizarDescuento" type="checkbox" class="check-box" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AutorizarDescuentoModal" />
                                </div>
                                <div class="form-horizontal" name="Cred2" id="Cred2">
                                    @Html.LabelFor(model => model.fact_PorcentajeDescuento, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.fact_PorcentajeDescuento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                                    </div>
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_PorcentajeDescuento)</span>
                                </div>                                
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.esfac_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("esfac_Id", null, new { @class = "form-control", @readonly = "readonly" })
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.esfac_Id)</span>
                                </div>
                                @Html.LabelFor(model => model.fact_Vendedor, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fact_Vendedor)
                                    <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_Vendedor)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Total</label>
                                <div class="col-md-4">
                                    <input id="TotalProducto1" type="text" value="" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.HiddenFor(model => model.clte_Id)
                                    @{
                                        int? Esto = ViewBag.Iden;
                                    }
                                    <input name="Cliente" type="text" class="form-control" value="@Esto" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Partial("_CreateFacturaDetalle", new tbFacturaDetalle())
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white btn-sm" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="ModalAgregarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Cliente</h4>
                </div>
                <div class="modal-body" id="frmAgregarCliente">
                    @Html.Partial("_IndexCliente", (List<tbCliente>)ViewBag.Cliente)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="AutorizarDescuentoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseAutorizar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Porcentaje de Descuento</h4>
                </div>
                <div class="modal-body" id="frmAutorizarDescuento">
                    <div class="ibox-content">                        
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Usuario</label>
                                    <div class="col-md-6">
                                        <input id="Username" type="text" name="Username" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contraseña</label>
                                    <div class="col-md-6">
                                        <input name="txtPassword" class="form-control" type="text" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Porcentaje de Descuento</label>
                                    <div class="col-md-6">
                                        <input id="PorcentajeDescuento" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="Autorizar">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck3()">Cancelar</button>
                               </div>
                            </form>                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="DescTerceraEdad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="uncheck2()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Registrar Tercera Edad</h4>
                </div>
                <div class="modal-body" id="frmTerceraEdad">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <form>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_IdentidadTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_IdentidadTE, new { htmlAttributes = new { @autocomplete = "off",onKeyPress = "return soloNumeros(event)"}})
                                        <div id="validationfact_IdentidadTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_IdentidadTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_NombresTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_NombresTE)
                                        <div id="validationNombreTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_NombresTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_FechaNacimientoTE, new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.fact_FechaNacimientoTE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "", @id = "fact_FechaNacimientoTE" } })
                                        <div id="validationFechaNacimientoTECreate">
                                            <span class="validation-error">@Html.ValidationMessageFor(model => model.fact_FechaNacimientoTE)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="AgregarTerceraEdad">Guardar</button>
                                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal" onclick="uncheck2()">Cancelar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/FacturaDetalle.js"></script>
<script src="~/Scripts/app/ProductoFactura.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/Credito.js"></script>
<script src="~/Scripts/app/ClienteFactura.js"></script>
<script src="~/Scripts/app/Factura.js"></script>
<script src="~/Scripts/app/Cantidad.js"></script>
<script src="~/Scripts/app/AutorizarDescuento.js"></script>
<script src="~/Scripts/app/CalculoFactura.js"></script>

<script>
    document.getElementById("esfac_Id").disabled = true;
    // Open Modal Edad
    function myFunction() {
        var checkBox = document.getElementById("MostrarTerceraEdad");
        if (checkBox.checked == true) {
            $('#DescTerceraEdad').modal('show');
        }
    }
    function uncheck2() {
        document.getElementById("MostrarTerceraEdad").checked = false;
    }

    // Open Modal Autorizar Descuento
    function myFunction() {
        var checkBox = document.getElementById("fact_AutorizarDescuento");
        if (checkBox.checked == true) {
            $('#AutorizarDescuentoModal').modal('show');
        }
    }
    $('#CloseAutorizar').click(function () {
        document.getElementById("fact_AutorizarDescuento").checked = false;
        $('#Cred2').hide();
        $('#fact_PorcentajeDescuento').val(0);
    });

    function uncheck3() {
        document.getElementById("fact_AutorizarDescuento").checked = false;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/Empleados.js"></script>

}




