@model ERP_ZORZAL.Models.tbFactura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbFactura</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fact_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esfac_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esfac_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cja_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cja_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clte_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clte_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pemi_NumeroCAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pemi_NumeroCAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_AlCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_AlCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_DiasCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_DiasCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_PorcentajeDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_PorcentajeDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_AutorizarDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_AutorizarDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clte_RTN_Identidad_Pasaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clte_RTN_Identidad_Pasaporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clte_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clte_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact__FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact__FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact__UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact__UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fact_FechaModifica)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.fact_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













