@model IEnumerable<ERP_GMEDINA.Models.UDV_Vent_Busqueda_Factura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Factura</h2>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Facturas</h5>
                    <div class="ibox-tools">
                        @*<a href="~/ReportViewer/Factura.aspx" class="btn btn-primary btn-sm">Generar Reporte</a>*@
                       @Html.ActionLink("Registrar Factura", "Create", null, new { @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
                <div class="ibox-content">
                  @using (Html.BeginForm())
                  {
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Cliente</label>
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.cliente" id="cliente" autocomplete="off" name="cliente" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">Fecha</label>
                            <div class="col-md-4">
                                <input type="text" id="fecha" value="@ViewBag.fecha" name="fecha" autocomplete="off" class="form-control" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Caja</label>
                            <div class="col-md-4">
                                <input type="text" id="caja" value="@ViewBag.caja" name="caja" autocomplete="off" class="form-control" />
                            </div>
                            <div class="">
                                <button id="search" type="submit" class="btn btn-primary btn-sm">Buscar</button>
                            </div>
                        </div>
                    </div>
                  }
                    <table id="DataTable1" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.fact_Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fact_Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clte_Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clte_Identificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cja_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.esfac_Id)
                                </th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="FacturaTbody">

                            @foreach (var item in Model)
                            {
                                if (item.fact_EsAnulada)
                                {
                                    item.esfac_Descripcion = "Anulada";
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fact_Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fact_Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clte_Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clte_Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cja_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.esfac_Descripcion)
                                    </td>
                                    @if (item.fact_EsAnulada == false)
                                    {
                                        <td>
                                            @Html.ActionLink("Detalle", "Details", new { id = item.fact_Id }, new { @class = "btn btn-primary btn-xs" })
                                            @Html.ActionLink("Editar", "Edit", new { id = item.fact_Id }, new { @class = "btn btn-primary btn-xs" })
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalImprimir">
                                                Imprimir
                                            </button>

                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("Detalle", "Details", new { id = item.fact_Id }, new { @class = "btn btn-primary btn-xs" })

                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta Anulado">
                                                <button class="btn btn-white btn-xs" style="pointer-events: none;" type="button" >Editar</button>
                                            </span>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta Anulado">
                                                <button class="btn btn-primary btn-xs" style="pointer-events: none;" type="button" >Imprimir</button>
                                            </span>
                                        </td>
                                    }
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalImprimir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imprimir Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea Imprimir Factura?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","Factura")" class="btn btn-primary">Si</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script>
    $(document).ready(function () {
        $('#DataTable1').DataTable(
        {
            "searching": false,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sEmptyTable": "No hay registros",
                "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
</script>


