@model ERP_GMEDINA.Models.tbDenominacionArqueo



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>_CreateDenominacion tbDenominacionArqueo</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.mocja_Id, "mocja_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mocja_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.mocja_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deno_Id, "deno_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("deno_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.deno_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_CantidadDenominacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arqde_CantidadDenominacion)
                @Html.ValidationMessageFor(model => model.arqde_CantidadDenominacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_MontoDenominacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arqde_MontoDenominacion)
                @Html.ValidationMessageFor(model => model.arqde_MontoDenominacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_UsuarioCrea, "arqde_UsuarioCrea", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("arqde_UsuarioCrea", String.Empty)
                @Html.ValidationMessageFor(model => model.arqde_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arqde_FechaCrea)
                @Html.ValidationMessageFor(model => model.arqde_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_UsuarioModifica, "arqde_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("arqde_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.arqde_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arqde_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arqde_FechaModifica)
                @Html.ValidationMessageFor(model => model.arqde_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
