@model ERP_GMEDINA.Models.tbMovimientoCaja
@{
    var tbSolicitudEfectivo = new ERP_GMEDINA.Models.tbSolicitudEfectivo();
    var tbTipoPago = new ERP_GMEDINA.Models.tbTipoPago();
}

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
    color: red; 
    font-size: small;
}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Arqueo Caja</h2>

    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","MovimientoCaja")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Arqueo Caja</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.mocja_FechaApertura)
        @Html.HiddenFor(model => model.mocja_FechaCrea)
        @Html.HiddenFor(model => model.mocja_UsuarioCrea)
        

        <div class="form-group">
            @Html.LabelFor(model => model.cja_Id, "Caja", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.HiddenFor(model => model.cja_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.EditorFor(model => model.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                <span class="validation-error">@Html.ValidationMessageFor(model => model.cja_Id)</span>
             </div>


            <div class="form-group col-md-5">
                <label class="control-label col-md-5">Cajero</label>
                <div class="col-md-5">
                    <input class="form-control" readonly value="@ViewBag.Cajero" />
                    <input id="usu_Id" name="usu_Id" type="hidden" class="form-control" value="@ViewBag.usu_Id" />
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.usu_Id)</p>
                </div>
            </div>

          
        </div>
        <div class="form-group">
            <div class="form-group col-md-5">
                <label class="control-label col-md-5">Usuario Apertura</label>
                <div class="col-md-5">
                    <input class="form-control" readonly value="@ViewBag.UsuarioApertura" />
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioApertura)</p>
                </div>
            </div>

            <div hidden class="form-group col-md-5">
                @Html.LabelFor(model => model.mocja_UsuarioApertura, "Usuario Apertura", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.mocja_UsuarioApertura, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.mocja_UsuarioApertura } })
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioApertura)</p>
                </div>
            </div>

            @Html.LabelFor(model => model.mocja_FechaApertura, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.mocja_FechaApertura, "{0:yyyy/MM/dd}", new { htmlAttributes = new { @class = "form-control", @id = "fechaapertura" } })
                <span style="color:red" class="validation-error">@Html.ValidationMessageFor(model => model.mocja_FechaApertura)</span>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.mocja_UsuarioArquea, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.mocja_UsuarioArquea, new { htmlAttributes = new { @min = "1" } }) 
                <span class="validation-error">@Html.ValidationMessageFor(model => model.mocja_UsuarioArquea)</span>
            </div>*@

            <div class="form-group col-md-5">
                <label class="control-label col-md-5">Usuario Arquea</label>
                <div class="col-md-5">
                    <input class="form-control" readonly value="@ViewBag.UsuarioArquea" />
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioArquea)</p>
                </div>
            </div>

            <div hidden class="form-group col-md-5">
                @Html.LabelFor(model => model.mocja_UsuarioArquea, "Usuario Apertura", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.mocja_UsuarioArquea, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.mocja_UsuarioArquea } })
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioArquea)</p>
                </div>
            </div>


            @Html.LabelFor(model => model.mocja_FechaArqueo, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.mocja_FechaArqueo, "{0:yyyy/MM/dd}", new { htmlAttributes = new { @class = "form-control", @id = "fechaarqueo" } })
                <span class="validation-error">@Html.ValidationMessageFor(model => model.mocja_FechaArqueo)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-5">
                <label class="control-label col-md-5">Usuario Aceptación</label>
                <div class="col-md-5">
                    <input class="form-control" readonly value="@ViewBag.UsuarioAceptacion" />
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioAceptacion)</p>
                </div>
            </div>

            <div hidden class="form-group col-md-5">
                @Html.LabelFor(model => model.mocja_UsuarioAceptacion, "Usuario Aceptación", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.mocja_UsuarioAceptacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.mocja_UsuarioAceptacion } })
                    <p id="MensajeErrorDenominacion" style="color:red"> @Html.ValidationMessageFor(model => model.mocja_UsuarioAceptacion)</p>
                </div>
            </div>



            @Html.LabelFor(model => model.mocja_FechaAceptacion, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.mocja_FechaAceptacion, "{0:yyyy/MM/dd}", new { htmlAttributes = new { @class = "form-control", @id = "fechaaceptacion" } })
                <span class="validation-error">@Html.ValidationMessageFor(model => model.mocja_FechaAceptacion)</span>
            </div>            
        </div>

        <div style="width:50%; float:left;">
            <div class="form-group m-t-xl">
                <div class="ibox-title">
                    <h5>Control de Efectivo</h5>
                </div>


                <label class="control-label col-md-4">Efectivo Inicial</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Efectivo Recibido</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Efectivo Pagos</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Efectivo Entregado</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Total Efectivo</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>
        </div>



        <div style="width:50%; float:right;">
            <div class="form-group m-t-xl">
                <div class="ibox-title">
                    <h5>Control de Pagos</h5>
                </div>

                <label class="control-label col-md-4">Pagos Efectivo</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Pagos TC o TD</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Pagos Cheque</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Pagos Nota de Credito</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Pagos Cupón</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group m-t-n-xs">
                <label class="control-label col-md-4">Total Pagos</label>
                <div class="control-label col-md-4">
                    <input type="text" value="" class="form-control" readonly />
                </div>
            </div>
        </div>


        <div class="form-group m-t-xl">
            <div class="table table-responsive">
                <table class="table table-bordered" id="tbdenominacion">

                    <thead>

                        <tr>
                            <th class="success">Moneda</th>
                            <th class="success">Tipo Denominacion</th>
                            <th class="success">Denominacion</th>
                            <th class="success">Valor Denominacion</th>
                            <th class="success">Cantidad</th>
                            <th class="success">Sub Total</th>
                        </tr>

                        
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th class="success">Total</th>
                            <td></td>
                            
                            @*<td></td>*@
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        jQuery('input,select').each(function () {
            var req = jQuery(this).attr('data-val-required');
            if (undefined != req) {
                var label = jQuery('label[for="' + jQuery(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });

</script>









<script>

              $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/MovimientoCaja/Denominaciones',
                datatype: 'JSON',
                data: {},
                success: function (data) {

                    console.log(data);

                    $('#tbdenominacion tbody').empty();
                    $.each(data, function (i, item) {
                        var rows = "<tr data-id=" + item.deno_Id + ">" +
                                        "<td hidden>" + item.deno_Id + "</td>" +
                                        "<td>" + item.mnda_Abreviatura + "</td>" +
                                        "<td>" + item.TipoDenominacion + "</td>" +
                                         "<td>" + item.deno_Descripcion + "</td>" +
                                         "<td>" + item.deno_valor + "</td>" +
                                        // "<td>" + item.mnda_Nombre + "</td>" +
                        "<td>" + '<input type="text" id="cantidad" name="name" onKeyPress="return soloNumeros(event)" onKeyUp="pierdeFoco(this)" autocomplete="off" class="form-control" ize="3">' + "</td>" +
                                          "<td>" + 0 + "</td>" +
                                      
                                      
                                        "</tr>";

                        $('#tbdenominacion tbody').append(rows);
                    });

                },
                error: function (data) { alert(data.responseText); }
            });
              });

              function soloNumeros(e) {
                  var key = window.Event ? e.which : e.keyCode;
                  return ((key >= 48 && key <= 57) || (key == 8))
              }

              function pierdeFoco(e) {
                  var valor = e.value.replace(/^0*/, '');
                  e.value = valor;


              }






    //---------------------------------------Subtotal-----------------------------------------------





              $(document).on("keyup", "#tbdenominacion tbody tr td input#cantidad", function () {
                  var row = $(this).closest("tr");
                  var Cantidad = $(this).val();
                  var deno_valor = $(this).parents("tr").find("td")[4].innerHTML;
                  var sub = parseFloat(Cantidad * deno_valor);
                  var suma = 0;
                  var data = [];

                  SubTotal = 0;

                  $(this).parents("tr").find("td")[6].innerHTML = sub;
                  if (sub != 0) {
                      SubTotal += sub;

                      //Calculo Total

                      $("td.sumTotal").each(function () {
                          data.push(parseFloat($(this).text()));
                      });
                      var suma = data.reduce(function (a, b) { return a + b; }, 0);


                      $("#Total").val(suma);

                      console.log(data);
                      console.log(suma);
                      //---------------------------------------------


                  }
                  



              });



              

</script>

    
    
    }



 
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/Datepicker.js"></script>
<script src="~/Scripts/app/ArqueoCaja.js"></script>
