@model ERP_GMEDINA.Models.tbMovimientoCaja
@using ERP_GMEDINA.Models


@{
    var test = new ERP_GMEDINA.Models.tbSucursal();
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Movimiento Caja</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Apertura</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("CreateApertura", "MovimientoCaja", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-horizontal">
                                <div class="form-group col-md-7">
                                   @Html.LabelFor(model => test.suc_Id, "Sucursal", new { @class = "control-label col-md-2" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => test.suc_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        <p style="color:red"> @Html.ValidationMessageFor(model => test.suc_Descripcion)</p>
                                    </div>
                                </div>
                            </div>
             
                            <div class="form-group col-md-5">
                                @Html.LabelFor(model => model.cja_Id, "Número Caja", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.tbCaja.cja_Id, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly"} })                              
                                    <p id="MensajeErrorDenominacion" style="color:red">@Html.ValidationMessageFor(model => model.cja_Id)</p>
                                    </div>
                            </div>
                            <div class="form-group col-md-7">
                                @Html.LabelFor(model => model.tbCaja.cja_Descripcion, "Descripción Caja", new { @class = "control-label col-md-2" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.tbCaja.cja_Descripcion, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tbCaja.cja_Descripcion)
                                </div>
                            </div> 

                            <div class="form-group col-md-5">
                                @Html.LabelFor(model => model.mocja_FechaApertura, "Fecha Apertura", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.mocja_FechaApertura, new { htmlAttributes = new { @id = "fechaapertura", maxlength = 10 , @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.mocja_FechaApertura)
                                </div>
                            </div>

                            <div class="form-group col-md-7">
                                @Html.LabelFor(model => model.mocja_UsuarioApertura, "Usuario Apertura", new { @class = "control-label col-md-2" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.mocja_UsuarioApertura, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.mocja_UsuarioApertura)
                                </div>
                            </div>



                            <div class="form-horizontal">
                                <div class="form-group col-md-5">
                                    <label class="control-label col-md-2">Monto Inicial</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control " id="MontoInicial" readonly>
                                    </div>
                                </div>
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.Partial("_CreateAperturaDetalle", new tbSolicitudEfectivo())
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/Apertura.js"></script>

    <script src="~/Scripts/app/AperturaDetalle.js"></script>


<script type="text/javascript">
    //Current Date
    var d = new Date();
    var n = d.toLocaleString([], { hour12: true });
    var strDate = (d.getDate() + "/" + d.getMonth() + 1) + "/" +d.getFullYear() + ' ' +d.getHours() + ':'+ d.getMinutes()+ ':' + d.getSeconds();
    $('#fechaapertura').val(n);
</script>


}

