@model Inspinia_MVC5_SeedProject.Models.tbPedidos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear Nuevo</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Cre</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nuevo Pedido</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ped_CodPedido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_CodPedido)
                @Html.ValidationMessageFor(model => model.ped_CodPedido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.su_CodSucursal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.su_CodSucursal)
                @Html.ValidationMessageFor(model => model.su_CodSucursal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_FechaPedido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_FechaPedido)
                @Html.ValidationMessageFor(model => model.ped_FechaPedido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_FechaEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_FechaEntrega)
                @Html.ValidationMessageFor(model => model.ped_FechaEntrega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ctle_RTN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ctle_RTN)
                @Html.ValidationMessageFor(model => model.ctle_RTN)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
