@model Inspinia_MVC5_SeedProject.Models.tbMonedas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles de Moneda</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbMonedas</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mnda_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mnda_Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Pais)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.mnda_ISO }, new { @class = "btn btn-primary"})
         @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>*@





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbMonedas</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.mnda_Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mnda_Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mnda_Pais)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mnda_Pais)
                        </dd>

                    </dl>


                    <input type="button" value="Editar" class="btn btn-primary btn-xs" />
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>













