@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbEmpaqueCaja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de EmpaqueCaja</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Nuevo", "CrearPrueba", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">
                    @*<table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpCaja_BodegaDespacho)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpCaja_BodegaRecibe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpCaja_NombreProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpCaja_Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpCaja_Observaciones)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpCaja_BodegaDespacho)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpCaja_BodegaRecibe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpCaja_NombreProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpCaja_Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpCaja_Observaciones)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.EmpCaja_IDEmpaqueCaja }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpCaja_IDEmpaqueCaja }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpCaja_IDEmpaqueCaja }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>*@


<table class="table table-striped" id="tbEmpaqueCaja">
    <thead>
        <tr>
            <th>
                ID EmpaqueCaja
            </th>
            <th>
                Bodega Despacho
            </th>
            <th>
                Bodega Recibe
            </th>
            <th>
                Nombre Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Actiones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Bodega Central
            </td>
            <td>
                Bodega Ceiba
            </td>
            <td>
                Lociones de Mujer
            </td>
            <td>
                50 und
            </td>
            <td>
                Fragil
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetailsPrueba", new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-white btn-sm" })
            </td>
        </tr>
    </tbody>


</table>

                </div>
            </div>
        </div>
    </div>
 </div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
        $('#tbEmpaqueCaja').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}

