@model Inspinia_MVC5_SeedProject.Models.tbCliente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Cliente</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.clte_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.tpi_Id, "tpi_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tpi_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.tpi_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_RTN_IDT_PASSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_RTN_IDT_PASSP)
                @Html.ValidationMessageFor(model => model.clte_RTN_IDT_PASSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_EsPersonaNatural, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_EsPersonaNatural)
                @Html.ValidationMessageFor(model => model.clte_EsPersonaNatural)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Nombre)
                @Html.ValidationMessageFor(model => model.clte_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Apellido)
                @Html.ValidationMessageFor(model => model.clte_Apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_FechaNacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_FechaNacimiento)
                @Html.ValidationMessageFor(model => model.clte_FechaNacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Nacionalidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Nacionalidad)
                @Html.ValidationMessageFor(model => model.clte_Nacionalidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Sexo)
                @Html.ValidationMessageFor(model => model.clte_Sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Telefono)
                @Html.ValidationMessageFor(model => model.clte_Telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_NombreComercial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_NombreComercial)
                @Html.ValidationMessageFor(model => model.clte_NombreComercial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_RazonSocial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_RazonSocial)
                @Html.ValidationMessageFor(model => model.clte_RazonSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_ContactoNombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_ContactoNombre)
                @Html.ValidationMessageFor(model => model.clte_ContactoNombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_ContactoEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_ContactoEmail)
                @Html.ValidationMessageFor(model => model.clte_ContactoEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_ContactoTel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_ContactoTel)
                @Html.ValidationMessageFor(model => model.clte_ContactoTel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_FechaConstitusion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_FechaConstitusion)
                @Html.ValidationMessageFor(model => model.clte_FechaConstitusion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mun_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mun_Id)
                @Html.ValidationMessageFor(model => model.mun_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Direccion)
                @Html.ValidationMessageFor(model => model.clte_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_CorreoElectronico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_CorreoElectronico)
                @Html.ValidationMessageFor(model => model.clte_CorreoElectronico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_EsActivo)
                @Html.ValidationMessageFor(model => model.clte_EsActivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_RazonInactivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_RazonInactivo)
                @Html.ValidationMessageFor(model => model.clte_RazonInactivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_ConCredito, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_ConCredito)
                @Html.ValidationMessageFor(model => model.clte_ConCredito)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_EsMinorista, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_EsMinorista)
                @Html.ValidationMessageFor(model => model.clte_EsMinorista)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Observaciones_, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_Observaciones_)
                @Html.ValidationMessageFor(model => model.clte_Observaciones_)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.clte_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_FechaCrea)
                @Html.ValidationMessageFor(model => model.clte_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.clte_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clte_FechaModifica)
                @Html.ValidationMessageFor(model => model.clte_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
