@model ERP_ZORZAL.Models.tbNotaCredito

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Nota Crédito</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear Nota Crédito</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.nocre_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nocre_Id)
                @Html.ValidationMessageFor(model => model.nocre_Id)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.nocre_Codigo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nocre_Codigo)
                @Html.ValidationMessageFor(model => model.nocre_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dev_Id, "Devolución", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("dev_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.dev_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Id, "Cliente", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clte_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.clte_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nocre_FechaEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nocre_FechaEmision)
                @Html.ValidationMessageFor(model => model.nocre_FechaEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nocre_MotivoEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nocre_MotivoEmision)
                @Html.ValidationMessageFor(model => model.nocre_MotivoEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nocre_Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nocre_Monto)
                @Html.ValidationMessageFor(model => model.nocre_Monto)
            </div>
        </div>

        @*<div class="form-group">
        @Html.LabelFor(model => model.nocre_UsuarioCrea, "nocre_UsuarioCrea", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("nocre_UsuarioCrea", String.Empty)
            @Html.ValidationMessageFor(model => model.nocre_UsuarioCrea)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nocre_FechaCrea, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nocre_FechaCrea)
            @Html.ValidationMessageFor(model => model.nocre_FechaCrea)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nocre_UsuarioModifica, "nocre_UsuarioModifica", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("nocre_UsuarioModifica", String.Empty)
            @Html.ValidationMessageFor(model => model.nocre_UsuarioModifica)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nocre_FechaModifica, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nocre_FechaModifica)
            @Html.ValidationMessageFor(model => model.nocre_FechaModifica)
        </div>
    </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
