@model ERP_ZORZAL.Models.tbProducto

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Ingresar Nuevo</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    </div>
    @*<div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regreasar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>*@
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Producto")">Regresar</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Producto</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
           @Html.LabelFor(model => model.prod_Codigo, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                
                @Html.EditorFor(model => model.prod_Codigo)
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
       
            @Html.LabelFor(model => model.prod_Descripcion, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                
                @Html.EditorFor(model => model.prod_Descripcion)
                @Html.ValidationMessageFor(model => model.prod_Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_Marca, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.prod_Marca)
                @Html.ValidationMessageFor(model => model.prod_Marca)
            </div>

            
                @Html.LabelFor(model => model.uni_Id, "Unidad Medida", new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.DropDownList("uni_Id", (IEnumerable<SelectListItem>)ViewBag.uni_Id, "Seleccione una unidad de medida", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.uni_Id)
            </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pscat_Id, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.DropDownList("pscat_Id", (IEnumerable<SelectListItem>)ViewBag.pscat_Id, "Seleccione una subcategoria", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pscat_Id)
            </div>
        
            @Html.LabelFor(model => model.prod_Modelo, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.prod_Modelo)
                @Html.ValidationMessageFor(model => model.prod_Modelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_Talla, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.prod_Talla)
                @Html.ValidationMessageFor(model => model.prod_Talla)
            </div>
       
            @Html.LabelFor(model => model.prod_Color, new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.prod_Color)
                @Html.ValidationMessageFor(model => model.prod_Color)
            </div>
        </div>

        

        

        @*<div class="form-group">
            @Html.LabelFor(model => model.prod_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.prod_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_FechaCrea)
                @Html.ValidationMessageFor(model => model.prod_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_UsuarioModifica, "prod_UsuarioModifica", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_UsuarioModifica", String.Empty)
                @Html.ValidationMessageFor(model => model.prod_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_FechaModifica)
                @Html.ValidationMessageFor(model => model.prod_FechaModifica)
            </div>
        </div>*@

        <div class="ibox-content">
            <div class="form-group">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.tsal_Descripcion)*@
                            Acción
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.tsal_UsuarioCrea)*@
                            Usuario
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.tsal_FechaCrea)*@
                            Fecha
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.tsal_UsuarioModifica)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tsal_FechaModifica)
                        </th>*@
                        @*<th></th>*@
                    </tr>

                    @*@foreach (var item in Model) { }*@
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.tsal_Descripcion)*@
                            Creado por
                        </td>
                        <td>

                            @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prod_UsuarioCrea)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                            @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                            @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                        </td>*@
                    </tr>
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.tsal_UsuarioCrea)*@
                            Modificado por
                        </td>
                        <td></td>
                        <td></td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.tsal_FechaModifica)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id=item.tsal_Id }, new { @class = "btn btn-primary btn-sm"})
                            @Html.ActionLink("Edit", "Edit", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                            @Html.ActionLink("Delete", "Delete", new { id=item.tsal_Id }, new { @class = "btn btn-white btn-sm"})
                        </td>*@
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalregistros">Nueva SubCategoria</button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped" id="tbProductoSubcategoria">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Nombre
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Ropa
                                </td>
                                <td>
                                    Hombre
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaldetalles">Detalles</button>
                                    <button type="button" class="btn btn-white  btn-xs" data-toggle="modal" data-target="#modaleditars">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- INSERT MODAL -->
<div class="modal fade" id="modalregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Nueva Categoria</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripcion</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>


<!--Detalles-->
<div class="modal fade" id="modaldetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Detalles Categoría</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        @*<div class="form-group row">
                                <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Codigo</label>
                                <div class="col-sm-7  input-group">
                                    <input type="text" class="form-control" id="txtNombreCategoria" value="000" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripcion</label>
                                <div class="col-sm-7  input-group">
                                    <input type="text" class="form-control" id="txtNombreCategoria" value="Ropa" />
                                </div>
                            </div>*@

                        <div class="ibox-content">


                            <dl class="dl-horizontal">
                                <dt>
                                    Codigo
                                </dt>

                                <dd>
                                    000
                                </dd>


                                <dt>
                                    Nombre
                                </dt>

                                <dd>
                                    Ropa
                                </dd>

                                <dt>
                                    Usuario
                                </dt>

                                <dd>
                                    CarlosUrvina
                                </dd>

                                <dt>
                                    Fecha Crea
                                </dt>

                                <dd>
                                    03-12-2018
                                </dd>

                                <dt>
                                    Modificado Por
                                </dt>

                                <dd>

                                </dd>

                                <dt>
                                    Modificado El
                                </dt>

                                <dd>

                                </dd>


                            </dl>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                @*<input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />*@
            </div>
        </div>
    </div>
</div>

<!--Editar-->
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Editar Categoría</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Codigo</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="000" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripcion</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="Ropa" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                    <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Subcategoria -->
<!-- INSERT MODAL -->
<div class="modal fade" id="modalregistros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Nueva SubCategoria</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Nombre</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>


<!--Detalles-->
<div class="modal fade" id="modaldetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Detalles SubCategoría</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">


                        <div class="ibox-content">


                            <dl class="dl-horizontal">
                                <dt>
                                    Codigo
                                </dt>

                                <dd>
                                    2
                                </dd>


                                <dt>
                                    Categoria
                                </dt>

                                <dd>
                                    Ropa
                                </dd>

                                <dt>
                                    Descripción
                                </dt>

                                <dd>
                                    Hombre
                                </dd>
                                <dt>
                                    Usuario
                                </dt>

                                <dd>
                                    CarlosUrvina
                                </dd>

                                <dt>
                                    Fecha Crea
                                </dt>

                                <dd>
                                    03-12-2018
                                </dd>

                                <dt>
                                    Modificado Por
                                </dt>

                                <dd>

                                </dd>

                                <dt>
                                    Modificado El
                                </dt>

                                <dd>

                                </dd>


                            </dl>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                @*<input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />*@
            </div>
        </div>
    </div>
</div>

<!--Editar-->
<div class="modal fade" id="modaleditars" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Editar Categoría</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Codigo</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="2" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Categoría</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="Ropa" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="LblDescription1">Descripcion</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="txtNombreCategoria" value="Hombre" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-white btn-sm" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                    <input type="button" class="btn btn-primary btn-sm" id="btnAceptar" style="width:110px;" value="Aceptar" onclick="Aceptar();" />
                </div>
            </div>
        </div>
    </div>
</div>
 
