@model ERP_GMEDINA.Models.tbProducto
@using ERP_GMEDINA.Models;
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles Producto</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Producto")">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Producto</h5>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        @Html.Hidden("RedirectTo", Url.Action("Index", "Producto"))
                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.prod_Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.prod_CodigoBarras)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.prod_CodigoBarras)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prod_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Marca)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prod_Marca)
                        </dd>
                        <dt>
                            Categoria
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbProductoSubcategoria.tbProductoCategoria.pcat_Nombre)

                        </dd>
                        <dt>
                            SubCategoria
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbProductoSubcategoria.pscat_Descripcion)
                        </dd>
                        <dt>
                            Unidad Medida

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbUnidadMedida.uni_Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Modelo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prod_Modelo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Talla)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prod_Talla)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.prod_Color)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.prod_Color)
                        </dd>
                        <dt>
                           Proveedor
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tbProveedor.prov_Nombre)
                        </dd>
                        <dt>
                            Estado
                        </dt>

                        <dd>
                            @if (Model.prod_EsActivo == true)
                            {
                                <p>ACTIVO</p>
                            }
                            else
                            {
                                <p>INACTIVO</p>
                            }
                        </dd>

                        @if (Model.prod_EsActivo == true)
                        {
                            <dt>

                            </dt>
                            <dd>

                            </dd>
                        }
                        else
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.prod_Razon_Inactivacion)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.prod_Razon_Inactivacion)
                            </dd>
                        }


                    </dl>

                    @{
                        ERP_ZORZALEntities db2 = new ERP_ZORZALEntities();
                        var id2 = Model.prod_Codigo;
                        string query = "SELECT COUNT(prod_Codigo) FROM Inv.tbBodegaDetalle WHERE prod_Codigo ='" + id2 + "'";
                        var count = db2.Database.SqlQuery<int>(query, id2).Single();

                        if (count > 0)
                        {
                            @*@Html.ActionLink("Editar", "Edit", new { id = Model.prod_Codigo }, new { @class = "btn btn-white btn-xs", @readonly = "readonly" })*@
                        }
                        else
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = Model.prod_Codigo }, new { @class = "btn btn-primary" })
                        }

                    }

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Auditoría</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped  table-bordered">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.prod_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.prod_FechaModifica)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>










