@model IEnumerable<ERP_GMEDINA.Models.tbProducto>
@using ERP_GMEDINA.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Producto</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Productos</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAgregarProducto"><span>Generar Reporte</span></button>
                        @Html.ActionLink("Registrar Producto", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-group">

                        <table class="table table table-striped  table-bordered" id="DataTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Marca)
                                    </th>
                                    <th>
                                        Categoria
                                        @Html.DisplayNameFor(model => model.pscat_Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Modelo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Talla)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prod_Color)
                                    </th>
                                    <th>
                                        Unidad Medida                                     
                                    </th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @Html.HiddenFor(modelItem => item.tbProductoSubcategoria.tbProductoCategoria.pcat_Id)
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Codigo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Marca)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbProductoSubcategoria.tbProductoCategoria.pcat_Nombre)
                                            -
                                            @Html.DisplayFor(modelItem => item.tbProductoSubcategoria.pscat_Descripcion)                                                  
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Modelo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Talla)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prod_Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbUnidadMedida.uni_Descripcion)
                                        </td>
                                       
                                        <td>
                                           @{  

                                           }
                                             @Html.ActionLink("Detalles", "Details", new { id = item.prod_Codigo }, new { @class = "btn btn-primary btn-xs" })                                           
                                            @{                                             

                                                FuctionIndexP Function = new FuctionIndexP();
                                                List<tbBodegaDetalle> Listado = Function.getProductoInformation(item.prod_Codigo);
                                                List<tbPedidoDetalle> Listado2 = Function.getProductoInformation2(item.prod_Codigo);
                                                List<tbListadoPrecioDetalle> Listado3= Function.getProductoInformation3(item.prod_Codigo);
                                                List<tbInventarioFisicoDetalle> Listado4 = Function.getProductoInformation4(item.prod_Codigo);
                                                if (Listado.Count > 0 || Listado2.Count > 0|| Listado3.Count > 0|| Listado4.Count > 0)
                                                {
                                                <button class="btn btn-white btn-xs" title="El Producto Ya esta en Uso" disabled>Editar</button>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.prod_Codigo }, new { @class = "btn btn-white btn-xs" })
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width:100%">
    <div class="modal-dialog" role="document" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Catalogo de Productos</h4>
            </div>
            <div class="modal-body" id="frmBuscarProducto">
                @Html.Partial("_CatalogoProducto", (List<ERP_GMEDINA.Models.tbBodegaDetalle>)ViewBag.Producto)
            </div>
        </div>
    </div>
</div>
@section scripts
{

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTable').DataTable(
        {
            "searching": true,
            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "No se encontraron resultados",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
</script>

}
<script src="~/Scripts/jquery-3.3.1.js"></script>
