@model IEnumerable<ERP_ZORZAL.Models.tbProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar Producto", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped" style="width:100%" id="Datatable">
                        <thead>
                            <tr>
                                <th>
                                    Código de Producto
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Fecha Creación
                                </th>
                                <th>
                                    Marca
                                </th>
                                <th>
                                    Categoría
                                </th>
                                <th>
                                    Unidad de Medida
                                </th>
                                <th>
                                    Modelo
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Color
                                </th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    PANPJ-102634700
                                </td>
                                <td>
                                    Pantalón
                                </td>
                                <td>
                                    23/09/2018
                                </td>
                                <td>
                                    Pepe Jeans
                                </td>
                                <td>
                                    Ropa
                                </td>
                                <td>
                                    Docena
                                </td>

                                <td>
                                    Licra
                                </td>
                                <td>
                                    Talla 32
                                </td>
                                <td>
                                    Negro
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Details", null, new { @class = "btn btn-primary btn-xs" })
                                    @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-white btn-xs" })
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/DataTable.js"></script>
}
@*<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>List of tbProducto</h5>
                        <div class="ibox-tools">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
                        </div>
                    </div>
                    <div class="ibox-content">

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prod_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_UsuarioCrea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_FechaCrea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_UsuarioModifica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_FechaModifica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbProductoSubcategoria.pscat_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbUnidadesMedida.uni_Descripcion)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prod_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_UsuarioCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_FechaCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_UsuarioModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_FechaModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbProductoSubcategoria.pscat_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbUnidadesMedida.uni_Descripcion)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.prod_Codigo }, new { @class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Edit", "Edit", new { id=item.prod_Codigo }, new { @class = "btn btn-white btn-sm"})
                @Html.ActionLink("Delete", "Delete", new { id=item.prod_Codigo }, new { @class = "btn btn-white btn-sm"})
            </td>
        </tr>
    }

    </table>

                    </div>
                </div>
            </div>
        </div>
     </div>*@
