@model ERP_ZORZAL.Models.tbSalidaDetalle

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Volver Listado", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear Salida Detalle</h5>
                </div>
                <div class="ibox-content">

				@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        @*@Html.ValidationSummary(true)*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.sald_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sald_Id)
                @Html.ValidationMessageFor(model => model.sald_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo, "prod_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bod_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bod_Id)
                @Html.ValidationMessageFor(model => model.bod_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bod_ResponsableBodega, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bod_ResponsableBodega)
                @Html.ValidationMessageFor(model => model.bod_ResponsableBodega)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sald_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sald_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.sald_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sald_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sald_FechaCrea)
                @Html.ValidationMessageFor(model => model.sald_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sald_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sald_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.sald_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sald_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sald_FechaModifica)
                @Html.ValidationMessageFor(model => model.sald_FechaModifica)
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Bodega</label>
            <div class="col-md-10">
                <input class="text-box single-line " value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Responsable</label>
            <div class="col-md-10">
                <input class="text-box single-line " value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">usuario</label>
            <div class="col-md-10">
                <input class="text-box single-line " value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Elavoracion</label>
            <div class="col-md-10">
                <input class="text-box single-line " value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Producto</label>
            <div class="col-md-10">

                <select class="form-control" id="" name="Elegir Producto">
                    <option>camisa</option>
                    <option>pantalon</option>
                    <option>tenis</option>
                    <option>calcetin</option>
                    <option>sueter</option>
                </select>
            </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Descripcion Producto</label>
                <div class="col-md-10">
                    <input class="text-box single-line " value="">
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
@*}*@

                </div>
            </div>
        </div>
    </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Listado  Producto</h5>
                            <div class="ibox-tools">
                                @Html.ActionLink("Crear Nuevo", "Crear", null, new { @class = "btn btn-primary btn-xs" })
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-condensed" id="datatables">
                                <thead>
                                    <tr>
                                        <th>
                                            Código de Producto
                                        </th>
                                        <th>
                                            Descripción
                                        </th>

                                        <th>
                                            Marca
                                        </th>
                                        <th>
                                            Categoría
                                        </th>
                                        <th>
                                            Unidad de Medida
                                        </th>
                                        <th>
                                            Descripcion Producto
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            PANPJ-102634700
                                        </td>
                                        <td>
                                            Pantalón
                                        </td>

                                        <td>
                                            Pepe Jeans
                                        </td>
                                        <td>
                                            Ropa
                                        </td>
                                        <td>
                                            Docena
                                        </td>
                                        <td>
                                            Talla 32
                                        </td>
                                        <td>
                                            @Html.ActionLink("Detalles", "Detalles", null, new { @class = "btn btn-primary btn-xs" })
                                            @Html.ActionLink("Editar", "Editar", null, new { @class = "btn btn-primary btn-xs" })
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>

 
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#datatables').DataTable(
        {
            "searching": true,

            "oLanguage": {
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                },
                "sSearch": "Buscar",
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sInfo": "Mostrando _START_ a _END_ Entradas",
            }
        });
    });
    </script>
    

}
