@model IEnumerable<ERP_GMEDINA.Models.tbPedidoDetalle>
@using ERP_GMEDINA.Models 

@{     tbPedidoDetalle PedDetalle = new tbPedidoDetalle(); }

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

    

                <div class="ibox-tools">
                    <div class="col-md-offset-11">
                        <button id="AddProducto" value="Mostrar" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarDetalle"><span>Añadir Pedido Detalle</span></button>
                    </div>
                </div>
                <div class="ibox-content">


                    <table class="table table-striped" id="PedidoDetalle">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Codigo)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                                </th>

                    
                                <th>
                                    @Html.DisplayNameFor(model => model.pedd_Cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pedd_CantidadFacturada)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Codigo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                    </td>
                       
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pedd_Cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pedd_CantidadFacturada)
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-white btn-xs"  onclick="EditPedidoDetalles('@item.pedd_Id')">Editar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPedidoDetalle">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Editar Pedido Detalle</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-horizontal">
                            <label id="MsjError">
                            </label>
                            <div class="form-group">
                                @Html.LabelFor(m => PedDetalle.pedd_Id, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="pedd_Id_Ped" name="pedd_Id" class="form-control" />
                                    @Html.ValidationMessageFor(m => PedDetalle.pedd_Id)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => PedDetalle.prod_Codigo, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="prod_Codigo_Ped" name="prod_Codigo" class="form-control" />
                                    @Html.ValidationMessageFor(m => PedDetalle.prod_Codigo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => PedDetalle.pedd_Cantidad, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <input type="text" id="pedd_Cantidad_Ped" name="pedd_Cantidad" class="form-control" />
                                    @Html.ValidationMessageFor(m => PedDetalle.pedd_Cantidad)
                                </div>
                            </div>


                           

                            <input type="hidden" id="pedd_FechaCrea_Ped" name="pedd_FechaCrea"/>    
                            <input type="hidden" id="pedd_UsuarioCrea_Ped" name="pedd_UsuarioCrea" />


                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary" type="button" id="BtnsubmitMunicipio" tabindex="10"> Guardar </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalAgregarDetalle" tabindex="-1" role="dialog" aria-labelledby="DetalleNumeracion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Añador Pedido Detalle</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AjaxCreatePedidoDetalle">
                @Html.Partial("_CreateDetallePedido", new ERP_GMEDINA.Models.tbPedidoDetalle())
            </div>
        </div>
    </div>
</div>


