@model ERP_GMEDINA.Models.tbPedido
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles Pedido</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>

    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Pedido")">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pedido</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tbSucursal.suc_Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbSucursal.suc_Descripcion)
        </dd>

        <dt>
           Departamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbSucursal.tbMunicipio.tbDepartamento.dep_Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tbSucursal.mun_Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbSucursal.suc_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ped_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ped_Id)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.esped_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbEstadoPedido.esped_Descripcion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ped_FechaElaboracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ped_FechaElaboracion)
        </dd>
                    
        <dt>
            @Html.DisplayNameFor(model => model.tbCliente.clte_Identificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbCliente.clte_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCliente.clte_Nombres)
        </dt>
     @{ if (Convert.ToInt32(Model.tbCliente.clte_EsPersonaNatural) == 1)
         {
            <dd>
                @Html.DisplayFor(model => model.tbCliente.clte_Nombres)
            </dd>
         }
         else
         {
            <dd>
                @Html.DisplayFor(model => model.tbCliente.clte_NombreComercial)
            </dd>
         }
    }

        <dt> 
            @Html.DisplayNameFor(model => model.ped_FechaEntrega)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ped_FechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fact_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fact_Id)
        </dd>
    </dl>
                    
                    @Html.Partial("_DetailsPedidoDetalle", Model.tbPedidoDetalle, new ViewDataDictionary(new { clave = Model.ped_Id }))

                    @if (Model.ped_EsAnulado == false)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ped_Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                    }
                    else
                    {
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta Anulado">
                            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Editar</button>
                        </span>
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                    }
                    
                  

                    <div class="ibox-content">
                        <table class="table table-striped">
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Creado</td>
                                <td>
                                    @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.ped_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.ped_FechaModifica)</td>
                    </tr>
                </table>
                </div>
               


                </div>
            </div>
        </div>
    </div>
 </div>

<script>
    $(function () {
     $('[data-toggle="tooltip"]').tooltip()
    });
</script>













