@model ERP_ZORZAL.Models.tbPedido

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
 

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }



        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
        margin-left: 40%;
         
        
    }
 
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        
    }
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles Pedido</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pedido</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
             Número Pedido
            @*@Html.DisplayNameFor(model => model.ped_Id)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ped_Id)
        </dd>

         <dt>@Html.DisplayNameFor(model => model.esped_Id)</dt>
        <dd>@Html.DisplayFor(model => model.tbEstadoPedido.esped_Descripcion)</dd>

        <dt>
            Sucursal
            @*@Html.DisplayNameFor(model => model.tbSucursal.mun_Codigo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbSucursal.mun_Codigo)
        </dd>
        <dt>
            Fecha Elaboración
            @*@Html.DisplayNameFor(model => model.ped_FechaElaboracion)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ped_FechaElaboracion)
        </dd>


        <dt>
            RTN/Identidad/Pasaporte
            @*@Html.DisplayNameFor(model => model.tbCliente.clte_RTN_Identidad_Pasaporte)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCliente.clte_RTN_Identidad_Pasaporte)
        </dd>


        <dt>
            Cliente
            @*@Html.DisplayNameFor(model => model.tbCliente.clte_Nombres)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCliente.clte_Nombres)
        </dd>


        <dt>
            Fecha Entrega
            @*@Html.DisplayNameFor(model => model.ped_FechaEntrega)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ped_FechaEntrega)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ped_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ped_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ped_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ped_FechaModifica)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>*@

   
        @*<dt>
            @Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFactura.fact_Codigo)
        </dd>*@

     

    </dl>

                    <div class="form-group">
                        <table>
                            <tr>
                                <th></th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>Creado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.ped_FechaCrea)</td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.ped_FechaModifica)</td>
                            </tr>
                        </table>
                    </div>
                    </br>
                    </br>

	    @Html.ActionLink("Editar", "Edit", new { id = Model.ped_Id }, new { @class = "btn btn-primary"})
    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@

                </div>
            </div>
        </div>
    </div>
 </div>













