@model ERP_ZORZAL.Models.tbPedido

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbPedido</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ped_Codigo)

        <div class="form-group">
            @Html.LabelFor(model => model.ped_Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_Fecha)
                <p style="color:red">@Html.ValidationMessageFor(model => model.ped_Fecha)
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_FechaEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_FechaEntrega)
                <p style="color:red">@Html.ValidationMessageFor(model => model.ped_FechaEntrega)
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clte_id, "clte_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clte_id", String.Empty)
                <p style="color:red">@Html.ValidationMessageFor(model => model.clte_id)
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sucur_Codigo, "sucur_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sucur_Codigo", String.Empty)
                <p style="color:red">@Html.ValidationMessageFor(model => model.sucur_Codigo)
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.ped_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_FechaCrea)
                @Html.ValidationMessageFor(model => model.ped_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.ped_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ped_FechaModica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ped_FechaModica)
                @Html.ValidationMessageFor(model => model.ped_FechaModica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
