@model ERP_ZORZAL.Models.tbDevolucionDetalle



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Devolución</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prod_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devd_CantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_CantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devd_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devd_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devd_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devd_FechaCrea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tbDevolucion.dev_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDevolucion.dev_Id)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.devd_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regredar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













