@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbDepartamentos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Departamentos</h2>
        <ol class="breadcrumb">
            <li class="active">
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Ingresar nuevo registro", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

@*<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dpto_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dpto_Descripcion)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dpto_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dpto_Descripcion)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.dpto_Codigo }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.dpto_Codigo }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.dpto_Codigo }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>*@
            <table class="table table-striped">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Departamento
                </th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>
                    01
                </td>
                <td>
                    Atlántida
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditD", null, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        </table>


                </div>
            </div>
        </div>
    </div>
 </div>



