@model IEnumerable<ERP_GMEDINA.Models.tbBodegaDetalle>
@using ERP_GMEDINA.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table id="Table_BuscarProducto" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Modelo)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr tr data-id="@item.prod_Codigo" , tr data-content="@item.tbProducto.prod_Descripcion" , tr data-container="@item.tbProducto.tbProductoSubcategoria.pscat_Descripcion" , tr data-keyboard="@item.tbProducto.tbUnidadMedida.uni_Descripcion" , tr data-pcat="@item.tbProducto.tbProductoSubcategoria.tbProductoCategoria.pcat_Nombre">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Codigo)
                                    </td>
                                      <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Modelo)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" value="@item.prod_Codigo" id="seleccionar" data-dismiss="modal">Seleccionar</button>
                                        @*@Html.ActionLink("", "_DetallesProductos", new { id = item.prod_Codigo }, new { @class = "btn btn-white btn-xs" })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}