@model ERP_GMEDINA.Models.tbSalidaDetalle
@using ERP_GMEDINA.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tbProducto.prod_CodigoBarras, "Codigo de Barra", new { @class = "control-label col-md-2 required" })
                        <div class="col-md-4">
                            <input type="text" id="prod_CodigoBarras" placeholder="" class="form-control " onkeypress="return check(event)" />
                            <div id="validationprod_CodigoBarras">
                                @Html.ValidationMessageFor(model => model.tbProducto.prod_Codigo)
                            </div>
                            <input type="hidden" id="prod_Marca" placeholder="" class="form-control" readonly />
                            <input type="hidden" id="prod_Modelo" placeholder="" class="form-control" readonly />
                            <input type="hidden" id="prod_Talla" placeholder="" class="form-control" readonly />
                            <input type="hidden" id="prod_Color" placeholder="" class="form-control" readonly />

                        </div>
                        @*<div class="col-md-1">
                                <button type="button" id="Productos" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </div>*@
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalAgregarProducto"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                        @Html.LabelFor(model => model.prod_Codigo, "Producto", new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            <input type="text" id="prod_Codigo" placeholder="" class="form-control" readonly />
                            <div id="validationcodigoproducto">
                                @Html.ValidationMessageFor(model => model.prod_Codigo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tbProducto.prod_Descripcion, "Descripcion", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="text" id="prod_Descripcion" placeholder="" class="form-control" readonly />
                            @Html.ValidationMessageFor(model => model.tbProducto.prod_Descripcion)
                        </div>
                        @Html.LabelFor(model => model.tbProducto.pscat_Id, "Subcategoria", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="text" id="pscat_Id" placeholder="" class="form-control" readonly />
                            @Html.ValidationMessageFor(model => model.tbProducto.pscat_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tbProducto.uni_Id, "Unidad Medida", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="text" id="uni_Id" placeholder="" class="form-control" readonly />
                            @Html.ValidationMessageFor(model => model.tbProducto.uni_Id)
                        </div>
                        @Html.LabelFor(model => model.tbProducto.tbProductoSubcategoria.tbProductoCategoria, "Categoria", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="text" id="pcat_Id" placeholder="" class="form-control" readonly />
                            @Html.ValidationMessageFor(model => model.tbProducto.pscat_Id)
                        </div>
                    </div>
                    <div class="form-group">
                       
                        @Html.LabelFor(model => model.sald_Cantidad, "Cantidad", new { @class = "control-label col-md-2 required" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.sald_Cantidad, new { HtmlAttributes = new { name = "sald_Cantidad", @onkeypress = "return filterFloat(event,this);" } })
                            <div id="CantidaExistente">
                            </div>
                            <div id="validationcantidad">
                                @Html.ValidationMessageFor(model => model.sald_Cantidad)
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <button class="btn btn-primary btn-sm" type="button" id="AgregarSalidaDetalle">Agregar</button>
                        </div>
                    </div>

                    <table id="tblSalidaDetalle" style="width:100%" class="table table-striped table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Modelo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.prod_Talla)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.pcat_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbProducto.uni_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sald_Cantidad)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*PARA AGREGAR NUEVO PRODUCTO*@
<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="frmBuscarProducto">Buscar Productos</h4>
                @Html.Partial("_BuscarProducto", (List<ERP_GMEDINA.Models.tbBodegaDetalle>)ViewBag.Producto)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}