@model ERP_GMEDINA.Models.tbSalida

@using (Ajax.BeginForm("GenerarReporte", "Salida", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "GenerarReporte" }))
{
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.sal_FechaElaboracion, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input type="text" class="form-control" id="FechaElaboracion" name="FechaElaboracion">
                    @Html.ValidationMessageFor(model => model.sal_FechaElaboracion)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.bod_Id, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("bod_Id", (IEnumerable<SelectListItem>)ViewBag.bod_Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.bod_Id)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.tsal_Id, "Tipo de Salida", new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("tsal_Id", (IEnumerable<SelectListItem>)ViewBag.tsal_Id, "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.estm_Id, "Estado", new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("estm_Id", (IEnumerable<SelectListItem>)ViewBag.estm_Id, "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <p style="color:maroon"></p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnAnularSalida">Generar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}