@model IEnumerable<ERP_ZORZAL.Models.tbSalidaDetalle>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })*@
                        <div class="ibox-title">
                            <h5>Listado Salida Detalle</h5>
                            <div class="ibox-tools">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalregistro">Nuevo Registro</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped" id="Datatable">
                        <thead>
                            <tr>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)*@
                                    Producto
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.sal_Cantidad)*@
                                    Cantidad
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.sald_UsuarioCrea)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.sald_FechaCrea)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.sald_UsuarioModifica)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.sald_FechaModifica)
                                    </th>*@
                                <th>
                                    Unidad de Medida
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbSalida.box_Codigo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @*@foreach (var item in Model) { }*@
                        <tbody>
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)*@.
                                    Paquete de Camisas
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.sal_Cantidad)*@
                                    5
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.sald_UsuarioCrea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sald_FechaCrea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sald_UsuarioModifica)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sald_FechaModifica)
                                    </td>*@

                                <td>
                                    @*@Html.DisplayFor(modelItem => item.tbSalida.box_Codigo)*@
                                    Docena
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.tbSalida.box_Codigo)*@
                                    01
                                </td>
                                <td>
                                    @*@Html.ActionLink("Details", "Details", new { id = item.sald_Id }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.sald_Id }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.sald_Id }, new { @class = "btn btn-white btn-sm" })*@
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaleditar">Editar</button>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaldetalles">Detalles</button>
                                    @*@Html.ActionLink("Details", "Details", null, new { @class = "btn btn-primary btn-xs" })*@
                                    @*@Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-primary btn-xs" })*@
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- INSERT MODAL -->
<div class="modal fade" id="modalregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Ingresar un producto</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Producto</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option>--Seleccione Producto--</option>
                                    <option>Producto #1</option>
                                    <option>Producto #2</option>
                                    <option>Producto #3</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Cantidad</label>
                            <div class="col-sm-7  input-group">
                                <input type="number" min="1" class="form-control" id="" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Unidades de Medida</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option>--Seleccione Unidad de Medida--</option>
                                    <option>Unidad de Medida #1</option>
                                    <option>Unidad de Medida #2</option>
                                    <option>Unidad de Medida #3</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Caja Codigo</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                <input type="button" class="btn btn-primary" id="btnAceptar" style="width:110px;" value="Ingresar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>
<!-- INSERT MODAL FIN -->
<!-- EDIT MODAL -->
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Editar producto</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Producto</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option class="form-control">--Seleccione Producto--</option>
                                    <option Selected>Producto #1</option>
                                    <option>Producto #2</option>
                                    <option>Producto #3</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Cantidad</label>
                            <div class="col-sm-7  input-group">
                                <input type="number" id="" name="" min="10" max="100" class="form-control" value="5">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Unidades de Medida</label>
                            <div class="col-sm-7  input-group">
                                <select id="Select1" class="form-control">
                                    <option>--Seleccione Unidad de Medida--</option>
                                    <option selected>Unidad de Medida #1</option>
                                    <option>Unidad de Medida #2</option>
                                    <option>Unidad de Medida #3</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label style="margin-left:15px" class="col-sm-4 col-form-label" id="">Caja Codigo</label>
                            <div class="col-sm-7  input-group">
                                <input type="text" class="form-control" id="" value="0102" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
                <input type="button" class="btn btn-primary" id="btnAceptar" style="width:110px;" value="Guardar" onclick="Aceptar();" />
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL FIN -->
<!-- DETAILS MODAL FIN -->
<div class="modal fade" id="modaldetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="LblSearchByDescription">Detalles de Producto</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ibox-content">


                    <dl class="dl-horizontal">

                        <dt>
                            Producto
                        </dt>

                        <dd>
                            Paquete de Camisas
                        </dd>
                        <dt>
                            Cantidad
                        </dt>

                        <dd>
                            10
                        </dd>
                        <dt>
                            Creado Por
                        </dt>

                        <dd>
                            Keyla55
                        </dd>
                        <dt>
                            Creado el
                        </dt>

                        <dd>
                            05/11/2018
                        </dd>
                        <dt>
                            Modificado Por
                        </dt>
                             Keyla55
                        <dd>
                            
                        </dd>
                        <dt>
                            Modificado el
                        </dt>

                        <dd>
                            09/11/2018
                        </dd>


                        <dt>
                            Codigo de Caja
                        </dt>

                        <dd>
                            0102
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:110px;" id="btnCerrar" value="Cerrar" />
        </div>
    </div>
</div>

<!-- DETAILS MODAL FIN -->
@section scripts{
    <script src="~/Scripts/app/DataTable.js"></script>

}

