@model ERP_ZORZAL.Models.tbSalida

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        @*<h2></h2>
            <ol class="breadcrumb">
                <li>

                </li>
                <li class="active">
                    <strong></strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Salida")">Regresar</a>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles </h5>
                </div>
                <div class="ibox-content">

                    <dl class="dl-horizontal">

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)*@
                            N# de Factura
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbFactura.fact_Codigo)*@
                            0000-0130-1133
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.sal_FechaElaboracion)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_FechaElaboracion)*@
                            30/11/2018
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sal_RazonDevolucion)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_RazonDevolucion)*@

                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sal_UsuarioCrea)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_UsuarioCrea)*@
                            Administrador
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.sal_FechaCrea)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_FechaCrea)*@
                            31/11/2018
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.sal_UsuarioModifica)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_UsuarioModifica)*@
                            Administrador
                        </dd>




                        <dt>
                            @Html.DisplayNameFor(model => model.sal_FechaModifica)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.sal_FechaModifica)*@
                           01/12/2018
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)*@
                            Responsable de Bodega
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbBodega.bod_ResponsableBodega)*@
                            Luis Abel Diaz
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbBox.box_Descripcion)*@
                            Descripcion de Caja
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbBox.box_Descripcion)*@
                            Fragil
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)*@
                            Estado Movimiento
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)*@
                            Realizado
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.tbTipoSalida.tsal_Descripcion)*@
                            Tipo de Salida
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.tbTipoSalida.tsal_Descripcion)*@
                            Venta
                        </dd>

                    </dl>


	    @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













