@model ERP_ZORZAL.Models.tbSalida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>*@
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Salida</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.sal_FechaElaboracion)*@
            Fecha de Elaboración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_FechaElaboracion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.sal_RazonDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_RazonDevolucion)
        </dd>*@

       

        <dt>
            @*@Html.DisplayNameFor(model => model.tbBodega.bod_Nombre)*@
            Nombre de Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBodega.bod_Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.tbBox.box_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBox.box_Descripcion)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)*@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)*@
            Numero de Factura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFactura.fact_Codigo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tbTipoSalida.tsal_Descripcion)*@
            Tipo de Salida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSalida.tsal_Descripcion)
        </dd>
          <dt>
            @*@Html.DisplayNameFor(model => model.sal_UsuarioCrea)*@
              Creado por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_UsuarioCrea)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.sal_FechaCrea)*@
            Creado el
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_FechaCrea)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.sal_UsuarioModifica)*@
            Modificado por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_UsuarioModifica)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.sal_FechaModifica)*@
            Modificado el
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_FechaModifica)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.sal_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













