@model ERP_GMEDINA.Models.tbSalida
@using ERP_GMEDINA.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", @*null,*@ new { @class = "btn btn-primary" })
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Salida</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Fecha de Elaboración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal_FechaElaboracion)
        </dd>

        <dt>
            Nombre de Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBodega.bod_Nombre)
        </dd>
        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dd>

        <dt>
            Numero de Factura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFactura.fact_Codigo)
        </dd>

        <dt>
            Tipo de Salida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbTipoSalida.tsal_Descripcion)
        </dd>
    </dl>
                   

                    @* Llama la vista  *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="title-action">
                                        <h5>Detalle Salida</h5>
                                    </div>
                                </div>
                                <div class="ibox-content" id="_SalidaDetalle">
                                    @*@Html.Partial("_CreateInstructorCasosExitos", new InstructorCasosExitos())*@
                                    @Html.Partial("_SalidaDetalle", Model.tbSalidaDetalle)
                                </div>
                            </div>
                        </div>
                    </div>
	    @Html.ActionLink("Editar", "Edit", new { id = Model.sal_Id }, new { @class = "btn btn-primary"})

                </div>
            </div>
        </div>
    </div>
 </div>
<div class="ibox-content">
    <table class="table table-striped">
        <tr>
            <th>
                Acción
            </th>
            <th>
                Usuario
            </th>
            <th>
                Fecha
            </th>
        </tr>
        <tr>
            <td>
                Creado
            </td>
            <td>
                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres) 
            </td>
            <td>
                @Html.DisplayFor(model => model.sal_FechaCrea)
            </td>
        </tr>
        <tr>
            <td>
                Modificado
            </td>
            <td>
               @Html.DisplayFor(model => model.tbUsuario.usu_Nombres) 
            </td>
            <td>
                @Html.DisplayFor(model => model.sal_FechaModifica)
            </td>
        </tr>

    </table>
</div>













