@model ERP_GMEDINA.Models.tbSalida
@using ERP_GMEDINA.Models
@{
    /**/

    /**/

    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .validation-summary-errors {
        color: red;
        font-size: small;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Salida</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Salida</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Edit", "Salida", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateMyFormEdit();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.sal_Id)
                        @Html.HiddenFor(model => model.fact_Id)
                        @Html.HiddenFor(model => model.fact_Codigo)

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(model => model.sal_FechaElaboracion, "Fecha de Elaboración", new { @class = "control-label col-md-2 required" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.sal_FechaElaboracion, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.sal_FechaElaboracion)
                                </div>

                                @Html.LabelFor(model => model.bod_Id, "Nombre de Bodega", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.tbBodega.bod_Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <div style="display:none" class="col-md-4">
                                        @Html.DropDownList("bod_Id", null, htmlAttributes: new { @class = "form-control" })
                                        <p style="color:red">@Html.ValidationMessageFor(model => model.bod_Id)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tsal_Id, "Tipo de Salida", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.tbTipoSalida.tsal_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <div style="display:none" class="col-md-4">
                                        @Html.DropDownList("tsal_Id", null, htmlAttributes: new { @class = "form-control" })
                                        <p style="color:red">@Html.ValidationMessageFor(model => model.tsal_Id)</p>
                                    </div>
                                </div>

                                @Html.LabelFor(model => model.estm_Id, "Estado", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.tbEstadoMovimiento.estm_Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    <div style="display:none" class="col-md-4">
                                        @Html.DropDownList("estm_Id", null, htmlAttributes: new { @class = "form-control" })
                                        <p style="color:red">@Html.ValidationMessageFor(model => model.estm_Id)</p>
                                    </div>
                                </div>
                            </div>


                            @{
                                if (Model.sal_EsAnulada)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sal_EsAnulada, "¿Es Anulada?", new { @class = "control-label col-md-2 required" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sal_EsAnulada, new { htmlAttributes = new { @class = "form-control", @checked = "checked", @disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sal_RazonAnulada, "Razon de Anulacion", new { @class = "control-label col-md-2 required" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sal_RazonAnulada, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                }
                            }


                            <div class="form-horizontal" id="VentaoDevolucion" style="display:none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fact_Id, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.tbFactura.fact_Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        <p style="color:red">

                                            @Html.ValidationMessageFor(model => model.fact_Id)
                                        </p>
                                    </div>

                                    <div id="div_sal_RazonDevolucion">
                                        @Html.LabelFor(model => model.tdev_Id, new { @class = "control-label col-md-2 required" })
                                        <div class="col-md-4">
                                            @Html.DropDownList("tdev_Id", null, htmlAttributes: new { @class = "form-control" })
                                            <p style="color:red">
                                                @Html.ValidationMessageFor(model => model.tdev_Id)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal" id="Prestamo" style="display:none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.sal_BodDestino, "Bodega de Destino", new { @class = "control-label col-md-2 required" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("sal_BodDestino", (IEnumerable<SelectListItem>)null, new { @class = "form-control" })
                                        <p style="color:red">
                                            @Html.ValidationMessageFor(model => model.sal_BodDestino)
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">

                                @if (!Model.sal_EsAnulada && Model.estm_Id == Helpers.sal_Emitida)
                                {
                                    <div class="ibox-tools">
                                        <button type="button" id="btnModalGuardarNumeracion" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#Nuevo">
                                            Registar Detalle
                                        </button>
                                    </div>
                                }

                                <div class="ibox-content collapse" id="Nuevo">
                                    @Html.Partial("_EditCreateSalidaDetalle", new ERP_GMEDINA.Models.tbSalidaDetalle())
                                </div>
                            </div>
                            @* Llama la vista  *@
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @Html.Partial("_EditSalidaDetalle", Model.tbSalidaDetalle, new ViewDataDictionary(new { clave = Model.sal_Id }))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-10">
                                    @{
                                        if (!Model.sal_EsAnulada && Model.estm_Id == Helpers.sal_Emitida)
                                        {
                                            <input type="submit" value="Guardar" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Guardar" disabled class="btn btn-primary" />
                                        }
                                        var Estado = Model.estm_Id;
                                        if (Estado == Helpers.sal_Emitida && !Model.sal_EsAnulada)
                                        {
                                            <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalAplicar" value="Aplicar" />
                                        }
                                        else
                                        {

                                        }
                                        if (Estado == Helpers.sal_Aplicada && !Model.sal_EsAnulada)
                                        {
                                            @Html.ActionLink("Imprimir", "Imprimir", new { id = Model.sal_Id }, new { @class = "btn btn-primary" })
                                        }
                                        if (!Model.sal_EsAnulada && Estado == Helpers.sal_Emitida)
                                        {
                                            <input type="button" class="btn btn-danger" data-toggle="modal" id="Anular" data-target="#ModalAnular" value="Anular" />
                                        }
                                        if (Estado == Helpers.sal_Activa)
                                        {
                                            <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalInactivar" value="Inactivar" />
                                        }
                                        else if (Estado == Helpers.sal_Inactiva)
                                        {
                                            <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalActivar" value="Activar" />
                                        }
                                    }

                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Auditoría</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.sal_FechaCrea)</td>
                        </tr>
                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                                @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                            </td>
                            <td>@Html.DisplayFor(model => model.sal_FechaModifica)</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_Modales")


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/wp-embed.min.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>>

<script src="~/Scripts/app/HotKeys.js"></script>
<script src="~/Scripts/app/SalidaEdit.js"></script>
<script type="text/javascript">

    $("#Anular").click(function () {

        var sal_RazonAnulada = $('#sal_RazonAnulada').val();
        if (sal_RazonAnulada == '' || "*****") {
            $('#sal_RazonAnulada').val('');
        }
    })

    $(function () {

        $.ajax({
            method: "POST",
            url: "/Salida/BodegaDestinoEdit",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({ id: $('#sal_Id').val() }),
        }).done(function (data) {
            $("#sal_BodDestino").val(data)
        })

    });
</script>

<script>


    var value = $(selector).cleanVal();
    //Mask will be removed on next line

    $(function () {
        $("#sal_FechaElaboracion").datepicker({
            dateFormat: 'yy-mm-dd',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá']
        });
    });
    // Copiar y Pegar///
    $(document).ready(function () {
        $('#sal_RazonAnulada').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
    });
    function check(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8 || tecla == 32) {
            return true;
        }
        // Patron de entrada, en este caso solo acepta numeros y letras
        patron = /[A-Za-z0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }

    function filterFloat(evt, input) {
        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }
    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,2})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}