@model ERP_ZORZAL.Models.tbSalida

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        @*<h2></h2>
        <ol class="breadcrumb">
            <li>

            </li>
            <li class="active">
                <strong></strong>
            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Salida")">Regresar</a>
        </div>
    </div>
</div>


@**@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Salida</h5>
                </div>
                <div class="ibox-content">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6" style="float:left;padding-left:60px">
                                <div class="form-group">
                                    <p class="control-label col-md-2">Bodega</p>
                                    <div class="col-md-6">
                                        <select id="Select" class="form-control">
                                            <option>--Seleccione Bodega--</option>
                                            <option selected>Bodega #1</option>
                                            <option>Bodega #2</option>
                                            <option>Bodega #3</option>
                                        </select>
                                    </div>
                                </div>
                                @*@Html.LabelFor(model => model.fact_Id, "fact_Id", new { @class = "control-label col-md-2" })*@

                                <div class="form-group">
                                    <p class="control-label col-md-2">N# de Factura</p>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="0000-0130-1133" />
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label col-md-2">Fecha de Salida</p>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="30/11/2018" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" >

                                <div class="form-group">
                                    <label class="control-label col-md-2">Codigo de Caja</label><br />
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="0102" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="control-label col-md-2">Tipo de Salida</p>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="Venta" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    @Html.Partial("_IndexSalidaDetalle", Model)
                    }
                </div>
            </div>
        </div>
    </div>
    
</div>
@*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.sal_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.bod_Id, "bod_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bod_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.bod_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fact_Id, "fact_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fact_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.fact_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_FechaElaboracion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_FechaElaboracion)
                @Html.ValidationMessageFor(model => model.sal_FechaElaboracion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estm_Id, "estm_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("estm_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.estm_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.box_Codigo, "box_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("box_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.box_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsal_Id, "tsal_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tsal_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.tsal_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_RazonDevolucion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_RazonDevolucion)
                @Html.ValidationMessageFor(model => model.sal_RazonDevolucion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.sal_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_FechaCrea)
                @Html.ValidationMessageFor(model => model.sal_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_UsuarioModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.sal_UsuarioModifica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sal_FechaModifica)
                @Html.ValidationMessageFor(model => model.sal_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>

                }*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
