@model IEnumerable<ERP_GMEDINA.Models.tbSalida>
@using ERP_GMEDINA.Models
@{
    ViewBag.Title = "Listado De Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Salida</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Salida</h5>
                    <div class="ibox-tools">
                        <input type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalGenReporte" value="Generar Reporte" />
                        @Html.ActionLink("Registrar Salida", "Create", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("RedirectToAspx", "RedirectToAspx", null, new { @class = "btn btn-success" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table table-striped  table-bordered" style="width:100%" id="Datatables">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_FechaElaboracion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bod_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tsal_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.estm_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sal_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sal_FechaElaboracion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbBodega.bod_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbTipoSalida.tsal_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbEstadoMovimiento.estm_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbBodega.tbEmpleado.emp_Nombres) @Html.DisplayFor(modelItem => item.tbBodega.tbEmpleado.emp_Apellidos)
                                    </td>
                                    <td>
                                        @{
                                            if (item.sal_EsAnulada)
                                            {
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta anulada.">
                                                    <button class="btn  btn-xs" style="pointer-events: none; background-color:red;color:white" type="button" disabled>Anulada</button>
                                                </span>
                                            }
                                            else
                                            {
                                                if (item.estm_Id == Helpers.sal_Aplicada)
                                                {
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No se puede Editar, esta aplicado.">
                                                        <button class="btn  btn-xs" style="pointer-events: none; background-color:green;color:white" type="button" disabled>Aplicada</button>
                                                    </span>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.sal_Id }, new { @class = "btn btn-primary btn-xs" });
                                                }
                                            }
                                        }
                                        @Html.ActionLink("Detalles", "Details", new { id = item.sal_Id }, new { @class = "btn btn-white btn-xs" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalGenReporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Desea Aplicar la Salida</h4>
            </div>
            <div id="GenerarReporte" class="modal-body">
                @Html.Partial("_GenReporte", new ERP_GMEDINA.Models.tbSalida())
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/SalidaDetalle.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        $("#FechaElaboracion").datepicker({
            dateFormat: 'mm-dd-yy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            buttonImageOnly: true,
            minDate: '-30Y',
            maxDate: '0',
            inline: true
        }).datepicker("setDate", new Date());
    });

    $(document).ready(function () {
        $('#Datatables').DataTable(
            {
                "searching": false,
                "lengthChange": false,

                "oLanguage": {
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior",
                    },
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sEmptyTable": "No hay registros",
                    "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                    "sSearch": "Buscar",
                    "sInfo": "Mostrando _START_ a _END_ Entradas",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",

                }
            });
    });
</script>