@model IEnumerable<ERP_GMEDINA.Models.tbSalida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Salida</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Salida</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Registrar Salida", "Create", null, new { @class = "btn btn-primary"})
					</div>
                </div>
                <p class="ibox-content">

                    <table class="table table-responsive" style="width:100%" id="Datatable">
                        <thead>
                            <tr>
                                <th>
                                   @Html.DisplayNameFor(model => model.sal_FechaElaboracion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbBodega.bod_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbTipoSalida.tsal_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sal_FechaElaboracion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbBodega.bod_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbTipoSalida.tsal_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbEstadoMovimiento.estm_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbBodega.bod_ResponsableBodega)
                                    </td>
                                    <td>
                                        @{  if (item.estm_Id == 1)
                                            {
                                                <p style="color:green"> Aplicada</p>;
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Editar", "Edit", new { id = item.sal_Id }, new { @class = "btn btn-primary btn-xs" });
                                                }
                                            }

                                        @Html.ActionLink("Detalles", "Details", new { id = item.sal_Id }, new { @class = "btn btn-white btn-xs" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
 


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>