@model IEnumerable<ERP_ZORZAL.Models.tbSalida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar salida", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped"  style="width:100%;" id="Datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_FechaElaboracion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_RazonDevolucion)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.sal_UsuarioCrea)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_FechaCrea)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_UsuarioModifica)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sal_FechaModifica)
                                </th>*@
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)*@
                                    Responsable de Bodega
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbBox.box_Descripcion)*@
                                    Descripcion de Caja
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)*@
                                    Estado Movimiento
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbFactura.fact_Codigo)*@
                                    N# de Factura
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.tbTipoSalida.tsal_Descripcion)*@
                                    Tipo de Salida
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        @*@foreach (var item in Model)
                        { }*@
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.sal_FechaElaboracion)*@
                                30/11/2018
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.sal_RazonDevolucion)*@
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.sal_UsuarioCrea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sal_FechaCrea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sal_UsuarioModifica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sal_FechaModifica)
                            </td>*@
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbBodega.bod_ResponsableBodega)*@
                                Luis Abel Diaz
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbBox.box_Descripcion)*@
                                Caja 1
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbEstadoMovimiento.estm_Descripcion)*@
                                Realizado
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbFactura.fact_Codigo)*@
                                0000-0130-1133
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbTipoSalida.tsal_Descripcion)*@
                                Venta
                            </td>
                            <td>
                                @*@Html.ActionLink("Details", "Details", new { id = item.sal_Id }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Edit", "Edit", new { id = item.sal_Id }, new { @class = "btn btn-white btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.sal_Id }, new { @class = "btn btn-white btn-sm" })*@
                                @Html.ActionLink("Detalles", "Details", null, new { @class = "btn btn-primary btn-xs" })
                                @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary btn-xs" })
                            </td>
                        </tr>


                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/app/DataTable.js"></script>

}