@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbSalida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>tbSalida</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbSalida</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sal_FechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estm_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodega.bod_ResponsableBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbBodega1.bod_ResponsableBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbCaja.cja_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbFactura.cja_Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sal_FechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estm_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sal_Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sal_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sal_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sal_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sal_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbBodega.bod_ResponsableBodega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbBodega1.bod_ResponsableBodega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCaja.cja_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbFactura.cja_Codigo)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.sal_Codigo }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.sal_Codigo }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.sal_Codigo }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



