@model ERP_ZORZAL.Models.tbUsuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create tbUsuario</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Id)
                @Html.ValidationMessageFor(model => model.usu_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_NombreUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_NombreUsuario)
                @Html.ValidationMessageFor(model => model.usu_NombreUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rolusu_Id, "rolusu_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rolusu_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.rolusu_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Password)
                @Html.ValidationMessageFor(model => model.usu_Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Nombre)
                @Html.ValidationMessageFor(model => model.usu_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Apellido)
                @Html.ValidationMessageFor(model => model.usu_Apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Correo)
                @Html.ValidationMessageFor(model => model.usu_Correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.edo_IdEstado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.edo_IdEstado)
                @Html.ValidationMessageFor(model => model.edo_IdEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_RazonEstado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_RazonEstado)
                @Html.ValidationMessageFor(model => model.usu_RazonEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_EsAdministrador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_EsAdministrador)
                @Html.ValidationMessageFor(model => model.usu_EsAdministrador)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
