@model ERP_GMEDINA.Models.tbUsuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar Usuario</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "" })
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.usu_Id)
                            @Html.Hidden("RedirectTo", Url.Action("Index", "Usuario"))
                            @Html.Hidden("ConfirmarPassword", (string)ViewBag.ConfirmarPassword)
                            <div><br /><br /></div>
                            <div class="form-group" style="padding-right:220px">
                                @Html.LabelFor(model => model.usu_NombreUsuario, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.usu_NombreUsuario, new { @class = "form-control", maxlength = "100" })
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.usu_NombreUsuario)
                                </div>


                                @Html.LabelFor(model => model.usu_Correo, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.usu_Correo, new { @class = "form-control", maxlength = "150" })
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.usu_Correo)</p>
                                </div>
                            </div>

                                <div class="form-group" style="padding-right:220px">
                                    @Html.LabelFor(model => model.usu_Nombres, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.usu_Nombres, new { @class = "form-control", maxlength = "150" })
                                        <p style="color:red">@Html.ValidationMessageFor(model => model.usu_Nombres)</p>

                                    </div>
                                    @Html.LabelFor(model => model.usu_Apellidos, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.usu_Apellidos, new { @class = "form-control", maxlength = "150" })
                                        <p style="color:red">@Html.ValidationMessageFor(model => model.usu_Apellidos)</p>
                                    </div>

                                </div>

                            <div class="form-group" style="padding-right:220px" id="Activo" name="Activo">
                                @Html.LabelFor(model => model.usu_EsActivo, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @if (Model.usu_EsActivo)
                                    {
                                        <p> Si</p>
                                    }
                                    else
                                    {
                                        <p>No</p>
                                    }
                                </div>


                                <p style="color:red">  @Html.ValidationMessageFor(model => model.usu_EsActivo)</p>


                                @if (!Model.usu_EsActivo)
                                {
                                    <div class="form-group" id="RazonInactivo">
                                        @Html.LabelFor(model => model.usu_RazonInactivo, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.usu_RazonInactivo, new { htmlAttributes = new { @class = "form-control" } })

                                            @*<textarea class="form-control" id="prod_Razon_Inactivacion" name="clte_RazonInactivo" >@ViewData["Razon"]</textarea>*@
                                            <p style="color:red">@Html.ValidationMessageFor(model => model.usu_RazonInactivo)</p>
                                        </div>
                                    </div>
                                }
                            </div>


                            <div class="form-group" style="padding-right:220px" id="">
                                @Html.LabelFor(model => model.usu_EsAdministrador, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.usu_EsAdministrador, new { htmlAttributes = new { @class = "checkbox-inline" } })
                                    @Html.ValidationMessageFor(model => model.usu_EsAdministrador)
                                </div>
                            </div>

                            <div class="form-group" style="padding-right:220px">

                                @Html.LabelFor(model => model.usu_Password, new { @class = "control-label col-md-2 invisible" })
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.usu_Password, new { @value = "password" })
                                    @*<input class="text-box single-line invisible" data-val="true" data-val-required="El campo Usuario es requerido" id="usu_Password" name="usu_Password" type="text" value="">*@
                                </div>

                            </div>


                            <div><br /></div>

                            <div style="padding-left :100px">
                                
                                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalRestaurarPass" value="Restaurar Contraseña" />
                                @Html.ActionLink("Modificar Contraseña", "ModificarPass", new { id = Model.usu_Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Modificar Cuenta", "ModificarCuenta", new { id = Model.usu_Id }, new { @class = "btn btn-primary" })


                                <div class="modal fade" id="ModalRestaurarPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Restaurar Contraseña</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que quiere restaurar la contraseña de este usuario?
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-actions no-color">
                                                    @* Aqui va el botn *@
                                                    @Html.ActionLink("RestaurarPassword", "RestaurarPassword", new { id = Model.usu_Id }, new { @class = "btn btn-primary" })
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><br /><br /><br /></div>

                            <div class="ibox-content">
                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Roles No Asignados</label>

                                    <table class="table table-responsive" style="width:100%" id="NoAsignadosEdit">
                                        <thead>
                                            <tr>
                                                <td id="RegistrosNoAsignadosEdit" style="background-color:#1ab394;color:white">Pantallas</td>
                                                <td style="background-color:#1ab394"></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="col-md-2" align="center">
                                    <br /><br /><br>
                                    <div>
                                        <input id="Add" type="button" value="Agregar &#9658;" class="btn btn-primary btn-xs" />
                                    </div>
                                    <div>
                                        <input id="Remove" type="button" value="&#9668; Quitar &nbsp;&nbsp;" class="btn btn-primary btn-xs" />
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Roles Asignados</label>
                                    <table class="table table-responsive" style="width:100%" id="AsignadosEdit">
                                        <thead>
                                            <tr>
                                                <td id="RegistrosAsignadosEdit" style="background-color:#1ab394;color:white">Pantallas</td>
                                                <td style="background-color:#1ab394"></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" id="btnActualizarRol" class="btn btn-primary">Guardar</button>
                                        @if (Model.usu_EsActivo)
                                        {
                                            <button type="button" id="inactivar" name="inactivar" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnular">
                                                Inactivar
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" id="activar" name="activar" class="btn btn-info" data-toggle="modal" data-target="#ModalAnular1">
                                                Activar
                                            </button>
                                        }
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalAnular" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Inactivar Usuario</h5>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de inactivar este Usuario?</p>
                <textarea rows="4" cols="50" placeholder="Ingrese la razon de Inactivación" id="razonInac" name="razonInac"></textarea>
                <p id="Mensaje" style="color:red"></p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="Inactivar">Guardar</button>
                @*<button type="button" class="btn btn-primary" name="Si" id="Si" data-dismiss="modal" onclick="InactivarCliente();">Si</button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalAnular1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Activar Usuario</h5>
            </div>
            <div class="modal-body">
                ¿Está seguro de activar este Usuario?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="Activar">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/app/MostrarOcultar.js"></script>*@
<script src="~/Scripts/app/InanctivarUsuario.js"></script>
<script src="~/Scripts/app/RolesUsuarioEdit.js"></script>
