@model ERP_GMEDINA.Models.tbUsuario




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Modificar Contraseña</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.usu_Id)

        @*<div class="form-group">
            @Html.LabelFor(model => model.usu_NombreUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_NombreUsuario)
                @Html.ValidationMessageFor(model => model.usu_NombreUsuario)
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.usu_Password, new { @class = "control-label col-md-2" })*@
            <label class="col-md-2">Contraseña Actual</label>
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.usu_Password)
                @Html.ValidationMessageFor(model => model.usu_Password)*@
                <input class="form-control" data-val="true" data-val-required="El campo Usuario es requerido" id="usu_Password" name="usu_Password" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.usu_Password, new { @class = "control-label col-md-2" })*@
            <label class="col-md-2">Contraseña Nueva</label>
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.usu_Password)
                @Html.ValidationMessageFor(model => model.usu_Password)*@
                <input class="form-control" data-val="true" data-val-required="El campo Usuario es requerido" id="usu_Password" name="usu_Password" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.usu_Password, new { @class = "control-label col-md-2" })*@
            <label class="col-md-2">Vuelve a escribir la contraseña nueva</label>
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.usu_Password)
                @Html.ValidationMessageFor(model => model.usu_Password)*@
                <input class="form-control" data-val="true" data-val-required="El campo Usuario es requerido" id="usu_Password" name="usu_Password" type="text" value="">
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.usu_Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Nombres)
                @Html.ValidationMessageFor(model => model.usu_Nombres)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.usu_Apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Apellidos)
                @Html.ValidationMessageFor(model => model.usu_Apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_Correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_Correo)
                @Html.ValidationMessageFor(model => model.usu_Correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_EsActivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_EsActivo)
                @Html.ValidationMessageFor(model => model.usu_EsActivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usu_RazonInactivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_RazonInactivo)
                @Html.ValidationMessageFor(model => model.usu_RazonInactivo)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.usu_EsAdministrador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usu_EsAdministrador)
                @Html.ValidationMessageFor(model => model.usu_EsAdministrador)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Edit", new { id = ViewBag.UserID}, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
