@model ERP_ZORZAL.Models.tbBodegaDetalle


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.bodd_Id)

                        @*<div class="form-group">
            @Html.LabelFor(model => model.prod_Codigo, "Productos", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_Codigo", (IEnumerable<SelectListItem>)ViewBag.prod_Codigo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prod_Codigo)
            </div>
        </div>*@
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.prod_Codigo, "Productos", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("prod_Codigo", (IEnumerable<SelectListItem>)ViewBag.prod_Codigo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.prod_Codigo)
                            </div>*@


                            @*@Html.LabelFor(model => model.bod_Id, "bod_Id", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("bod_Id", String.Empty)
                                @Html.ValidationMessageFor(model => model.bod_Id)
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.bodd_PuntoReorden, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.bodd_PuntoReorden)
                                 @Html.ValidationMessageFor(model => model.bodd_PuntoReorden)*@

                                <input type="text" class="text-box single-line" value="10.00" />
                            </div>

                            @Html.LabelFor(model => model.prod_Codigo, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.prod_Codigo)
                                 @Html.ValidationMessageFor(model => model.prod_Codigo)*@
                                <input type="text" class="text-box single-line" value="Pantalon" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.bodd_CantidadMinima, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.bodd_CantidadMinima)
                                 @Html.ValidationMessageFor(model => model.bodd_CantidadMinima)*@

                                <input type="text" class="text-box single-line" value="90.00" />
                            </div>
                            @Html.LabelFor(model => model.bodd_CantidadMaxima, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.bodd_CantidadMaxima)
                                  @Html.ValidationMessageFor(model => model.bodd_CantidadMaxima)*@
                                <input type="text" class="text-box single-line" value="1200.00" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodd_Costo, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.bodd_Costo)
                                @Html.ValidationMessageFor(model => model.bodd_Costo)*@
                                <input type="text" class="text-box single-line" value="110.00" />
                            </div>
                            @Html.LabelFor(model => model.bodd_CostoPromedio, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.bodd_CostoPromedio)
                                @Html.ValidationMessageFor(model => model.bodd_CostoPromedio)*@
                                <input type="text" class="text-box single-line" value="55.00" />
                            </div>
                        </div>
                        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>*@
                    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
