@model IEnumerable<ERP_ZORZAL.Models.tbBodegaDetalle>
@using ERP_ZORZAL.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Detalles</h5>
                    <div class="ibox-tools">
                       
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)*@
                                Código Producto
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.tbProducto.prod_Descripcion)*@
                                Producto
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.bodd_PuntoReorden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.bodd_CantidadMinima)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.bodd_CantidadMaxima)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.bodd_Costo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.bodd_CostoPromedio)
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Codigo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bodd_PuntoReorden)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bodd_CantidadMinima)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bodd_CantidadMaxima)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bodd_Costo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bodd_CostoPromedio)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalDetalles_@item.bodd_Id">
                                        Detalles
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#ModalEditar_@item.bodd_Id">
                                        Editar
                                    </button>
                                </td>
                            </tr>

                            <div class="modal fade" id="ModalDetalles_@item.bodd_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.Partial("_DetailsBodegaDetalle", new ERP_ZORZAL.Models.tbBodegaDetalle() { bodd_CantidadMinima = item.bodd_CantidadMinima, bodd_CantidadMaxima = item.bodd_CantidadMaxima, bodd_PuntoReorden = item.bodd_PuntoReorden, bodd_Costo = item.bodd_Costo, bodd_CostoPromedio = item.bodd_CostoPromedio, prod_Codigo = item.prod_Codigo})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="ModalEditar_@item.bodd_Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Detalles</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.Partial("_EditBodegaDetalleModal", new ERP_ZORZAL.Models.tbBodegaDetalle() { bodd_CantidadMinima = item.bodd_CantidadMinima, bodd_CantidadMaxima = item.bodd_CantidadMaxima, bodd_PuntoReorden = item.bodd_PuntoReorden, bodd_Costo = item.bodd_Costo, bodd_CostoPromedio = item.bodd_CostoPromedio, })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


