@model ERP_GMEDINA.Models.tbBodega
@using ERP_GMEDINA.Models
@{
    /**/

}
@{
    /**/


    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ListadoMunicipio = new ERP_GMEDINA.Models.tbMunicipio();
}
<style>
    .validation-error {
        color: red;
        font-size: small;
    }
</style>
<link href="~/Content/css/Auditoria.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Bodegas</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>


@using (Html.BeginForm("Edit", "Bodega", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Editar Bodega</h5>
                    </div>
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.bod_Id)
                            @*Auditoria*@
                            @Html.HiddenFor(model => model.bod_UsuarioCrea)
                            @Html.HiddenFor(model => model.bod_FechaCrea)
                            @Html.HiddenFor(model => model.bod_UsuarioModifica)
                            @Html.HiddenFor(model => model.bod_FechaModifica)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)

                            @*Esto lo agregó Mágdaly Zúniga*@
                            @*Extras usuario crea*@
                            @Html.HiddenFor(model => model.tbUsuario.usu_NombreUsuario)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Password)
                            @Html.HiddenFor(model => model.tbUsuario.usu_Correo)
                            @Html.HiddenFor(model => model.tbUsuario.usu_EsActivo)
                            @Html.HiddenFor(model => model.tbUsuario.usu_EsAdministrador)

                            @*Extras usuario crea*@
                            @Html.HiddenFor(model => model.tbUsuario1.usu_NombreUsuario)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Password)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_Correo)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_EsActivo)
                            @Html.HiddenFor(model => model.tbUsuario1.usu_EsAdministrador)

                            <div class="form-group">
                                @Html.LabelFor(model => model.bod_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.bod_Id)
                                </div>

                                @Html.LabelFor(model => model.bod_Direccion, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_Direccion)
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.bod_Direccion) </p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.bod_Nombre, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_Nombre)
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.bod_Nombre) </p>
                                </div>
                                @Html.LabelFor(model => model.bod_Correo, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_Correo)
                                    <p style="color:red"> @Html.ValidationMessageFor(model => model.bod_Correo)</p>
                                </div>
                            </div>

                            @*<div class="form-group">
            @Html.LabelFor(model => model.tbMunicipio.dep_Codigo, "Departamento", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("dep_Codigo", (IEnumerable<SelectListItem>)ViewBag.dep_Codigo, new { @class = "form-control" })
                <p style="color:red">@Html.ValidationMessageFor(model => model.tbMunicipio.dep_Codigo)</p>
            </div>
            @Html.LabelFor(model => model.mun_Codigo, "Municipio", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("mun_Codigo", (IEnumerable<SelectListItem>)ViewBag.mun_Codigo, new { @class = "form-control" })
                <p style="color:red">@Html.ValidationMessageFor(model => model.mun_Codigo)</p>
            </div>
        </div>*@
                            <div class="form-group">
                                @Html.LabelFor(muni => ListadoMunicipio.dep_Codigo, "Departamento", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("dep_Codigo", null, "Seleccione Departamento", new { @class = "form-control" })
                                    <p style="color:red">@Html.ValidationMessageFor(muni => ListadoMunicipio.dep_Codigo)</p>
                                </div>
                                @Html.LabelFor(model => model.mun_Codigo, "Municipio", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("mun_Codigo", null, "Seleccione Municipio", new { @class = "form-control" })
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.mun_Codigo)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.bod_Telefono, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_Telefono)
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.bod_Telefono)</p>
                                </div>
                                @Html.LabelFor(model => model.bod_ResponsableBodega, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.bod_ResponsableBodega)
                                    <p style="color:red">@Html.ValidationMessageFor(model => model.bod_ResponsableBodega)</p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                    @{if (Model.bod_EsActiva == 1)
                                        {
                                            <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEstado" value="Inactivar" />
                                            @*@Html.ActionLink("Inactivar", "EstadoInactivar", new { id = Model.bod_Id }, new { @class = "btn btn-danger" })*@
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Activar", "Estadoactivar", new { id = Model.bod_Id }, new { @class = "btn btn-success" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content collapse" id="RegistrarNuevoDetalle">
                            @Html.Partial("_CreateNuevoBodegaDetalle_Modal", new tbBodegaDetalle())
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.Partial("_IndexBodegaDetalle", Model.tbBodegaDetalle, new ViewDataDictionary { { "bod_Id", Model.bod_Id } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>Acción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuario.usu_Nombres)
                            @Html.DisplayFor(model => model.tbUsuario.usu_Apellidos)
                        </td>
                        <td>@Html.DisplayFor(model => model.bod_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>
                            @Html.DisplayFor(model => model.tbUsuario1.usu_Nombres)
                        @Html.DisplayFor(model => model.tbUsuario1.usu_Apellidos)
                    </td>
                    <td>@Html.DisplayFor(model => model.bod_FechaModifica)</td>
                </tr>
            </table>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Imprimir Entrada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que quiere Inactivar esta Bodega?
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Sí", "EstadoInactivar", new { id = Model.bod_Id }, new { @class = "btn btn-danger" })
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/BusquedaGenerica.js"></script>
<script src="~/Scripts/app/BodegaDetalle.js"></script>
<script src="~/Scripts/app/Departamento.js"></script>