@model IEnumerable<ERP_ZORZAL.Models.tbBodega>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ERP_ZORZAL.Models
@{

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Bodegas</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Bodegas</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control " />
                                </div>
                                <label class="control-label col-md-2">Municipio</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control " />
                                </div>
                                <div class="">
                                    <input type="button" value="Buscar" class="btn btn-primary btn-sm-1" />
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <label class="control-label col-md-2">Departamento</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <table class="table table table-striped  table-bordered" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.bod_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bod_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbMunicipio.tbDepartamento.dep_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mun_Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bod_ResponsableBodega)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bod_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bod_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbMunicipio.tbDepartamento.dep_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbMunicipio.mun_Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bod_ResponsableBodega)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.bod_Id }, new { @class = "btn btn-primary btn-xs" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.bod_Id }, new { @class = "btn btn-white btn-xs" })
                                        <input type="button" id="boton_@item.bod_Id " value="Inactivar" class="btn btn-white btn-xs" onclick="Activar(@item.bod_Id);">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>
<script type="text/javascript">
    function Activar(Id) {
        console.log("#boton_" + Id, "#boton_" + Id);
        $("#boton_"+Id).attr("value", "Activar");
    }      
</script>