@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbBodega>


@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de las Bodegas</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar", "Crear", null, new { @class = "btn btn-primary btn-xs"})
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped" id="tbBodega">
                        <thead>
                            <tr>
                                <th>
                                    Bodega Id
                                </th>
                                <th>
                                    Responsable Bodega
                                </th>
                                <th>
                                    Bodega Direccion
                                </th>
                                <th>
                                    Bodega Correo
                                </th>
                                <th>
                                    Bodega Telefono
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Municipio
                                </th>
                                <th>
                                    Estado Movimiento
                                </th>
                                <th>
                                    Usuario Crea
                                </th>
                                <th>
                                    Fecha Crea
                                </th>
                                <th>
                                    Usuario Modifica
                                </th>
                                <th>
                                    Fecha Modifica
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    00000000000
                                </td>
                                <td>
                                    San Pedro Sula
                                </td>
                                <td>
                                    Bodega@hotmail.com
                                </td>
                                <td>
                                    210145215
                                </td>
                                <td>
                                    Juan Perez
                                </td>
                                <td>
                                    1613
                                </td>
                                <td>
                                    12/12/12
                                </td>
                                <td>
                                    Juan Perez
                                </td>
                                <td>
                                    30/12/12
                                </td>
                                <td>
                                    Roberto Lopez
                                </td>
                                <td>
                                    30/12/18
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
     </div>*@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de la Bodega</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Registrar", "Crear", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped" id="tbBodega">
                        <thead>
                            <tr>
                                <th>
                                    Bodega Id
                                </th>
                                <th>
                                    Responsable Bodega
                                </th>
                                <th>
                                    Bodega Direccion
                                </th>
                                <th>
                                    Bodega Correo
                                </th>
                                <th>
                                    Bodega Telefono
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Municipio
                                </th>
                                <th>
                                    Estado Movimiento
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    00000000000
                                </td>
                                <td>
                                    Juan Perez
                                </td>
                                <td>
                                    San Pedro Sula
                                </td>
                                <td>
                                    Bodega@hotmail.com
                                </td>
                                <td>
                                    210145215
                                </td>
                                <td>
                                    Juan Perez
                                </td>
                                <td>
                                    1613
                                </td>
                                <td>
                                   Activo
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Detalles", new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbBodega').DataTable({

                "searching": true,
                "oLanguage": {
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior",
                    },
                    "sSearch": "Buscar",
                    "sLengthMenu": "Mostrar _MENU_Registros Por Página",
                    "sInfo": "Mostrando _START_ a _END_ Entradas"
                },
            });
        });
    </script>
}