,@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbCajas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Listado de Cajas</h2>
        <ol class="breadcrumb">
            <li class="active">                
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbCajas</h5>
                    <div class="ibox-tools">

                       @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
           Código Caja
        </th>
        <th>
            Descripción Caja
            @*@Html.DisplayNameFor(model => model.ca_Descripcion)*@
        </th>
        <th>
            Sucursal
           @* @Html.DisplayNameFor(model => model.ca_CodSucursal)*@
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            1
           
        </td>
        <td>
            Caja 1
            @* @Html.DisplayFor(modelItem => item.ca_Descripcion)*@

        </td>
        <td>
             SPS
            @*@Html.DisplayFor(modelItem => item.ca_CodSucursal)*@
        </td>
        <td>
			 <button class="btn btn-primary btn-xs"> Detalle </button>
            <button class="btn btn-primary btn-xs"> Editar </button>
            @*Html.ActionLink("Details", "Details", new { id = item.ca_CodCaja }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { id = item.ca_CodCaja }, new { @class = "btn btn-white btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ca_CodCaja }, new { @class = "btn btn-white btn-sm" })*@
        
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Caja 2
        </td>
        <td>
            SPS
        </td>
        <td>
            <button class="btn btn-primary btn-xs"> Detalle </button>
            <button class="btn btn-primary btn-xs"> Editar </button>

        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            Caja 3
        </td>
        <td>
            SPS
        </td>
        <td>
            <button class="btn btn-primary btn-xs"> Detalle </button>
            <button class="btn btn-primary btn-xs"> Editar </button>

        </td>
    </tr>

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



