@model IEnumerable<ERP_ZORZAL.Models.tbUnidadMedida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Unidades de Medida</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Unidades de Medida</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-responsive" style="width:100%"  id="DataTable">
    
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.uni_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uni_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uni_Abreviatura)
                                <th>Acciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uni_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uni_Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uni_Abreviatura)
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.uni_Id }, new { @class = "btn btn-primary btn-xs" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.uni_Id }, new { @class = "btn btn-white btn-xs" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>

   