@model Inspinia_MVC5_SeedProject.Models.tbCuponDescuento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit tbCuponDescuento</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cd_IDCuponDescuento)

        <div class="form-group">
            @Html.LabelFor(model => model.sucur_Codigo, "sucur_Codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sucur_Codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.sucur_Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_FechaEmision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_FechaEmision)
                @Html.ValidationMessageFor(model => model.cd_FechaEmision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_FechaVencimiento)
                @Html.ValidationMessageFor(model => model.cd_FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_PorcentajeDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_PorcentajeDescuento)
                @Html.ValidationMessageFor(model => model.cd_PorcentajeDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_MontoDescuento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_MontoDescuento)
                @Html.ValidationMessageFor(model => model.cd_MontoDescuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.cd_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_FechaCrea)
                @Html.ValidationMessageFor(model => model.cd_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_UsuarioModifa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_UsuarioModifa)
                @Html.ValidationMessageFor(model => model.cd_UsuarioModifa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cd_FechaModifa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cd_FechaModifa)
                @Html.ValidationMessageFor(model => model.cd_FechaModifa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
