@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbCuponDescuento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Cupón de Descuento</h2>
        @*<ol class="breadcrumb">
            <li class="active">
                <strong>tbCuponDescuento</strong>
            </li>
        </ol>*@
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Cupón de Descuento</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Nuevo Registro", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cd_FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_PorcentajeDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_MontoDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_UsuarioModifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_FechaModifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbSucursal.mun_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cd_FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_PorcentajeDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_MontoDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_UsuarioModifa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_FechaModifa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSucursal.mun_Id)
        </td>
        <td>
			@*@Html.ActionLink("Details", "Details", new { id=item.cd_IDCuponDescuento }, new { @class = "btn btn-primary btn-sm"})*@
            @Html.ActionLink("Editar", "Edit", new { id=item.cd_IDCuponDescuento }, new { @class = "btn btn-white btn-sm"})
            @*@Html.ActionLink("Delete", "Delete", new { id=item.cd_IDCuponDescuento }, new { @class = "btn btn-white btn-sm"})*@
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



