@model ERP_ZORZAL.Models.tbProductoSubcategoria



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles SubCategoría</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pscat_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pscat_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pscat_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pscat_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pscat_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pscat_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pscat_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pscat_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pscat_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pscat_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEstadoMovimiento.estm_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbProductoCategoria.pcat_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProductoCategoria.pcat_Nombre)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.pscat_Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index")

                </div>
            </div>
        </div>
    </div>
 </div>













