@model ERP_GMEDINA.Models.tbProductoSubcategoria



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles SubCategoría</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

         <dt>
            @Html.DisplayNameFor(model => model.pscat_Id)
        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.pscat_Id)
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pscat_Descripcion)
        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.pscat_Descripcion)
                        </dd>

        <dd>
            @Html.DisplayFor(model => model.tbProductoCategoria.pcat_Id)
        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.tbProductoCategoria.pcat_Id)
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tbProductoCategoria.pcat_Nombre)
        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbProductoCategoria.pcat_Nombre)
                        </dd>
      


    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.pscat_Id }, new { @class = "btn btn-primary"})

                </div>
            </div>
        </div>
    </div>
 </div>













