@model ERP_GMEDINA.Models.tbProductoSubcategoria

@using ERP_GMEDINA.Models


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.pscat_UsuarioCrea)
                    @Html.HiddenFor(model => model.pscat_FechaCrea)
                    @Html.HiddenFor(model => model.pscat_UsuarioModifica)
                    @Html.HiddenFor(model => model.pscat_FechaModifica)
                    @Html.HiddenFor(model => model.tbUsuario.usu_Nombres)
                    @Html.HiddenFor(model => model.tbUsuario.usu_Apellidos)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_Nombres)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_Apellidos)

                    @*Esto lo agregó Mágdaly Zúniga*@
                    @*Extras usuario crea*@
                    @Html.HiddenFor(model => model.tbUsuario.usu_NombreUsuario)
                    @Html.HiddenFor(model => model.tbUsuario.usu_Password)
                    @Html.HiddenFor(model => model.tbUsuario.usu_Correo)
                    @Html.HiddenFor(model => model.tbUsuario.usu_EsActivo)
                    @Html.HiddenFor(model => model.tbUsuario.usu_EsAdministrador)

                    @*Extras usuario crea*@
                    @Html.HiddenFor(model => model.tbUsuario1.usu_NombreUsuario)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_Password)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_Correo)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_EsActivo)
                    @Html.HiddenFor(model => model.tbUsuario1.usu_EsAdministrador)


                    <div class="form-group">
                        @Html.LabelFor(model => model.pscat_Descripcion, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.pscat_Descripcion, new { htmlAttributes = new { @onkeypress = "return soloLetras(event)" } })
                            <p style="color:red">
                                @Html.ValidationMessageFor(model => model.pscat_Descripcion)
                            </p>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.pscat_EsActiva, "Estado", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @if (Model.pscat_EsActiva == 1)
                            {
                                <p>Activa</p>
                            }
                            else
                            {
                                <p>Inactiva</p>
                            }
                        </div>
                        <div class="col-md-4">

                            <p style="color:red">  @Html.ValidationMessageFor(model => model.pscat_EsActiva)</p>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.pscat_ISV, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            
                            @Html.EditorFor(model => model.pscat_ISV, new { htmlAttributes = new { @Value = "", @onkeyup = "format(this)", @autocomplete = "off" } })
                            <p style="color:red">
                                @Html.ValidationMessageFor(model => model.pscat_ISV)
                            </p>

                        </div>
                    </div>

                    <div class="form-group">
                        @*<div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                        </div>*@
                        @{if (Model.pscat_EsActiva == 1)
                            {
                                @Html.ActionLink("Inactivar", "InactivarSub", new { id = Model.pscat_EsActiva }, new { @class = "btn btn-danger" })
                            }
                            else
                            {
                                @Html.ActionLink("Activar", "ActivarSub", new { id = Model.pscat_EsActiva }, new { @class = "btn btn-danger" })
                            }
                        }
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
