@model IEnumerable<ERP_GMEDINA.Models.tbProductoCategoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Auditoria.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Producto Categoría</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Producto Categoría</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Registrar Categoría", "Create", null, new { @class = "btn btn-primary "})
					</div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered" style="width:100%" id="Datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.pcat_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pcat_Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.pcat_Estado)
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pcat_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pcat_Nombre)
                                    </td>
                                    <td>
                                        @if (item.pcat_Estado == true)
                                        {
                                            <p> Activo</p>
                                        }
                                        else
                                        {
                                            <p>Inactivo</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.pcat_Id }, new { @class = "btn btn-primary btn-xs" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.pcat_Id }, new { @class = "btn btn-white btn-xs" })
                                        @*@Html.ActionLink("Eliminar", "Delete", new { id=item.pcat_Id }, new { @class = "btn btn-white btn-xs"})*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anular Categorìa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de anular esta Categorìa?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","ProductoCategoria")" class="btn btn-primary">Si</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/DataTable.js"></script>

