@model Inspinia_MVC5_SeedProject.Models.tbTasasCambio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details tbTasasCambio</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.mnda_ISO)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mnda_ISO)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tcam_ISOMonedaDestino)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tcam_ISOMonedaDestino)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tcam_FechaTasasCambio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tcam_FechaTasasCambio)
                        </dd>

                    </dl>


                    @Html.ActionLink("Edit", "Edit", new { id = Model.tcam_Codigo }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>












