@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbClientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Registar Clientes</h2>
        @*<ol class="breadcrumb">
            <li class="active">
                <strong>tbClientes</strong>
            </li>
        </ol>*@
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listas de Clientes</h5>
					<div class="ibox-tools">
                        <input type="search">
                        <button class="btn btn">Buscar</button>
						@Html.ActionLink("Registrar", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Código
            @*@Html.DisplayNameFor(model => model.tbPersonasJuridicas.clte_RazonSocial)*@
        </th>
        <th>
            Nombre
        </th>
        <th>
            Telefono
        </th>
        <th>
            Exoneración
        </th>
        <th>
            Acción
        </th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
            0501-1998-20121
            @*@Html.DisplayFor(modelItem => item.tbPersonasJuridicas.clte_RazonSocial)*@
        </td>
        <td>
            Wilson Alexander Pineda
        </td>
        <td>
            8984-7845
        </td>
        <td>
            <input type="checkbox" value="true" checked />
            @*@Html.ActionLink("Details", "Details", new { id=item.clte_RTN }, new { @class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Edit", "Edit", new { id=item.clte_RTN }, new { @class = "btn btn-white btn-sm"})
                @Html.ActionLink("Delete", "Delete", new { id=item.clte_RTN }, new { @class = "btn btn-white btn-sm"})*@
        </td>
        <td>
            <button class="btn btn-primary btn-xs">Editar</button>
        </td>
        @*----------------------------------------------*@
        @*@foreach (var item in Model) {*@
    <tr>
        <td>
            0610-2000-00093
            @*@Html.DisplayFor(modelItem => item.tbPersonasJuridicas.clte_RazonSocial)*@
        </td>
        <td>
            Joshua Aguilar
        </td>
        <td>
            3323-0908
        </td>
        <td>
            <input type="checkbox" checked />
            @*@Html.ActionLink("Details", "Details", new { id=item.clte_RTN }, new { @class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Edit", "Edit", new { id=item.clte_RTN }, new { @class = "btn btn-white btn-sm"})
                @Html.ActionLink("Delete", "Delete", new { id=item.clte_RTN }, new { @class = "btn btn-white btn-sm"})*@
        </td>
        <td>
            <button class="btn btn-primary btn-xs">Editar</button>
        </td>
        @*----------------------------------------------*@
<tr>
        <td>
            0501-1845-1129
            @*@Html.DisplayFor(modelItem => item.tbPersonasJuridicas.clte_RazonSocial)*@
        </td>
        <td>
            SULA

        </td>

        <td>
            2534-0000
        </td>

        <td>
            <input type="checkbox" value="true" checked />
        </td>
        <td>
            <button class="btn btn-primary btn-xs">Editar</button>
        </td>
    </tr>
@*}*@

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



