@model ERP_ZORZAL.Models.tbMoneda

@{
    ViewBag.Title = "Moneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Moneda</h2>
        @*<ol class="breadcrumb">
            <li>
                
            </li>
        <li class="active">
            
        </li>
        </ol>*@
    </div>

    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Moneda")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Monedas</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mnda_Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mnda_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Nombre)
        </dd>


        <dt>
            Usuario Creación
            @*@Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>


        <dt>
            Fecha Creación
            @*@Html.DisplayNameFor(model => model.mnda_FechaCrea)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_FechaCrea)
        </dd>

        <dt>
            Fecha Creación
            @*@Html.DisplayNameFor(model => model.mnda_FechaModifica)*@
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.mnda_FechaModifica)
        </dd>*@


        <dt>
            Usuario Modificación
            @*@Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)*@
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>*@

    </dl>
                    
                    </br>
                    </br>
	    @Html.ActionLink("Edtar", "Edit", new { id = Model.mnda_Id }, new { @class = "btn btn-primary"})
    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@

                </div>
            </div>
        </div>
    </div>
 </div>













