@model ERP_ZORZAL.Models.tbMoneda

@{
    ViewBag.Title = "Moneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2> Monedas</h2>
        @*<ol class="breadcrumb">
            <li>
                
            </li>
        <li class="active">
            
        </li>
        </ol>*@
    </div>

    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Moneda")">Regresar</a>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Moneda</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

        <dt>
           Número
            @*@Html.DisplayNameFor(model => model.mnda_Id)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Id)
        </dd>
                           
        <dt>
            Abreviatura
            @*@Html.DisplayNameFor(model => model.mnda_Abreviatura)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Abreviatura)
        </dd>

        <dt>
            Nombre
            @*@Html.DisplayNameFor(model => model.mnda_Nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mnda_Nombre)
        </dd>
    </dl>
           
                    
	    @Html.ActionLink("Editar", "Edit", new { id = Model.mnda_Id }, new { @class = "btn btn-primary"})
    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})*@


                  
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.mnda_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.mnda_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>













