@model IEnumerable<ERP_GMEDINA.Models.tbAccesoRol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Acceso Rol</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Acceso Rol</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear nuevo Acceso rol", "CrearPrueba", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

@*<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.acrol_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acrol_UsuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acrol_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acrol_UsuarioModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acrol_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbObjeto.obj_Pantalla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbObjeto1.obj_Pantalla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbRoles.rol_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbRolesUsuario.rolusu_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.acrol_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acrol_UsuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acrol_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acrol_UsuarioModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acrol_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbObjeto.obj_Pantalla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbObjeto1.obj_Pantalla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbRoles.rol_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbRolesUsuario.rolusu_Id)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.acrol_Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.acrol_Id }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.acrol_Id }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>*@
                    <table class="table table-striped" id="datatables">
                        <thead>
                            <tr>
                                <th>
                                    Acceso Rol
                                </th>
                                <th>
                                    Usuario Crea
                                </th>
                                <th>
                                    Fecha Crea
                                </th>
                                <th>
                                    Usuario Modifica
                                </th>
                                <th>
                                    Fecha Modifica
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>
                                        Solo Lectura
                                    </td>
                                    <td>
                                        Test_2018
                                    </td>
                                    <td>
                                        27/11/2018
                                    </td>
                                    <td>
                                        DB2018
                                    </td>
                                    <td>
                                        28/11/2018
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalle", "DetallePrueba", new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>

@section scripts{
     
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
    $('#datatables').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}

