
@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbLineasPago>


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        
        <h2><strong>Lineas Pago</strong></h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Lineas Pago</strong>
            </li>
        </ol>
    </div>
</div>*@



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <center><h5>Listado Líneas De Pago</h5></center>

					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})

					</div>
                </div>
                <div class="ibox-content">

@*<table class="table table-striped">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.lnpago_Plazo)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.lnpago_Monto)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.lnpago_Plazo)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.lnpago_Monto)
        </td>

        <td>
			@Html.ActionLink("Details", "Details", new { id=item.lnpago_Codigo }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm"})
        </td>

    </tr>
}

</table>*@



                    <table class="table table-striped">
                        <tr>

                            <th>
                                Código
                            </th>

                            <th>
                               Plazo
                            </th>

                            <th>
                               Monto 
                            </th>
                            <th></th>
                        </tr>
                      
                            <tr>

                                <td>
                                    1
                                </td>
                                                                    
                                <td>
                                    5 Meses 
                                </td>
                                <td>
                                   1000.00
                                </td>
                                <td>
                                    <button class = "btn btn-primary btn-xs">Editar</button>
                                    @*@Html.ActionLink("Details", "Details", new { id = item.lnpago_Codigo }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm" })*@
                                    </td>
                            </tr>
                        <tr>

                            <td>
                                2
                            </td>

                            <td>
                                12 Meses
                            </td>
                            <td>
                                900.00
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs">Editar</button>
                            @*@Html.ActionLink("Details", "Details", new { id = item.lnpago_Codigo }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.lnpago_Codigo }, new { @class = "btn btn-white btn-sm" })*@
                        </td>
                        </tr>
                    </table>




                </div>
            </div>
        </div>
    </div>
 </div>






