@model Inspinia_MVC5_SeedProject.Models.tbActividadEconomica

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Registrar Actividad Económica</h2>
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("List", "Index")
            </li>*@
            <li class="active">
                @*<@*strong>Create</strong>*@
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @*<h5>Create tbActividadEconomica</h5>*@
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Id Actividad</label>
            @*@Html.LabelFor(model => model.acte_Descripcion, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_Id)
                <p style="color:red">@Html.ValidationMessageFor(model => model.acte_Id)
</div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            @*@Html.LabelFor(model => model.acte_Descripcion, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_Descripcion)
                <p style="color:red">@Html.ValidationMessageFor(model => model.acte_Descripcion)
</div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Usuario Crea</label>
            @*@Html.LabelFor(model => model.acte_UsuarioCrea, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.acte_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Crea</label>
            @*@Html.LabelFor(model => model.acte_FechaCrea, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_FechaCrea)
                <p style="color:red">@Html.ValidationMessageFor(model => model.acte_FechaCrea)
</div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Usuario Modifica</label>
            @*@Html.LabelFor(model => model.acte_UsuarioModifica, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_UsuarioModifica)
                @Html.ValidationMessageFor(model => model.acte_UsuarioModifica)
</div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Fecha Modifica</label>
            @*@Html.LabelFor(model => model.acte_FechaModifica, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.acte_FechaModifica)
                 <p style="color:red">@Html.ValidationMessageFor(model => model.acte_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
