@model ERP_ZORZAL.Models.tbActividadEconomica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Actividad Económica</h2>
       
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","ActividadEconomica")">Regresar</a>

        </div>
    </div>
  
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Actividad Económica</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.acte_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.acte_Id)
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.acte_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acte_Descripcion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.acte_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acte_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acte_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acte_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acte_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acte_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acte_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acte_FechaModifica)
        </dd>*@
    </dl>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.acte_Id }, new { @class = "btn btn-primary" })

                 
            
                      
                   
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.acte_FechaCrea)</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)</td>
                        <td>@Html.DisplayFor(model => model.acte_FechaModifica)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 </div>













