@model Inspinia_MVC5_SeedProject.Models.tbSolicitudCredito

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create tbSolicitudCredito</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.clte_Id, "clte_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clte_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.clte_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.escre_Id, "escre_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("escre_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.escre_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaSolicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaSolicitud)
                @Html.ValidationMessageFor(model => model.cred_FechaSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaAprobacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaAprobacion)
                @Html.ValidationMessageFor(model => model.cred_FechaAprobacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_MontoSolicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_MontoSolicitud)
                @Html.ValidationMessageFor(model => model.cred_MontoSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_MontoAprobacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_MontoAprobacion)
                @Html.ValidationMessageFor(model => model.cred_MontoAprobacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_DiasSolicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_DiasSolicitud)
                @Html.ValidationMessageFor(model => model.cred_DiasSolicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_DiasAprobacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_DiasAprobacion)
                @Html.ValidationMessageFor(model => model.cred_DiasAprobacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_UsuarioCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_UsuarioCrea)
                @Html.ValidationMessageFor(model => model.cred_UsuarioCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaCrea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaCrea)
                @Html.ValidationMessageFor(model => model.cred_FechaCrea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_UsuarioModicacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_UsuarioModicacion)
                @Html.ValidationMessageFor(model => model.cred_UsuarioModicacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cred_FechaModifica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cred_FechaModifica)
                @Html.ValidationMessageFor(model => model.cred_FechaModifica)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
